.ecpHeading {
  display:block;
}
.ecpEdit {
  margin:0px 0px 0px 12px;
  padding:0px !important;
  border:0px !important;
  visibility:hidden;
}
.ecpEdit:hover {
  background:transparent !important;
  padding:0px !important;
  border:0px !important;
}
.ecpEdit img {
  vertical-align:middle;
  padding:0px;
  border:0px;
}
/* some twiki fixes */
.twikiChangeFormButtonHolder,
.twikiToc img {
  display:none;
}
.twikiToc .ecpHeading {
  display:inline;
}
/* debugging */
.ecpChapter {
  border:1px solid red;
  padding:5px;
}
.ecpChapterHover {
  border:1px solid blue;
}
