<style type="text/css" media="all">
	@import url("%PUBURL%/%SYSTEMWEB%/MicroformatsPlugin/expose-mf.css");
	@import url("%PUBURL%/%SYSTEMWEB%/MicroformatsPlugin/calendar.css");
</style>
<script type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/MicroformatsPlugin/hcalendar.js"></script>


