<div id="hcalendar-%HCALNAME%" class="vevent">
  <a href="%HURL%" class="url">
    <abbr title="%HSTART%" class="dtstart">%HSTART%</abbr> : 
    <abbr title="%HEND%" class="dtend">%HEND%</abbr> 
    <span class="summary">%HSUMMARY%</span> 
    at <span class="location">%HLOCATION%</span>
  </a>
  <div class="description">%HDESCRIPTION%</div>
  <div class="tags">Tags: 
    <a href="http://eventful.com/events/tags/brithday" rel="tag">brithday</a>
  </div>
</div>
