

.TMLvariable {
  border: thin solid black;
  background: Silver;
}

/*undo the weird css things that are done in pattern and nat skin - otherwise the wikiwyg edit html is centered :( */
body {
    text-align:left; /*** IE/Win (not IE/MAC) alignment of page ***/
}

.wikiwyg_button {
    background: white;/*#D3D3D3;*/
    border: 1px solid white;/*#D3D3D3;*/
    cursor: pointer;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
.wikiwyg_toolbar {
    background: white;/*#D3D3D3;*/
    border: 1px outset white;/*#D3D3D3;*/
    letter-spacing: 0;
    padding: 2px;
}
.wikiwyg_separator {
    background: white;/*#D3D3D3;*/
    border: 1px solid white;/*#D3D3D3;*/
    width: 15px;
    height: 24px;
    vertical-align: bottom;
}
