%TMPL:INCLUDE{"attachtables"}%

%TMPL:DEF{"commonattachtableattributes"}%valign="middle" tableborder="1" dataalign="center,left,left,right,left,left,left,center" datavalign="top" headercolor="#252b37" databg="#ffffff" databgsorted="#f2f3f6" headerbg="#eceef2" headerbgsorted="#e0e3e9" tablerules="rows" %TMPL:END%

%{ "Rounded topic attachment table" }%
%TMPL:DEF{ATTACH:files:header}%<div class="twikinetRounded twikinetRoundedAttachments"><div class="rCRounded"><div class="rCTR"><div class="rCTL"></div><!--/rCTL--><div class="twikiAttachments">
%TMPL:P{context="TablePluginEnabled" then="ATTACH:files:tableformat"}%
%TMPL:P{"topicattachmentwisty"}%
%TMPL:P{ATTACH:files:header(toprow)}%
%TMPL:END%

%TMPL:DEF{ATTACH:files:footer}%%ENDTWISTY%</div><!--//twikiAttachments--></div><!--/rCTR--><div class="rCBR"><div class="rCBL"></div><!--/rCBL--></div><!--/rCBR--></div><!--/rCRounded--></div><!--/twikinetRounded-->%TMPL:P{ATTACH:files:footer:script}%%TMPL:END%