%TMPL:INCLUDE{"edit"}%

%TMPL:DEF{"topicinfo"}%<div class="twikinetRounded twikinetRoundedTopicActions"><div class="rCRounded"><div class="rCTR"><div class="rCTL"></div><!--/rCTL--><div class="patternTopicActions">%TMPL:P{"revCommentPluginOptions"}%<div class="patternTopicAction"><div class="patternActionButtons">%TMPL:P{"action_buttons"}%</div><!--/patternActionButtons-->
%TMPL:P{"saveoptions"}%</div><!--/patternTopicAction--></div><!--/patternTopicActions--></div><!--/rCTR--><div class="rCBR"><div class="rCBL"></div><!--/rCBL--></div><!--/rCBR--></div><!--/rCRounded--></div><!--/twikinetRounded-->%TMPL:P{"actionbuttons_help"}%%TMPL:END%