%TMPL:INCLUDE{"formtables"}%

%{ "Rounded form table" }%
%TMPL:DEF{FORM:display:header}%<div class="twikinetRounded twikinetRoundedForm"><div class="rCRounded"><div class="rCTR"><div class="rCTL"></div><!--/rCTL--><div class="twikiForm">
<table class='twikiFormTable' border='0' cellspacing='0' cellpadding='0'>%TMPL:P{FORM:display:header:headerrow}%%TMPL:END%

%TMPL:DEF{FORM:display:footer}%
</table></div><!--/twikiForm--></div><!--/rCTR--><div class="rCBR"><div class="rCBL"></div><!--/rCBL--></div><!--/rCBR--></div><!--/rCRounded--></div><!--/twikinetRounded-->%TMPL:END%