%{ "This template overrides the button links 'create topic', 'edit topic', 'view topic', 'attach' and 'printable' by separating the url part and the link label part" }%


%TMPL:DEF{"edit_topic_link"}%<span class="patternButton"><a href='%TMPL:P{"edit_topic_link:url"}%' rel='nofollow' %TMPL:P{"edit_topic_link:label"}%</a></span>%TMPL:END%

%TMPL:DEF{"edit_topic_link:url"}%%SCRIPTURL{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$epoch"}%%TMPL:P{"url_param_editaction"}%%IF{"context TinyMCEPluginEnabled" else=";nowysiwyg=1"}%%TMPL:END%

%TMPL:DEF{"edit_topic_link:label"}%%TMPL:P{"edit_topic_link:titlelabel"}%>%TMPL:P{"edit_topic_link:linklabel"}%%TMPL:END%

%TMPL:DEF{"edit_topic_link:titlelabel"}%%MAKETEXT{"title='Edit this topic text' accesskey='e'"}%%TMPL:END%

%TMPL:DEF{"edit_topic_link:linklabel"}%%MAKETEXT{"&Edit"}%%TMPL:END%



%TMPL:DEF{"attach_link"}%<span class='patternButton'><a href='%TMPL:P{"attach_link:url"}%' rel='nofollow' %TMPL:P{"attach_link:label"}%</a></span>%TMPL:END%

%TMPL:DEF{"attach_link:url"}%%SCRIPTURLPATH{"attach"}%/%WEB%/%TOPIC%%TMPL:END%

%TMPL:DEF{"attach_link:label"}%%TMPL:P{"attach_link:titlelabel"}%>%TMPL:P{"attach_link:linklabel"}%%TMPL:END%

%TMPL:DEF{"attach_link:titlelabel"}%%MAKETEXT{"title='Attach an image or document to this topic' accesskey='a'"}%%TMPL:END%

%TMPL:DEF{"attach_link:linklabel"}%%MAKETEXT{"&Attach"}%%TMPL:END%



%TMPL:DEF{"printable"}%<span class='patternButton'><a href='%TMPL:P{"printable:url"}%' rel='nofollow' %TMPL:P{"printable:label"}%</a></span>%TMPL:END%

%TMPL:DEF{"printable:url"}%%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?cover=print%QUERYPARAMSTRING%%REVARG%%TMPL:END%

%TMPL:DEF{"printable:label"}%%TMPL:P{"printable:titlelabel"}%>%TMPL:P{"printable:linklabel"}%%TMPL:END%

%TMPL:DEF{"printable:titlelabel"}%%MAKETEXT{"title='Printable version of this topic' accesskey='p'"}%%TMPL:END%

%TMPL:DEF{"printable:linklabel"}%%MAKETEXT{"&Print version"}%%TMPL:END%