%TMPL:INCLUDE{"viewleftbar"}%

%{ "Left bar size: 220px" }%
%TMPL:DEF{"leftbardimensions"}%#patternOuter {
	margin-left:220px;
}
#patternLeftBar {
	width:220px;
	margin-left:-220px;
}%TMPL:END%

%TMPL:DEF{"webleftbarindicator"}%%TMPL:END%