%{ to include a bottom bar on a page, just include this template in the page template }%%TMPL:DEF{"bottombar"}%<div id="patternBottomBar"><div id="patternBottomBarContents"><div id="twikinetBadge"><a href="http://twiki.net/"><img src="%PUBURL%/%TWIKIWEB%/TWikiNetSkin/twiki_net_badge.gif" alt="TWIKI.NET" width="88" height="31" border="0" /></a></div><!--/twikinetBadge--><div id="patternWebBottomBar">%INCLUDE{"%TWIKIWEB%.WebBottomBar"}%</div><!--/patternWebBottomBar--></div><!-- /patternBottomBarContents--></div><!-- /patternBottomBar-->%TMPL:END%