%{ "to include a top bar on a page, just include this template in the page template" }%

%{ "Adds a TWIKI.NET logo to the top bar" }%
%TMPL:DEF{"topbar"}%<div id="patternTopBar"><div id="twikinetLogo"><a href="http://twiki.net/"><span>TWIKI.NET</span></a></div><div id="patternTopBarContents">%TMPL:P{"topbarcontents"}%</div></div><!-- /patternTopBar-->%TMPL:P{"toptoolbar"}%%TMPL:END%



%TMPL:DEF{"topbarspacer"}%<div id="patternClearHeaderCenter"></div>%TMPL:END%



%{ "Top bar sizes" }%
%TMPL:DEF{"topbardimensions"}%#patternTopBar,
#patternTopBarContentsOuter {
	height:95px; /* top bar height; make room for header columns */
}
#twikinetTopToolBar,
#twikinetTopToolBar table {
	top:95px; /* top bar height */
	height:48px;
}
#patternClearHeaderCenter,
#patternClearHeaderLeft,
#patternClearHeaderRight {
	height:144px; /* 95 + border + 48 */
}
#twikinetLogo {
	position:absolute;
	width:100%;
	height:95px;
}
#twikinetLogo a {
	position:absolute;
	display:block;
	width:179px;
	height:65px;
	background:none;
	top:10px;
	left:340px;
}
#twikinetLogo a:link, 
#twikinetLogo a:visited {
	border:none;
}
#twikinetLogo a:hover {
	border-style:none none solid none;
	border-width:1px;
	border-color:#c4cbd6;
}
#twikinetLogo a span {
	display:none;
}%TMPL:END%


%TMPL:DEF{"topbarcontents:logo"}%<span id="twikiLogo" class="twikiImage"><a href="%WEBLOGOURL%"><img src="%WEBLOGOIMG%" border="0" alt="%WEBLOGOALT%" style="border:none;" /></a></span>%TMPL:END%

%TMPL:DEF{"topbarcontents:jump"}%
   * <form name="jumpForm" action="%SCRIPTURLPATH{"view"}%/%BASEWEB%/%BASETOPIC%"><input id="jumpFormField" type="text" class="twikiInputField" name="topic" value="" size="16" /><input type="submit" class="twikinetJumpButton" name="submit" value="" /></form>%TMPL:END%

%TMPL:DEF{"topbarcontents:search"}%
   * <form name="quickSearchForm" action="%SCRIPTURLPATH{view}%/%INCLUDINGWEB%/WebSearch"><input type="text" class="twikiInputField" id="quickSearchBox" name="search" value="%URLPARAM{"search"}%" size="18" /><input type="hidden" name="scope" value="all" /><input type="hidden" name="web" value="%BASEWEB%" /><input type="submit" size="5" class="twikinetSearchButton" name="submit" value="" /></form>%TMPL:END%

%TMPL:DEF{"topbarcontents:language"}%
   * %INCLUDE{%SYSTEMWEB%.LanguageSelector}%%TMPL:END%

%TMPL:DEF{"topbarcontents"}%<div class="twikiLeft">%TMPL:P{"topbarcontents:logo"}%</div>
<div class="twikiRight">
<table cellpadding="0" cellspacing="0" border="0"><tr><td class="twikinetSearchJump twikinetSearchJumpLeft">
<noautolink>%TMPL:P{"topbarcontents:jump"}%%TMPL:P{"topbarcontents:search"}%%TMPL:P{"topbarcontents:language"}%</noautolink>
</td>
<td class="twikinetSearchJumpRight"></td>
</tr></table><br class="twikiClear" /></div>%TMPL:END%


%TMPL:DEF{"toptoolbar:webname"}%
---++!! [[%WEB%.%HOMETOPIC%][%WEB%]]
%TMPL:END%

%TMPL:DEF{"toptoolbar"}%<div id="twikinetTopToolBar"><div id="twikinetTopToolBarContents"><div class="twikinetWebName twikiLeft">
<table cellpadding="0" cellspacing="0" border="0"><tr><td style="vertical-align:middle;">%TMPL:P{"toptoolbar:webname"}%</td></tr></table>
</div><!--/twikinetWebName-->
<div class="twikinetToolBar twikiRight">
%TMPL:P{"toptoolbar:buttons"}%
<br class="twikiClear" /></div><!--/patternToolBar--></div><!--/twikinetTopToolBarContents--></div><!--/twikinetTopToolBar-->%TMPL:END%


%TMPL:DEF{"toptoolbar:buttons"}%<table cellpadding="0" cellspacing="0" border="0"><tr>%TMPL:P{"activatable_edit:rounded"}%%TMPL:P{"activatable_attach:rounded"}%</tr></table>%TMPL:END%


%TMPL:DEF{"toptoolbar:buttons:rounded:before"}%<span class="rCRounded"><span class="rCTR"><span class="rCTL"></span><!--/rCTL-->%TMPL:END%

%TMPL:DEF{"toptoolbar:buttons:rounded:after"}%</span><!--/rCTR--><span class="rCBR"><span class="rCBL"></span></span><!--/rCBR--></span><!--/rCRounded-->%TMPL:END%

%TMPL:DEF{"activatable_edit:rounded"}%<td>%TMPL:P{context="inactive" then="inactive_edit_with_view_topic:rounded" else="edit:rounded"}%</td>%TMPL:END%

%TMPL:DEF{"inactive_edit_with_view_topic:rounded"}%<strike>%TMPL:P{"toptoolbar:buttons:rounded:before"}%
<span class="twikiLinkLabel">%MAKETEXT{"Edit"}%</span>
%TMPL:P{"toptoolbar:buttons:rounded:after"}%</strike>%TMPL:END%

%TMPL:DEF{"edit:rounded"}%%TMPL:P{"edit_topic_link:rounded"}%%TMPL:END%

%TMPL:DEF{"edit_topic_link:rounded"}%<a href="%TMPL:P{"edit_topic_link:url"}%" rel="nofollow">
%TMPL:P{"toptoolbar:buttons:rounded:before"}%
<span class="twikiLinkLabel twikinetEditIcon">%TMPL:P{"edit_topic_link:linklabel"}%</span>
%TMPL:P{"toptoolbar:buttons:rounded:after"}%
</a>%TMPL:END%

%TMPL:DEF{"active_attach:rounded"}%%TMPL:P{"attach_link:rounded"}%%TMPL:END%

%TMPL:DEF{"inactive_attach:rounded"}%<strike>%TMPL:P{"toptoolbar:buttons:rounded:before"}%
<span class="twikiLinkLabel">%MAKETEXT{"Attach"}%</span>
%TMPL:P{"toptoolbar:buttons:rounded:after"}%</strike>%TMPL:END%

%TMPL:DEF{"activatable_attach:rounded"}%<td>%TMPL:P{context="inactive" then="inactive_attach:rounded" else="active_attach:rounded"}%</td>%TMPL:END%

%TMPL:DEF{"attach_link:rounded"}%<a href="%TMPL:P{"attach_link:url"}%" rel="nofollow">
%TMPL:P{"toptoolbar:buttons:rounded:before"}%
<span class="twikiLinkLabel">%TMPL:P{"attach_link:linklabel"}%</span>
%TMPL:P{"toptoolbar:buttons:rounded:after"}%
</a>%TMPL:END%