%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"contentheader"}%<div class="tagmetags"> Tags: %TAGME{ tpaction="%URLPARAM{tpaction}%" web="%WEB%" tag="%URLPARAM{tag}%" }%, [[TWiki.TagMeViewAllTags][view all tags]] </div>%TMPL:END%
