<APPLET CODE = "com.mrjc.twiki.addons.TwikiPaste.class" ARCHIVE = "http://javapaste.mrjc.com/TWikiPasteSigned.jar" WIDTH = 400 HEIGHT = 200>
<!-- %PUBURL%/%WEB%/JavaPasteAddOn/TWikiPasteSigned.jar -->
<PARAM NAME="action" VALUE="%SCRIPTURL%/bin/upload%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
</APPLET>
