/* icon menus */
.icon-twiki16 {
  list-style-image: url("chrome://twiki/skin/icon_twiki.png");
}
#context-forcedlink {
  list-style-image: url("chrome://twiki/skin/icon_forcedlink.png");
}
#context-bold {
  list-style-image: url("chrome://twiki/skin/icon_bold.png");
}
#context-italic {
  list-style-image: url("chrome://twiki/skin/icon_italic.png");
}
#context-bolditalic {
  list-style-image: url("chrome://twiki/skin/icon_bolditalic.png");
}
#context-underline {
  list-style-image: url("chrome://twiki/skin/icon_underline.png");
}
#context-strike {
  list-style-image: url("chrome://twiki/skin/icon_strike.png");
}
#context-table {
  list-style-image: url("chrome://twiki/skin/icon_table.png");
}
#context-image {
  list-style-image: url("chrome://twiki/skin/icon_image.png");
}
#context-signature {
  list-style-image: url("chrome://twiki/skin/icon_signature.png");
}
#context-horline {
  list-style-image: url("chrome://twiki/skin/icon_line.png");
}
#context-weblink {
  list-style-image: url("chrome://twiki/skin/icon_weblink.png");
}
#context-indentation-more {
  list-style-image: url("chrome://twiki/skin/icon_indentation_more.png");
}
#context-indentation-less {
  list-style-image: url("chrome://twiki/skin/icon_indentation_less.png");
}
#context-list-simple {
  list-style-image: url("chrome://twiki/skin/icon_list_simple.png");
}
#context-list-numbered {
  list-style-image: url("chrome://twiki/skin/icon_list_numbered.png");
}
#context-list-fancy {
  list-style-image: url("chrome://twiki/skin/fancy.gif");
}
#context-list-remove {
  list-style-image: url("chrome://twiki/skin/icon_list_remove.png");
}
#context-paragraph-increment {
  list-style-image: url("chrome://twiki/skin/icon_paragraph_increment.png");
}
#context-paragraph-decrement {
  list-style-image: url("chrome://twiki/skin/icon_paragraph_decrement.png");
}
#context-red {
  list-style-image: url("chrome://twiki/skin/led-red.gif");
}
#context-blue {
  list-style-image: url("chrome://twiki/skin/led-blue.gif");
}
#context-green {
  list-style-image: url("chrome://twiki/skin/led-green.gif");
}
#context-anchor {
  list-style-image: url("chrome://twiki/skin/anchor.gif");
}
#context-tipicon {
  list-style-image: url("chrome://twiki/skin/tip.gif");
}
#context-helpicon {
  list-style-image: url("chrome://twiki/skin/help.gif");
}
#context-warnicon {
  list-style-image: url("chrome://twiki/skin/warning.gif");
}
#context-staricon {
  list-style-image: url("chrome://twiki/skin/starred.gif");
}
#context-newicon {
  list-style-image: url("chrome://twiki/skin/new.gif");
}
#context-updatedicon {
  list-style-image: url("chrome://twiki/skin/updated.gif");
}
#context-links {
  list-style-image: url("chrome://twiki/skin/links.gif");
}
#context-list {
  list-style-image: url("chrome://twiki/skin/icon_list_simple.png");
}
#context-template {
  list-style-image: url("chrome://twiki/skin/icon_template.png");
}
#context-format {
  list-style-image: url("chrome://twiki/skin/icon_format.png");
}
#context-paragraph {
  list-style-image: url("chrome://twiki/skin/person.gif");
}
#context-wikiword {
  list-style-image: url("chrome://twiki/skin/icon_wikipedia_16.png");
}
