<link rel='stylesheet' type='text/css' href='%PLUGINPUBURL%/twikiwyg.css' />
<script type="text/javascript" src="%PLUGINPUBURL%/TinyMCE/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="%PLUGINPUBURL%/MyTinyMCE.js"></script>
<script type="text/javascript">
//for some reason putting this into onLoad kills it
loadTinyMCE(document);
</script>
