<link rel='stylesheet' type='text/css' href='%PLUGINPUBURL%/twikiwyg.css' />
<script type="text/javascript" src="%PLUGINPUBURL%/InlineEditPlugin.js"></script>
<script type="text/javascript" src="%PLUGINPUBURL%/TML2HTML.js"></script>
<script type="text/javascript">
//<![CDATA[
//]]>
</script>