<style type="text/css" media="all">
	.hideElement {
	   display:none;
	}
	.showElementInline {
        display:inline;
	}
	.showBorder {
        border:1px solid blue;
	}
	.showFloatRight {
        display:inline;
        float:right;
        color:blue;
	}
	.hoverUnderline:hover {
	   text-decoration: underline;
	}
</style>
<script type="text/javascript">
//<![CDATA[
var TWikiScriptUrl = '%SCRIPTURL%';
addLoadEvent(InlineEditOnload);
//]]>
</script>
