<script type="text/javascript">
//<![CDATA[

initialiseInlineEditDiv = function(viewDiv) {
}

gotoEditMode = function(topicObject) {
    alert('you do not have permission edit this - do you need to login?');
}

//]]>
</script>
