/* Created using the Movable Type Style Generator <http://styles.movalog.com/generator/> */
/* $Id: base-weblog.css 14515 2005-07-12 00:01:26Z mpaschal $ */

/* basic elements */

html
{
	margin: 0;
	/* setting border: 0 hoses ie6 win window inner well border */
	padding: 0;
}

body
{
	margin: 0;
	/* setting border: 0 hoses ie5 win window inner well border */
	padding: 0;
	font-family: verdana, 'trebuchet ms', sans-serif;
	font-size: 14px;
	line-height: 150%;
}

form { margin: 0; padding: 0; }
a { text-decoration: underline; }
a img { border: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1, h2, h3, h4, h5, h6, p, ol, ul, pre, blockquote
{
	margin-top: 10px;
	margin-bottom: 10px;
}


/* standard helper classes */

.clr
{
	clear: both;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: 0 -1px -1px 0;
	border: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;
}

/* .pkg class wraps enclosing block element around inner floated elements */
.pkg:after
{
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}
* html .pkg { display: inline-block; }
/* no ie mac \*/
* html .pkg { height: 1%; }
.pkg { display: block; }
/* */


/* page layout */

body { text-align: center; } /* center on ie */

#container
{
	position: relative;
	margin: 0 auto; /* center on everything else */
	width: 720px;
	text-align: left;
}
#container-inner { position: static; width: auto; }

#banner { position: relative; }
#banner-inner { position: static; }

#pagebody { position: relative; width: 100%; }
#pagebody-inner { position: static; width: 100%; }

#alpha, #beta, #gamma, #delta
{
	display: inline; /* ie win bugfix */
	position: relative;
	float: left;
	min-height: 1px;
}

#delta { float: right; }

#alpha-inner, #beta-inner, #gamma-inner, #delta-inner
{
	position: static;
}


/* banner user/photo */

.banner-user
{
	float: left;
	overflow: hidden;
	width: 64px;
	margin: 0 15px 0 0;
	border: 0;
	padding: 0;
	text-align: center;
}

.banner-user-photo
{
	display: block;
	margin: 0 0 2px 0;
	border: 0;
	padding: 0;
	background-position: center center;
	background-repeat: no-repeat;
	text-decoration: none !important;
}

.banner-user-photo img
{
	width: 64px;
	height: auto;
	margin: 0;
	border: 0;
	padding: 0;
}


/* content */

.content-nav
{
	margin: 10px;
	text-align: center;
}

.date-header,
.entry-content
{
	position: static;
	clear: both;
}

.entry,
.trackbacks,
.comments,
.archive
{
	position: static;
	overflow: hidden;
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}

.entry-content,
.trackbacks-info,
.trackback-content,
.comment-content,
.comments-open-content,
.comments-closed
{
	clear: both;
	margin: 5px 10px;
}

.entry-excerpt,
.entry-body,
.entry-more-link,
.entry-more
{
	clear: both;
}

.entry-footer,
.trackback-footer,
.comment-footer,
.comments-open-footer,
.archive-content
{
	clear: both;
	margin: 5px 10px 20px 10px;
}

.comments-open label { display: block; }

#comment-author, #comment-email, #comment-url, #comment-text
{
	width: 240px;
}

#comment-bake-cookie
{
	margin-left: 0;
	vertical-align: middle;
}

#comment-post
{
	font-weight: bold;
}

img.image-full { width: 100%; }

.image-thumbnail
{
	float: left;
	width: 115px;
	margin: 0 10px 10px 0;
}

.image-thumbnail img
{
	width: 115px;
	height: 115px;
	margin: 0 0 2px 0;
}


/* modules */

.module
{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.module-content
{
	position: relative;
	margin: 5px 10px 20px 10px;
}

.module-list,
.archive-list
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.module-list-item
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.module-presence img { vertical-align: middle; }
.module-powered .module-content { margin-bottom: 10px; }
.module-photo .module-content { text-align: center; }
.module-wishlist .module-content { text-align: center; }

.module-calendar .module-content table
{
	border-collapse: collapse;
}

.module-calendar .module-content th,
.module-calendar .module-content td
{
	width: 14%;
	text-align: center;
}

.typelist-thumbnailed { margin: 0 0 20px 0; }

.typelist-thumbnailed .module-list-item
{
	display: block;
	clear: both;
	margin: 0;
}

/* positioniseverything.net/easyclearing.html */
.typelist-thumbnailed .module-list-item:after
{
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}
* html .typelist-thumbnailed .module-list-item { display: inline-block; }
/* no ie mac \*/
* html .typelist-thumbnailed .module-list-item { height: 1%; }
.typelist-thumbnailed .module-list-item { display: block; }
/* */

.typelist-thumbnail
{
	float: left;
	min-width: 60px;
	width: 60px;
	/* no ie mac \*/width: auto;/* */
	margin: 0 5px 0 0;
	text-align: center;
	vertical-align: middle;
}

.typelist-thumbnail img { margin: 5px; }

.module-galleries .typelist-thumbnail img { width: 50px; }

.typelist-description
{
	margin: 0;
	padding: 5px;
}

.module-featured-photo .module-content,
.module-photo .module-content
{
	margin: 0;
}

.module-featured-photo img { width: 100%; }

.module-recent-photos { margin: 0 0 15px 0; }
.module-recent-photos .module-content { margin: 0; }
.module-recent-photos .module-list
{
	display: block;
	height: 1%;
	margin: 0;
	border: 0;
	padding: 0;
	list-style: none;
}

/* positioniseverything.net/easyclearing.html */
.module-recent-photos .module-list:after
{
	content: " ";
	display: block;
	visibility: hidden;
	clear: both;
	height: 0.1px;
	font-size: 0.1em;
	line-height: 0;
}
* html .module-recent-photos .module-list { display: inline-block; }
/* no ie mac \*/
* html .module-recent-photos .module-list { height: 1%; }
.module-recent-photos .module-list { display: block; }
/* */

.module-recent-photos .module-list-item
{
	display: block;
	float: left;
	/* ie win fix \*/ height: 1%; /**/
	margin: 0;
	border: 0;
	padding: 0;
}

.module-recent-photos .module-list-item a
{
	display: block;
	margin: 0;
	border: 0;
	padding: 0;
}

.module-recent-photos .module-list-item img
{
	width: 60px;
	height: 60px;
	margin: 0;
	padding: 0;
}


/* mmt calendar */

.module-mmt-calendar { margin-bottom: 15px; }
.module-mmt-calendar .module-content { margin: 0; }
.module-mmt-calendar .module-header { margin: 0; }
.module-mmt-calendar .module-header a { text-decoration: none; }
.module-mmt-calendar table { width: 100%; }

.module-mmt-calendar th { text-align: left; }

.module-mmt-calendar td
{
	width: 14%;
	height: 75px;
	text-align: left;
	vertical-align: top;
}

.day-photo
{
	width: 54px;
	height: 54px;
}

.day-photo a
{
	display: block;
}

.day-photo a img
{
	width: 50px;
	height: 50px;
}

/* * theme * */

/* basic page elements */

body
{
	font-family: 'trebuchet ms', verdana, helvetica, arial, sans-serif;
	font-size: 14px;
}

a { color: #36414d; text-decoration: underline; }
a:hover { color: #a3b8cc; }

#banner a { color: #FFFFFF; text-decoration: none; }
#banner a:hover { color: #FFFFFF; }

h1, h2, h3, h4, h5, h6
{
	font-family: 'trebuchet ms', verdana, helvetica, arial, sans-serif;
}

.module-header,
.trackbacks-header,
.comments-header,
.comments-open-header,
.archive-header
{
   /* ie win (5, 5.5, 6) bugfix */
   p\osition: relative;
   width: 100%;
   w\idth: auto;

   margin: 0;
border-left: 5px solid #36414d;
   padding: 5px;
	color: #FFFFFF;
	background: #a3b8cc;
	font-size: small;
font-weight:bold;   line-height: 1;

}

.module-header a,
.module-header a:hover,
.trackbacks-header a,
.trackbacks-header a:hover,
.comments-header a,
.comments-header a:hover,
.comments-open-header a,
.comments-open-header a:hover
.archive-header a,
.archive-header a:hover
{
	color: #FFFFFF;
}

.entry-more-link,
.entry-footer,
.comment-footer,
.trackback-footer,
.typelist-thumbnailed
{
	font-size: px;
}


/* page layout */

body
{
	min-width: 720px;
	color: #333;
	background: #666666;
	background-image: url("http://");	background-repeat: repeat;	
}

#container
{
	width:90%;	margin-bottom: 20px;
	background: #FFFFFF;

}

#container-inner
{
border-right: 5px solid #292E33;
border-bottom: 5px solid #292E33;
border-left: 5px solid #292e33;
}

#banner
{
	width: 100%; 
	background-color: #003366;
	background-image: url("http://");	background-repeat: repeat;
	height: 120px;
}

#banner-inner
{
	padding: 15px 13px;
border-top: 2px solid #FFFFFF;
border-right: 2px solid #FFFFFF;
border-left: 2px solid #FFFFFF;
height:120px;	
}

#banner-header
{
	margin: 0;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	color: #FFFFFF;
	font-size: x-large;
	text-align: left;
font-weight:bold;	line-height: 1;
}

#banner-description
{
	margin-top: 5px;
	margin-bottom: 0;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	color: #FFFFFF;
	font-size: small;
	text-align: left;
font-weight:bold;	background: none;
	line-height: 1.125;
}

#alpha { float:left; margin: 15px 15px 0 15px; width:70%; background: #FFFFFF; }
#beta { float:right; width:25%; background: #e6ecf2; }
#gamma, #delta { float:right; width:20%; background: #e6ecf2; }

#beta-inner,
#gamma-inner,
#delta-inner
{
   padding: 10px 10px 0 10px;
   border-width: 2px 2px 2px 0;
   border-style: solid;
   border-color: #fff;
}


	#alpha-inner {
		padding: 10px 10px 0 10px;
	border-top: 2px solid #FFFFFF;
border-right: 2px solid #FFFFFF;
border-bottom: 2px solid #FFFFFF;
	
	}

	#beta-inner {
		padding: 10px 10px 0 10px;
	border-top: 2px solid #FFFFFF;
border-right: 2px solid #FFFFFF;
border-bottom: 2px solid #FFFFFF;
	
	}

	
	#gamma-inner {
		padding: 10px 10px 0 10px;
	border-top: 2px solid #FFFFFF;
border-right: 2px solid #FFFFFF;
border-bottom: 2px solid #FFFFFF;
	
	}	

.date-header
{
	margin-top: 0;
	background: #FFFFFF;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	text-align:left;
	color: #333333;
	font-size: small;
font-weight:bold;text-transform:uppercase;	
}

.entry-header
{
	margin-top: 0;
	background: #FFFFFF;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	text-align:left;
	color: #666666;
	font-size: small;
font-weight:bold;	padding: 5px;
border-left: 5px solid #dae0e6;
		
}

.entry-content,
.comment-content,
.trackback-content
{
	background: #FFFFFF;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	text-align:left;
	color: #333333;
	font-size: small;
	
	margin: 0;
	line-height: 1.5;
}

.entry-footer,
.comment-footer,
.trackback-footer
{
	background: #FFFFFF;
	margin: 0 0 20px 0;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	text-align:right;
	color: #666666;
	font-size: small;
border-top: 1px solid #dae0e6;
	
}

.comment-content,
.trackback-content,
.comment-footer,
.trackback-footer
{
	margin-left: 10px;
}

.content-nav { margin-top: 0; }

#trackbacks-info
{
	margin: 10px 0;
	border: 1px dashed #a3b8cc;
	padding: 0 10px;
	color: #292e33;
	font-size: 11px;
	background: #e6ecf2;
}

.comments-open-footer
{
	margin: 10px 0;
}


/* modules */

.module
{
	margin: 0 0 10px 0;
	
}

.module-content
{
	margin: 0 0 10px 0;
	padding: 10px 10px 0 10px;
	line-height: 1.2;
	background: #dae0e6;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	text-align:left;
	color: #333333;
	font-size: small;
border-top: 1px solid #cfd4d9;
	
}

.module-calendar .module-content { margin: 5px 0 15px 0; }

.module-mmt-calendar .module-content table,
.module-calendar .module-content table
{
	font-size: 10px;
}

.module-powered { border-width: 0; }
.module-powered .module-content
{
	margin-bottom: 0;
	padding-bottom: 10px;
	background: #FFFFFF;
	font-family: 'Trebuchet MS', Verdana, sans-serif;
	text-align:left;
	color: #292e33;
	font-size: small;
border-top: 1px dashed a3b8cc;
border-right: 1px dashed a3b8cc;
border-bottom: 1px dashed a3b8cc;
border-left: 1px dashed a3b8cc;
	
}

.module-photo { background: none; }
.module-photo img { border: solid 1px #fff; }

.module-list
{
	margin: 0 15px 10px 15px;
	list-style: disc;
}

.module-list .module-list
{
	margin: 5px 0 0 0;
	padding-left: 15px;
	list-style: circle;
}

.module-list-item
{
	margin-top: 0;
	color: #666;
	line-height: 1.2;
}

.module-search input { font-size: 10px; }
.module-search #search { width: 100px; }

.module-photo img { border: 3px solid #fff; }


/* comments */

textarea[id="comment-text"] { width: 80%; }

.commenter-profile img
{
	vertical-align: middle;
	border-width: 0;
}


/* one-column tweaks */

   .layout-one-column body { min-width: 520px; }
   .layout-one-column #container { width:90%; }
   .layout-one-column #banner { width: 100%; } /* necessary for ie win */


/* two-column-left tweaks */

   .layout-two-column-left #alpha
   {
      margin: 0;
      width:25%;      background: #e6ecf2;
      float:left;
   }

   .layout-two-column-left #alpha-inner
   {
      padding: 10px 10px 0 10px;
	border-top: 2px solid #FFFFFF;
border-right: 2px solid #FFFFFF;
border-bottom: 2px solid #FFFFFF;
   }

   .layout-two-column-left #beta
   {
   	float:right;
      margin: 15px 15px 0 15px;
      width:70%;      background: #FFFFFF;
   }

   .layout-two-column-left #beta-inner
   {
      padding: 0;
      border-width: 0;
   }


/* three-column tweaks */

   .layout-three-column #alpha
   {
      margin: 0;
      width:20%;      background: #e6ecf2;
      float:left;
   }

   .layout-three-column #alpha-inner
   {
      padding: 10px 10px 0 10px;
	border-top: 2px solid #FFFFFF;
border-right: 2px solid #FFFFFF;
border-bottom: 2px solid #FFFFFF;
   }

   .layout-three-column #beta
   {
   	float:left;
      margin: 15px 15px 0 15px;
      width:50%;      background: #FFFFFF;
   }

   .layout-three-column #beta-inner
   {
      padding: 0;
      border-width: 0;
   }
   
   .layout-three-column #gamma
   {
      margin: 0;
       width:20%;      background: #e6ecf2;
      float:right;
   }

   .layout-three-column #gamma-inner
   {
      padding: 10px 10px 0 10px;
	border-top: 2px solid #FFFFFF;
border-right: 2px solid #FFFFFF;
border-bottom: 2px solid #FFFFFF;
   }   

