%TMPL:DEF{"edittoolbar"}%<div class="natEditToolBar">
%TMPL:P{"helptools"}%
%TMPL:P{"texttools"}%
%TMPL:P{"headlinetools"}% 
%TMPL:P{"paragraphtools"}% 
%TMPL:P{"objecttools"}% 
%TMPL:P{"edittools"}%
%TMPL:P{"exittools"}%
%TMPL:P{"forcenewrevision"}%
</div>%TMPL:END%

%TMPL:DEF{"texttools"}%<ul class="natEditTextTools">
%TMPL:P{"boldbutton"}%
%TMPL:P{"italicbutton"}%
%TMPL:P{"monobutton"}%
%TMPL:P{"underlinebutton"}%
%TMPL:P{"strikebutton"}%
%TMPL:P{"subbutton"}%
%TMPL:P{"superbutton"}%
</ul>%TMPL:END%

%TMPL:DEF{"boldbutton"}%<li class="natEditBoldButton"><a accesskey="b" href="javascript:natEditBoldButtonAction()" title="%MAKETEXT{"Bold"}%"><span>%MAKETEXT{"Bold"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"italicbutton"}%<li class="natEditItalicButton"><a accesskey="i" href="javascript:natEditItalicButtonAction()" title="%MAKETEXT{"Italic"}%"><span>%MAKETEXT{"Italic"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"monobutton"}%<li class="natEditMonoButton"><a accesskey="=" href="javascript:natEditMonoButtonAction()" title="%MAKETEXT{"Monospace"}%"><span>%MAKETEXT{"Monospace"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"underlinebutton"}%<li class="natEditUnderlineButton"><a accesskey="_" href="javascript:natEditUnderlineButtonAction()" title="%MAKETEXT{"Underline"}%"><span>%MAKETEXT{"Underline"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"strikebutton"}%<li class="natEditStrikeButton"><a accesskey="-" href="javascript:natEditStrikeButtonAction()" title="%MAKETEXT{"Strike"}%"><span>%MAKETEXT{"Strike"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"subbutton"}%<li class="natEditSubButton"><a accesskey="l" href="javascript:natEditSubButtonAction()" title="%MAKETEXT{"Subscript"}%"><span>%MAKETEXT{"Subscript"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"superbutton"}%<li class="natEditSupButton"><a accesskey="^" href="javascript:natEditSupButtonAction()" title="%MAKETEXT{"Superscript"}%"><span>%MAKETEXT{"Superscript"}%</span></a></li>%TMPL:END%

%TMPL:DEF{"headlinetools"}%<ul class="natEditHeadlineTools">
%TMPL:P{"h1button"}%
%TMPL:P{"h2button"}%
%TMPL:P{"h3button"}%
%TMPL:P{"h4button"}%
</ul>%TMPL:END%

%TMPL:DEF{"h1button"}%<li class="natEditH1Button"><a accesskey="1" href="javascript:natEditHeadlineButtonAction(1)" title="%MAKETEXT{"Level 1 headline"}%"><span>%MAKETEXT{"H1"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"h2button"}%<li class="natEditH2Button"><a accesskey="2" href="javascript:natEditHeadlineButtonAction(2)" title="%MAKETEXT{"Level 2 headline"}%"><span>%MAKETEXT{"H2"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"h3button"}%<li class="natEditH3Button"><a accesskey="3" href="javascript:natEditHeadlineButtonAction(3)" title="%MAKETEXT{"Level 3 headline"}%"><span>%MAKETEXT{"H3"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"h4button"}%<li class="natEditH4Button"><a accesskey="4" href="javascript:natEditHeadlineButtonAction(4)" title="%MAKETEXT{"Level 4 headline"}%"><span>%MAKETEXT{"H4"}%</span></a></li>%TMPL:END%

%TMPL:DEF{"paragraphtools"}%<ul class="natEditParagraphTools">
%TMPL:P{"leftbutton"}%
%TMPL:P{"centerbutton"}%
%TMPL:P{"rightbutton"}%
%TMPL:P{"justifybutton"}%
</ul>%TMPL:END%

%TMPL:DEF{"leftbutton"}%<li class="natEditLeftButton"><a accesskey="&lt;" href="javascript:natEditLeftButtonAction()" title="%MAKETEXT{"Align left"}%"><span>%MAKETEXT{"Left"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"centerbutton"}%<li class="natEditCenterButton"><a accesskey="." href="javascript:natEditCenterButtonAction()" title="%MAKETEXT{"Center align"}%"><span>%MAKETEXT{"Center"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"rightbutton"}%<li class="natEditRightButton"><a accesskey="&gt;" href="javascript:natEditRightButtonAction()" title="%MAKETEXT{"Align right"}%"><span>%MAKETEXT{"Right"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"justifybutton"}%<li class="natEditJustifyButton"><a accesskey="j" href="javascript:natEditJustifyButtonAction()" title="%MAKETEXT{"Justify text"}%"><span>%MAKETEXT{"Justify"}%</span></a></li>%TMPL:END%

%TMPL:DEF{"objecttools"}%<ul class="natEditObjectTools">
%TMPL:P{"extbutton"}%
%TMPL:P{"intbutton"}%
%TMPL:P{"imagebutton"}%%TMPL:P{context="MathModePluginEnabled" then="mathbutton"}%
%TMPL:P{"verbatimbutton"}%
%TMPL:P{"signaturebutton"}%
</ul>%TMPL:END%

%TMPL:DEF{"extbutton"}%<li class="natEditExtButton"><a accesskey="/" href="javascript:natEditExtButtonAction()" title='%MAKETEXT{"External link"}%'/><span>%MAKETEXT{"Ext.link"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"intbutton"}%<li class="natEditIntButton"><a accesskey="[" href="javascript:natEditIntButtonAction()" title='%MAKETEXT{"Internal link"}%'/><span>%MAKETEXT{"Int.link"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"mathbutton"}%<li class="natEditMathButton"><a accesskey="m" href="javascript:natEditMathButtonAction()" title='%MAKETEXT{"Mathematical formula (<nop>LaTeX)"}%'/><span>%MAKETEXT{"Math"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"imagebutton"}%<li class="natEditImageButton"><a accesskey="g" href="javascript:natEditImageButtonAction()" title='%MAKETEXT{"Embed image"}%'/><span>%MAKETEXT{"Image"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"verbatimbutton"}%<li class="natEditVerbatimButton"><a accesskey="v" href="javascript:natEditVerbatimButtonAction()" title='%MAKETEXT{"Ignore wiki formatting"}%'/><span>%MAKETEXT{"Verbatim"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"signaturebutton"}%<li class="natEditSignatureButton"><a accesskey="z" href="javascript:natEditSignatureButtonAction()" title='%MAKETEXT{"Your signature with timestamp"}%'/><span>%MAKETEXT{"Sign"}%</span></a></li>%TMPL:END%

%TMPL:DEF{"edittools"}%<ul class="natEditEditTools">
%TMPL:P{"previewbutton"}%
%TMPL:P{"undobutton"}%
%TMPL:P{"checkpointbutton"}%
</ul>%TMPL:END%

%TMPL:DEF{"previewbutton"}%<li class="natEditPreviewButton"><a accesskey="p" href="javascript:submitEditForm('preview', 'preview')" title='%MAKETEXT{"Preview your changes"}%'/><span>%MAKETEXT{"Preview"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"undobutton"}%<li class="natEditUndoButton"><a accesskey="u" href="javascript:self.location.reload()" title='%MAKETEXT{"Abandon your changes but continue editing"}%'/><span>%MAKETEXT{"Undo"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"checkpointbutton"}%<li class="natEditCheckpointButton"><a accesskey="w" href="javascript:submitEditForm('save', 'checkpoint')" title='%MAKETEXT{"Save and continue editing"}%'/><span>%MAKETEXT{"Checkpoint"}%</span></a></li>%TMPL:END%

%TMPL:DEF{"exittools"}%<ul class="natEditExitTools">
%TMPL:P{"savebutton"}%
%TMPL:P{"cancelbutton"}%
</ul>%TMPL:END%

%TMPL:DEF{"savebutton"}%<li class="natEditSaveButton"><a accesskey="s" href="javascript:submitEditForm('save', 'save')" title='%MAKETEXT{"Save and exit"}%'/><span>%MAKETEXT{"Save"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"cancelbutton"}%<li class="natEditCancelButton"><a accesskey="c" href="javascript:submitEditForm('save', 'cancel')" title='%MAKETEXT{"Abandon changes and exit"}%'/><span>%MAKETEXT{"Cancel"}%</span></a></li>%TMPL:END%

%TMPL:DEF{"forcenewrevision"}%<ul class="natEditOptionTools"><li class="natEditForceNewRevision"><label for="forcenewrevision"><input type="checkbox" title="Creates a new topic revision when saving" id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% />%MAKETEXT{"New revision"}%</label></li></ul>%TMPL:END%

%TMPL:DEF{"helptools"}%<ul class="natEditHelpTools">
%TMPL:P{"helpbutton"}%
</ul>%TMPL:END%

%TMPL:DEF{"helpbutton"}%<li class="natEditHelpButton"><a accesskey="?" href="javascript:launchWindow('%SYSTEMWEB%', 'TextFormattingRules')" title='%MAKETEXT{"Help"}%'/><span>%MAKETEXT{"Help"}%</span></a></li>%TMPL:END%


%TMPL:DEF{"tablebutton"}%<li class="natEditTableButton"><a id="natEditTableButtonLink"  accesskey="1" href="javascript:natEditTableButtonAction()" title="%MAKETEXT{"Add Table"}%"><span>%MAKETEXT{"Table"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"numberedbutton"}%<li class="natEditNumberedButton"><a accesskey="1" href="javascript:natEditNumberedButtonAction()" title="%MAKETEXT{"Numbered List"}%"><span>%MAKETEXT{"Numbered List"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"bulletbutton"}%<li class="natEditBulletButton"><a accesskey="1" href="javascript:natEditBulletButtonAction()" title="%MAKETEXT{"List"}%"><span>%MAKETEXT{"List"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"indentbutton"}%<li class="natEditIndentButton"><a accesskey="1" href="javascript:natEditIndentButtonAction()" title="%MAKETEXT{"Indent List"}%"><span>%MAKETEXT{"Indent"}%</span></a></li>%TMPL:END%
%TMPL:DEF{"undentbutton"}%<li class="natEditUndentButton"><a accesskey="1" href="javascript:natEditUndentButtonAction()" title="%MAKETEXT{"Undent List"}%"><span>%MAKETEXT{"Undent"}%</span></a></li>%TMPL:END%




