%TMPL:INCLUDE{"edit"}%
%TMPL:INCLUDE{"editjavascript"}%
%TMPL:INCLUDE{"edittoolbar"}%
%TMPL:INCLUDE{"edithelp"}%

%TMPL:DEF{"twikistyle"}%%TMPL:P{"styles"}%%TMPL:END%

%TMPL:DEF{"styles"}%
%TMPL:P{"stylesscreen"}%
<style type="text/css" media="all">
  @import url("%PUBURLPATH%/%SYSTEMWEB%/NatEditContrib/styles.css");
  @import url("%PUBURLPATH%/%SYSTEMWEB%/NatEditContrib/%IF{"defined NATEDIT_THEME" then="%NATEDIT_THEME%" else="default"}%/styles.css");
</style>
%TMPL:END%

%TMPL:DEF{"bottombar"}%%{used to make the dynamic tables in (if JQueryPlugin is on) natEditTableButtonAction}%<div id="natEditTableDialog" style="display:none; cursor: default"> 
<div class="twikiForm twikiEditForm"><table class="twikiFormTable" width="100%">
<tr><th colspan="2"><h1>Create a new table?</h1> </th></tr>
<tr><td>Rows: </td><td><input type="text" id="rows" value="5"class="twikiInputField twikiEditFormTextField" />  </td></tr>
<tr><td>Columns: </td><td><input type="text" id="columns" value="3" class="twikiInputField twikiEditFormTextField" /> </td></tr>
<tr><td></td><td><input type="button" id="yes" value="Yes" class="twikiChangeFormButton twikiButton" /> 
<input type="button" id="cancel" value="Cancel" class="twikiChangeFormButton twikiButton" /> </td></tr>
</table></div>
</div> %TMPL:END%

%TMPL:DEF{"content"}%
%TMPL:P{"formstart"}%%TMPL:P{"formattop"}%
%TMPL:P{"edittoolbar"}%
%TMPL:P{"textarea"}% %TMPL:P{"fontbuttons"}%
<input type="hidden" name="action_preview" value="" />
<input type="hidden" name="action_save" value="" />
<input type="hidden" name="action_checkpoint" value="" />
<input type="hidden" name="action_cancel" value="" />
%TMPL:P{"revCommentPluginOptions"}%
%TMPL:P{"formatbottom"}%%TMPL:P{"formend"}%
%TWISTYSHOW{id="edithelp" link="%MAKETEXT{"Show help"}%" imgleft="%ICONURLPATH{toggleopen-small}%"}%
%TWISTYHIDE{id="edithelp" link="%MAKETEXT{"Hide help"}%" imgleft="%ICONURLPATH{toggleclose-small}%"}%
%TMPL:P{"pagehelp"}%
%TMPL:END%

%TMPL:DEF{"fontbuttons"}%<div class="natEditFontButtons">
<a href="javascript:setEditBoxFontStyle('mono');">
<img width="16" alt="%MAKETEXT{"Use monospace font"}%" title="%MAKETEXT{"Use monospace font"}%" align="top" src="%PUBURLPATH%/%SYSTEMWEB%/TWikiDocGraphics/monospace.gif" height="16" border="0" />
</a> 
<a href="javascript:setEditBoxFontStyle('proportional');">
<img width="16" alt="%MAKETEXT{"Use proportional spaced font"}%" title="%MAKETEXT{"Use proportional spaced font"}%" align="top" src="%PUBURLPATH%/%SYSTEMWEB%/TWikiDocGraphics/proportional.gif" height="16" border="0" >
</a>
</div>%TMPL:END%

%TMPL:DEF{"help"}%%TMPL:P{"edithelp"}%%TMPL:END%
%TMPL:DEF{"pagehelp"}%<!-- -->
%TWISTYTOGGLE{id="edithelp" mode="div" class="twikiHelp" remember="on" noscript="hide"}%
%TMPL:P{"help"}%
%ENDTWISTYTOGGLE%
%TMPL:END%

%TMPL:DEF{"revCommentPluginOptions"}%%IF{ "context RevCommentPluginEnabled" then="<div class='revComment'><label for='comment'>Summary of changes</label> <input class='twikiEditComment twikiInputField' size='50' type='text' name='comment' id='comment' /></div><!--/revComment-->" else=""}%%TMPL:END%

%TMPL:DEF{"sig_textareabuttons"}%%TMPL:END%
