%TMPL:INCLUDE{"oopsmore"}%
%TMPL:INCLUDE{"oopsmoretopicacls"}%

%TMPL:DEF{"message"}%
%TMPL:P{"oopsmoretopicacls"}%
%TMPL:P{"revision"}%
%TMPL:P{"compare"}%
%TMPL:P{"settings"}%
%TMPL:P{"delete"}%
%TMPL:P{"rename"}%
%TMPL:P{"setparent"}%
%TMPL:P{"childtopics"}%
%TMPL:P{"backlinks"}%
%TMPL:END%

