%TMPL:DEF{"oopsmoretopicacls"}%
---+++ %MAKETEXT{"Edit topic ACLs"}%
   * %MAKETEXT{"<a href='[_1]' rel='nofollow'>Edit ACLs</a> for this topic" args="%SCRIPTURLPATH{"oops"}%/%WEB%/%TOPIC%?template=topicacls"}%%TMPL:END%
