BODY {
	COLOR: #111111;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-size : smaller;
}
P.body{
	COLOR: #111111;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-size : smaller;
}
P.metabox{
	COLOR: #111111;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	font-size : smaller;
}
INPUT{
	font-size : 8pt;
	font-weight : bold;
}
TD.topMenuWeb{
	BACKGROUND-COLOR: #e3f0e3;
	COLOR: #339933;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12pt;
	font-weight: bold;
	TEXT-ALIGN: left;
}
TD.topMenuTopic{
	BACKGROUND-COLOR: #e3f0e3;
	COLOR: #111111;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12pt;
	font-weight: bold;
	TEXT-ALIGN: left;
}
TD.topMenuSpacer{
	BACKGROUND-COLOR: #e3f0e3;
	COLOR: #111111;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	font-weight: bold;
}
SPAN.topMenuWeb{
	COLOR: #339933;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12pt;
	font-weight: bold;
	TEXT-ALIGN: left;
}
SPAN.topMenuTopic{
	COLOR: #111111;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12pt;
	font-weight: bold;
	TEXT-ALIGN: left;
}
SPAN.topMenuAction{
	COLOR: #111111;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 12pt;
	TEXT-ALIGN: left;
	font-weight : normal;
}
P.warning{
	COLOR: #EE0000;
}
.go {
	BACKGROUND-COLOR: #99cc99;
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
A:active {
	COLOR: #339933;
	TEXT-DECORATION: none
}
A:link {
	COLOR: #339933;
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #339933;
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #339933;
	TEXT-DECORATION: underline
}
A.warning:active {
	COLOR: #EE0000;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
}
A.warning:link {
	COLOR: #EE0000;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
}
A.warning:visited {
	COLOR: #EE0000;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
}
A.warning:hover {
	COLOR: #EE0000;
	TEXT-DECORATION: underline;
	font-weight : bold;
	font-size : 8pt;
}
A.logon:active {
	COLOR: #339933;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 9pt;
}
A.logon:link {
	COLOR: #339933;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 9pt;
}
A.logon:visited {
	COLOR: #339933;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 9pt;
}
A.logon:hover {
	COLOR: #339933;
	TEXT-DECORATION: underline;
	font-weight : bold;
	font-size : 9pt;
}
#menuBar {
	BACKGROUND-COLOR: #e3f0e3;
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	COLOR: #000000;
	LEFT: 0px;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	POSITION: relative;
	TEXT-ALIGN: right;
	TOP: 0px;
	WIDTH: 98%;
	Z-INDEX: 100
}
A.menuButton {
	BORDER-BOTTOM: 0px;
	BORDER-LEFT: 0px;
	BORDER-RIGHT: 0px;
	BORDER-TOP: 0px;
	COLOR: #339933;
	CURSOR: hand;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 6px;
	PADDING-RIGHT: 6px;
	PADDING-TOP: 2px;
	TEXT-DECORATION: none
}
A.menuButton:hover {
	BORDER-BOTTOM-COLOR: #000000;
	BORDER-BOTTOM-STYLE: none;
	BORDER-LEFT-COLOR: #000000;
	BORDER-LEFT-STYLE: none;
	BORDER-RIGHT-COLOR: #000000;
	BORDER-RIGHT-STYLE: none;
	BORDER-TOP-COLOR: #000000;
	BORDER-TOP-STYLE: none;
	COLOR: #339933;
	font-weight : bold;
}
.menu {
	BACKGROUND-COLOR: #e3f0e3;
	BORDER-BOTTOM: silver 2px outset; 
	BORDER-LEFT: white 2px outset; 
	BORDER-RIGHT: silver 2px outset; 
	BORDER-TOP: white 2px outset; 
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	PADDING-TOP: 0px;
	POSITION: absolute;
	TEXT-ALIGN: left;
	VISIBILITY: hidden;
	Z-INDEX: 100
}
.menuLine
{
	CURSOR: hand;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-SIZE: 8pt;
	FONT-STYLE: normal;
	FONT-WEIGHT: bold;
	MARGIN: 2px 0px;
	PADDING-BOTTOM: 2px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	PADDING-TOP: 2px;
	TEXT-DECORATION: none;
	WIDTH: 67px
}
A.menuItem {
	COLOR: #339933;
}
A.menuItemDiff {
	COLOR: red;
	FONT-SIZE: 10pt
}
A.menuItem:hover {
	BACKGROUND-COLOR: #e3f0e3;
	COLOR: #339933
}
UL{
	margin-bottom : 0;
	margin-left : 18px;
	margin-right : 0;
	margin-top : 0;
}
UL UL LI{
	margin-bottom : 0;
	margin-left : -10px;
	margin-right : 0;
	margin-top : 0;
}
.clsItemsHide {
	DISPLAY: none
}
A.clsItem:active {
	COLOR: #111111;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
	vertical-align: middle;
	width : 137px;
}
A.clsItem:link {
	COLOR: #111111;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
	vertical-align: middle;
	width : 137px;
}
A.clsItem:visited {
	COLOR: #111111;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
	vertical-align: middle;
	width : 137px;
}
A.clsItem:hover {
	COLOR: #111111;
	TEXT-DECORATION: underline;
	font-weight : bold;
	font-size : 8pt;
	background-color : #e3f0e3;
	vertical-align: middle;
	width : 137px;
}
A.clsHeading:active {
	COLOR: #111111;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
	padding-left : 8px;
	vertical-align : middle;
	width : 145px;
}
A.clsHeading:link {
	COLOR: #111111;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
	padding-left : 8px;
	vertical-align : middle;
	width : 145px;
}
A.clsHeading:visited {
	COLOR: #111111;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
	padding-left : 8px;
	vertical-align : middle;
	width : 145px;
}
A.clsHeading:hover {
	COLOR: #111111;
	TEXT-DECORATION: underline;
	font-weight : bold;
	font-size : 8pt;
	background-color : #e3f0e3;
	padding-left : 8px;
	vertical-align : middle;
	width : 145px;
}
A.leftMenu:active {
	COLOR: #111111;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
}
A.leftMenu:link {
	COLOR: #111111;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
}
A.leftMenu:visited {
	COLOR: #111111;
	TEXT-DECORATION: none;
	font-weight : bold;
	font-size : 8pt;
}
A.leftMenu:hover {
	COLOR: #111111;
	TEXT-DECORATION: underline;
	font-weight : bold;
	font-size : 8pt;
}