%TMPL:INCLUDE{"twiki"}%

%{ **************************************************************************************************************************************************************************** }%
%{ ******************************************* }%
%TMPL:DEF{"simpleheader"}%%TMPL:P{"standardheader"}%%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"windowtitle"}%<title>%TMPL:P{"titleaction"}%%IF{"defined PAGETITLE" then="%PAGETITLE%" else="<nop>%TOPIC% &lt; %WEB% &lt; <nop>%WIKITOOLNAME%"}%</title>%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"copyright"}% %WEBRSSCOPYRIGHT% %BR% skin by <a href="http://DistributedINFORMATION.com">DistributedINFORMATION</a> a [[http://WikiRing.com][<img src="%PUBURLPATH%/%TWIKIWEB%/MOVEABLETYPESKIN/wikiringlogo20x20.png" alt="@" width='20' height='20' border='0'  /> WikiRing.com partner]] %TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"topicinfo"}%%BR%<hr />%TMPL:P{"topicaction"}%%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"sep"}% &#8226; %TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"login_actions"}%
%IF{"context authenticated" then='%MAKETEXT{"Hello [_1]!" args="[[%WIKIUSERNAME%][%SPACEOUT{%WIKINAME%}%]]"}% %SEP% %LOGOUT%' else='%LOGIN% %MAKETEXT{"or"}% [[%TWIKIWEB%.TWikiRegistration][%MAKETEXT{"Register"}%]]'}%%TMPL:END%
   
%{ **************************************************************************************************************************************************************************** }%
%{ ******************************************* }%
%TMPL:DEF{"moveabletypetext"}%%URLPARAM{"moveabletypetopic" default="%IF{"defined MOVEABLETYPESKIN_DESIGNTOPIC" then="%MOVEABLETYPESKIN_DESIGNTOPIC%" else="MoveableTypeSample2Design"}%"}%%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"moveabletypecolumns"}%%URLPARAM{"moveabletypecolumns" default="%IF{"defined MOVEABLETYPESKIN_COLUMNS" then="%MOVEABLETYPESKIN_COLUMNS%" else="two-column-right"}%"}%%TMPL:END%

%{ "firstsidebarclass" = 'alpha' if (two-column-left || three-column || '')   }%
%TMPL:DEF{"firstsidebarclassSetting"}%%IF{"$MOVEABLETYPESKIN_COLUMNS = 'two-column-left'" then="alpha" else=""}%%IF{"$MOVEABLETYPESKIN_COLUMNS = 'three-column'" then="alpha" else=""}%%TMPL:END%
%TMPL:DEF{"firstsidebarclassUrlParam"}%%IF{"$'URLPARAM{moveabletypecolumns}' = 'two-column-left'" then="alpha" else=""}%%IF{"$'URLPARAM{moveabletypecolumns}' = 'three-column'" then="alpha" else=""}%%TMPL:END%
%TMPL:DEF{"firstsidebarclass"}%%IF{"defined moveabletypecolumns" then="%TMPL:P{"firstsidebarclassUrlParam"}%" else="%TMPL:P{"firstsidebarclassSetting"}%"}%%TMPL:END%

%{ TMPL:DEF{"secondsidebarclass"} = 'beta' if (two-column-right) }%
%{ TMPL:DEF{"secondsidebarclass"} = 'gamma' if (three-column or '') }%
%TMPL:DEF{"secondsidebarclassSetting"}%%IF{"$MOVEABLETYPESKIN_COLUMNS = 'two-column-right'" then="beta" else=""}%%IF{"$MOVEABLETYPESKIN_COLUMNS = 'three-column'" then="gamma" else=""}%%IF{"defined MOVEABLETYPESKIN_COLUMNS" else="beta"}%%TMPL:END%
%TMPL:DEF{"secondsidebarclassUrlParam"}%%IF{"$'URLPARAM{moveabletypecolumns}' = 'two-column-right'" then="beta" else=""}%%IF{"$'URLPARAM{moveabletypecolumns}' = 'three-column'" then="gamma" else=""}%%IF{"defined moveabletypecolumns" else="beta"}%%TMPL:END%
%TMPL:DEF{"secondsidebarclass"}%%IF{"defined moveabletypecolumns" then="%TMPL:P{"secondsidebarclassUrlParam"}%" else="%TMPL:P{"secondsidebarclassSetting"}%"}%%TMPL:END%

%{ TMPL:DEF{"mainclass"} = 'beta' if (two-column-left || three-column || '') else = 'alpha' }%
%TMPL:DEF{"mainclassSetting"}%%IF{"$MOVEABLETYPESKIN_COLUMNS = 'one-column'" then="alpha" else=""}%%IF{"$MOVEABLETYPESKIN_COLUMNS = 'two-column-left'" then="beta" else=""}%%IF{"$MOVEABLETYPESKIN_COLUMNS = 'two-column-right'" then="alpha" else=""}%%IF{"$MOVEABLETYPESKIN_COLUMNS = 'three-column'" then="beta" else=""}%%IF{"defined MOVEABLETYPESKIN_COLUMNS" else="alpha"}%%TMPL:END%
%TMPL:DEF{"mainclassUrlParam"}%%IF{"$'URLPARAM{moveabletypecolumns}' = 'one-column'" then="alpha" else=""}%%IF{"$'URLPARAM{moveabletypecolumns}' = 'two-column-left'" then="beta" else=""}%%IF{"$'URLPARAM{moveabletypecolumns}' = 'two-column-right'" then="alpha" else=""}%%IF{"$'URLPARAM{moveabletypecolumns}' = 'three-column'" then="beta" else=""}%%IF{"defined moveabletypecolumns" else="alpha"}%%TMPL:END%
%TMPL:DEF{"mainclass"}%%IF{"defined moveabletypecolumns" then="%TMPL:P{"mainclassUrlParam"}%" else="%TMPL:P{"mainclassSetting"}%"}%%TMPL:END%



%{ ******************************************* }%
%TMPL:DEF{"moveabletypecss"}%%URLPARAM{"cssfile" default="%IF{"defined MOVEABLETYPESKIN_CSSFILE" then="%MOVEABLETYPESKIN_CSSFILE%" else="%PUBURLPATH%/%TWIKIWEB%/%TMPL:P{moveabletypetext}%/theme.css"}%"}%%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"moveabletypetwikicss"}%%URLPARAM{"twikicssfile" default="%IF{"defined MOVEABLETYPESKIN_TWIKICSSFILE" then="%MOVEABLETYPESKIN_TWIKICSSFILE%" else="%PUBURLPATH%/%TWIKIWEB%/%TMPL:P{moveabletypetext}%/TWiki.css"}%"}%%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"twikistyle"}%
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="%SCRIPTURL{view}%/%BASEWEB%/WebRss" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="%SCRIPTURL{view}%/%BASEWEB%/WebAtom" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="%SCRIPTURL{view}%/%BASEWEB%/WebRss" />
<link rel="alternate" href="%SCRIPTURL{edit}%/%BASEWEB%/%BASETOPIC%?_T=%DATE%" type="application/x-wiki" title="edit %BASETOPIC%" />
<!-- to correct the unsightly Flash of Unstyled Content. http://www.bluerobot.com/web/css/fouc.asp -->
<script type="text/javascript"></script>
<!-- css moveabletype skin -->	
<!-- base_weblog.css is a basic stylesheet that gives you a foundation to work off, please include it in your zip file -->
<link rel="stylesheet" href="%PUBURL%/%TWIKIWEB%/%TMPL:P{"moveabletypetext"}%/base-weblog.css" type="text/css" />
<style type="text/css" title="currentStyle" media="screen">
@import "%TMPL:P{moveabletypetwikicss}%";
@import "%TMPL:P{moveabletypecss}%";
</style> <!-- this is the MAIN --> 
<!--
DEBUG info
moveabletypecolumns = %TMPL:P{"moveabletypecolumns"}%
firstsidebarclass = %TMPL:P{"firstsidebarclass"}%
secondsidebarclass = %TMPL:P{"secondsidebarclass"}%
mainclass = %TMPL:P{"mainclass"}%
-->%TMPL:END%

%{ **************************************************************************************************************************************************************************** }%
%{ ******************************************* }%
%TMPL:DEF{"bodystart"}%<body class="layout-%TMPL:P{moveabletypecolumns}%">
   <div id="container">
      <div id="container-inner" class="pkg">%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"standardheader"}%         <div id="banner">%INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="startsectionwrapper-banner"}%
               <span id="banner-extra"></span>
            <div id="banner-inner" class="pkg">
               <h1 id="banner-header">%TMPL:P{"titleaction"}%%IF{"defined PAGETITLE" then="%PAGETITLE%" else="<nop>%TOPIC% "}%</h1>
               <h2 id="banner-description"> [[%WEB%.WebHome][%WEB%]] </h2>
            </div>
%INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="endsectionwrapper-banner"}%         </div>
         <div id="pagebody">
            <div id="pagebody-inner" class="pkg">%TMPL:P{two-column-left}%               <div id="%TMPL:P{"mainclass"}%">
%INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="startsectionwrapper-main"}%  <div id="%TMPL:P{"mainclass"}%-inner" class="pkg">
	<span id="twiki_text">%TMPL:END%
	
	
%{ ******************************************* }%

%{ ******************************************* }%
%TMPL:DEF{"standardfooter"}%
	</span><!-- twiki_text -->
  </div>%INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="endsectionwrapper-main"}%
               </div>%TMPL:P{two-column-right}%            </div>
         </div>
%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"bodyend"}%
      </div>
   </div>
</body>
</html> %TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"two-column-right"}%               <div id='%TMPL:P{"secondsidebarclass"}%' >%INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="startsectionwrapper-right-%TMPL:P{"moveabletypecolumns"}%"}%
<div id='%TMPL:P{"secondsidebarclass"}%-inner' class='pkg'> %INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="module-search-right-%TMPL:P{moveabletypecolumns}%" warn="on"}% %INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="module-categories-right-%TMPL:P{moveabletypecolumns}%" warn="off"}% %INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="module-archives-right-%TMPL:P{moveabletypecolumns}%" warn="off"}% %INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="module-syndicate-right-%TMPL:P{moveabletypecolumns}%" warn="off"}% %INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="module-powered-right-%TMPL:P{moveabletypecolumns}%" warn="off"}% </div>
%INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="endsectionwrapper-right-%TMPL:P{"moveabletypecolumns"}%"}%</div>%TMPL:END%
%{ ******************************************* }%
%TMPL:DEF{"two-column-left"}%               <div id="%TMPL:P{"firstsidebarclass"}%" >%INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="startsectionwrapper-left-%TMPL:P{"moveabletypecolumns"}%"}%
<div id='%TMPL:P{"firstsidebarclass"}%-inner' class='pkg'> %INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="module-search-left-%TMPL:P{moveabletypecolumns}%" warn="on"}% %INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="module-categories-left-%TMPL:P{moveabletypecolumns}%" warn="off"}% %INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="module-archives-left-%TMPL:P{moveabletypecolumns}%" warn="off"}% %INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="module-syndicate-left-%TMPL:P{moveabletypecolumns}%" warn="off"}% %INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="module-powered-left-%TMPL:P{moveabletypecolumns}%" warn="off"}% </div>
%INCLUDE{"%TWIKIWEB%.%TMPL:P{moveabletypetext}%" section="endsectionwrapper-left-%TMPL:P{"moveabletypecolumns"}%"}%</div>           %TMPL:END%


