
# Include our site-wide configuration settings:
IncludeConfigFile twiki.config


# Define the program to run
IndexDir spider.pl

# Arguments to spider.pl
SwishProgParameters twiki-spider-config.pl

# index file names to be written
IndexFile ./indexes/twiki.index.swish-e

# Show what's happening

IndexReport 3

