
/* Foswiki spcific colors */


/* GENERAL HTML ELEMENTS */

/* to override old Render.pm coded font color style */
.foswikiNewLink font {
	color:inherit;
}
.foswikiNewLink a:link sup,
.foswikiNewLink a:visited sup {
	color:#666;
	border-color:#ccc;
}
.foswikiNewLink a:hover sup {
	background-color:#D6000F;
	color:#FBF7E8;
	border-color:#D6000F;
}
.foswikiNewLink {
	border-color:#ccc;
}

/* Form elements */

.twikiSubmit,
.twikiButton {
	border-color:#ddd #aaa #aaa #ddd;
	color:#333;
	background-color:#fff;
}
.twikiSubmit:active,
.twikiButton:active {
	border-color:#999 #ccc #ccc #999;
	color:#000;
}
.twikiSubmitDisabled,
.twikiSubmitDisabled:active {
	border-color:#e0e0e0;
	color:#ccc;
	background-color:#f5f5f5;
}
.twikiInputField,
.twikiSelect {
	border-color:#aaa #ddd #ddd #aaa;
	color:#000;
	background-color:#fff;
}
.twikiInputFieldDisabled {
	color:#666;
}

/*	-----------------------------------------------------------
	Plugin elements
	-----------------------------------------------------------	*/

/* TablePlugin */
.twikiTable,
.twikiTable td {
	border-color:#ccc;
}
.twikiTable th {
	border-color:#ccc #fff;
}
.twikiTable th a:link,
.twikiTable th a:visited,
.twikiTable th a font {
	color:#fff;
}

/* TwistyContrib */
.twistyPlaceholder {
	color:#8E9195;
}
a:hover.twistyTrigger {
	color:#FBF7E8;
}

/* TipsContrib */
.tipsOfTheDay {
	background-color:#f8fbfc;
}
.patternTopic .tipsOfTheDayHeader {
	color:#333;
}
/* TipsContrib - in left bar */
#patternSideBar .tipsOfTheDay a:link,
#patternSideBar .tipsOfTheDay a:visited {
	color:#a00;
}
#patternSideBar .tipsOfTheDay a:hover {
	color:#FBF7E8;
}

/* RevCommentPlugin */
.revComment .patternTopicAction {
	background-color:#FEFCF6;
}

/*	-----------------------------------------------------------
	Foswiki styles
	-----------------------------------------------------------	*/

.foswikiGrayText {
	color:#8E9195;
}
.foswikiGrayText a:link,
.foswikiGrayText a:visited {
	color:#8E9195;
}
.foswikiGrayText a:hover {
	color:#FBF7E8;
}

table.twikiFormTable th.twikiFormTableHRow,
table.twikiFormTable td.twikiFormTableRow {
	color:#666;
}
.twikiEditForm {
	color:#000;
}
.twikiEditForm .twikiFormTable,
.twikiEditForm .twikiFormTable th,
.twikiEditForm .twikiFormTable td {
	border-color:#e2e7eb;
}
/* use a different table background color mix: no odd/even rows, no white background */
.twikiEditForm .twikiFormTable td  {
	background-color:#f7fafc;
}
.twikiEditForm .twikiFormTable th {
	background-color:#edf4f9;
}
.patternContent .twikiAttachments,
.patternContent .foswikiForm {
	background-color:#FEFCF6;
	border-color:#E2DCC8;
}
.twikiAttachments table,
table.twikiFormTable {
	border-color:#ccc;
	background-color:#fff;
}
.twikiAttachments table {
	background-color:#fff;
}
.twikiAttachments td, 
.twikiAttachments th {
	border-color:#ccc;
}
.twikiAttachments .twikiTable th font,
table.twikiFormTable th.twikiFormTableHRow font {
	color:#06c;
}

.twikiFormSteps {
	background-color:#f8fbfc;
	border-color:#E2DCC8;
}
.twikiFormStep {
	border-color:#E2DCC8;
}
.twikiFormStep h3,
.twikiFormStep h4 {
	background-color:transparent;
}
.twikiToc .twikiTocTitle {
	color:#666;
}
.twikiBroadcastMessage {
	background-color:yellow;
}
.twikiBroadcastMessage b,
.twikiBroadcastMessage strong {
	color:#f00;
}
.foswikiAlert,
.foswikiAlert code {
	color:#f00;
}
.foswikiEmulatedLink {
	color:#06c;
}
.twikiPageForm table {
	border-color:#ccc;
	background:#fff;
}
.twikiPageForm hr {
	border-color:#ccc;
	background-color:#ccc;
	color:#ccc;
}
.foswikiHelp {
	background-color:#f8fbfc;
	border-color:#D5E6F3;
}
.twikiAccessKey {
	color:inherit;
	border-color:#8E9195;
}
a:link .twikiAccessKey,
a:visited .twikiAccessKey,
a:hover .twikiAccessKey {
	color:inherit;
}
.twikiImage img {
	border-color:#eee;
	background-color:#fff;
}

/* WebSearch, WebSearchAdvanced */
table#twikiSearchTable th,
table#twikiSearchTable td {
	background-color:#fff;
	border-color:#ccc;
} 
table#twikiSearchTable th {
	color:#000;
}
table#twikiSearchTable td.first {
	background-color:#FCF8EC;
}

/*	-----------------------------------------------------------
	Search results 
	styles and overridden styles used in search.pattern.tmpl
	-----------------------------------------------------------	*/

h3.patternSearchResultsHeader,
h4.patternSearchResultsHeader {
	background-color:#FEFCF6;
	border-color:#ccc;
}
h4.patternSearchResultsHeader {
	color:#000;
}
.patternNoViewPage h4.patternSearchResultsHeader {
	color:#a00;
}
.patternSearchResult .twikiBottomRow {
	border-color:#ccc;
}
.patternSearchResult .foswikiAlert {
	color:#f00;
}
.patternSearchResult .foswikiSummary .foswikiAlert {
	color:#900;
}
.patternSearchResult .foswikiNew {
	background-color:#ECFADC;
	border-color:#049804;
	color:#049804;
}
.patternViewPage .patternSearchResultsBegin {
	border-color:#ccc;
}

/* Search results in book view format */

.patternBookView .foswikiTopRow {
	background-color:transparent; /* set to WEBBGCOLOR in css.pattern.tmpl */
	color:#666;
}
.patternBookView .twikiBottomRow {
	border-color:#ccc;
}
.patternBookView .patternSearchResultCount {
	color:#8E9195;
}

/* oopsmore.pattern.tmpl */

table.patternDiffOptions img {
	border-color:#ccc;
}

/* edit.pattern.tmpl */

.twikiChangeFormButton .twikiButton,
.twikiChangeFormButtonHolder .twikiButton { /* looks like a link */
	color:#06c;
	background:none;
}
.patternSig input {
	color:#8E9195;
	background-color:#fff;
}

/* preview.pattern.tmpl */

.patternPreviewArea {
	border-color:#f00;
	background-color:#fff;
}

/* rdiff.pattern.tmpl */

.patternDiff {
	border-color:#6b7f93;
}
.patternDiff h4.patternSearchResultsHeader {
	background-color:#6b7f93;
	color:#fff;
}
.patternDiff h4.patternSearchResultsHeader a:link,
.patternDiff h4.patternSearchResultsHeader a:visited {
	color:#fff;
}
tr.twikiDiffDebug td {
	border-color:#ccc;
}
.patternDiffPage .twikiDiffTable th {
	background-color:#ccc;
}
/* Changed */
.twikiDiffChangedHeader,
tr.twikiDiffDebug .twikiDiffChangedText,
tr.twikiDiffDebug .twikiDiffChangedText {
	background:#9f9; /* green - do not change */
}
/* Deleted */
.twikiDiffDeletedHeader,
tr.twikiDiffDebug .twikiDiffDeletedMarker,
tr.twikiDiffDebug .twikiDiffDeletedText {
	background-color:#f99; /* red - do not change */
}
/* Added */
.twikiDiffAddedHeader,
tr.twikiDiffDebug .twikiDiffAddedMarker,
tr.twikiDiffDebug .twikiDiffAddedText {
	background-color:#ccf; /* violet - do not change */
}
/* Unchanged */
tr.twikiDiffDebug .twikiDiffUnchangedText {
	color:#8E9195;
}
.twikiDiffUnchangedTextContents { }
.twikiDiffLineNumberHeader {
	background-color:#ccc;
}


/* IMAGES */
/* image positions are set here as well as these are dependent on the image */

.twikiInputField {
	QQbackground-image:url(background_input.gif);
	background-repeat:repeat-x;
}
.twikiInputFieldDisabled {
	background-image:none;
	border:none;
}
.twikiButton {
	QQbackground-image:url(background_button.gif);
	background-repeat:repeat-x;
}
.patternToolBarButtons .patternButton a {
	/*
	background-image:url(background_button.gif);
	background-repeat:repeat-x;
	*/
}
.twikiSubmit {
	QQbackground-image:url(background_submit.gif);
	background-repeat:repeat-x;
}
.twikiSubmitDisabled {
	background-image:none;
}
.twikiToc li {
	QQbackground-image:url(bullet-child-black.gif);
	background-repeat:no-repeat;
	background-position:0 .35em;
}
/*#patternSideBarContents .patternLeftBarPersonal,*/
#twikiLogin,
#patternSideBarContents .tipsOfTheDayContents {
	QQbackground-image:url(gradient_blue.gif);
	background-repeat:repeat-x;
}
#patternOuter {
	/* gradient yellow of left bar and main */
	QQbackground-image:url(gradient_yellow.gif);
	background-repeat:repeat-x;
}
.patternPrintPage #patternOuter {
	background:#fff; /* white - do not change */
}
.twikiPageForm table {
	QQbackground-image:url(form_gradient.gif);
	background-repeat:repeat-x;
}


.twikiLeft {
	float:left;
	position:relative;
}
.twikiRight {
	position:relative;
	float:right;
	display:inline;
	margin:0;
}
.twikiClear {
	/* to clean up floats */
	margin:0;
	padding:0;
	height:0;
	line-height:0px;
	clear:both;
	display:block;
}
.twikiHidden {
	display:none;
}



}/*	-----------------------------------------------------------
	STYLE
	Appearance: margins, padding, fonts, borders
	-----------------------------------------------------------	*/
	

/*	----------------------------------------------------------------------------
	CONSTANTS
	
	Sizes
	----------------------------------------
	S1 line-height											1.4em
	S2 somewhat smaller font size							94%
	S3 small font size, twikiSmall							font-size:86%; line-height:110%;
	S4 horizontal bar padding (h2, patternTop)				5px
	S5 form and attachment padding							20px
	S6 left margin left bar									1em

	------------------------------------------------------------------------- */

/* GENERAL HTML ELEMENTS */

/* Links */
/* somehow the foswikiNewLink style have to be before the general link styles */
.foswikiNewLink {
	border-width:0 0 1px 0;
	border-style:solid;
}
.foswikiNewLink a {
	text-decoration:none;
	margin-left:1px;
}
.foswikiNewLink a sup {
	text-align:center;
	padding:0 2px;
	vertical-align:baseline;
	font-size:100%;
	text-decoration:none;
}
.foswikiNewLink a:link sup,
.foswikiNewLink a:visited sup {
	border-width:1px;
	border-style:solid;
	text-decoration:none;
}
.foswikiNewLink a:hover sup {
	text-decoration:none;
}


/* Form elements */
form { 
	display:inline;
	margin:0;
	padding:0;
}
textarea,
input,
select {
	vertical-align:middle;
	border-width:1px;
	border-style:solid;
	font-family:"Lucida Grande", verdana, arial, sans-serif;
}
textarea {
	padding:1px;
}
input,
select option {
	padding:1px;
}
.twikiSubmit,
.twikiButton,
.twikiCheckbox {
	border-width:1px;
	border-style:solid;
	padding:.1em .3em;
	font-size:94%;
	font-weight:bold;
	vertical-align:middle;
}
.twikiCheckbox,
.twikiRadioButton {
	margin:0 .3em 0 0;
	border:0;
}
.twikiInputField {
	border-width:1px;
	border-style:solid;
	padding:.15em .25em;
	font-size:94%; /*S2*/
}
.patternFormButton {
	border:0;
	margin:0 0 0 2px;
}
textarea {
	font-size:100%;
}
blockquote {
	border-style:solid;
	border-width:0 0 0 3px;
	padding:.5em 1.25em;
}


/*	-----------------------------------------------------------
	Plugin elements
	-----------------------------------------------------------	*/

/* TagMePlugin */
.tagMePlugin select {
	font-size:.86em; /* use em instead of % for consistent size */
	margin:0 .25em 0 0;
}
.tagMePlugin input { 
	border:0px;
}

/* EditTablePlugin */
.editTable .twikiTable {
	margin:0 0 2px 0;
}
/*
.editTableInput,
.editTableTextarea {
	font-family:monospace;
}
*/
.editTableEditImageButton {
	border:none;
}

/* TablePlugin */
.twikiTable {
	border-style:solid;
	border-width:1px;
	margin:2px 0;
}
.twikiTable td {
	padding:.25em .5em;
	border-style:none none solid none;
	border-width:0 0 1px 0;
}
.twikiTable th {
	border-style:none none none solid;
	border-width:0 0 0 1px;
	padding:.4em .5em;
}
.twikiTable th.foswikiFirstCol {
	border-left-style:none;
}
.twikiTable a:link,
.twikiTable a:visited {
	text-decoration:underline;
}
.twikiTable a:hover {
	text-decoration:underline;
}

.twikiEditForm {
	margin:0 0 .5em 0;
}


/* TipsContrib */
.tipsOfTheDayContents .tipsOfTheDayTitle {
	font-weight:bold;
}
.patternTopic .tipsOfTheDayHeader {
	display:block;
	padding:3px 5px;
}
.patternTopic .tipsOfTheDayText {
	padding:0 5px 5px 5px;
}
.patternTopic .tipsOfTheDayText a:link,
.patternTopic .tipsOfTheDayText a:visited {
	text-decoration:none;
}
/* TipsContrib - in left bar */
#patternSideBar .tipsOfTheDay {
}
#patternSideBar .tipsOfTheDayHeader img {
	/* hide lamp icon */
	display:none;
}
#patternSideBar .tipsOfTheDayContents {
	padding:.25em .25em .5em .25em;
	height:1%; /* or Win IE won't display a background */
	overflow:hidden;
}
#patternSideBar .tipsOfTheDayHeader {
	display:block;
	font-weight:normal;
}

/* TwistyContrib */
.twistyTrigger a:link,
.twistyTrigger a:visited {
	text-decoration:none;
}
.twistyTrigger a:link .twikiLinkLabel,
.twistyTrigger a:visited .twikiLinkLabel {
	text-decoration:none;
}

/*	-----------------------------------------------------------
	Foswiki styles
	-----------------------------------------------------------	*/

.twikiLast,
.patternTopic .twikiLast,
.foswikiForm .twikiLast,
.twikiTable .twikiLast {
	border-bottom-style:none;
	border-bottom-width:0;
}
#twikiLogin {
	width:40em;
	margin:0 auto;
	text-align:center;
}
#twikiLogin .twikiFormSteps {
	border-width:5px;
}
.twikiAttachments,
.foswikiForm {
	margin:1em 0;
	padding:1px; /* fixes disappearing borders because of overflow:auto; in foswikiForm */
}
.twikiTable h2, .twikiFormTable h2,
.twikiTable h3, .twikiFormTable h3,
.twikiTable h4, .twikiFormTable h4,
.twikiTable h5, .twikiFormTable h5,
.twikiTable h6, .twikiFormTable h6 {
	border:0;
	margin-top:0;
	margin-bottom:0;
}
.twikiFormTable th {
	font-weight:normal;
}
.twikiFormTable .twikiTable th {
	font-weight:bold;
}
.patternEditPage .twikiFormTable td,
.patternEditPage .twikiFormTable th {
	padding:.4em .5em;
	border-style:solid;
	border-width:0 0 1px 0;
	vertical-align:middle;
}

.patternContent .twikiAttachments,
.patternContent .foswikiForm {
	/* form or attachment table inside topic area */
	font-size:94%; /*S2*/
	padding:1em 20px; /*S5*/ /* top:use less padding for the toggle link; bottom:use less space in case the table is folded in  */
	border-width:1px 0 0 0;
	border-style:solid;
	margin:0;
}
.twikiAttachments table,
table.twikiFormTable {
	margin:5px 0;
	border-collapse:collapse;
	padding:0px;
	border-spacing:0px;
	empty-cells:show;
	border-style:solid;
	border-width:1px;
}
.twikiAttachments table {
	line-height:1.4em; /*S1*/
	width:auto;
	voice-family:"\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;
}
.twikiAttachments th {
	border-style:none none solid solid;
	border-width:1px;
}
.twikiAttachments th,
table.twikiFormTable th.twikiFormTableHRow {
	padding:3px 6px;
	height:2.5em;
	vertical-align:middle;
}
table.twikiFormTable th.twikiFormTableHRow {
	text-align:center;
}
.twikiFormTableFooter {}
.twikiAttachments td,
table.twikiFormTable td {
	padding:3px 6px;
	height:1.4em; /*S1*/
	text-align:left;
	vertical-align:top;
}
.twikiAttachments th.foswikiFirstCol,
.twikiAttachments td.foswikiFirstCol {
	/* make more width for the icon column */
	width:26px;
	text-align:center;
}
.twikiAttachments caption {
	display:none;
}
table.twikiFormTable th.twikiFormTableHRow a:link,
table.twikiFormTable th.twikiFormTableHRow a:visited {
	text-decoration:none;
}

.twikiFormSteps {
	text-align:left;
	padding:.25em 0 0 0;
	border-width:1px 0;
	border-style:solid;
}
.twikiFormStep {
	line-height:140%;
	padding:1em 20px; /*S5*/
	border-width:0 0 1px 0;
	border-style:solid;
}
.twikiFormStep h3,
.twikiFormStep h4 {
	font-size:115%;
	border:none;
	margin:0;
	padding:0;
}
.twikiFormStep h3 {
	font-weight:bold;
}
.twikiFormStep h4 {
	font-weight:normal;
}
.twikiFormStep p {
	margin:.3em 0;
}

.twikiToc {
	margin:1em 0;
	padding:.3em 0 .6em 0;
}
.twikiToc ul {
	list-style:none;
	padding:0 0 0 .5em;
	margin:0;
}
.twikiToc li {
	margin-left:1em;
	padding-left:1em;
	background-repeat:no-repeat;
	background-position:0 .5em;
}
.twikiToc .twikiTocTitle {
	margin:0;
	padding:0;
	font-weight:bold;
}

.twikiSmall {
	font-size:86%; line-height:110%; /*S3*/
}
.twikiSmallish {
	font-size:94%; /*S2*/
}
.foswikiNew { }
.foswikiSummary {
	font-size:86%; line-height:110%; /*S3*/
}
.foswikiEmulatedLink {
	text-decoration:underline;
}
.twikiPageForm table {
	border-width:1px;
	border-style:solid;
}
.twikiPageForm table {
	width:100%;
}
.twikiPageForm th,
.twikiPageForm td {
	border:0;
	padding:.5em 1em;
}
.twikiPageForm td {}
.twikiPageForm td.first {
	padding-top:1em;
}
.twikiBroadcastMessage {
	padding:.25em .5em;
	margin:0 0 1em 0;
}
.foswikiHelp {
	padding:1em;
	margin:0 0 -1px 0;
	border-width:1px 0;
	border-style:solid;
}
.foswikiHelp ul,
.foswikiHelp li {
	margin:0;
}
.foswikiHelp ul {
	padding-left:2em;
}
.twikiAccessKey {
	text-decoration:none;
	border-width:0 0 1px 0;
	border-style:solid;
}
a:hover .twikiAccessKey {
	text-decoration:none;
	border:none;
}
.foswikiWebIndent {
	margin:0 0 0 1em;
}
a.twikiLinkInHeaderRight {
	float:right;
	display:block;
	margin:0 0 0 5px;
}
.twikiLinkLabel {}
.twikiImage img {
	padding:3px;
	border-width:1px;
	border-style:solid;
}

.twikiHierarchicalNavigation ul {
	padding:0;
	margin:0;
	list-style:none;
}
.twikiHierarchicalNavigation .twikiCurrentTopic li {
	font-weight:bold;
}
.twikiHierarchicalNavigation .twikiParentTopic li {}
.twikiHierarchicalNavigation .twikiChildTopics li {}


/* WebSearch, WebSearchAdvanced */
#twikiSearchTable {
	background:none;
	border-bottom:0;
} 
#twikiSearchTable th,
#twikiSearchTable td {
	padding:1em;
	border-width:0 0 1px 0;
	border-style:solid;
} 
#twikiSearchTable th {
	width:20%;
	text-align:right;
}
#twikiSearchTable td {
	width:80%;
}

/*	-----------------------------------------------------------
	Search results
	styles and overridden styles used in search.pattern.tmpl
	-----------------------------------------------------------	*/

.patternSearchResults {
	/* no longer used in search.pattern.tmpl, but remains in rename templates */
	margin:0 0 1em 0;
}
.patternSearchResults blockquote {
	margin:1em 0 1em 5em;
}
h3.patternSearchResultsHeader,
h4.patternSearchResultsHeader {
	display:block;
	border-width:0 0 1px 0;
	border-style:solid;
	height:1%; /* or WIN/IE wont draw the backgound */
	font-weight:bold;
}
.patternSearchResults h3 {
	font-size:115%; /* same as twikiFormStep */
	margin:0;
	padding:.5em 20px;
	font-weight:bold;
}
h4.patternSearchResultsHeader {
	font-size:100%;
	padding-top:.3em;
	padding-bottom:.3em;
	font-weight:normal;
}
.patternSearchResult .foswikiTopRow {
	padding-top:.2em;
	margin-top:.1em;
}
.patternSearchResult .twikiBottomRow {
	margin-bottom:.1em;
	padding-bottom:.25em;
	border-width:0 0 1px 0;
	border-style:solid;
}
.patternSearchResult .foswikiAlert {
	font-weight:bold;
}
.patternSearchResult .foswikiSummary .foswikiAlert {
	font-weight:normal;
}
.patternSearchResult .foswikiNew {
	border-width:1px;
	border-style:solid;
	font-size:85%; /*S3*/
	padding:0 1px;
	font-weight:bold;
}
.patternSearchResults .foswikiHelp {
	display:block;
	width:auto;
	padding:.1em 5px;
	margin:1em -5px .35em -5px;
}
.patternSearchResult .twikiSRAuthor {
	width:15%;
	text-align:left;
}
.patternSearchResult .twikiSRRev {
	width:30%;
	text-align:left;
}
.patternSearchResultCount {
	margin:1em 0 3em 0;
}
.patternSearched {
}
.patternSaveHelp {
	line-height:1.5em;
	padding:.5em 20px; /*S5*/
}

/* Search results in book view format */

.patternBookView {
	border-width:0 0 2px 2px;
	border-style:solid;
	/* border color in cssdynamic.pattern.tmpl */
	margin:.5em 0 1.5em -5px;
	padding:0 0 0 5px;
}
.patternBookView .foswikiTopRow {
	padding:.25em 5px .15em 5px; /*S4*/
	margin:1em -5px .15em -5px; /*S4*/
}
.patternBookView .twikiBottomRow {
	font-size:100%;
	padding:1em 0 1em 0;
	width:auto;
	border:none;
}

/* pages that are not view */

.patternNoViewPage #patternMainContents {
	padding-top:1.5em;
}


/* oopsmore.pattern.tmpl */

table.patternDiffOptions {
	margin:.5em 0;
	border:none;
}
table.patternDiffOptions td {
	border:none;
	text-align:center;
}
table.patternDiffOptions img {
	padding:0 10px;
	border-width:1px;
	border-style:solid;
}
table.patternDiffOptions input {
	border:0;
}

/* edit.pattern.tmpl */

.patternEditPage .foswikiForm h1,
.patternEditPage .foswikiForm h2,
.patternEditPage .foswikiForm h3 {
	/* same as twikiFormStep */
	font-size:120%;
	font-weight:bold;
}	
.twikiEditboxStyleMono {
	font-family:"Courier New", courier, monaco, monospace;
}
.twikiEditboxStyleProportional {
	font-family:"Lucida Grande", verdana, arial, sans-serif;
}
.twikiChangeFormButtonHolder {
	margin:.5em 0;
	float:right;
}
.twikiChangeFormButton .twikiButton,
.twikiChangeFormButtonHolder .twikiButton {
	padding:0;
	margin:0;
	border:none;
	text-decoration:underline;
	font-weight:normal;
}
.patternFormHolder { /* constrains the textarea */
	width:100%;
}
.patternSigLine {
	margin:.25em 0 .5em 0;
	padding:0 .5em 0 0;
}
.patternEditPage .patternTopicActions {
	margin:1.5em 0 0 0;
}

/* preview.pattern.tmpl */

.patternPreviewArea {
	border-width:1px;
	border-style:solid;
	margin:0 -0.5em 2em -0.5em;
	padding:.5em;
}

/* rename.pattern.tmpl */

.patternRenamePage .patternTopicAction {
	margin-top:-1px;
}

/* attach.pattern.tmpl */

.patternAttachPage .twikiAttachments table {
	width:auto;
}
.patternAttachPage .patternTopicAction {
	margin-top:-1px;
}
.patternAttachPage .twikiAttachments {
	margin-top:0;
}
.patternAttachForm {
	margin:0 0 3.5em 0;
}
.patternMoveAttachment {
	margin:.5em 0 0 0;
	text-align:right;
}

/* rdiff.pattern.tmpl */

.patternDiff {
	/* same as patternBookView */
	border-width:0 0 2px 2px;
	border-style:solid;
	margin:.5em 0 1.5em -5px;
	padding:0 0 0 5px;
}
.patternDiff h4.patternSearchResultsHeader {
	padding:.5em;
}
.patternDiffPage .patternRevInfo ul {
	padding:0;
	margin:2em 0 0 0;
	list-style:none;
}
.patternDiffPage .twikiDiffTable {
	margin:2em 0;
}
tr.twikiDiffDebug td {
	border-width:1px;
	border-style:solid;
}
.patternDiffPage td.twikiDiffDebugLeft {
	border-bottom:none;
}
.patternDiffPage .twikiDiffTable th {
	padding:.25em .5em;
}
.patternDiffPage .twikiDiffTable td {
	padding:.25em;
}
.twikiDiffLineNumberHeader {
	padding:.3em 0;
}
