<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <title> %TOPIC% %TMPL:P{"titleaction"}% &#171; %WEB% &#171; %WIKITOOLNAME%</title>
  <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />%TMPL:END%
  <link rel="stylesheet" href="%PUBURL%/Plugins/CopyCatSkin/%CCSTYLE%.css" type="text/css" media="screen,projection" />
  <link rel="alternate stylesheet" href="%PUBURL%/Plugins/CopyCatSkin/mt-clean.css" title="clean" type="text/css" media="screen,projection" />
  <link rel="alternate stylesheet" href="%PUBURL%/Plugins/CopyCatSkin/mt-georgia-blue.css" title="georgia-blue" type="text/css" media="screen,projection" />
  <link rel="alternate stylesheet" href="%PUBURL%/Plugins/CopyCatSkin/mt-gettysburg.css" title="gettysburg" type="text/css" media="screen,projection" />
  <link rel="alternate stylesheet" href="%PUBURL%/Plugins/CopyCatSkin/mt-plain-jane.css" title="plain-jane"  type="text/css" media="screen,projection" />
  <link rel="alternate stylesheet" href="%PUBURL%/Plugins/CopyCatSkin/mt-rusty.css" title="rusty" type="text/css" media="screen,projection" />
  <link rel="alternate stylesheet" href="%PUBURL%/Plugins/CopyCatSkin/mt-stormy.css" title="stormy" type="text/css" media="screen,projection" />
  <link rel="alternate stylesheet" href="%PUBURL%/Plugins/CopyCatSkin/mt-trendy.css" title="trendy" type="text/css" media="screen,projection" />
  <style type="text/css">
	  #content {padding:1ex}
  </style>
</head>
<body>
<div id="banner">
 <h1><a href="%WIKILOGOURL%"><img src="%WIKILOGOIMG%" border="0" alt="%WIKILOGOALT%" /></a> %TOPIC% %TMPL:P{"titleaction"}%</h1>
 <span class="description">%TAGLINE%</span>
</div>
<div id="content">
 %TEXT%
 %META{"attachments"}%
</div>
<div id="links">
 <div class="sidetitle">%WIKITOOLNAME% webs</div>
 <div class="side">%WIKIWEBLIST%</div>
 <div class="sidetitle">%WEB% web</div>
 <div class="side">%TMPL:P{"webaction"}%</div>
 <div class="side">
  <form name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%"}%" />
	Go to topic: <input type="text" name="topic" size="10" title="type topic name to search for and press [Enter]" /></form>
 </div>
 <div class="sidetitle">Topic Action</div>
 <div class="side">%TMPL:P{"topicaction"}%</div>
 <div class="sidetitle">Revision</div>
 <div class="side">%REVINFO%</div>
 <div class="sidetitle">Parents</div>
 <div class="side">%META{"parent" prefix=""}%</div>
 <div class="sidetitle">Member Categories</div>
 <div class="side">%META{"moved"}% %META{"form"}%</div>
 <div class="syndicate">
  <a href='%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%"}%/WebChanges?skin=rss'>Syndicate the %WEB% web (XML)</a>
 </div>
 <div class="syndicate">%WEBCOPYRIGHT%</div>
 <div class="powered">
  Powered by <a href="http://twiki.org/">TWiki</a><br />version %WIKIVERSION%
 </div>
</div>
<br clear="all" />
</body>
</html>
%TMPL:DEF{"titleaction"}% %REVTITLE% %TMPL:END%
%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%
%TMPL:DEF{"sep"}% <dd> %TMPL:END%
%TMPL:DEF{"topicaction"}%
  %TMPL:P{"sep"}% %EDITTOPIC%
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Attach</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?scope=text&amp;regex=on&amp;search=%SPACEDTOPIC%%5B%5EA-Za-z%5D">Ref-By</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=print%REVARG%">Printable</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Diffs</a> %REVISIONS%
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&param1=%MAXREV%&param2=%CURRREV%">More</a>%TMPL:END%
