BODY {
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	font-family: verdana, arial, sans-serif;
	font-size: small;
}
FORM {
	margin: 0;
	padding: 0;
	display: inline;
}
INPUT {
	margin: 1px;
	padding: 0;
	font-size: x-small;
}
BUTTON,
INPUT[type="reset"],
INPUT[type="button"],
INPUT[type="submit"] {
	border: 1px solid #315ea3;
	color: #000;
	background: url("menu_over.gif") repeat-x center;
}
BUTTON:hover,
INPUT[type="reset"]:hover,
INPUT[type="button"]:hover,
INPUT[type="submit"]:hover {
	color: #fff;
	background: url("menu_bg.gif") repeat-x center;
}
A {
	color: blue;
}
IMG {
	vertical-align: text-bottom;
}
PRE, CODE, TT {
	color: #630;
	font-size: small;
}
P {
	margin: 1em 0;
}
H1, H2, H3, H4, H5, H6 {
	margin: .8em 0 .4em 0;
	padding: .1em;
	color: #609;
	line-height: 120%;
}
H1 {
	font-size: 2em;
	font-weight: 500;
	margin: 0 0 0.7em 0;
}
H2 {
	font-size: 1.6em;
	font-weight: 500;
}
H3 {
	font-size: 1.2em;
}
H4 {
	font-size: 1.1em;
}
H6 {
	font-size: 0.85em;
}
OL LI, UL LI {
	line-height: 1.3em;
}
:link,
.twikiEmulatedLink {
	color: #00f;
	text-decoration: underline;
}
:visited:hover,
:link:hover {
	color: white;
	background-color: #00f;
	text-decoration: none;
}
.twikiTopic {
	padding: 1em;
}
.twikiTopic H2, .twikiTopic H3, .twikiTopic H4, .twikiTopic H5 {
	border: solid #999;
	border-width: 0 0 1px 0;
}
.twikiTopic H2 {
	background-color: #eee;
}
.PageTitle {
	font-size: 130%;
	font-family: Verdana, Arial, sans-serif;
	color: #333333;
	text-align: center;
	padding: 6px;
}
.PageTitle A {
	text-decoration: none;
}
.PageHeader {
	background-color: #f7f7f7;
}
.HomePathTitle {
	font-size: 70%;
}
.MenuBar {
	padding:2px 10px;
	font: 12px/18px Verdana, Arial, sans-serif;
	background: url("menubar.gif");
}
.MenuBar CENTER {
	padding-top:1px;
	font-weight: bold;
}
.MenuBarRight {
	float: right;
}
#userSignature {
	padding: .5em;
	color: #666;
}
#userSignature INPUT {
	color: #666;
	font-size: small;
	font-weight: bold;
}

.twikiRdiffRevInfo {
	padding: 1em 2em;
	color: #666;
	border: solid #666;
	border-width: 0 0 1px 0;
}
.twikiRevInfo {
	text-align: right;
	font-size: 80%;
	color: #666;
}
.twikiGrayText {
	color: #666;
}
.twikiInputBox {
	margin: 0;
	padding: 0 1px 1px 1px;
	color: black;
	font-size: 10px;
	border: solid 1px #ccc;
	border-color: #aaa #ddd #ddd #aaa;
}
.twikiInputBoxDefault {
	color: #999;
}
.TopicAction {
	margin: 0;
	padding: 0.5em 2em;
	color: #666;
	border: solid #999;
	border-width: 1px 0;
	background-color: #eee;
}
.TopicAction A {
	color: #60c;
	font-weight: bold;
}
.AccessKeyInfo {
	margin: 1em 0 0 0;
	padding: .4em 1em;
	background-color: #def;
	border: solid #9cf;
	border-width: 1px 0;
}
.TWikiCopyright {
	margin: 1em 0 0 0;
	font-size: 80%;
	line-height: 1.3em;
	text-align: center;
}
.twikiRight {
	float: right;
}
.TWikiFooterNote {
	margin: .4em 0 0 0;
	font-size: 80%;
	text-align: center
}
.twikiAccessKey {
	text-decoration: underline;
}
.twikiSubmit {
	border: 1px solid #315ea3;
	color: #fff;
	background: url("menu_bg.gif") repeat-x center;
}
.twikiButton {
	border: 1px solid #315ea3;
	color: #000;
	background: url("menu_over.gif") repeat-x center;
}
INPUT.twikiSubmitDisabled,
INPUT.twikiSubmitDisabled:focus,
INPUT.twikiSubmitDisabled:hover {
	border: 1px solid #666;
	color: #666;
	background: #aaa;
}
.twikiToc {
	margin: 1em 0;
	padding: .3em 0 .6em 0;
}
.twikiToc .twikiTocTitle {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #666;
}
.twikiToc UL {
	list-style: none;
	margin: 0;
	padding: 0 0 0 .5em;
}
.twikiToc LI {
	margin-left: 1.2em;
	padding-left: 1.2em;
}

/* TwistyContrib */
a.twistyTrigger:link,
a.twistyTrigger:visited {
	text-decoration: none;
	color: #06c;
	font-size: 90%;
}
a.twistyTrigger:hover {
	color: #fff;
	background-color: #06c;
}
a:link .twistyLinkLabel,
a:visited .twistyLinkLabel {
	text-decoration: underline;
}

.tipsOfTheDay {
	font-size: 80%;
	background-color: #def;
	border: 1px solid #69c;
}
.tipsOfTheDayHeader {
	display: block;
	padding: 3px;
}
.tipsOfTheDayText {
	padding: 0 3px 3px 3px;
}
.tipsOfTheDayTitle {
	font-weight: bold;
}
.tipsOfTheDayText a:link, .tipsOfTheDayText a:visited {
	text-decoration: none;
}

/* TablePlugin */
.twikiTable,
.twikiTable td,
.twikiTable th {
	border-color: #ccc;
}
.twikiTable th {
	padding: 4px;
}
.twikiTable td {
	padding: 2px 4px;
}
.twikiTable th a:link,
.twikiTable th a:visited,
.twikiTable th a font {
	color: #06c;
	text-decoration: none;
}
.twikiTable th a:hover,
.twikiTable th a:hover font {
	background-color:transparent;
	color: #609;
	border: solid #609;
	border-width: 0 0 1px 0;
}
th.twikiSortedAscendingCol,
th.twikiSortedDescendingCol {
	background-color: #def;
}

.twikiAttachments {
	margin: 0;
	padding: .5em 2em;
	font-size: 90%;
	color: #369;
	border: solid #999;
	border-width: 1px 0 0 0;
	background-color: #f8f1ff;
}
.twikiAttachments TABLE {
	margin: .5em 0 1em 0;
	padding: 0;
	line-height: 1.3em;
	background-color: #fff;
	empty-cells: show;
	border: solid 1px #ccc;
	width: 100%;
}
.twikiAttachments TH {
	padding: 3px 6px;
	height: 2.5em;
	background-color: #fff;
}
.twikiAttachments TD {
	padding: 3px 6px;
	height: 2em;
	vertical-align: top;
	border-width: 0 0 1px 0;
}
.twikiHidden,
.twikiAttachments CAPTION {
	display: none;
}
.twikiHelp {
	padding: 1em;
	background-color: #def;
	border: solid #9cf;
	border-width: 1px 0;
}
.SearchResultsHeader {
	padding: .2em 1em;
	font-weight: bold;
	background-color: #edf;
	border: solid #c9f;
	border-width: 0 0 1px 0;
}
.twikiDiffAddedMarker,
.twikiDiffDeletedMarker {
	padding: .3em;
	font-weight: bold;
}
.twikiNewLink {
	color: #000;
	background-color: #ffc;
	border: dashed #666;
	border-width: 0 0 1px 0;
}
.twikiNewLink a {
	margin: 0 0 0 2px;
	text-decoration: none;
}
.twikiNewLink a sup {
	padding: 0 2px;
	border: solid 1px #666;
	font-size: 100%;
	vertical-align: baseline;
}
.twikiNew {
	padding: 0 2px;
	color: #639;
	background-color: #edf;
	font-weight: bold;
	font-size: 80%;
	border: solid 1px #639;
}
.SearchResults TD {
	padding: .2em;
	vertical-align: top;
}
.SearchResults TH {
	padding: .4em;
	font-size: larger;
	color: #639;
	background: #ccc;
	border: solid #999;
	border-width: 1px 0;
}
.twikiRight {
	float: right;
}
.twikiLeft {
	float: left;
}
.twikiSmall,
.twikiSummary {
	font-size: smaller;
}
.SearchResults .twikiSummary {
	padding: 0 2em 1em 2em;
	border: solid #999;
	border-width: 0 0 1px 0;
}
TABLE#twikiSearchTable {
	border: solid #999;
	border-width: 1px 1px 0 1px;
}
TABLE#twikiSearchTable TH,
TABLE#twikiSearchTable TD {
	padding: 1em;
	border: solid #999;
	border-width: 0 0 1px 0;
}
TABLE#twikiSearchTable TD.first {
	background: #eee;
}
.twikiEditboxStyleMono {
	font: 100% "Courier New", courier, monaco, monospace;
}
.twikiEditboxStyleProportional {
	font: 100% verdana, arial, sans-serif;
}
