%TMPL:INCLUDE{"oops"}%
%TMPL:DEF{"titleaction"}% %TMPL:END%
%TMPL:DEF{"webaction"}%&nbsp;%TMPL:END%
%TMPL:DEF{"heading"}%Errors in %PARAM3% for %PARAM1%%TMPL:END%
%TMPL:DEF{"message"}%
%PARAM2%
%TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%TOPIC%][OK]] %TMPL:END%
%TMPL:P{"oops"}%
