%WEBNAME% -

Review recent changes in:
  %SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/WebChanges

Subscribe / Unsubscribe in:
  %SCRIPTURL%/view%SCRIPTSUFFIX%/%MAINWEB%/%WIKINAME%NotifyList
or
  %SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%NOTIFYTOPIC%
%REPEAT%

- %TOPICNAME%  (%AUTHOR%)   %TIME%  %REVISION%
    %URL%
%REPEAT%
 
