%TMPL:INCLUDE{"foswiki"}%

%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
<body bgcolor="#ffffff">
<form name="main">
#PageTop
%TMPL:DEF{"titleaction"}%(changes) %TMPL:END%
%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%
%TMPL:P{"standardheader"}%
</form>

%REPEAT%
<table width="100%" border="0" cellpadding="0" cellspacing="4">
<tr>
  <td width="50%">
    <b>Topic:</b>
  </td><td width="30%">
    <b>Changed:</b> now %DISPLAYTIME{"$hour:$min"}% 
  </td><td width="20%">
    <b>Changed by:</b>
  </td>
</tr>
</table>
%REPEAT%<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="50%">
    <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a>
    <b><font color="red">%LOCKED%</font></b>
  </td><td width="30%">
    <a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TIME%</a> - %REVISION%
  </td><td width="20%">
    %AUTHOR%
  </td>
</tr>
<tr>
  <td colspan="2" width="80%">
    <font size="-1">
    %TEXTHEAD% </font>
  </td><td width="20%">
    &nbsp;
  </td>
</tr></table>
%REPEAT%<p />
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"standardfooter"}%
#PageBottom
</body>
</html>
