From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %EMAILTO%
Subject: %WIKITOOLNAME%.%WEB% - Automated notification of topic changes
MIME-Version: 1.0
Content-Type: multipart/mixed; boundary="------------2D594AE113AD25493C2C7246"

This is a multi-part message in MIME format.
--------------2D594AE113AD25493C2C7246
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 8bit

This is an automated email from %WIKITOOLNAME%.

New or changed topics in %WIKITOOLNAME%.%WEB%, since %LASTDATE%:
%TOPICLIST%

Review recent changes in:
  %SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/WebChanges

Subscribe / Unsubscribe in:
  %SCRIPTURL%/view%SCRIPTSUFFIX%/%MAINWEB%/%WIKNAME%NotifyList
or
  %SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%NOTIFYTOPIC%

--------------2D594AE113AD25493C2C7246--
