%TMPL:INCLUDE{"foswiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title> %TOPIC% %TMPL:P{"titleaction"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" /> <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
</head>
<body bgcolor="#ffffff">
#PageTop
<form name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%">
%TMPL:DEF{"titleaction"}% %REVTITLE% %TMPL:END%
%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%
%TMPL:P{"standardheader"}%
</form>
%NTF{}%
%TEXT%
%META{"form"}%
%META{"attachments"}%
%TMPL:DEF{"topicaction"}%
  %EDITTOPIC%
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Attach</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?%KNOWWEBSEARCHALL%scope=text&amp;casesensitive=on&amp;regex=on&amp;search=%28%5E%7C%5B%5EA-Za-z%5D%29%TOPIC%%28%5B%5EA-Za-z%5D%7C%24%29">Ref-By</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?web=all&amp;scope=text&amp;casesensitive=on&amp;regex=on&amp;search=%28%5E%7C%5B%5EA-Za-z%5D%29%WEB%.%TOPIC%%28%5B%5EA-Za-z%5D%7C%24%29">All Ref-By</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/publish%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Publish</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TREETOPIC%?treeweb=%WEB%&treetopic=%TOPIC%">Tree</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=print%REVARG%">Printable</a>
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Diffs</a> %REVISIONS%
  %TMPL:P{"sep"}% <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&param1=%MAXREV%&param2=%CURRREV%">More</a> %TMPL:END%
%TMPL:P{"standardfooter"}%
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
  <td valign="top">
   Revision %REVINFO% %META{"parent" prefix="<br />Parents: "}%
  </td>
  <td width="40%" valign="top">
   %WEBCOPYRIGHT%
  </td>
 </tr>
 <tr><td colspan="2"> %META{"moved"}% </td></tr>
</table>
#PageBottom
</body>
</html>
