%TMPL:INCLUDE{"twiki.classic"}%

%TMPL:DEF{"webaction"}% TWiki User Authentication %TMPL:END%
%TMPL:DEF{"titleaction"}%(login) %TMPL:END%
%TMPL:DEF{"LOG_IN_BANNER"}%Please enter your username and password%TMPL:END%
%TMPL:DEF{"LOGGED_IN_BANNER"}% %MAINWEB%.%WIKINAME% is currently logged in%TMPL:END%
%TMPL:DEF{"NEW_USER_NOTE"}%Enter a new username and password to change identity%TMPL:END%
%TMPL:DEF{"UNRECOGNISED_USER"}%Unrecognised user and/or password.%TMPL:END%

%TMPL:DEF{"rememberbox"}%</td></tr><tr><td colspan='2'><input id='remember' name='remember' type='checkbox' value='1' />&nbsp;<label for='remember'>%MAKETEXT{"Remember me"}%</label>%TMPL:END%

%TMPL:DEF{"topbar"}%<div class="twikiTopBar">
 <div class="twikiTopBarContents">
  <img src="%WIKILOGOIMG%" border="0" alt="%WIKILOGOALT%"/>
 </div>
</div>%TMPL:END%

%TMPL:DEF{"message"}%
---+ %BANNER%
%NOTE%
%MAKETEXT{"Enter your TWiki.LoginName. (Typically First name and last name, no space, no dots, capitalized, e.g. !JohnSmith, unless you chose otherwise). Visit %SYSTEMWEB%.UserRegistration if you do not have one."}%
<form action='%SCRIPTURLPATH{"login"}%/%WEB%/%TOPIC%' method='post'>
<table border='0'>
<tr><th>Username</th><td>
<input type='text' size='30' name='username' value='%URLPARAM{"username"}%'  %TMPL:P{context="no_auto_complete_login" then="autocomplete_off"}% />
</td></tr><tr><th>Password</th><td>
<input type='password' size='30' name='password' value=''  %TMPL:P{context="no_auto_complete_login" then="autocomplete_off"}% />
%TMPL:P{context="can_remember_login" then="rememberbox"}%
</td></tr></table>
<literal>
%QUERYPARAMS{encoding="entity" format="<input type='hidden' name='$name' value='$value' />"}%
</literal>
<input type="hidden" name="origurl" value="%ORIGURL%" />
<input type='submit' value='Logon' />
%IF{"$ERROR" then="%BR% _Error: %ERROR%._"}%
</form>
<p />
%TMPL:END%

%TMPL:DEF{"autocomplete_off"}% autocomplete='off' %TMPL:END%

%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%

