%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops)%TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Vote Access Denied%TMPL:END%
%TMPL:DEF{"message"}%
You do not have permission to vote for poll <nop>%WEB%.<nop>%TOPIC%.

Contact
<a href="mailto:%WIKIWEBMASTER%?subject=Vote&#32;Access&#32;Denied&#32;for&#32;'%WEB%.%TOPIC%'">%WIKIWEBMASTER%</a>
if you have any questions.

__Related topics:__ %MAINWEB%.TWikiGroups, %SYSTEMWEB%.TWikiAccessControl %TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%TOPIC%][OK]] %TMPL:END%
%TMPL:P{"oops"}%
