%{ This is a default template }%%TMPL:INCLUDE{"login"}%

%TMPL:DEF{"title"}%<img src="%PUBURL%/%SYSTEMWEB%/JoomlaUsersContrib/JoomlaIcon.png" style="float:right; border:20px;"/>
---++ %MAKETEXT{"Please enter your Joomla username and password"}%
%TMPL:END%

