%TMPL:INCLUDE{"attach"}%
<!-- template: attachnew.nat.tmpl -->
%TMPL:DEF{"previousdetails"}%<h2>%MAKETEXT{"Attach file to [_1]" args="%TOPIC%"}%</h2>%TMPL:END% 
%TMPL:DEF{"attachaction"}% <!-- -->
<input type="submit" class="natFormOkButton" value='%MAKETEXT{"Upload file"}%' />
<input type="button" class="natFormCancelButton" value='%MAKETEXT{"Cancel"}%' onclick="window.location.href = '%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%';">
%TMPL:END%
%TMPL:DEF{"notes"}% <!-- -->
<p> %MAKETEXT{"*Link checkbox*: In case the attached file is a JPG, GIF or PNG image and you check the box, 
  it will create an inline image (e.g. show the image) at the end of the topic.  For other
  file types a simple link will be created."}%
</p>
<p>
  %MAKETEXT{"*Properties*: Click on _manage_ of an existing attachment to change its properties."}%
</p>
%TMPL:END%
