%TMPL:INCLUDE{"page"}% 
<!-- template: changeform.nat.tmpl -->
<!-- -->%TMPL:INCLUDE{"changeformbody"}% 
<!-- -->%TMPL:INCLUDE{"changeformtopicactions"}% 
<!-- -->%TMPL:INCLUDE{"changeformsidebar"}% 
<!-- -->%TMPL:INCLUDE{"changeformjavascript"}%
<!-- -->%TMPL:INCLUDE{"changeformstyles"}%
%TMPL:DEF{"bodyclass"}%natChangeFormBody%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"edit"}%)%TMPL:END%
%TMPL:DEF{"content"}% <!-- -->
<form name="EditForm" method="post" action="%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$year$mo$day$hours$minutes$seconds"}%">
  <input type="hidden" name="topicparent" value="%TOPICPARENT%" />
  <input type="hidden" name="redirectto" value="%REDIRECTTO%" />
%TEXT%
  <input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
  <input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
---+ %MAKETEXT{"Choose a new form for [_1]" args="[[%TOPIC%]]"}%
<ul>
%FORMLIST%
</ul>
<p>
<blockquote>
  <input type="submit" class="natOkButton" name="submit" value='%MAKETEXT{"OK"}%' accesskey="o" />&nbsp;
  <input type="button" class="natCancelButton" value='%MAKETEXT{"Cancel"}%' accesskey="c" onclick="history.back()">
</blockquote>
</form>
%TMPL:END%
