<!-- template: defaultjavascript.nat.tmpl -->
%TMPL:DEF{"defaultjavascript"}%<script type="text/javascript">
<!--
function addLoadEvent(func){
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
    window.onload = function() {
      func();
    }
  } else {
    window.onload = function() {
      oldonload();
      func();
    }
  }
}
function initNatSkin() {
  %TMPL:P{"onloadscript"}%
}
addLoadEvent(initNatSkin);
//-->
</script>%TMPL:END%
%TMPL:DEF{"javascript"}%%TMPL:P{"defaultjavascript"}%%TMPL:END%
