<!-- template: defaultbody.nat.tmpl -->
%TMPL:DEF{"defaultbody"}% 
<a name="PageTop"></a>
<table class="natPageBox" cellpadding="0" cellspacing="0" border="0" width="100%">
<tr><td class="natBoxBorderTopLeft"> </td><td class="natBoxBorderTopRight"> </td></tr>
<tr>
  <td class="natBoxBorderLeft">
    <div class="natBodyContents">
      <table class="natLayoutTable natHeaderArt" id="natHeaderArt" cellpadding="0" cellspacing="0" border="0" width="100%">
%TMPL:P{"topbar"}%
      %IFSKINSTATETHEN{sidebar="left|both|off"}%
      </table>
      <table class="natLayoutTable" cellpadding="0" cellspacing="0" border="0" width="100%">
      %FISKINSTATE%
	<tr>
	  %IFSKINSTATETHEN{sidebar="left|both"}%
	  <td class="natMiddle natMiddleLeft natSideBar natSideBarLeft" rowspan="2" valign="top">
	    <div class="natSideBarContents">
%TMPL:P{"leftsidebar"}%
	    </div>
	  </td>
	  %FISKINSTATE%
	  <td class="natMain natMiddle %IFSKINSTATE{sidebar="right|off" then="natMiddleLeft natMainLeft"}% %IFSKINSTATE{sidebar="left|off" then="natMiddleRight natMainRight"}% %IFSKINSTATE{sidebar="off" then="natMiddleBoth natMainBoth"}%" valign="top">
	    <div class="natMainHeaderContents">
%TMPL:P{"contentheader"}%
	    </div>
%TMPL:P{"broadcast"}% <!-- -->
	    <div class="natMainContents"> %TMPL:P{"content"}% </div>
	  </td> 
	  %IFSKINSTATETHEN{sidebar="right|both"}%
	  <td class="natMiddle natMiddleRight natSideBar natSideBarRight"  rowspan="2" valign="top">
	    <div class="natSideBarContents">
%TMPL:P{"rightsidebar"}%
	    </div>
	  </td> 
	  %FISKINSTATE%
	</tr>
	<tr>
	  <td class="natMainFooter natMiddle %IFSKINSTATE{sidebar="right|off" then="natMiddleLeft natMainFooterLeft"}% %IFSKINSTATE{sidebar="left|off" then="natMiddleRight natMainFooterRight"}%  %IFSKINSTATE{sidebar="off" then="natMiddleBoth natMainFooterBoth"}%" valign="bottom">
	    <div class="natMainFooterContents">%TMPL:P{"contentfooter"}%</div>
	  </td>
	</tr>
      </table> 
      <div class="natBottomBar %IFSKINSTATE{sidebar="right|off" then="natBottomBarLeft"}% %IFSKINSTATE{sidebar="left|off" then="natBottomBarRight"}% %IFSKINSTATE{sidebar="off" then="natBottomBarBoth"}%">
	<div class="natBottomBarContents">
	  <div class="natCopyRight">%WEBCOPYRIGHT%</div>
	  <div class="natSyndicate">
	    %IFDEFINEDTHEN{"%WEBSYNDICATION%"}%
	      %WEBSYNDICATION%
	    %ELSEDEFINED%
	      %MAKETEXT{"Syndicate this site"}% 
	      <a class="natFeedIcon" href="%SCRIPTURL{"view"}%/%WEB%/WebRss">RSS</a><a class="natFeedIcon" href="%SCRIPTURL{"view"}%/%WEB%/WebAtom">ATOM</a>
	    %FIDEFINED%
	  </div>
	</div>
      </div>
    </div>
  </td>
  <td class="natBoxBorderRight"></td>
</tr>
<tr><td class="natBoxBorderBottomLeft"> </td><td class="natBoxBorderBottomRight"> </td></tr>
</table>
<a name="PageBottom"></a>
%TMPL:END%
%TMPL:DEF{"body"}%%TMPL:P{"defaultbody"}%%TMPL:END%
