<!-- template: defaultsidebar.nat.tmpl -->
%TMPL:DEF{"defaultsidebar"}% 
%IFSKINSTATETHEN{style="Pattern"}%
<div class="natSideBarTitle">
  <h1 style="background:%WEBBGCOLOR%">%BASEWEB%</h1>
</div>
%$nopIFSKINSTATETHEN{searchbox="pos1"}%
<div class="natSearchBox natSearchBoxPos1">
%$nopTMPL:P{"searchbox"}%
</div>
%$nopFISKINSTATE% <!-- -->
%$nopWEBCOMPONENT{"WebLeftBar"}%
%ELSESKINSTATE%
%$nopIFSKINSTATETHEN{searchbox="pos1"}%
<div class="natSearchBox natSearchBoxPos1">
%$nopTMPL:P{"searchbox"}%
</div>
%$nopFISKINSTATE% <!-- -->
%$nopWEBCOMPONENT{"WebSideBar"}% 
%FISKINSTATE%
%TMPL:END%
%TMPL:DEF{"sidebar"}%%TMPL:P{"defaultsidebar"}% 
%IFSKINSTATETHEN{searchbox="pos3"}%
<div class="natSearchBox natSearchBoxPos3">
%$nopTMPL:P{"searchbox"}%
</div>
%FISKINSTATE%
%TMPL:END%
%TMPL:DEF{"leftsidebar"}% 
%IFSKINSTATETHEN{sidebar="left|both"}%
%$nopTMPL:P{"sidebar"}% 
%FISKINSTATE%
%TMPL:END%
%TMPL:DEF{"rightsidebar"}%  
%IFSKINSTATETHEN{sidebar="both"}%
%$nopWEBCOMPONENT{"WebRightBar"}%
%ELSIFSKINSTATE{sidebar="right"}%
%$nopTMPL:P{"sidebar"}%
%FISKINSTATE%
%TMPL:END%
