%TMPL:INCLUDE{"edit"}%
<!-- template: editform.nat.tmpl -->
<!-- -->%TMPL:INCLUDE{"editformbody"}%
<!-- -->%TMPL:INCLUDE{"editformtopicactions"}%
<!-- -->%TMPL:INCLUDE{"editformsidebar"}%
<!-- -->%TMPL:INCLUDE{"editformjavascript"}%
<!-- -->%TMPL:INCLUDE{"editformstyles"}%
<!-- -->%TMPL:INCLUDE{"editformtoolbar"}%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"edit form"}%)%TMPL:END%
%TMPL:DEF{"content"}% <!-- -->
<div class="natEdit">
<form name="EditForm" method="post" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%">
  <input type="hidden" name="action_preview" value="" />
  <input type="hidden" name="action_save" value="" />
  <input type="hidden" name="action_checkpoint" value="" />
  <input type="hidden" name="action_addform" value="" />
  <input type="hidden" name="action_replaceform" value="" />
  <input type="hidden" name="action_cancel" value="" />
  <input type="hidden" name="settingstopic" value="%SETTINGSTOPIC%" />
  <input type="hidden" name="templatetopic" value="%TEMPLATETOPIC%" />
  <input type="hidden" name="submitChangeForm" value="" />
  <input type="hidden" name="editaction" value="form" />
  <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
  <input type="hidden" name="redirectto" value="%REDIRECTTO%" />
  <input type="hidden" name="originalrev" value="%ORIGINALREV%" />
  <input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
  <input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
  <input type="hidden" name="cmd" value="%CMD%" /> %TMPL:P{"edittoolbar"}%
  <textarea name="text" rows="10" cols="80" style="display:none">%TEXT%</textarea>
</div>
%FORMFIELDS%
%TMPL:P{"bottomtopicactions"}%
%TMPL:P{"editoptions"}%
</form> %TMPL:END%
