<!-- template: edittoolbar.nat.tmpl -->
%TMPL:DEF{"edittoolbar"}%<div class="natEditToolBar">%TMPL:P{"texttools"}%%TMPL:P{"headlinetools"}% %TMPL:P{"paragraphtools"}% %TMPL:P{"objecttools"}% %TMPL:P{"edittools"}%%TMPL:P{"exittools"}%%TMPL:P{"helptools"}%</div>%TMPL:END%
%TMPL:DEF{"texttools"}%<span class="natEditTextTools"><!--
--><a class="natEditBoldButton" accesskey="b" href="javascript:natEditBoldButtonAction();"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_bold.png" alt='%MAKETEXT{"Bold text"}%' title='%MAKETEXT{"Bold text"}%'/></a><!--
--><a class="natEditItalicButton" accesskey="i" href="javascript:natEditItalicButtonAction();"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_italic.png" alt='%MAKETEXT{"Italic text"}%' title='%MAKETEXT{"Italic text"}%' /></a><!--
--><a class="natEditUnderlinedButton" accesskey="_" href="javascript:natEditUnderlinedButtonAction();"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_underlined.png" alt='%MAKETEXT{"Underlined text"}%' title='%MAKETEXT{"Underlined text"}%' /></a><!--
--><a class="natEditStrikeButton" accesskey="-" href="javascript:natEditStrikeButtonAction();"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_strike.png" alt='%MAKETEXT{"Strike through text"}%' title='%MAKETEXT{"Strike through text"}%' /></a><!--
--><a class="natEditSubButton" accesskey="l" href="javascript:natEditSubButtonAction();"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_sub.png" alt='%MAKETEXT{"Subscript text"}%' title='%MAKETEXT{"Subscript text"}%' /></a><!--
--><a class="natEditSupButton" accesskey="^" href="javascript:natEditSupButtonAction()"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_super.png" alt='%MAKETEXT{"Superscript text"}%' title='%MAKETEXT{"Superscript text"}%'/></a><!--
--></span>%TMPL:END%
%TMPL:DEF{"paragraphtools"}%<span class="natEditParagraphTools"><!--
--><a class="natEditLeftButton" accesskey="&lt;" href="javascript:natEditLeftButtonAction();"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_left.png" alt='%MAKETEXT{"Align left"}%' title='%MAKETEXT{"Align left"}%'/></a><!--
--><a class="natEditCenterButton" accesskey="." href="javascript:natEditCenterButtonAction()"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_center.png" alt='%MAKETEXT{"Center text"}%' title='%MAKETEXT{"Center align"}%'/></a><!--
--><a class="natEditRightButton" accesskey="&gt;" href="javascript:natEditRightButtonAction()"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_right.png" alt='%MAKETEXT{"Align right"}%' title='%MAKETEXT{"Align right"}%' /></a><!--
--><a class="natEditJustifyButton" accesskey="j" href="javascript:natEditJustifyButtonAction()"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_justify.png" alt='%MAKETEXT{"Justify text"}%' title='%MAKETEXT{"Justify text"}%' /></a><!--
--></span>%TMPL:END%
%TMPL:DEF{"objecttools"}%<span class="natEditObjectTools"><!--
--><a class="natEditExtButton" accesskey="/" href="javascript:natEditExtButtonAction()"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_ext.png" alt='%MAKETEXT{"External link"}%' title='%MAKETEXT{"External link"}%' /></a><!--
--><a class="natEditIntButton" accesskey="[" href="javascript:natEditIntButtonAction()"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_int.png" alt='%MAKETEXT{"Internal link"}%' title='%MAKETEXT{"Internal link"}%' /></a><!--
--><a class="natEditImageButton" accesskey="g" href="javascript:natEditImageButtonAction()"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_image.png" alt='%MAKETEXT{"Embed image"}%' title='%MAKETEXT{"Embed image"}%' /></a><!--
--><a class="natEditMathButton" accesskey="m" href="javascript:natEditMathButtonAction()"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_formula.png" alt='%MAKETEXT{"Mathematical formula (<nop>LaTeX)"}%' title='%MAKETEXT{"Mathematical formula (<nop>LaTeX)"}%' /></a><!--
--><a class="natEditVerbatimButton" accesskey="v" href="javascript:natEditVerbatimButtonAction()"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_verbatim.png" alt='%MAKETEXT{"Ignore wiki formatting"}%' title='%MAKETEXT{"Ignore wiki formatting"}%' /></a><!--
--><a class="natEditSignatureButton" accessKey="z" href="javascript:natEditSignatureButtonAction(' - %DATE%','%WIKIUSERNAME%')"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_signature.png" alt='%MAKETEXT{"Your signature with timestamp"}%' title='%MAKETEXT{"Your signature with timestamp"}%' /></a><!--
--></span>%TMPL:END%
%TMPL:DEF{"headlinetools"}%<span class="natEditHeadlineTools"><!--
--><a class="natEditH1Button" accesskey="1" href="javascript:natEditHeadlineButtonAction(1)" /><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_h1.png" alt='%MAKETEXT{"Level 1 headline"}%' title='%MAKETEXT{"Level 1 headline"}%' /></a><!--
--><a class="natEditH2Button" accesskey="2" href="javascript:natEditHeadlineButtonAction(2)" /><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_h2.png" alt='%MAKETEXT{"Level 2 headline"}%' title='%MAKETEXT{"Level 2 headline"}%' /></a><!--
--><a class="natEditH3Button" accesskey="3" href="javascript:natEditHeadlineButtonAction(3)" /><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_h3.png" alt='%MAKETEXT{"Level 3 headline"}%' title='%MAKETEXT{"Level 3 headline"}%' /></a><!--
--><a class="natEditH4Button" accesskey="4" href="javascript:natEditHeadlineButtonAction(4)" /><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_h4.png" alt='%MAKETEXT{"Level 4 headline"}%' title='%MAKETEXT{"Level 4 headline"}%' /></a><!--
--></span>%TMPL:END%
%TMPL:DEF{"helptools"}%<span class="natEditHelpTools"><!--
--><a class="natEditHelpButton" accesskey="?" href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/TextFormattingRules" target="_blank"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_help.png" alt='%MAKETEXT{"Help"}%' title='%MAKETEXT{"Help"}%' /></a><!--
--></span>%TMPL:END%
%TMPL:DEF{"edittools"}%<span class="natEditEditTools"><!--
--><a class="natEditPreviewButton" href="javascript:submitEditForm('preview','preview');" accesskey="p"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_preview.png" alt='%MAKETEXT{"Preview your changes"}%' title='%MAKETEXT{"Preview your changes"}%' /></a><!--
-->%FORMBUTTON{"<a href=\"$url\" accesskey="f"><img src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_form.png' alt='$action' title='$action' /></a>"}%<!--
--><a class="natEditUndoButton" href="javascript:self.location.reload();" accesskey="u" title='%MAKETEXT{"Abandon your changes but continue editing"}%'><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_undo.png" alt='%MAKETEXT{"Abandon your changes but continue editing"}%' title='%MAKETEXT{"Abandon your changes but continue editing"}%' /></a><!--
--><a class="natEditSaveButton" href="javascript:submitEditForm('save','checkpoint');" accesskey="s"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_save.png" alt='%MAKETEXT{"Save and continue editing"}%' title='%MAKETEXT{"Save and continue editing"}%' /></a><!--
--></span>%TMPL:END%
%TMPL:DEF{"exittools"}%<span class="natEditExitTools"><!--
--><a class="natEditDoneButton" href="javascript:submitEditForm('save', 'save');" accesskey="d"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_done.png" alt='%MAKETEXT{"Save and exit"}%' title='%MAKETEXT{"Save and exit"}%' /></a><!--
--><a class="natEditCancelButton" href="javascript:submitEditForm('save', 'cancel');" accesskey="c" title='%MAKETEXT{"Abandon your changes and exit"}%'><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_cancel.png" alt='%MAKETEXT{"Cancel and abandon changes"}%' title='%MAKETEXT{"Cancel and abandon changes"}%' /></a><!--
--></span>%TMPL:END%
