%TMPL:INCLUDE{"page"}% 
<!-- template: edit.nat.tmpl -->
<!-- -->%TMPL:INCLUDE{"editbody"}%
<!-- -->%TMPL:INCLUDE{"edittopicactions"}%
<!-- -->%TMPL:INCLUDE{"editjavascript"}%
<!-- -->%TMPL:INCLUDE{"editstyles"}%
<!-- -->%TMPL:INCLUDE{"edittoolbar"}%
%TMPL:DEF{"bodyclass"}%natEditBody%TMPL:END%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_EDIT% %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% - (%MAKETEXT{"edit"}%)%TMPL:END%
%TMPL:DEF{"onloadscript"}%document.EditForm.text.focus();%TMPL:END%
%TMPL:DEF{"locator"}%<span class="natSep">&middot;</span>[[WebHome][%WEB%]]<span class="natSep">&middot;</span><b>%TOPIC%</b>%TMPL:END%
%TMPL:DEF{"contentheader"}%<div class="natBreadCrumbs">%BREADCRUMBS{"%BASEWEB%.%BASETOPIC%" exclude="%BASETOPIC%" separator="<span class='natSep'>&nbsp;&#187; </span>" footer="<span class='natSep'>&nbsp;&#187; </span> <nop>%BASETOPIC%"}%</div>%TMPL:END%
%TMPL:DEF{"content"}% <!-- -->
<div class="natEdit">
<form name="EditForm" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%" method="post">
  <input type="hidden" name="action_preview" value="" />
  <input type="hidden" name="action_save" value="" />
  <input type="hidden" name="action_checkpoint" value="" />
  <input type="hidden" name="action_addform" value="" />
  <input type="hidden" name="action_replaceform" value="" />
  <input type="hidden" name="action_cancel" value="" />
  <input type="hidden" name="submitChangeForm" value="" />
  <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
  <input type="hidden" name="templatetopic" value="%TEMPLATETOPIC%" />
  <input type="hidden" name="originalrev" value="%ORIGINALREV%" />
  <input type="hidden" name="redirectto" value="%REDIRECTTO%" />
  <input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
  <input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
  <input type="hidden" name="newtopic" value="%NEWTOPIC%" />
  <input type="hidden" name="cmd" value="%CMD%" />
  <input type="hidden" name="forcenewrevision" value="%URLPARAM{"forcenewrevision"}%" />
  <input type="hidden" name="rev" value="%URLPARAM{"rev"}%" /> %TMPL:P{"edittoolbar"}%
  <textarea id="natEditTextArea" name="text" wrap="virtual" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style="%EDITBOXSTYLE%">%TEXT%</textarea>
</div>
%FORMFIELDS%
%TMPL:P{"bottomtopicactions"}%
%TMPL:P{"editoptions"}%
</form> %TMPL:END%
%TMPL:DEF{"editoptions"}%<!-- -->
%TWISTY{id="editoptions" mode="div" showlink="More" hidelink="Less" remember="on"}%
<div class="natSubmitOptions">
---+++ Options
<table><tr>
<td valign="middle" align="right" class="twikiFirstCol">
  <b><label for="parent">%MAKETEXT{"Parent topic"}%:</b></label>
</td>
<td valign="middle">
  <select id="parent" name="topicparent">
    <option>none</option>
    %TOPICLIST{"<option value='$name' $marker>$name</option>" 
      separator="$n" 
      selection="%BREADCRUMBS{"%URLPARAM{"topicparent"}%"
	recurse="%IFDEFINED{"%URLPARAM{"topicparent"}%" then="off" else="once"}%"
      	exclude="%WEBHOME%|%WEB%|%TOPIC%"
    	format="$name"
      }%"
    }%
  </select>
</pre>
</td>
</tr>
<tr>
  <td valign="middle" align="right" class="twikiFirstCol">
    <b><label for="dontnotify">%MAKETEXT{"Minor changes"}%:</b></label>
  </td>
  <td valign="middle">
    <input type="checkbox" id="dontnotify" name="dontnotify" %DONTNOTIFYCHECKBOX% />
  </td>
</tr>
<tr>
  <td valign="middle" align="right" class="twikiFirstCol">
    <b><label for="forcenewrevision">%MAKETEXT{"Force new revision"}%:</label></b>
  </td>
  <td valign="middle">
    <input type="checkbox" class="twikiCheckbox" title='%MAKETEXT{"Creates a new topic revision when saving"}%' id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% />
  </td>
</tr>
</table> 
</div>
%TMPL:P{"edithelp"}% 
%ENDTWISTY% 
%TMPL:END%
%TMPL:DEF{"edithelp"}%<!-- -->
<div class="natEditHelp">
---+++ %MAKETEXT{"Access keys"}%
<table cellpadding="10">
<tr>
<td valign="top">
   * B = Bold
   * I = Bold
   * _ = Underline
   * - = Strike

   * l = Subscript
   * ^ = Superscript

   * 1 = Level 1 headline 
   * 2 = Level 2 headline 
   * 3 = Level 3 headline 
   * 4 = Level 4 headline 
</td>
<td valign="top">
   * &lt; = Align left
   * &gt; = Align right
   * . = Center align
   * J = Justify align

   * / = External link
   * [ = Internal link

   * G = Embed image
   * M = Mathematic formula
   * V = Ignore wiki formatting
   * Z = Your signature
</td>
<td valign="top">
   * C = Cancel
   * D = Done
   * F = Add form
   * P = Preview
   * S = Save
   * U = Undo

   * ? = Help
</td>
</tr>
</table>
---+++ %MAKETEXT{"Documentation"}%
<table cellpadding="10">
<tr>
<td valign="top">
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/GoodStyle" target="_blank">%MAKETEXT{"GoodStyle"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/TextFormattingRules" target="_blank">%MAKETEXT{"TextFormatting"}%</a> 
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/TWikiVariables" target="_blank">%MAKETEXT{"Variables"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/FormattedSearch" target="_blank">%MAKETEXT{"Formatted Search"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/TWikiForms" target="_blank">%MAKETEXT{"Form based input"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/IncludeTopicsAndWebPages" target="_blank">%MAKETEXT{"Including"}%</a>
</td>
</tr>
</table>
---+++ %MAKETEXT{"Plugins"}%
<table cellpadding="10">
<tr>
<td valign="top">
%FORMATLIST{
  "%ACTIVATEDPLUGINS%" 
  separator=" " 
  header="<ul>"
  format="<li><a href=\"$percntSCRIPTURLPATH{\"view\"}$percnt/%SYSTEMWEB%/$1\" target=\"_blank\">$1</a></li>" 
  footer="</ul>"
  pattern="(\w+)$" 
  sort="on"
}%
</td>
</tr>
</table>
</div>
%TMPL:END%
