%TMPL:INCLUDE{"oops"}%
%TMPL:INCLUDE{"messages"}%
<!-- template: oopsleaseconflict.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Conflict"}%%TMPL:END%
%TMPL:DEF{"lease_active"}%<!-- -->
%MAKETEXT{"[_1] is editing [_2]." args="%PARAM1%, %WEB%.%TOPIC%"}%

%MAKETEXT{"[_1] has been editing the topic for [_2] and the lease is still active for another [_3]."
 args="%PARAM1%,%PARAM2%,%PARAM3%"}%

%MAKETEXT{"It is probably OK to go ahead and edit - unless you intend to change data in a
form attached to the topic. If [_1] actually _does_ save the topic while
you are editing, your changes will be merged, and nothing will be lost. Form
data cannot easily be merged though, so in this case you are recommended to
check with [_1] first." args="%PARAM1%"}%

%TMPL:END%
%TMPL:DEF{"lease_old"}% <!-- -->
%MAKETEXT{"[_1] may still be editing [_2]." args="%PARAM1%, %WEB%.%TOPIC%"}%

%MAKETEXT{"The lease on this topic expired [_1] ago." args="%PARAM2%"}%

%MAKETEXT{"The chances are good that [_1] has simply navigated away from the edit page without saving." args="%PARAM1%"}%

%MAKETEXT{"You are encouraged to go ahead and edit - unless you intend to change data in a
form attached to the topic. If [_1] actually _does_ save while you are editing,
your changes will be merged, and nothing will be lost. Form data cannot easily
be merged though, so in this case you are recommended to check with [_1]
first." args="%PARAM1%"}%
%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%{ Instantiate either lease_active or lease_old }%
%INSTANTIATE%

<ul>
  <li> %MAKETEXT{"To edit the topic anyway, hit 'Edit Anyway'."}% </li>
  <li> %MAKETEXT{"To see if they have finished their edit yet, click 'Try Again'"}% </li>
  <li> %MAKETEXT{"If unsure, click 'Cancel'."}% </li>
</ul>

<table border="0"><tr>
<td valign="top">
<form style="margin-bottom:0px" action="%SCRIPTURLPATH{"%PARAM4%"}%/%WEB%/%TOPIC%" method="post">
  <input type="hidden" name="breaklock" value="on" />
  <input type="submit" class="natOkButton" value='%MAKETEXT{"Edit Anyway"}%' />
%QUERYPARAMS{format="<input type='hidden' name='$name' value='$percntENCODE{$quot()$value$quot type=$quot()html$quot}$percnt' />"}%
</form>
</td> 
<td valign="top">
<form style="margin-bottom:0px" class="natOopsButtons" action="%SCRIPTURLPATH{"%PARAM4%"}%/%WEB%/%TOPIC%" method="post">
  <input type="submit" class="natAltButton" value='%MAKETEXT{"Try Again"}%' />
%QUERYPARAMS{format="<input type='hidden' name='$name' value='$percntENCODE{$quot()$value$quot type=$quot()html$quot}$percnt' />"}%
</form>
</td>
<td valign="top">
<form style="margin-bottom:0px" class="natOopsButtons" action="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">
  <input type="submit" class="natCancelButton" value='%MAKETEXT{"Cancel"}%' />
</form>
</td>
</tr></table> %TMPL:END%
