%TMPL:INCLUDE{"oops"}%
<!-- template: oopsmngcreatweb.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Create New Web"}%%TMPL:END%
%TMPL:DEF{"msg_web_missing"}%<!-- -->
---++ %MAKETEXT{"Error: Name of new web is missing"}%
%TMPL:P{"goback"}% %TMPL:END%
%TMPL:DEF{"msg_web_name"}%<!-- -->
---++ %MAKETEXT{"Error: Invalid name of new web"}% 
%MAKETEXT{"Enter a short name of up to 10 characters. The name must start with one 
or more upper case letters, followed by optional lower case letters or 
numbers; it cannot be a [_1]. If you want to create a
template web (a web just used as a base to create new webs) choose a
name that starts with an underscore and has only alphanumeric characters." args="%SYSTEMWEB%.WikiWord"}%

%TMPL:P{"goback"}% <div style="visibility:hidden">%TMPL:END%
%TMPL:DEF{"msg_web_exist"}%<!-- -->
---++ %MAKETEXT{"Error: Cannot create this web because it already exists"}%
%TMPL:P{"goback"}% <div> *%MAKETEXT{"Existing Web:"}%* %TMPL:END%
%TMPL:DEF{"msg_base_web"}%<!-- -->
---++ %MAKETEXT{"Error: Name of base web is missing or does not exist"}%
%TMPL:P{"goback"}% <div> *%MAKETEXT{"Base web:"}%* %TMPL:END%
%TMPL:DEF{"msg_web_color"}%<!-- -->
---++ %MAKETEXT{"Error: Web color is missing or has an invalid format"}%
%MAKETEXT{"A color starts with the number sign, followed by 6 hexadecimal numbers, e.g. yellow is =#FFFF00=."}%

%MAKETEXT{"Pick one of the [_1]." args="%SYSTEMWEB%.StandardColors"}%

%TMPL:P{"goback"}% <div style="visibility:hidden">%TMPL:END%
%TMPL:DEF{"msg_web_create"}%<!-- -->
---++ %MAKETEXT{"Error: Could not create the new web"}%
%TMPL:P{"goback"}%
*%MAKETEXT{"Error message"}%*: <div class="natErrorMsg">%TMPL:END%
%TMPL:DEF{"msg_web_copy_topics"}%<!-- -->
---++ %MAKETEXT{"Error: Could not copy topics to the new web"}%
%MAKETEXT{"The new web has been created, however not all topics could be copied from the base web."}%
%TMPL:P{"goback"}%
*%MAKETEXT{"Error message"}%*: <div class="natErrorMsg">%TMPL:END%
%TMPL:DEF{"msg_patch_webpreferences"}%<!-- -->
---++ %MAKETEXT{"Error: Could not update the <nop>WebPreferences" }%
%MAKETEXT{"The new web has been created and all topics have been copied.<br />
However, there was an error while trying to update the WebPreferences."}%

%MAKETEXT{"Please check out the WebPreferences or try again."}%
<form class="natOopsButtons" name="ButtonBox" action="%SCRIPTURLPATH{"view"}%/%WEB%/WebPreferences" method="post">
  <input type="submit" class="natOkButton" value='%MAKETEXT{"OK"}%'>
  <input type="button" class="natCancelButton" value='%MAKETEXT{"Cancel"}%' onclick="history.back()">&nbsp;
</form>

*%MAKETEXT{"Error message"}%*: <div class="natErrorMsg">%TMPL:END%
%TMPL:DEF{"msg_create_web_ok"}%<!-- -->
---++ %MAKETEXT{"Note: The new web has been created successfully and populated with topics from the base web"}%
%MAKETEXT{"Would you like to go to:"}%
	* %MAKETEXT{"the [_1] to start working on the new web," args="%HOMETOPIC%"}%
	* %MAKETEXT{"the [_1] to customize the web specific preferences or" args="%WEBPREFSTOPIC%}%
	* %MAKETEXT{"the [_1] home?" args="[[%USERSWEB%.%HOMETOPIC%][%WIKITOOLNAME%]]"}

<form name="ButtonBox" action="%SCRIPTURLPATH{"view"}%/%WEB%">
<table border=0>
<tr><td valign="top" rowspan="2"><div style="padding-top:5px; font-weight:bold">Topic:</div></td><td valign="top">
  <select name="topic"><option value="">%MAKETEXT{"Select..."}%</option>
  %TOPICLIST{"<option value='$name'>$name</option>" separator=" "}%
  </select>
</td></tr>
<tr><td>
  <input type="submit" class="natOkButton" value='%MAKETEXT{"OK"}%'>&nbsp;
  <input type="button" class="natCancelButton" value='%MAKETEXT{"Cancel"}%' onclick="history.back()">
</td></tr> </table> </form> <div style="visibility:hidden">%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%PARAM1%
%PARAM2%</div>
%TMPL:END%
