%TMPL:INCLUDE{"oopslogonbase"}%
<!-- template: oopsaccessgroup.nat.tmpl -->
%TMPL:DEF{"action"}%view%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Access Denied"}%%TMPL:END%
%TMPL:DEF{"message"}% <!-- -->
%MAKETEXT{"Only members of the [_1] are allowed to perform this action." args="%USERSWEB%.%PARAM1%"}%

%TMPL:P{"logon"}%

%MAKETEXT{"See also:"}% %USERSWEB%.TWikiGroups, %SYSTEMWEB%.TWikiAccessControl, %TWIKIREGISTRATION%, 
%USERSWEB%.%PARAM1%
%TMPL:END%
