%TMPL:INCLUDE{"oops"}%
<!-- template: oopspreview.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Topic is not saved yet"}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%TMPL:P{"goback"}%
%I% %MAKETEXT{"__Note:__ Go back and click on Cancel if you would like to cancel the changes you did."}%
%TMPL:END%
