%TMPL:INCLUDE{"oops"}%
<!-- template: oopslocked.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Topic is locked by another user"}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%MAKETEXT{"There is a possibility that <b> [_1] </b> is editing this topic. <br />
Please ask the contributor before making changes to this topic." args="%PARAM1%"}%
<ul>
  <li> %MAKETEXT{"To look at the text without editing the topic click on the [[[_1]][View raw text]]." args="%SCRIPTURLPATH{\"view\"}%/%WEB%/%TOPIC%?raw=on"}%</li>
  <li> %MAKETEXT{"To edit anyway click on the <a href=\"[_1]\">Edit anyway</a>.", args="%SCRIPTURLPATH{\"edit\"}%/%WEB%/%TOPIC%?t=%SERVERTIME{\"$year$mo$day$min$sec\"}%&breaklock=on"}%
       %MAKETEXT{"Note, that this will _break_ the lock"}%&nbsp;%I%</li>
  <li> %MAKETEXT{"To cancel simply go <a href=\"javascript:history.back()\">back</a> in your browser."}%</li>
</ul>
<form class="natOopsButtons" name="ButtonBox">
  <input class="natOkButton" type="button" value='%MAKETEXT{"Edit Anyway"}%' onclick="window.location.href='%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%SERVERTIME{"$year$mo$day$min$sec"}%&breaklock=on'">&nbsp;
  <input class="natAltButton" type="button" value='%MAKETEXT{"View raw"}%' onclick="window.location.href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?raw=on';">&nbsp;
  <input class="natCancelButton" type="button" value='%MAKETEXT{"Cancel"}%' onclick="history.back()">
</form> 
%I% %MAKETEXT{"__Note:__ Locking gets reset after <b> [_1] </b> minutes of inactivity, the earliest in <b>[_2]</b> minutes." args="%PARAM2%,%PARAM3%"}%
%TMPL:END%
