%TMPL:INCLUDE{"oopserrbase"}% 
<!-- template: oopsmoveerr.nat.tmpl -->
%TMPL:DEF{"heading"}%MAKETEXT{"Attachment move error"}%%TMPL:END%
%TMPL:DEF{"errormessage"}% <!-- -->
MAKETEXT{"During move of attachment \" ==[_1]== \" in [_2] an error was found." args="%PARAM1%,[[%WEB%.%TOPIC%]]"}%
<div class="natErrorMsg">%PARAM1%</div>
%TMPL:END%
%TMPL:DEF{"formvariables"}%<!-- -->
<input type="hidden" name="Topic" value="%WEB%.%TOPIC%" />
<input type="hidden" name="Attachment" value="%PARAM1%" />
<input type="hidden" name="Error" value="%PARAM2%" />
%TMPL:END%
