%TMPL:INCLUDE{"oops"}%
<!-- template: oopsmore.nat.tmpl -->
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"more"}%)%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"More Actions on Topic [_1]" args="<nop>%WEB%.%TOPIC%"}%%TMPL:END%
%TMPL:DEF{"headingstyle"}%natNoteHeading%TMPL:END%
%TMPL:DEF{"message"}% %WEBCOMPONENT{"WebMoreTopicActions"}%
%TMPL:END%
