%TMPL:INCLUDE{"oops"}%
<!-- template: oopsregexist.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"You are already registered"}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%MAKETEXT{"You cannot register twice, the name [_1] is already registered." args="%PARAM1%"}%

%TMPL:P{"goback"}% %TMPL:END%
