%TMPL:INCLUDE{"oops"}%
<!-- template: oopsbadpwdformat.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Password Format Error"}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%MAKETEXT{"Incorrect format of submitted data: <b>[_1]</b>" args="%PARAM1%"}%

%MAKETEXT{"The correct format is =WikiName:&lt;encryptedpassword&gt;= (13 chars)."}%

%TMPL:P{"goback"}%
%TMPL:END%
