%TMPL:INCLUDE{"oops"}%
<!-- template: oopstopicexists.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"The [_1] topic already exists" args="\"%TOPIC%\""}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%MAKETEXT{"Can not rename to [_1] as this already exists!" args="%TOPIC%"}%

%TMPL:P{"goback"}%%TMPL:END%
