<!-- template: preview.nat.tmpl -->
%TMPL:DEF{"previewtoolbar"}% <div class="natPreviewToolBar"><!--
--><a class="natEditButton" href="javascript:history.back();" accesskey="e"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_edit.png" alt='%MAKETEXT{"Continue editing"}%' title='%MAKETEXT{"Continue editing"}%' /></a><!--
-->%FORMBUTTON{"<a href=\"$url\" accesskey="f"><img src='%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_form.png' alt='$action' title='$action' /></a>"}%<!--
--><a class="natEditUndoButton" href="%SCRIPTURLPATH{"edit"}%/%WEB%/%TOPIC%?t=%GMTIME{"$year$mo$day$hours$minutes$seconds"}%" accesskey="u" title='%MAKETEXT{"Abandon your changes but continue editing"}%'><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_undo.png" alt='%MAKETEXT{"Abandon your changes but continue editing"}%' title='%MAKETEXT{"Abandon your changes but continue editing"}%' /></a><!--
--><a class="natEditSaveButton" href="javascript:submitEditForm('save','checkpoint');" accesskey="s"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_save.png" alt='%MAKETEXT{"Save and continue editing"}%' title='%MAKETEXT{"Save and continue editing"}%' /></a><!--
--><a class="natEditDoneButton" href="javascript:submitEditForm('save', 'save');" accesskey="d"><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_done.png" alt='%MAKETEXT{"Save and exit"}%' title='%MAKETEXT{"Save and exit"}%' /></a><!--
--><a class="natEditCancelButton" href="javascript:submitEditForm('save', 'cancel');" accesskey="c" title='%MAKETEXT{"Abandon your changes and exit"}%'><!--
--><img src="%PUBURLPATH%/%SYSTEMWEB%/NatSkin/button_cancel.png" alt='%MAKETEXT{"Cancel and abandon changes"}%' title='%MAKETEXT{"Cancel and abandon changes"}%' /></a>
</div><br clear="both" />%TMPL:END%
