%TMPL:INCLUDE{"page"}% 
<!-- template: preview.nat.tmpl -->
<!-- -->%TMPL:INCLUDE{"previewbody"}% 
<!-- -->%TMPL:INCLUDE{"previewtopicactions"}% 
<!-- -->%TMPL:INCLUDE{"previewsidebar"}% 
<!-- -->%TMPL:INCLUDE{"previewjavascript"}%
<!-- -->%TMPL:INCLUDE{"previewstyles"}%
<!-- -->%TMPL:INCLUDE{"previewtoolbar"}%
%TMPL:DEF{"bodyclass"}%natPreviewBody%TMPL:END%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_PREVIEW% %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"preview"}%)%TMPL:END%
%TMPL:DEF{"locator"}%<span class="natSep">&middot;</span>[[WebHome][%WEB%]]<span class="natSep">&middot;</span><b>%TOPIC%</b>%TMPL:END%
%TMPL:DEF{"contentheader"}%<div class="natBreadCrumbs">%BREADCRUMBS{"%BASEWEB%.%BASETOPIC%" exclude="%BASETOPIC%" separator="<span class='natSep'>&nbsp;&#187; </span>" footer="<span class='natSep'>&#187;</span><nop>%BASETOPIC%"}%</div>%TMPL:END%
%TMPL:DEF{"content"}%%TMPL:P{"previewtoolbar"}% 
%TEXT%
%META{"form"}%
<form name="EditForm" method="post" action="%SCRIPTURLPATH{"save"}%/%WEB%/%TOPIC%">
  <input type="hidden" name="action_preview" value="" />
  <input type="hidden" name="action_save" value="" />
  <input type="hidden" name="action_checkpoint" value="" />
  <input type="hidden" name="action_addform" value="" />
  <input type="hidden" name="action_replaceform" value="" />
  <input type="hidden" name="action_cancel" value="" />
  <input type="hidden" name="submitChangeForm" value="" />
  %FORMFIELDS% 
  <input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
  <input type="hidden" name="originalrev" value="%URLPARAM{"originalrev"}%" />
  <input type="hidden" name="redirectto" value="%REDIRECTTO%" />
  <input type="hidden" name="topicparent" value="%TOPICPARENT%" />
  <input type="hidden" name="cmd" value="%CMD%" />
  <input type="hidden" name="rev" value="%URLPARAM{"rev"}%" />
  <textarea name="text" rows="10" cols="80" style="display:none">%HIDDENTEXT%</textarea>
  %TMPL:P{"bottomtopicactions"}% </form> %TMPL:END%
%TMPL:DEF{"bottomtopicactions"}%<div class="natSubmitOptions">
  <input type="checkbox" id="dontnotify" name="dontnotify" %DONTNOTIFYCHECKBOX% />
  <label for="dontnotify">%MAKETEXT{"Minor changes"}%</label> <!-- -->
  <input type="checkbox" class="twikiCheckbox" title='%MAKETEXT{"Creates a new topic revision when saving"}%' id="forcenewrevision" name="forcenewrevision" %FORCENEWREVISIONCHECKBOX% />
  <label for="forcenewrevision">%MAKETEXT{"Force new revision"}%</label>
</div>%TMPL:END%
