<!-- template: rdiffstyles.nat.tmpl -->
%TMPL:DEF{"rdiffstyles"}%
.natTopRightContents { 
  white-space:normal; 
}
%TMPL:END%
%TMPL:DEF{"styles"}%%TMPL:P{"defaultstyles"}%%TMPL:P{"rdiffstyles"}%%TMPL:END%
