%TMPL:INCLUDE{"renamebase"}%
<!-- template: renameconfirm.nat.tmpl -->
%TMPL:DEF{"newtopic"}%<input type="hidden" name="newtopic" value="%NEW_TOPIC%" />%NEW_TOPIC%%TMPL:END%
%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%NEW_WEB%" />%NEW_WEB%%TMPL:END%
%TMPL:DEF{"webaction"}% %MAKETEXT{"Confirm rename or move"}% %TMPL:END%
%TMPL:DEF{"buttons"}%
<input type="submit" class="natOkButton" value='%MAKETEXT{"OK"}%' />&nbsp;
<input type="button" class="natCancelButton" value=%MAKETEXT{"Cancel"}%' onclick="window.location.href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%'">
%TMPL:END%
