%TMPL:INCLUDE{"page"}% 
<!-- template: renamebase.nat.tmpl-->
<!-- -->%TMPL:INCLUDE{"renamebody"}% 
<!-- -->%TMPL:INCLUDE{"renamesidebar"}% 
<!-- -->%TMPL:INCLUDE{"renametopicactions"}% 
<!-- -->%TMPL:INCLUDE{"renamejavascript"}%
<!-- -->%TMPL:INCLUDE{"renamestyles"}%
%TMPL:DEF{"bodyclass"}%natRenameBody%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"title"}%%TOPIC% (%MAKETEXT{"rename"}%)%TMPL:END%
%TMPL:DEF{"onloadscript"}%document.rename.newtopic.focus();%TMPL:END%
%TMPL:DEF{"locator"}%<span class="natSep">&middot;</span>[[WebHome][%WEB%]]<span class="natSep">&middot;</span>[[%TOPIC%]]%TMPL:END%
%TMPL:DEF{"content"}%<!-- -->
<form method="POST" name="rename" action="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%">
<!--input type="hidden" name="confirm" value="on"-->
---+ %TMPL:P{"webaction"}% Topic

<div class="twikiPageForm">
<table>
<tr>
  <th>%MAKETEXT{"From"}%:</th>
  <td><nop>%WEB%.%TOPIC%</td>
</tr>
<tr>
  <th>%MAKETEXT{"To"}%:</th>
  <td>%TMPL:P{"newweb"}%&nbsp;%TMPL:P{"newtopic"}%</td>
</tr>
<tr>
  <th>&nbsp;</th>
  <td><input type="checkbox" name="nonwikiword" %NONWIKIWORDFLAG% />%MAKETEXT{"Allow non <nop>WikiWord for the new topic name"}%</td>
</tr>
<tr>
  <th>&nbsp;</th>
  <td>%TMPL:P{"buttons"}%</td>
</tr>
</table>
</div>

---++ %MAKETEXT{"Change links in topics that refer to [_1] in the [_2] Web:" args="<nop>%TOPIC%,<nop>%WEB%"}%
<div class="natSearchRenameContents">%LOCAL_SEARCH%</div>

---++ %MAKETEXT{"Change links in topics that refer to [_1].[_2] in any Web:" args="<nop>%WEB%,<nop>%TOPIC%"}%
<div class="natSearchRenameContents">%GLOBAL_SEARCH%</div>

<input type="button" class="natAltButton" value='%MAKETEXT{"Clear all"}%' onClick="checkAll('rename', false);" />
</form>
%TMPL:END%
