%TMPL:INCLUDE{"rename"}%
<!-- template: renamedelete.nat.tmpl -->
%TMPL:DEF{"webaction"}%%MAKETEXT{"Delete"}%%TMPL:END%
%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="Trash" /> =Trash= %TMPL:END%
