<!-- template: renamewebsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%<!-- -->
---+ %MAKETEXT{"Help"}%
	* <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/ManagingWebs" target="_blank">%MAKETEXT{"Managing Webs"}%</a> 
	* <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/WikiWord" target="_blank">%MAKETEXT{"WikiWord"}%</a> 

---+ %MAKETEXT{"Notes"}%
<div class="natNotes">
%TMPL:P{"notes"}% </div>
%TMPL:END%

