<!-- template: searchbox.nat.tmpl -->
%TMPL:DEF{"searchbox"}%
%IFSKINSTATETHEN{searchbox="pos[123]"}%
<form class="natSideBarSearch" action="%SCRIPTURLPATH{"natsearch"}%/%BASEWEB%/%BASETOPIC%" method="post">
<input type="text" name="search" value="%URLPARAM{"search" default="Search"}%" accesskey="f" onblur="if(this.value==''){this.value = 'Search'}" onfocus="if(this.value=='Search'){this.value = ''}" /> </form>
%ELSESKINSTATE%
<form name="SearchForm" action="%SCRIPTURLPATH{"natsearch"}%/%BASEWEB%/%BASETOPIC%" method="post">
%MAKETEXT{"Search"}%:&nbsp;<input type="text" name="search" value="%URLPARAM{"search"}%"/></form>
%FISKINSTATE%
%TMPL:END%
