<!-- template: searchtopicactions.nat.tmpl -->
%TMPL:DEF{"topicactions"}% <a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%" accesskey="c" title='%MAKETEXT{"go back to <nop>[_1]" args="%WEB%.%TOPIC%"}%'>%MAKETEXT{"Cancel"}%</a> %TMPL:END%
