%TMPL:INCLUDE{"searchbase"}% 
<!-- template: searchformat.nat.tmpl -->
%TMPL:DEF{"content"}%<!-- -->
%SPLIT%<b>%MAKETEXT{"Search"}%</b>: <span class="natSearchString">%SEARCHSTRING%</span><br />
%SPLIT%%REPEAT%%REPEAT%
%SPLIT%<br /> <div class="natSearchTotal">%MAKETEXT{"Number of topics:"}% <span>%NTOPICS%</span></div>
%SPLIT% 
%TMPL:END%
