<!-- template: strings.nat.tmpl -->
%TMPL:DEF{"LOG_IN"}%%MAKETEXT{"Login"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT"}%%MAKETEXT{"Logout"}%%TMPL:END%
%TMPL:DEF{"VIEW"}%%MAKETEXT{"View"}%%TMPL:END%
%TMPL:DEF{"VIEW_HELP"}%%MAKETEXT{"View formatted topic"}%%TMPL:END%
%TMPL:DEF{"RAW"}%%MAKETEXT{"Raw"}%%TMPL:END%
%TMPL:DEF{"RAW_HELP"}%%MAKETEXT{"View raw topic"}%%TMPL:END%
%TMPL:DEF{"EDIT"}%%MAKETEXT{"Edit"}%%TMPL:END%
%TMPL:DEF{"EDIT_HELP"}%%MAKETEXT{"Edit this topic"}%%TMPL:END%
%TMPL:DEF{"ATTACH"}%%MAKETEXT{"Attach"}%%TMPL:END%
%TMPL:DEF{"ATTACH_HELP"}%%MAKETEXT{"Attach image or document to this topic"}%%TMPL:END%
%TMPL:DEF{"MOVE"}%%MAKETEXT{"Move"}%%TMPL:END%
%TMPL:DEF{"MOVE_HELP"}%%MAKETEXT{"Move or rename this topic"}%%TMPL:END%
%TMPL:DEF{"DIFF"}%%MAKETEXT{"Diffs"}%%TMPL:END%
%TMPL:DEF{"DIFF_HELP"}%%MAKETEXT{"View topic history"}%%TMPL:END%
%TMPL:DEF{"MORE"}%%MAKETEXT{"More"}%%TMPL:END%
%TMPL:DEF{"MORE_HELP"}%%MAKETEXT{"More topic actions"}%%TMPL:END%
%TMPL:DEF{"ADD_FORM"}%%MAKETEXT{"Add form"}%%TMPL:END%
%TMPL:DEF{"ADD_FORM_HELP"}%%MAKETEXT{"Add a new form to <nop>[_1]" args="%WEB%.%TOPIC%"}%%TMPL:END%
%TMPL:DEF{"CHANGE_FORM"}%%MAKETEXT{"Change form"}%%TMPL:END%
%TMPL:DEF{"CHANGE_FORM_HELP"}%%MAKETEXT{"Change the current form of <nop>[_1]" args="%WEB%.%TOPIC%"}%%TMPL:END%
%TMPL:DEF{"NEW"}%%MAKETEXT{"New"}%%TMPL:END%
%TMPL:DEF{"NOTHING_FOUND"}%%MAKETEXT{"Nothing found. Try again!"}%%TMPL:END%
