<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%">
<head>
<title>%WIKITOOLNAME% &middot; %WEB% &middot; %TOPIC% &middot; (%MAKETEXT{"printable"}%)</title>
<base href="%SCRIPTURL{"view"}%/%WEB%/%TOPIC%"></base>
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<meta http-equiv="Content-Style-Type" content="text/css" /> 
<meta name="generator" content="TWiki/NatSkin" /> %TMPL:P{"meta"}%
<link rel="icon" href="%FAVICON%" type="image/x-icon" /> 
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
<!-- 

  Enable the line below when firefox has fixed printing of pages
  that import css. See https://bugzilla.mozilla.org/show_bug.cgi?id=154892 

%<nop>GETSKINSTYLE% 

-->
<!-- template javascript -->
%TMPL:P{"javascript"}%
<!-- template javascript -->
<style type="text/css">
.natFeedIcon,
.blogEntryFeed,
.blogNavigation,
.blogAddComment {
  display:none;
}
/*
.natExternalLink:after {
  content: " (" attr(href) ") ";
}
*/
%WEBCOMPONENT{"WebCss"}%
</style>
</head>
<body class="natBody natBodyPrint">
<div class="natBodyContents">
  <div class="natMiddle natMain">
    <div class="natMainContents">
%TMPL:P{"content"}%
    </div>
  <div class="natMainFooterContents">
    <div class="natTopicAttachments"> %META{"attachments"}% </div>
  </div>
  </div>
</div>
</body>
</html>
<!-- template: view.print.nat.tmpl -->
%TMPL:DEF{"content"}%%STARTALIASAREA%%TEXT% 
%META{"form"}% 
%STOPALIASAREA% %TMPL:END%
%TMPL:INCLUDE{"defaultjavascript.nat"}%
