<!-- template: viewbody.plain.nat.tmpl -->
%TMPL:DEF{"body"}%
<a name="PageTop"></a>
<div class="natBodyContents">
  <div class="natMiddle natMain">
    <div class="natMainContents">
%TMPL:P{"content"}%
    </div>
    <div class="natMainFooterContents">
      <div class="natTopicAttachments"> %META{"attachments"}% </div>
    </div>
  </div>
    <div class="natBottomBarContents">
      <div class="natCopyRight">%WEBCOPYRIGHT%</div>
    </div>
</div>
</body>
<a name="PageBottom"></a>
%TMPL:END%
