%TMPL:INCLUDE{"edit"}%

%TMPL:DEF{"simpleheader"}%
---++ %HEADERTEXT%
%TMPL:END%

%TMPL:DEF{"titleaction"}%(add)%TMPL:END%
%TMPL:DEF{"headerhelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}% Add Table Element to <nop>%TABLENAME% for topic : <b>%TOPIC%</b> %TMPL:END%
%TMPL:DEF{"topicaction"}%
   <a id="cancel" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?unlock=on">Cancel</a>%TMPL:P{"sep"}% %ACTIONBUTTONS%  %TMPL:END%

%TMPL:DEF{"content"}%

%SHOWTABLE%
%TMPL:P{"simpleheader"}%
<form name="main" enctype="multipart/form-data" action="%SCRIPTURLPATH%/uploadTable%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="template" value="%TEMPLATE%">
<input type="hidden" name="tableName" value="%TABLENAME%">
<input type="hidden" name="name" value="%ENTRY%">
%TABLEFIELDS%
%HELPTEXT%
%TMPL:P{"topicinfo"}%</form>%TMPL:END%
