
%TMPL:DEF{objectHeader_swf}%classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"  %TMPL:END%

%TMPL:DEF{embedTag_swf}%type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" name=myMovieName%TMPL:END%

