
%TMPL:DEF{objectHeader_wmv}% id="MediaPlayer" classid="CLSID:22D6F312-B0F6-11D0-94AB-0080C74C7E95" codebase="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=6,4,7,1112" standby="Loading Microsoft Windows Media Player components..." type="application/x-oleobject" %TMPL:END%

%TMPL:DEF{embedTag_wmv}% type="application/x-mplayer2" pluginspage="http://www.microsoft.com/windows/windowsmedia/download/AllDownloads.aspx/" name="MediaPlayer" %TMPL:END%

%TMPL:DEF{controlerHeight_wmv}%46%TMPL:END%
