/*
 * TWkiki SimpleBlueSkin - Color Informationen
 */
 
body {
  background-color: #ffffff;
}

a {
  color: #35377c;
}
 
#simpleBlueContentBook {
  background-color: #ffffff;
  border-color: #797979;
}

#simpleBlueHeader {
  color: #ffffff;
  background-color: #35377c;
  border-color: #797979;
}

#simpleBlueHeader a {
  color: #ffffff;
}

#simpleBlueNavigationArea {
  background-color: #ffffff;
}

#simpleBlueNavigationArea a {
  color: #000000;
}

#simpleBlueNaviBoxHeader {
  color: #35377c;
  border-color: #35377c;
}

#simpleBlueContentArea {
  background-color: #ffffff;
  border-color: #797979;
}

#simpleBlueContentArea h1 {
  color: #35377c;
  border-color: #35377c;
}

#simpleBlueContentArea h2 {
  color: #35377c;
  border-color: #35377c;
}

#simpleBlueContentArea h3 {
  color: #35377c;
}

#simpleBlueContentArea h4 {
  color: #35377c;
}

#simpleBlueActionBarTop {
  color: #5e5e5e;
  border-color: #797979;
}

#simpleBlueInfosActionBar a {
  color: #5e5e5e;
}

#simpleBlueContentNotes {
  border-color: #797979;	   
}

#simpleBlueActionBarBottom {
  color: #5e5e5e;
  border-color: #797979;
}

#simpleBlueCopyright {
  color: #5e5e5e;
}

#simpleBlueFooter {
  background-color: #ffffff;
}

#simpleBlueFooter a {
  color: #000000;
}

#simpleBlueContentArea .foswikiNewLink {
  color: #d9d9d9;
  background-color: transparent;
}

#simpleBlueContentArea table th {
  border-color: #e5e5e5;
  background-color:#35377c;
}

#simpleBlueContentArea table td {
  border-color: #e5e5e5;
  background-color: #ffffff;
}

#simpleBlueContentArea table font {
  color:#000000;
}

#simpleBlueContentArea table th a:link,
#simpleBlueContentArea table th a:visited {
  color: #ffffff;
}

#simpleBlueContentArea table th a:hover {
   background-color: transparent;
}

#simpleBlueContentArea #twikiSearchTable .first {
   background-color: #f5f5f5;
}

#simpleBlueContentArea #twikiSearchTable th {
   background-color: #ffffff;
}

#simpleBlueContentArea #twikiSearchTable .last hr {
   color: #ffffff;
}

#simpleBlueSearchResults {
  border-color: #35377c;
}

#simpleBlueGrayText {
  color: #5e5e5e;
}

#simpleBlueGrayText a {
  color: #5e5e5e;
}

#simpleBlueContentArea pre {
  background-color: #f5f5f5; 
  border-color: #35377c;
}
