%TMPL:DEF{"htmldoctype"}%
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> %TMPL:END%
%TMPL:DEF{"heada"}%
 <title> %TOPIC% %TMPL:P{"titleaction"}% &#171; %WEB% &#171; %WIKITOOLNAME%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="MSSmartTagsPreventParsing" content="true" />
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />%TMPL:END%
%TMPL:DEF{"headview"}%
 %TMPL:P{"heada"}%
 %HTTP_EQUIV_ON_VIEW% %TMPL:END%
%TMPL:DEF{"headedit"}%
 %TMPL:P{"heada"}%
 <meta name="robots" content="noindex" />
 %HTTP_EQUIV_ON_EDIT% %TMPL:END%
%TMPL:DEF{"headpreview"}%
 %TMPL:P{"heada"}%
 <meta name="robots" content="noindex" />
 %HTTP_EQUIV_ON_PREVIEW% %TMPL:END%
%TMPL:DEF{"css"}%
<style type="text/css" media="screen,projection"><!--
   /* make access keys auto activate in IE */
   a { behavior: url(%SEESOURCE%/akey.htc) }
--></style>
<link rel="stylesheet" href='%SEESOURCE%/%EXTSTYLE%' type="text/css" media="screen,projection" />
<!-- %<nop>STYLESHEETS% -->
<style type="text/css"><!--
   %INLINESTYLE%
--></style>
%TMPL:END%
%TMPL:DEF{"standardheader"}%
<div id="title">
	<a href="%WIKIHOMEURL%" title="Site Homepage"><img src="%WIKILOGOIMG%" border="0" alt="Site Home" /></a>
	<h1><a href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%USERSWEB%/%HOMETOPIC%">%WIKITOOLNAME%</a></h1>
	<h2>/ <a href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%HOMETOPIC%">%WEB%</a> / %TOPIC% %TMPL:P{"titleaction"}%</h2>
</div>
<div id="search">
	<form><input type="text" name="topic" size="10" title="type topic name to search for and press [Enter]" accesskey="/" /> <a href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/WebSearch" title="Go to advanced search form">Search</a></form>
</div>
%TMPL:END%
%TMPL:DEF{"plainheader"}%
<div id="title">
	<h1><a href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%USERSWEB%/%HOMETOPIC%">%WIKITOOLNAME%</a></h1>
	<h2>/ <a href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%HOMETOPIC%">%WEB%</a> / %TOPIC% </h2>
</div>
%TMPL:END%
%TMPL:DEF{"simpleheader"}%
<h1> %WEB% . %TOPIC% %TMPL:P{"titleaction"}%</h1>
%TMPL:P{"headerhelp"}%
%TMPL:P{"webaction"}%
%TMPL:END%
%TMPL:DEF{"menu"}%
%TMPL:P{"webaction"}%
%TMPL:END%
%TMPL:DEF{"standardfooter"}%
	Topic <strong>%TOPIC%</strong> . { %TMPL:P{"topicaction"}% }
	<span id="bugreport">%TMPL:P{"bugreport"}%</span>
%TMPL:END%
%TMPL:DEF{"plainfooter"}%
	%TMPL:P{"topicaction"}%
	<span id="bugreport">%TMPL:P{"bugreport"}%</span>
%TMPL:END%
%TMPL:DEF{"oops"}%
%TMPL:P{"htmldoctype"}%
<head>
 %TMPL:P{"headview"}%
 <meta name="robots" content="noindex" />
 %TMPL:P{"css"}%
</head>
<body>
#PageTop
%TMPL:P{"simpleheader"}%
---+ %TMPL:P{"heading"}%
%TMPL:P{"message"}%
<p />
%TMPL:P{"standardfooter"}%
<span id="bugreport">%TMPL:P{"bugreport"}%</span>
<!-- These extra divs/spans may be used as catch-alls to add extra imagery. -->
<!-- Add a background image to each and use width and height to control sizing, place with absolute positioning -->
<!-- There's a rather nasty colour shift bug with transparent GIFs in Netscape 6/7 and Mozilla v1.0 up to v1.3 (in which it's fixed),
		so make sure to test your work in these browsers. -->
<div id="extraDiv1"><span></span></div><div id="extraDiv2"><span></span></div><div id="extraDiv3"><span></span></div>
<div id="extraDiv4"><span></span></div><div id="extraDiv5"><span></span></div><div id="extraDiv6"><span></span></div>
#PageBottom
</body>
</html> %TMPL:END%
%TMPL:DEF{"sep"}%<dd>%TMPL:END%
%TMPL:DEF{"weblabel"}%Section%TMPL:END%
%TMPL:DEF{"bugreport"}%<a href="%SCRIPTURL%/edit%SCRIPTSUFFIX%/Feedback/%TOPIC%_%GMTIME{"$year$month$day$hours$minutes$seconds"}%?topicparent=%WEB%.%TOPIC%">feedback</a>%TMPL:END%
