/* Base Style */

/* html elements */
.twikiEmulatedLink,
a {
  text-decoration:none; 
  color:#0065CD;
}
.twikiEmulatedLink:hover,
a:hover { 
  text-decoration:underline; 
  color:#777;
}

hr {
  border:0px;
  border-bottom:1px solid black;
  margin:0.7em 0px;
}

h1 { font-size:24px;}
h2 { font-size:20px;}
h3 { font-size:18px; margin-top:10px;margin-bottom:0px;}
h4 { font-size:16px; margin-top:10px;margin-bottom:0px;}
h5 { font-size:14px; margin-top:10px;margin-bottom:0px;}
h6 { font-size:14px; margin-top:10px;margin-bottom:0px;}
body { font-size:14px; }

/* debug
.natPageBox,
.natBody, .natBodyContents			{ border: 1px solid green }
.natWebTitle, .natSearchBox,
.natTopBar, .natTopBarContents, 
.natTopLeft, .natTopRight, 
.natTopLeftContents, .natTopRightContents, 
.natWebButtons, .natWebButtonsContents

						{ border: 1px solid blue }
.natMiddle, 
.natTopBarSizer,
.natSideBar, natSideBarContents			{ border: 1px solid red }
.natMain, .natMainContents, natMainHeaderContents
.natSideBar, .natSideBarContents,
.natMainFooter, natMainFooterContents {
  border:1px solid red;
}
*/

/* layout */
.natBody {
  text-align:center;
}
.natBodyPrint {
  width:21cm; 
  margin:0px; 
}
.natBodyPrint,
.natBodyPrint .natMain,
.natBodyPrint .natMiddle {
  background-color:white !important;
  color:black !important;
}
.natBodyContents {
  text-align:left;
}
.natLayoutTable {
  table-layout:fixed;
  width:100%;
}
.natBoxBorderRight,
.natBoxBorderTopRight,
.natBoxBorderBottomRight {
  width:1px;
}
.natBottomBarContents {
  text-align:center;
  padding-top:5px;
  font-size:12px;
}
.natSideBarLeft {
  width:200px;
  min-width:200px;
}
.natSideBarRight, .natTopRight {
  width:280px;
  min-width:280px;
  max-width:280px;
}
.natTopLeft,
.natTopRight {
  padding-bottom:10px;
}
.natTopRightContents {
  float:right;
}
.natTopRight {
  vertical-align:bottom;
}
.natSideBar {
  padding-bottom:5px;
}
.natMainFooter {
  vertical-align:bottom;
}
.natSideBarContents, .natMainContents {
  min-height:50em;
  overflow:hidden;
}

/* login */
.natLoginBody .natMainHeaderContents {
  display:none;
}
.natLoginBody .natLoginMessage {
  margin:0px auto;
  width:500px;
}

/* topbar */
.natHeaderArt {
  background-repeat:no-repeat;
}

.natTopRight form {
  padding:0px;
  margin:0px;
  margin-bottom:5px;
}
.natSearchBox {
  font-weight:bold;
}
.natSearchBox form {
  margin:0px;
}

.natSearchBox,
.natSearchBox input {
  font-size:12px;
}

.natSearchBox {
  margin:5px 0px;
}

.natWebTitle {
  font-size:34px;
  font-weight:bold;
  margin:0px;
  padding:0px;
}

.natTopicActions {
  font-size:12px;
}

/* sidebar */
.natSearchBoxPos1 input,
.natSearchBoxPos2 input,
.natSearchBoxPos3 input {
  width:98%;
}
.natSideBarPersonal {
  margin-top:1em;
}
.natSideBar h1 {
  margin-top:0px;
  margin-bottom:10px;
}
.natSideBar h2 {
  margin-top:5px;
  margin-bottom:5px;
  padding-left:15px; 
}

.natSideBar ul {
  margin-top:0px;
  margin-bottom:0px;
  list-style-type:square;
}

.natNotes a:hover,
.natNotes a {
  font-weight:bold;
}
.natNotes p {
  margin-top:0px;
}
.natSideBar .twikiCurrentTopicLink {
  color:red;
}

/* main area */
.natMiddleLeft {
  padding-right:10px;
}
.natMainContents {
  padding:1px;
}
.natMainFooterContents,
.natMainHeaderContents {
  padding:1px;
  margin:5px 0px;
  font-size:12px;
}
.natMainContents pre {
  width:99%;
  padding-bottom:.25em;
  overflow-x:auto;
  overflow-y:visible;
  font-size:0.9em;
  line-height:1.3em;
}
.natMainContents > pre { /* hide from IE */
  /*\*/ overflow:auto !important; /* */ overflow:scroll; /* for Mac Safari */
}
.natMainContents > ul, .natMainContents > ol {
  margin-top:10px;
  margin-bottom:10px;
}

.natMain dt {
  font-weight:bold;
}

/* login */
.natLogonFormHolder {
  padding:10px 0px 10px 0px;
}
.natLogonFormButtons td {
  padding-top:1em;
}

/*
.natMainContents a:visited:after {
  content: "\00A0\221A";
  font-size: 75%;
}
*/

/* edit */
.natEditBody .natLayoutTable {
  table-layout:auto; /* firefox fix to preven collapsing tables */
}
.natEditBody .natSideBarContents, 
.natEditBody .natMainContents {
  min-height:0px;
}
.natEditBody .natWebButtons,
.natEditBody .natMainFooter,
.natEditBody .natBottomBar,
.natEditBody .natTopBar {
  display:none;
}
.natEditToolBar {
  margin-bottom:5px;
  padding:0px 2px;
}
.natPreviewToolBar img,
.natEditToolBar img {
  margin-right:3px;
  border:0px;
  position:relative;
  top:3px;
}
.natPreviewToolBar a:hover img,
.natEditToolBar a:hover img {
  top:2px;
  right:1px;
}
.natEditEditTools,
.natEditExitTools,
.natEditHelpTools,
.natEditObjectTools,
.natEditParagraphTools,
.natEditHeadlineTools,
.natEditTextTools {
  margin-right:5px;
  white-space:nowrap;
}

.natBottomTopicActions {
  margin:10px 0px;
}
.natBottomTopicActions a:hover {
  text-decoration:none;
}
.natPreviewToolBar {
  width:100%;
  text-align:right;
}

.natEditHelp ul {
  margin:0px;
  padding-left:5px;
}
.natSubmitOptions ul {
  padding-left:15px;
}
.natSubmitOptions ul li,
.natEditHelp ul li {
  padding-left:0px;
  list-style:none !important;
}
.natSubmitOptions input {
  margin:0px;
}
.natSignature {
  white-space:nowrap;
  float:right;
}
.natSignature, .natSubmitOptions {
  padding-right:10px;
  vertical-align:top;
}
.natSubmitOptions {
  width:100%;
  margin-bottom:1em;
}
.natSubmitOptions label,
.natSubmitOptions input {
  vertical-align:middle;
}

/* headings */
.natMain h1 .twikiEmulatedLink,
.natMain h2 .twikiEmulatedLink,
.natMain h3 .twikiEmulatedLink,
.natMain h4 .twikiEmulatedLink,
.natMain h5 .twikiEmulatedLink,
.natMain h1, .natMain h2, .natMain h3, .natMain h4, .natMain h5, .natMain h6,
.natMain h1 a, .natMain h2 a, .natMain h3 a, .natMain h4 a,
.natMain h5 a, .natMain h6 a,
.natMain h1 a:hover, .natMain h2 a:hover, .natMain h3 a:hover,
.natMain h4 a:hover, .natMain h5 a:hover, .natMain h6 a:hover {
  text-decoration:none;
  line-height:140%;
}
.natMainContents > h1,
.natMainContents > h1,
.natMainContents > h1,
.natMainContents h1:first-child,
.natMainContents h2:first-child,
.natMainContents h3:first-child {
  margin-top:0px;
  padding-top:0px;
}

/* search */
.natSearchRenameContents {
  width:100%;
  padding:5px;
}
.natSearchRenameContents table {
  width:100%;
}
.natSearchRenameContents .twikiTopRow {
  white-space:pre;
  text-align:left;
  vertical-align:top;
  padding:5px;
}
.natSearchRenameContents .twikiSummary {
  padding:5px;
  text-align:left;
  vertical-align:top;
}
.natSearchHit,
.natSearchTable {
  width:100%;
  border-collapse:collapse;
}
.natSearchTable th {
  padding-left:5px;
  padding-right:5px;
}
.natSearchHit th,
.natSearchTable th {
  text-align:left;
}
.natSearchTable td {
  vertical-align:top;
}
.natSearchHit th,
.natSearchHit td {
  padding:5px;
}
.natSearchTotal {
  margin-top:10px;
  margin-bottom:10px;
  font-weight:bold;
}

.natSearchTotal span {
  color:red;
}
.natSearch {
  font-weight:bold;
}
.natSearchString {
  margin-bottom:10px;
  font-weight:bold;
  color:red;
}

.natSearchMessage {
  color:red; 
  font-weight:bold; 
  margin:20px;
}

.twikiNew {
  text-transform:lowercase;
}
.twikiNew,
.natSearchNewTopic {
  color:red; 
  font-style:italic;
}

/* diff */
.natDiffTable {
  width:100%;
}

/* oops styles */
.natErrorMsg {
  border:1px solid #aaaaaa;
  padding:5px;
  margin-top:2ex;
  margin-bottom:2ex;
  font-family:monospace;
  color:red;
}

.natFormOkButton {
  color:green;
  padding:2px;
}
.natFormCancelButton {
  color:red;
  padding:2px;
}
.natFormActionButton {
  color:blue;
  padding:2px;
}

.natMain .natOopsHeading {
  color:red;
}

.natMain .natLoginHeading,
.natMain .natNoteHeading {
  color:green;
}
.natMain .natContact {
}
.natOkButton {
  color:green;
}
.natCancelButton {
  color:red;
}
.natAltButton {
  color:blue;
}

/* helpers */
.natSep {
  margin-left:-0.2ex;
  margin-right:-0.2ex;
}
.natTopicActions .natSep {
  margin:0px 2px;
  font-weight:bold;
}
.natAction {
  color:red;
  text-transform:capitalize;
  font-weight:bold;
}
.natCurrentAction {
  font-weight:bold;
}
.natCurrentAction,
.natEditAction a,
.natPreviewAction a,
.natSaveAction a,
.natDoneAction a,
.natFormAction a,
.natUndoAction a,
.natCancelAction a {
  border:1px solid #cccccc;
  margin:2px 5px 2px 0;
  padding:2px 5px;
}


.natTopicAttachments table {
  width:100%;
}

.natSideBar .natSkinStyleBrowser ul,
.natSkinStyleBrowser ul {
  padding-left:0px;
  margin:0px 0px 10px 0px;
  list-style-type: none;
}

.natSkinStyleBrowser select { 
  width:100%;/* IE freaks on that */
  _width:180px;
}

.natSideBar a.natFeedIcon:hover,
a.natFeedIcon:hover {
  background:#eee url("feed-icon-12x12.png") 3px center no-repeat !important
  text-decoration:none !important;
  color:#444 !important;
}
a.natFeedIcon {
  background:url("feed-icon-12x12-gray.png") 3px center no-repeat !important
  text-decoration:none !important;
  color:#444;
  font-size:10px;
  padding:1px 3px 0px 18px;
}
.natSideBar a.natFeedIcon {
  background:none;
  margin-right:-3px;
  /*padding:1px 3px;*/
  padding:1px 3px 0px 18px;
  font-size:0.9em;
  color:#444;
}

.natSubWebs a,
.natSubWebs .natWebLink a {
  font-weight:bold;
}


/* twiki styles */
.twikiNewLink {
  color:blue;
  background:#eeeeee;
}

.twikiAlert {
  color:red;
}
.twikiBroadcastMessage {
  background:yellow;
  color:black;
  border:2px solid orange;
  padding:1px 5px 2px;
}
.twikiBroadcastMessage .twikiLink,
.twikiBroadcastMessage a {
  color:red;
}
.twikiBroadcastMessage .twikiLink:hover,
.twikiBroadcastMessage a:hover {
  color:black;
  background:orange;
}

.twikiLeft {
  float:left;
  position:relative;
}
.twikiRight {
  position:relative;
  float:right;
  display:inline;
  margin:0;
}
.twikiClear {
  margin:0;
  padding:0;
  height:0;
  line-height:0px;
  clear:both;
  display:block;
}
.twikiHidden {
  display:none;
}
.twikiSmall {
  font-size:86%; line-height:110%;
}
.twikiSmallish {
  font-size:94%;
}


/* twiki tables */
.twikiTable {
  margin-top:1px;
  empty-cells:show;
  border:1px solid #d0d0d0;
  border-spacing:0px;
  border-collapse:collapse;
}

.twikiTable th, 
.twikiTable td {
  padding:2px 5px;
  line-height:140%;
  border:0px;
}

.twikiTable th {
  font-weight:bold;
  text-align:left !important; /* SMELL breaks %TABLE% */
  background:#1875D5;
}

.twikiTable th img {
  vertical-align:middle;
  margin-left:2px;
  margin:0px 2px;
}

.twikiDiffTable td {
  border:0px;
}
.twikiTableEven td {
  background:white;
}
.twikiTableOdd td {
  background:#eee;
}

/* twiki forms */
.natTopicForm {
  overflow:auto;
  margin-top:1em;
  padding:1px; /* konqueror fix */
}
.natTopicForm .twikiFirstCol,
.natTopicFormFirstCol {
  width:20%;
  text-align:right;
  font-weight:bold;
  padding-left:5px;
  padding-right:5px;
}
.twikiPageForm {
  display:table;
  _width:0px; /* IE does not know display:table but this way it somewhat behaves like it */
}
.twikiPageForm table th,
.twikiPageForm table td {
  padding:5px;
}
.twikiPageForm th,
.twikiPageForm .twikiFirstCol {
  font-weight:bold;
}
.natTopicForm .natTopicFormTitle {
  text-align:center;
}
.twikiPageForm table,
.natTopicForm table {
  width:100%;
  border-collapse:collapse;
}
.twikiPageForm form {
  margin:0px;
}
.twikiPageForm table table {
  border:0px;
}

.twikiFormStep {
  margin:1em 0px;
}

.natTopicForm table table,
.natTopicForm table table td {
  border:0px;
}
.natTopicForm td,
.natTopicForm th {
  padding-left:3px;
  padding-right:3px;
}
.natTopicFormLabel {
  margin-top:3px;
  margin-bottom:3px;
}

/* twikiDiff */
.twikiDiffTable { 
  border:1px solid #ccc;
  margin-bottom:2em;
}
.twikiDiffTable table {
  border:0px;
}

.twikiDiffTable th {
  background:#dddddd;
}
.twikiDiffLineNumberHeader th { 
  background:#eeeeee;
}

td.twikiDiffChangedHeader,
td.twikiDiffAddedHeader { 
  background:#D0FFD0;
  border-top:1px solid #ccc;
  border-bottom:1px solid #ccc;
}
.twikiDiffAddedMarker { 
  background:#aaaadd;
}
.twikiDiffAddedText { 
  background:#ccccff;
}
.twikiDiffChangedMarker,
.twikiDiffChangedText { 
}

.twikiDiffDeletedHeader { }
.twikiDiffDeletedMarker { 
  background:#dd7777;
}
.twikiDiffDeletedText { 
 background:#ff9999;
}

td.twikiDiffChangedText {
  color:red;
}
.twikiWebIndent {
  margin:0 0 0 1em;
}

/* TOC */
.twikiToc {
  margin-top:5px;
  margin-bottom:5px;
  padding-top:5px;
  padding-bottom:5px;
}
.twikiToc img {
  display:none;
}
.twikiTocTitle {
  font-size:20px;
}
.twikiToc ul {
  margin-top:0px;
  margin-bottom:0px;
}

/* see also page.nat.tmpl */
.natMiddle .natExternalLink:after {
  margin-left:3px;
  margin-right:3px;
  content:url("external.png");
}


/* custom styles */
.alt {
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding:10px;
}
.border {
  border:1px solid #ddd;
  padding:3px;
}
.overflow {
  overflow:auto;
  padding:1px;
}

.block {
  display:block;
}
.center {
  display: table;
  margin-left:auto;
  margin-right:auto;
}
img.center {
  margin-left:auto;
  margin-right:auto;
  display: block;
  margin-top:3px;
  margin-bottom:3px;
}
	
img.alignright {
  padding: 3px;
  margin-left:7px;
  float:right;
}

img.alignleft {
  padding: 3px;
  margin-right:7px;
  float:left;
}

/* supported plugins and applications */

/* BlackListPlugin */
.blackList {
  border:0px;
  overflow:auto;
  padding:5px;
}
.blackListComments {
  padding-left:25px;
}
.comment {
  padding-top:5px;
  padding-bottom:5px;
}
.posted {
  margin-top:5px;
}
.text {
  padding-bottom:5px;
}
.banForm {
  margin:5px;
  margin-left:25px;
  margin-top:10px;
}
.currentScore {
  margin:10px;
  margin-left:25px;
}
.blackListTitle {
  padding:10px;
  padding-left:25px;
}
.blackListToggle {
  padding-left:25px;
  padding-right:5px;
  padding-bottom:5px;
  text-transform:capitalize;
}

/* RedDotPlugin */
.natBody .redDot a {
  color:red;
  font-weight:bold;
  margin-left:2px;
  margin-right:2px;
  line-height:25%;
  font-size:18px;
  text-decoration:none;
}

/* HeadlinesPlugin */

/* debug 
.headlinesRss, .headlinesChannel, .headlinesDate,
.headlinesRight, .headlinesDescription,
.headlinesLogo, .headlinesArticle, .headlinesTitle,
.headlinesCreator, .headlinesSubject, .headlinesTeaser {
  border:1px solid red;
}
*/

.headlinesRss {
  margin-right:10px;
}
.headlinesChannel {
  padding-bottom:5px;
  margin-bottom:5px;
}
.headlinesChannel input {
  display:none;
}
.headlinesChannel .headlinesDate {
  margin:5px 0px;
}
.headlinesRight {
  font-style:oblique;
}
.headlinesDescription {
  font-size:1.1em;
}
.headlinesLogo {
  float:right;
  text-align:center;
  overflow:hidden;
  margin-left:5px;
  margin-bottom:5px;
}
.headlinesLogo img {
  border:0px;
  margin:0px;
  padding:0px;
  margin-bottom:5px;
}
.headlinesArticle {
  padding-top:5px;
  padding-bottom:5px;
  overflow:hidden;
  margin-bottom:1.4em;
}
.headlinesArticle hr {
  margin-top:2px;
  margin-bottom:2px;
}
.headlinesArticle .headlinesTitle a {
  font-size:1.4em;
}
.headlinesArticle .headlinesDate {
  font-size:0.9em;
  margin-left:0px;
  white-space:nowrap;
}
.headlinesSubject,
.headlinesCreator {
  display:inline;
  font-size:0.9em;
}
.headlinesTeaser {
  margin-top:5px;
  margin-left:30px;
  text-align:justify;
  overflow:hidden;
}
.headlinesTeaser img {
  margin:5px;
}
.headlinesTeaser .natExternalLink:after {
  content:"";
  margin-left:0px;
}

/* twisty plugin */
.twistyTrigger img {
  padding:0px;
  margin:0px;
  vertical-align:middle;
  position:relative;
  bottom:2px;
}

/* image plugin */
.imageFloat .natExternalLink:after,
.imageFrame .natExternalLink:after,
.imageFloat a:after,
.imageFrame a:after {
  content:"";
  margin:0px;
}
.imageFloat .natExternalLink:hover,
.imageFrame .natExternalLink:hover,
.imageFloat a:hover,
.imageFrame a:hover {
  text-decoration:none !important;
}

/* math mode plugin */
.mmpImage {
  vertical-align:middle;
}
