/* variation to switch on the web buttons */
.natWebButtons ul {
  margin:0;
  padding:0;
}
.natWebButtons ul li {
  display:inline;
  margin-right:10px;
}
.natWebButtons ul a {
  text-decoration:none;
}
.natWebButtons ul li.current a {
  border-bottom:2px solid #0065CD;
}

