/* header art variation */
.natHeaderArt {
  background-image:url(BlueFieldBar.jpg); 
  background-repeat:no-repeat;
  background-position:top left;
}
.natTopBar a {
  color:white;
}

.natSearchBoxTop input {
  background:#293768;
  color:white;
  border:1px solid white;
}

