/* variation to switch on the web buttons for gettysburg */
@import url('BaseButtons.css');

.natTopBar {
  border-bottom:0px;
}
.natWebButtons {
  padding-left:20px;
  padding-right:25px;
  border-bottom:1px solid #ffffff;
}
.natWebButtonsContents {
  padding:0px 5px 10px;
  font-family:verdana,arial,sans-serif;
  text-transform:lowercase;
}
.natWebButtons ul li a {
  font-weight:normal;
  padding:5px 0px 5px;
  color:white;
}
.natWebButtons ul li.current a:hover,
.natWebButtons ul li a:hover {
  text-decoration: none;
  border-bottom:5px solid #ffcc66;
}

.natWebButtons ul li.current a {
  text-decoration: none;
  border-bottom:5px solid #99cc66;
}
