/* variation to switch on the web buttons for clean */
@import url('BaseButtons.css');

.natTopBar {
  border-bottom:0px;
}
.natWebButtons {
  padding-left:20px;
  padding-right:10px;
}
.natWebButtonsContents {
  padding:5px 0px 0px 2px;
  font-size:90%;
  font-family:arial,sans-serif;
}

.natWebButtons ul li {
  margin-right:4px;
}
.natWebButtons ul li a {
  padding:5px 5px;
  font-weight:bold;
  border-top:1px #ddd solid;
  border-left:1px #ddd solid;
  border-right:1px #ddd solid;
  border-bottom:0px;
}
.natWebButtons ul li a:hover {
  text-decoration: none;
  background-color:#b4d5ff;
}

.natWebButtons ul li.current a:hover {
  text-decoration: none;
  color:#1e5bbd;
  background-color:#b4d5ff;
}
.natWebButtons ul li.current a {
  background:white;
  color:#e24628;
  background-color:#F3EDE7;
  color:#900;
  text-decoration: none;
  border-bottom:0px;
}
