/* stormy style */
@import url("BaseStyle.css");

/* html */
.twikiEmulatedLink,
a, a:link { 
  color:#99ccff;
  text-decoration:none; 
}
a:hover, a:active {
  color:#99ff66; 
  text-decoration:underline
}

hr {
  border-bottom:1px solid #999999;
}

/* layout */
.natBody {
  background:#333333;
  margin:0;
  padding:0;
}
.natBodyContents {
  font-family:arial,sans-serif;
}

.natTopLeftContents{
  margin:20px 0px 20px 20px;
}
.natTopRightContents {
  margin:20px 20px 20px 0px;
}
.natMiddle {
  padding:20px 10px 20px 10px;
}

.natMainContents,
.natMainHeaderContents,
.natMainFooterContents,
.natSideBarContents {
  padding:5px 10px 5px 10px;
}
.natTopRight,
.natSideBar {
  width:250px;
}

/* twiki styles */
.twikiNewLink {
  color:#99ff66;
  background:#555555;
}

/* twiki table */
.twikiTable {
  font-size:95%;
}
.twikiTable td,
.twikiTable th,
.twikiTable {
  border:1px #aaaaaa solid;
}

.twikiTable th {
  text-align:left;
  background:black;
}
.twikiTable th,
.twikiTable th font,
.twikiTable th span,
.twikiTable th a {
  font-weight:bold;
  color:#cccccc !important; /* SMELL: breaks %TABLE{}% */
}
.twikiDiffTable td {
  border:0px;
}
.twikiTableEven td {
  background:#444444;
}
.twikiTableOdd td {
  background:#333333;
}

.natTopicEditForm td {
  border:0px;
}

/* twiki diff */
.twikiDiffChangedHeader,
.twikiDiffChangedMarker,
.twikiDiffAddedHeader,
.twikiDiffAddedMarker,
.twikiDiffDeletedHeader,
.twikiDiffDeletedMarker {
  color:black;
}
.twikiDiffChangedText,
.twikiDiffAddedText,
.twikiDiffDeletedText {
  background:#222222;
}
.twikiDiffUnchangedText {
  background:#333333;
}

/* topic form */
.natTopicForm td,
.natTopicForm th,
.natTopicForm table {
  border:1px #aaaaaa solid;
}

.natTopicForm .natTopicFormFirstCol,
.natTopicForm .twikiFirstCol,
.natTopicForm th {
  background:black;
}
.natTopicForm th,
.natTopicForm th a {
  font-weight:bold;
  color:#cccccc;
}
/* twiki page form */
.twikiPageForm {
  margin:5px 0px;
  padding:10px;
  border:1px #aaaaaa solid;
}

.twikiPageForm th {
  font-weight:bold;
  background: #eeeeee;
  color:#cccccc;
  background:black;
}
.twikiPageForm th a {
  color:#cccccc;
}
.twikiPageForm td {
  padding:3px;
}

/* search tables */
.natSearchTable {
  border:1px #aaaaaa solid;
  font-size:0.9em;
  margin-top:20px;
}
.natSearchTable:first-child {
  margin-top:0px;
}
.natSearchTableTitle th {
  color:#cccccc;
  background:black;
  border-bottom:1px #aaaaaa solid;
  padding-top:2px;
  padding-bottom:2px;
}
.natSearchHit {
  font-size:0.9em;
  border:1px #aaaaaa solid;
}
.natSearchHit th {
  padding:0.5em 0.5em 0em 0.5em;
}
.natSearchHit td {
  padding:0em 0.5em 0.5em 0.5em;
}
.natSearchHitEven {
  background:#444444;
}

/* helper */
.natMain .natNoteHeading {
  color:#99ccff;
}

.natMain pre {
  border-left:5px solid #555555;
  color:#99ff66;
  padding-left:5px;
}


/* top */
.natHeaderArt {
  background:#000000;
}
.natTopBar {
  border-bottom:1px solid #999999;
  border-top:3px dotted #999999;
  color:#ffffff;
}

.natWebSlogan {
  font-weight:bold;
  color:#999999;
}

.natTopRight {
  color:#ffffff;
}

.natSearchBox {
  font-weight:bold;
}
.natSearchBoxTop input {
  color:white;
  background:black;
  border:1px solid #99ccff;
  width:160px;
}

.natSearchBoxPos1 {
  margin-bottom:20px;
}
.natSearchBoxPos2,
.natSearchBoxPos3 {
  margin:10px 0px;
}

.natWebTitle {
  text-transform:none;
}

/* login */
.natLoginMessage {
  background:#000000;
  padding:20px;
  border-bottom:1px solid #999999;
  border-top:1px solid #999999;
  color:#ffffff;
}
.natLoginBody .natTopBar {
  display:none;
}
.natLoginBody .natMainContents {
  margin-top:20px;
}

/* sidebar */
.natSideBarContents {
  color:#99ccff;
}

.natSideBar h1 a,
.natSideBar h1 {
  color:#cccccc;
  letter-spacing:0.2px;
  font-family:verdana,arial,sans-serif;
  font-weight:bold;
  font-size:14px;
  text-transform:uppercase;
}
.natSideBar h2 {
  padding-left:0px;
  font-size:14px;
  margin-top:5px;
}
.natSideBar ul {
  margin-left:0px;
  padding-left:20px;
}

.natNotes {
  padding-left:0px;
  padding-right:10px;
}

.natSideBar a.natFeedIcon {
  color:#cccccc;
}

/* main */
.natMiddle {
  background:#333333;
  color:#cccccc;
}
.natMainHeaderContents {
  font-size:12px;
}
.natMainFooterContents,
.natMainContents {
  font-size:14px;
}

.natMain a,
.natMain a:link { 
  color:#99ccff;
  text-decoration:none; 
}
.natMain a:active {color:#99ff66}
.natMain a:hover {
  text-decoration:underline;
  color:#99ff66;
}

.natMain .twikiEmulatedLink,
.natMain h1, .natMain h2, .natMain h3, .natMain h4, .natMain h5, .natMain h6,
.natMain h1 a:link, .natMain h2 a:link, .natMain h3 a:link, .natMain h4 a:link,
.natMain h5 a:link, .natMain h6 a:link,
.natMain h1 a:hover, .natMain h2 a:hover, .natMain h3 a:hover,
.natMain h4 a:hover, .natMain h5 a:hover, .natMain h6 a:hover,
.natMain h1 a, .natMain h2 a, .natMain h3 a,
.natMain h4 a, .natMain h5 a, .natMain h6 a {
  color:#cccccc;
}
.natMiddle input,
.natMiddle select,
.natMiddle textarea {
  background:#222222;
  color:#cccccc;
  border:1px solid #cccccc;
  font-size:13px;
}
.natMiddle input[type="submit"] {
  background:white;
  color:black;
}
.natMiddle input.natOkButton {
  background:#222222;
  color:#cccccc;
}
.natMiddle input[type="checkbox"] {
  color:#333333;
  background:#cccccc;
}
.natMiddle input[type="radio"] {
  background:#333333;
  color:red;
}

/* bottom*/
.natBottomBarContents {
  margin-left:10px;
  margin-right:10px;
  padding:5px;
  color:#999999;
  font-family:verdana,arial,sans-serif;
  font-weight:bold;
  line-height:140%;
  font-size:12px;
}

/* TOC */
.twikiToc {
  margin-bottom:10px;
}
.twikiToc ul li {
  line-height:130%;
}
.twikiToc ul {
  margin-top:0px;
  margin-bottom:0px;
}
.twikiToc ul ul {
  padding-left:20px;
}
.twikiTocTitle {
  font-size:20px;
  font-weight:bold;
  padding-bottom:3px;
  margin-bottom:0px;
}

/* custom styles */
.alt {
  background:#555555;
  border-top:1px solid #999999;
  border-bottom:1px solid #999999;
  color:#99ff66;
}
.border {
  border:1px solid #999999;
}

/* supported plugins */

/* BibtextPlugin */
.bibtex,
.bibsearch {
  border:0px;
  background:#333333;
  color:#cccccc;
}

.bibsearch td {
  background:#333333;
  color:#cccccc;
}
.bibsearch th {
  background:black;
  border:0px;
  border-bottom:0px;
  color:#cccccc;
}

.bibsearch input {
  background:#333333;
  color:#cccccc;
}

.bibtex dt a,
.bibtex dt {
 color:#99ccff;
}

.bibsearch .submit {
  background:#cccccc;
}

.bibsearch .reset {
  background:#cccccc;
}

/* RedDotPlugin */
.natBody .redDot a {
  color:#99ff66;
  font-weight:bold;
}
/* blogging */
.blogAbout {
  font-size:0.9em;
}
.blogSideBar {
  color:#cccccc;
}
.blogSideBarSection {
  margin-bottom:1.5em;
}
.blogSideBarSection ol {
  padding-left:2em;
}
.blogSideBarSection ul {
  margin:0px;
}
.blogSideBarCategories ul,
.blogSideBarComments ul {
}
.blogSideBarComments li {
  margin-bottom:0.5em;
}
.blogAdminButtons,
.blogAuthorButtons {
  background:#555555;
  border:1px solid #cccccc;
}
.blogAdminButtons input[type="text"],
.blogAuthorButtons input[type="text"] {
  border:1px solid #555555;
}
.blogHeadline .blogCommentCount {
  font-size:1.5em;
}
.blogEntry {
  margin-bottom:1em;
}
.blogInfo {
  margin-bottom:0.5em;
}
.blogCommentOdd {
  background:#555555;
  border:1px solid #cccccc;
}
.blogSubComment {
  border-left:2px solid #99ff66;
}
.blogComment h3 {
  border-bottom:2px solid #cccccc;
}
.blogCommentOdd h3 {
  border-bottom:2px solid black;
}
