/* variation to switch on the web buttons for stormy */
@import url('BaseButtons.css');

.natTopBar {
  border-bottom:0px;
}
.natWebButtons {
  padding-left:0px;
  padding-right:0px;
  border-bottom:1px solid #999999;
}
.natWebButtonsContents {
  font-size:13px;
  font-family:arial, sans-serif;
  padding:5px 15px;
}
.natWebButtons ul li {
  margin-right:0px;
}
.natWebButtons ul li a {
  padding:5px 10px;
  color:white;
  font-weight:bold;
}
.natWebButtons ul li a:hover {
  text-decoration: none;
  color:#99ff66; 
}

.natWebButtons ul li.current a:hover {
  color:#99ff66; 
}
.natWebButtons ul li.current a {
  text-decoration: none;
  background:#555555;
  color:#eeeeee;
  border:0px;
}
