%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"attach"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title> %TMPL:P{"titleaction"}%%TOPIC% &lt; %WEB% &lt; %WIKITOOLNAME%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
%TMPL:P{"dragoncss"}%
</head>
<script language="JavaScript">
<!--HIDE
function initForm() {
   document.main.filepath.focus();
}
function launchWindow( theWeb, theTopic ) {
  win = open("%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain", theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
  if( win ) {
    win.focus();
  }
  return false;
}
//STOP HIDING-->
</script>
<body onLoad="initForm()">%TMPL:P{"simpleheader"}%
#PageTop
<form name="main" enctype="multipart/form-data" action="%SCRIPTURLPATH%/upload%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<div class="ds-nmcontent">
---++ Existing attachments for <nop>%TOPIC%
%META{"attachments" all="on"}%
%TMPL:P{"previousdetails"}%
<table width="100%">
   %TMPL:P{"previous"}%
 <tr>
  <td align="right">
   Local file:
  </td><td>
   <input type="hidden" name="filename" value="%FILENAME%" />
   <input type="file" name="filepath" value="%FILEPATH%" size="50" />
  </td>
 </tr>
 <tr>
  <td align="right">
   Comment:
  </td><td>
   <input type="text" name="filecomment" value="%FILECOMMENT%" maxlength="256" size="50" />
  </td>
 </tr>
 <tr>
  <td align="right">
   Link:
  </td><td>
   <input type="checkbox" name="createlink" %ATTACHLINKBOX% /> Create a link to the attached file at the end of the topic.
  </td>
 </tr>
 <tr>
  <td align="right">
   Hide file:
  </td><td>
   <input type="checkbox" name="hidefile" %HIDEFILE% /> Hide attachment in normal topic view.
  </td>
 </tr>
</table>

__Notes:__

   * *Help:* Please see %SYSTEMWEB%.FileAttachment for more information about attaching files.
   * *File size:* You can upload files up to %ATTACHFILESIZELIMIT% KB in size.
   * *Link checkbox:* In case the attached file is a JPG, GIF or PNG image and you check the box, 
     it will create an inline image (e.g. show the image) at the end of the topic.  For other
     file types a simple link will be created.
   * *Bug:* Internet Explorer 4.0 or earlier: If you get an "Internal Server Error"
     message when you upload a file, you need to try again. It should work the second time.
%TMPL:P{"extranotes"}%
</div>
%TMPL:P{"standardfooter"}%
</form>
#PageBottom
</div>
</body>
</html> %TMPL:END%
