a{color:#99ccff;text-decoration:none}
a:link{color:#99ccff;text-decoration:none}
a:visited{color:#99ccff;text-decoration:none}
a:hover{color:#99cc66}
a:active{color:#99cc66}
body{background:#333333;margin:0px 0px 10px 0px}
h1,h2,h3{margin:0px;padding:0px}
.blog{padding-left:15px;padding-right:15px;padding-top:15px}
.blogbody{background:#333333;color:#cccccc;font:normal small/140% verdana,arial,sans-serif;padding-left:10px;padding-right:10px;padding-top:10px}
.calendar{background:#333333;color:#666666;font:normal x-small/140% verdana,arial,sans-serif;padding:2px;text-align:center}
.calendarhead{background:#333333;color:#cccccc;font:bold x-small/140% verdana,arial,sans-serif;padding:2px}
.comments-body{background:#333333;color:#cccccc;font:normal small/12px verdana,arial,sans-serif;padding-bottom:15px;padding-left:10px;padding-right:10px}
.comments-head{border:1px solid #999999;color:#cccccc;font:normal small verdana,arial,sans-serif;margin-top:10px;padding:5px}
.comments-post{background:#333333;color:#999999;font:normal x-small verdana,arial,sans-serif}
.date{border:1px solid #cccccc;color:#cccccc;font:normal small verdana,arial,sans-serif;margin-bottom:10px;padding:5px}
.description{background:#000000;color:#999999;font:bold x-small verdana,arial,sans-serif;letter-spacing:normal;text-transform:none}
.posted{color:#cccccc;font:x-small verdana,arial,sans-serif;margin-bottom:15px}
.powered{border-bottom:1px solid #cccccc;border-top:1px solid #cccccc;color:#cccccc;font:bold xx-small/140% verdana,arial,sans-serif;letter-spacing:.2em;margin-top:10px;padding:2px;text-align:center;text-transform:uppercase}
.side{background:#333333;color:#003366;font:normal x-small/140% verdana,arial,sans-serif;padding:2px}
.sidetitle{color:#999999;font:bold x-small/140% verdana,arial,sans-serif;letter-spacing:.2em;margin-top:10px;padding:2px;text-align:left;text-transform:uppercase}
.syndicate{font:xx-small/140% verdana,arial,sans-serif;margin-top:10px;padding:2px;text-align:center}
.title{color:#cccccc;font:bold small verdana,arial;text-transform:uppercase}
.trackback-body{background:#333333;color:#666666;font:normal small/140% verdana,arial,sans-serif;padding-top:15px}
.trackback-post{background:#333333;color:#999999;font:normal x-small verdana,arial,sans-serif;margin-bottom:20px}
.trackback-url{background:#333333;border:1px dashed #999999;color:#999999;font:normal small/140% verdana,arial,sans-serif;padding:5px}
#banner{background:#000000;border-bottom:1px dotted #999999;border-top:3px dotted #999999;color:#ffffff;font:normal x-large verdana,arial,sans-serif;letter-spacing:.2em;padding:15px;text-transform:uppercase}
#banner a,
#banner a:link,
#banner a:visited,
#banner a:active,
#banner a:hover{color:#ffffff;font:x-large verdana,arial,sans-serif;text-decoration:none}
#banner-commentspop{background:#000000;border-bottom:1px dotted #999999;border-top:3px dotted #999999;color:#ffffff;font:bold large verdana,arial,sans-serif;letter-spacing:.2em;padding:15px;text-transform:uppercase}
#content{background:#333333;border-right:1px dotted #999999;float:left;margin-right:15px;padding-bottom:20px;width:65%}
#links{padding-right:15px}
#menu{background:#333333;margin-bottom:15px}
