%TMPL:INCLUDE{"attach"}%<!-- template: attachnew.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Upload a file to <nop>[_1]" args="'%TOPICTITLE%'"}%%TMPL:END%
%TMPL:DEF{"attachaction"}%<!-- attachaction -->
%BUTTON{"%MAKETEXT{"Submit"}%" icon="tick" title="Upload selected file" type="submit"}%
%BUTTON{"%MAKETEXT{"Cancel"}%" icon="cross" title="Cancel and return to topic" target="%WEB%.%TOPIC%"}%
%CLEAR%
<!-- //attachaction -->%TMPL:END%
%TMPL:DEF{"notes"}% <!-- notes -->
<p> 
  %MAKETEXT{"*Link checkbox*: In case the attached file is a JPG, GIF or PNG image and you check the box, 
  it will create an inline image (e.g. show the image) at the end of the topic.  For other
  file types a simple link will be created."}%
</p>
<!-- //notes -->%TMPL:END%
%TMPL:DEF{"moreoptions"}%<!-- moreoptions -->
<tr style="%IF{ "context BatchUploadPluginEnabled" else='display:none'}%">
  <td>
    <input type="checkbox" class="twikiCheckbox" id="batchupload" name="batchupload" id="batchupload" />
  </td>
  <td>
    <label for="batchupload">
      <strong>%MAKETEXT{"Batch upload"}%:</strong>
      %MAKETEXT{"Extracts individual files in a zip archive."}%
    </label>
  </td>
</tr>
<tr>
  <td>
    <input type="checkbox" class="twikiCheckbox" name="redirectto" id="redirectto" value="%SCRIPTURL{"attach"}%/%WEB%/%TOPIC%?message=%ENCODE{"%MAKETEXT{"Upload successful"}%."}%" %IFDEFINED{"$percntURLPARAM{\"message\"}$percnt" then=" checked "}% />
  </td>
  <td>
    <label for="redirectto">
      %MAKETEXT{"<strong>Continue</strong> uploading more files"}%
    </label>
  </td>
</tr>
<!-- //moreoptions -->%TMPL:END%
%TMPL:DEF{"existingattachments"}%<!-- existingattachments -->
%TAB{"%MAKETEXT{"Existing files"}%"}%
<h2>%MAKETEXT{"Attachments at [_1]" args="'%TOPICTITLE%'"}%</h2>
<div id="natTopicAttachments" class="natTopicAttachments">
%META{"attachments" all="on"}%
</div>
%ENDTAB%
<!-- //existingattachments -->%TMPL:END%
