%TMPL:INCLUDE{"attach"}%<!-- template: attachagain.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Update attachment [_1] on [_2]" args="[[%ATTACHURLPATH%/%ENCODE{%FILENAME%}%][%FILENAME%]],[[%TOPIC%]]"}%%TMPL:END%
%TMPL:DEF{"existingattachments"}%<!-- existingattachments -->
---++ %MAKETEXT{"Version history"}%
<div class="natTopicAttachments">
%ATTACHTABLE% 
</div>
<!-- //existingattachments -->%TMPL:END%
%TMPL:DEF{"notes"}%<!-- notes -->
<p>
  *%MAKETEXT{"Properties"}%:* 
  %MAKETEXT{"The comment and visibility (i.e. is attachment hidden) can be changed without 
  uploading a file by pressing _Change Properties_"}%
</p>
<p>
%MAKETEXT{"*Change comment:* If you use _Change Properties_ to change a comment, the comment shown in 
the topic will change, but the comment shown against the attachment history will be the 
comment when the file was uploaded."}%
</p>
<p>
%MAKETEXT{"*Local file:* If you select a different file in _Local file:_, it is this that will be 
updated or added."}%
</p>
<p> %MAKETEXT{"*Move attachment*: An attachment can be deleted by moving it to the Trash.TrashAttachment."}%  </p>
<!-- //notes -->%TMPL:END%
%TMPL:DEF{"attachaction"}% <!-- attachaction -->
<input type="submit" class="natOkButton" value='%MAKETEXT{"Upload file"}%' />
<input type="submit" class="natAltButton" name="changeproperties" value='%MAKETEXT{"Change properties"}%' />
<input type="button" class="natCancelButton" value='%MAKETEXT{"Cancel"}%' onclick="window.location.href = '%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%';">
<!-- //attachaction -->%TMPL:END%
%TMPL:DEF{"fileuser"}%(%FILEUSER%)%TMPL:END%
