%TMPL:INCLUDE{"attach"}%
<!-- template: attachagain.nat.tmpl -->
%TMPL:DEF{"previousdetails"}%<h2> %MAKETEXT{"Update attachment"}% "%FILENAME%" </h2>
<div class="natTopicAttachments">
%ATTACHTABLE% 
</div>
%TMPL:END%
%TMPL:DEF{"notes"}% *%MAKETEXT{"Properties"}%:* 
%MAKETEXT{"The comment and visibility (i.e. is attachment hidden) can be changed without 
uploading a file by pressing _Change Properties_"}%
<p>
%MAKETEXT{"*Change comment:* If you use _Change Properties_ to change a comment, the comment shown in 
the topic will change, but the comment shown against the attachment history will be the 
comment when the file was uploaded."}%
</p>
<p>
%MAKETEXT{"*Local file:* If you select a different file in _Local file:_, it is this that will be 
updated or added."}%
</p>
<p> %MAKETEXT{"*Move attachment*: An attachment can be deleted by moving it to the Trash.TrashAttachment."}%  </p>
%TMPL:END%
%TMPL:DEF{"attachaction"}% <!-- -->
<input type="submit" class="natOkButton" value='%MAKETEXT{"Upload file"}%' /><!--
--><input type="submit" class="natAltButton" name="changeproperties" value='%MAKETEXT{"Change properties"}%' /><!--
--><input type="button" class="natCancelButton" value='%MAKETEXT{"Cancel"}%' onclick="window.location.href = '%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%';"><!--
-->%TMPL:END%
%TMPL:DEF{"fileuser"}%(%FILEUSER%)%TMPL:END%
