<!-- template: attachjavascript.nat.tmpl -->
%TMPL:DEF{"attachjavascript"}%<!-- attachjavascript -->
<script type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/NatSkin/attach.js"></script>
%JQSCRIPT{"jquery.validate"}%
<script type="text/javascript">
$(function() {
  $("#main").validate();
});
</script>
<!-- //attachjavascript -->%TMPL:END%
%TMPL:DEF{"javascript"}%<!-- javascript -->
%TMPL:P{"defaultjavascript"}%
%TMPL:P{"attachjavascript"}%
<!-- //javascript -->%TMPL:END%
