<!-- template: changeformsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%<!-- -->
<nop><h2><a name="Help">%MAKETEXT{"Help"}%</a></h2>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/TWikiForms" target="_blank">%MAKETEXT{"Form based input"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/TWikiMetaData" target="_blank">%MAKETEXT{"Topic Meta data"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%SYSTEMWEB%/TWikiVariables" target="_blank">%MAKETEXT{"Variables"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%BASEWEB%/WebPreferences" target="_blank">WebPreferences</a>
<nop><h2><a name="Notes">%MAKETEXT{"Notes"}%</a></h2>
<div class="natNotes">
<p>%MAKETEXT{"Any change you made to topic before coming to this page are preserved."}%</p>
<p><span class="twikiAlert">%MAKETEXT{"Existing form data will be lost! (still available in old version)"}%</span></p>
<p>%MAKETEXT{"All possible forms are defined in the WEBFORM variable in the WebPreferences."}%</p>
</div>
%TMPL:END%
