%TMPL:INCLUDE{"page"}%<!-- template: changes.nat.tmpl -->
%TMPL:INCLUDE{"changesbody"}%<!-- changesbody// -->
%TMPL:INCLUDE{"changessidebar"}%<!-- changessidebar// -->
%TMPL:INCLUDE{"changestopicactions"}%<!-- changestopicactions// -->
%TMPL:INCLUDE{"changesjavascript"}%<!-- changesjavascript// -->
%TMPL:INCLUDE{"changesstyles"}%<!-- changesstyles -->
%TMPL:DEF{"bodyclass"}%natChangesBody%TMPL:END%
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"changes"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_VIEW% %TMPL:END%
%TMPL:DEF{"content"}%<!-- content -->
<table class="natSearchTable" cellpadding="0" cellspacing="0" width=100%>
<tr>
  <th width="50%">%MAKETEXT{"Topic"}%</th>
  <th width="30%">%MAKETEXT{"Changed"}%</th>
  <th width="20%">%MAKETEXT{"By"}%</th>
</tr>
</table>
<table class="natSearchHit" cellpadding="0" cellspacing="0" width=100%>
<!-- debug: before repeat -->%REPEAT%<!-- debug: after repeat -->  
<tr>
  <th width="50%">
    <a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a>
  </th><th width="30%">
    <a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPICNAME%?type=last">%TIME%</a> - %REVISION%
  </th><th width="20%">
    %AUTHOR%
  </th>
</tr>
<tr>
  <td colspan="3" width="80%">
    <font size="-1">
    %TEXTHEAD% </font>
  </td>
</tr>
<!-- debug: search repeat end -->%REPEAT%<!-- debug: search footer start-->
</table>
<!-- //content -->%TMPL:END%
