%TMPL:INCLUDE{"edit"}%<!-- template: editform.nat.tmpl -->
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"edit form"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"textarea"}%<div style="display:none"><textarea name="text" rows="10" cols="80">%TEXT%</textarea></div>%TMPL:END%
%TMPL:DEF{"pagetitle"}%[[%WEB%.%TOPIC%][%WEBLINK{format="$web"}%.%TOPIC%]] (%MAKETEXT{"edit form"}%)%TMPL:END%
