<!-- template: editstyles.nat.tmpl -->
%TMPL:DEF{"editstyles"}%
<style type="text/css">
  @import url("%PUBURLPATH%/%TWIKIWEB%/NatEditPlugin/styles.css");
  @import url("%PUBURLPATH%/%TWIKIWEB%/NatEditPlugin/%IF{"defined NATEDIT_THEME" then="%NATEDIT_THEME%" else="default"}%/styles.css");
</style>
%TMPL:END%
%TMPL:DEF{"styles"}%
%TMPL:P{"defaultstyles"}%
%TMPL:P{"editstyles"}%
%TMPL:END%
