%TMPL:INCLUDE{"edit"}% <!-- edittext.nat.tmpl -->
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"edit text"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1>[[%WEB%.%TOPIC%]] (%MAKETEXT{"edit text"}%)</h1>%TMPL:END%
%TMPL:DEF{"formfields"}%%TMPL:END%
