%TMPL:INCLUDE{"page"}%<!-- template: edit.nat.tmpl -->
%TMPL:INCLUDE{"editbody"}%<!-- editbody// -->
%TMPL:INCLUDE{"edittopicactions"}%<!-- edittopicactions// -->
%TMPL:INCLUDE{"editjavascript"}%<!-- editjavascript// -->
%TMPL:INCLUDE{"editstyles"}%<!-- editstyles// -->
%TMPL:INCLUDE{"edithelp"}%<!-- edithelp// -->
%TMPL:INCLUDE{"edittoolbar"}%<!-- edittoolbar// -->
%TMPL:DEF{"bodyclass"}%natEditBody%TMPL:END%
%TMPL:DEF{"meta"}% %HTTP_EQUIV_ON_EDIT% %TMPL:END%
%TMPL:DEF{"title"}%%TOPICTITLE% - (%MAKETEXT{"edit"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contentheader"}%%TMPL:END%
%TMPL:DEF{"pagetitle"}%<!-- pagetitle -->
%IFDEFINEDTHEN{"%IFEXISTS{"%WEB%.%TOPIC%"}%" as="1"}%
[[%WEB%.%TOPIC%][%WEBLINK{format="$web"}%.%TOPIC%]] (%MAKETEXT{"edit"}%)
%ELSEDEFINED%
<nop>%WEBLINK{format="$web"}%.%TOPIC% (%MAKETEXT{"new"}%)
%FIDEFINED%
<!-- //pagetitle -->%TMPL:END%
