<!-- template: javascript.nat.tmpl -->
%TMPL:DEF{"defaultjavascript"}%<!-- defaultjavascript -->
%TMPL:P{"jqueryjavascript"}%
<script type="text/javascript" src="%PUBURLPATH%/%TWIKIWEB%/TWikiJavascripts/twiki.js"></script>
<script type="text/javascript" src="%PUBURL%/%TWIKIWEB%/JQueryPlugin/jquery.superfish.js" ></script>
<script type="text/javascript"> 
$(function() { 
  if (true) { // remove empty attachment comments
    $("#natTopicAttachments .natAttachmentComment").each(function(){
      var text = $(this).text();
      //alert("text='"+text+"' char="+text.charCodeAt(0));
      if ((text.length == 1 && text.charCodeAt(0) == 160)) {
        $(this).hide();
      }
    });
  }
  /* tooltips */
  if (true) {
    $(".natAttachmentActions a").tooltip({
      delay:350,
      track:true,
      showURL:false,
      extraClass:'twiki',
      showBody:': '
    });

    /* tooltip img previews */
    $(".natAttachmentName a").each(function() {
      if ($(this).attr('href').match(/jpe?g|gif|png|bmp/i)) {
        $(this).tooltip({
          delay:350,
          track:true,
          showURL:false,
          bodyHandler: function() { 
            var img = $("<img/>").attr({
              src: this.href
            }); 
            return $("<div class='imgTooltip'></div>").append(img);
          }
        });
      }
    });
  }
  /* horiz menu */
  if (true) {
    $(".natWebButtonsContents > ul").superfish({}).find("li:has(ul)").addClass("hasSubMenu");
  }
  %TMPL:P{"onloadscript"}% 
}); 
</script>
<!-- //defaultjavascript -->%TMPL:END%
%TMPL:DEF{"javascript"}%<!-- javascript -->
%TMPL:P{"defaultjavascript"}%
<!-- //javascript -->%TMPL:END%
