<!-- template: loginbase.tmpl -->
%TMPL:DEF{"onloadscript"}%if (document.LogonForm) {document.LogonForm.username.focus();} %TMPL:END%
%TMPL:DEF{"rememberbox"}%<!-- rememberbox -->
<div class="twikiFormStep">
<label>
  <table cellspacing="0" cellpadding="0"><tr><td>
  <input name="remember" class="twikiCheckbox" type="checkbox" value="1" />
  </td><td style="padding-left:0.3em">
  %MAKETEXT{"Remember me on this computer"}%
  </td></tr></table>
</label>
</div>
<!-- //rememberbox -->%TMPL:END%
%TMPL:DEF{"logon"}%<!-- logon -->
<form id="LogonForm" name="LogonForm" action="%IFDEFINED{"%HTTPSLOGON%" as ="on" then="https" else="http"}%://%HTTP_HOST%%SCRIPTURLPATH{"login"}%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="web" value="%WEB%" />
<input type="hidden" name="topic" value="%TOPIC%" />
<input type="hidden" name="action" value="%TMPL:P{action}%"/>
<input type="hidden" name="origurl" value="%IFDEFINED{"%ORIGURL%"}%" />
<input type="submit" style="display:none" />
<div class="twikiFormStep">
---+++ %MAKETEXT{"Username"}%:
<input type="text" class="twikiFormField required" size="20" id="username" name="username" value='%URLPARAM{"usernamestep"}%' /> 
</div>
<div class="twikiFormStep">
---+++ %MAKETEXT{"Password"}%:
<input type="password" class="twikiFormField required" size="20" id="password" name="password" />
</div>
%TMPL:P{context="can_remember_login" then="rememberbox"}%<!-- rememberbox // -->
<div class="twikiFormStep twikiFormButtons">
  %BUTTON{"%MAKETEXT{"Log In"}%" icon="tick" type="submit"}% 
  %BUTTON{"%MAKETEXT{"Cancel"}%" icon="cross" target="%WIKILOGOURL%"}%
  <span class="twikiClear"></span>
</div>
</form>
%JQSCRIPT{"jquery.validate"}%
%JQSCRIPT{"jquery.shake"}%
<script type="text/javascript">
$(function() {
  $("#LogonForm").validate();
  var bannerText = $("#natLogonBanner").text();
  if (bannerText == '%TMPL:P{UNRECOGNISED_USER}%') {
    $(".natLogin").shake(3, 10, 180);
  }
});
</script>
<!-- //logon -->%TMPL:END%
