%TMPL:INCLUDE{"page"}%<!-- template: login.nat.tmpl -->
%TMPL:INCLUDE{"loginbase"}%<!-- loginbase// -->
%TMPL:INCLUDE{"loginbody"}%<!-- loginbody// -->
%TMPL:INCLUDE{"logintopicactions"}%<!-- logintopicactions// -->
%TMPL:INCLUDE{"loginsidebar"}%<!-- loginsidebar// -->
%TMPL:INCLUDE{"loginjavascript"}%<!-- loginjavascript// -->
%TMPL:INCLUDE{"loginstyles"}%<!-- loginstyles// -->
%TMPL:DEF{"title"}%Login - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1 class="natLoginHeading"><span>%TMPL:P{"heading"}%</span></h1>%TMPL:END%
%TMPL:DEF{"bodyclass"}%natLoginBody%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"LOG_IN_BANNER"}%%MAKETEXT{"Please enter your username and password"}%.%TMPL:END%
%TMPL:DEF{"LOGGED_IN_BANNER"}%%MAKETEXT{"[_1] is currently logged in" args="%USERSWEB%.%WIKINAME%"}%.%TMPL:END%
%TMPL:DEF{"NEW_USER_NOTE"}%%MAKETEXT{"Enter a new username and password to change identity"}%.%TMPL:END%
%TMPL:DEF{"UNRECOGNISED_USER"}%%MAKETEXT{"Unrecognised user and/or password."}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- message -->
<div class="twikiFormSteps">
<h2 id="natLogonBanner">%BANNER%</h2>
%NOTE%<!-- note// -->
%TMPL:P{"logon"}%<!-- logon// -->
%TMPL:P{"seealso"}%<!-- seealso/ -->
</div>
<!-- //message-->%TMPL:END%
%TMPL:DEF{"content"}%<!-- content -->
<div class="natLogin">
<div class="natLoginMessage">
%TMPL:P{"contenttitle"}%<!-- contenttitle// -->
%TMPL:P{"message"}%<!-- message// -->
%TMPL:P{"contact"}%<!-- contact// -->
</div></div> 
<!-- //content -->%TMPL:END%
%TMPL:DEF{"contact"}%<!-- contact -->
<div class="natContact"> 
<hr />
%MAKETEXT{"Contact [_1] if you have any questions." args="<a href='mailto:%WIKIWEBMASTER%?subject=%ENCODE{\"%WIKITOOLNAME%: Request for support\"}%&&body=%ENCODE{\"Hello, I have got a question ...\"}%'>%WIKIWEBMASTER%</a>"}%
</div> 
<!-- //contact -->%TMPL:END%
%TMPL:DEF{"seealso"}%<!-- seealso -->
[[%SYSTEMWEB%.ResetPassword][%MAKETEXT{"Did you forget your password?"}%]] %BR%
[[%TWIKIREGISTRATION%][%MAKETEXT{"Do you want to become a registered user?"}%]]
<!-- //seealso -->%TMPL:END%
