<!-- template: moveattachmentsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%<!-- -->
<nop><h2><a name="Help">%MAKETEXT{"Help"}%</a></h2>
   * <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/FileAttachment" target="_blank">%MAKETEXT{"File Attachments"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/FileAttachment#Moving_Attachment_Files" target="_blank">%MAKETEXT{"Moving Attachments"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/FileAttachment#Deleting_Attachments" target="_blank">%MAKETEXT{"Deleting Attachments"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/FileAttachment#Linking_to_Attached_Files" target="_blank">%MAKETEXT{"Linking to Attachments"}%</a>
   * <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/HiddenAttachment" target="_blank">%MAKETEXT{"Hiding Attachments"}%</a>
<nop><h2><a name="Notes">%MAKETEXT{"Notes"}%</a></h2>
<div class="natNotes">
%TMPL:P{"notes"}% </div>
%TMPL:END%
