%TMPL:INCLUDE{"oops"}%
<!-- template: oopsnoweb.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"The [_1] web does not exist" args="\"%WEB%\""}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
---++ %MAKETEXT{"Explanation"}%
<blockquote>
%MAKETEXT{"The [_1] is divided into webs; each one represents one
subject, one area of collaboration. You are trying to access a web
that does not exist." args="<nop>%WIKITOOLNAME%"}%
</blockquote>
---++ %MAKETEXT{"If you came here by clicking on a question mark link"}%
<blockquote>
%MAKETEXT{"A link to a topic located in another web is written like *Otherweb.<nop>TopicName*.
Make sure that the name of the web is not misspelled on the previous page; fix the 
link if necessary."}%
</blockquote>
---++ %MAKETEXT{"If you would like to create this web"}%
<blockquote>
%MAKETEXT{"You can [[[_1]][create a new web]] if you have the permission. Contact [_2] if you have any questions."
 args="%SCRIPTURLPATH{\"view\"}%/%TWIKIWEB%/ManagingWebs?newweb=%WEB%&amp;newtopic=%TOPIC%#CreateNewWeb,%WIKIWEBMASTER%"}%
</blockquote>

---++ %MAKETEXT{"If you intend to do a full text search:"}%
<blockquote>
<form name="search" action="%SCRIPTURLPATH{"search"}%/%MAINWEB%/">
<input type="text" name="search" size="32" value="%WEB%.%TOPIC%">&nbsp;
<input type="submit" value='%MAKETEXT{"Search"}%'>
<input type="hidden" name="web" value="all">
<input type="hidden" name="scope" value="text">
<input type="hidden" name="ignorecase" value="on"><br />
<div style="vertical-align:middle"> %MAKETEXT{"*Tip:* More options in WebSearch"}%.</div>
</form>
</blockquote>

%TMPL:P{"goback"}% %TMPL:END%
