%TMPL:INCLUDE{"page"}%<!-- template: oops.nat.tmpl -->
%TMPL:INCLUDE{"oopsbody"}%<!-- ooppsbody// -->
%TMPL:INCLUDE{"oopstopicactions"}%<!-- oopstopicactions// -->
%TMPL:INCLUDE{"oopssidebar"}%<!-- oopssidebar// -->
%TMPL:INCLUDE{"oopsjavascript"}%<!-- oopsjavascript// -->
%TMPL:INCLUDE{"oopsstyles"}%<!-- oopsstyles// -->
%TMPL:DEF{"bodyclass"}%natOopsBody%TMPL:END%
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"oops"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"contenttitle"}%<h1 class="%TMPL:P{"headingstyle"}%">%TMPL:P{"heading"}%</h1>
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"headingstyle"}%natOopsHeading%TMPL:END%
%TMPL:DEF{"contact"}%<!-- contact -->
<hr />
%MAKETEXT{"Contact [_1] if you have any questions." args="<a href=\"mailto:%WIKIWEBMASTER%?subject=%ENCODE{\"%WIKITOOLNAME%: Request for support\"}%&&body=%ENCODE{\"Hello, I have got a question ...\"}%\">%WIKIWEBMASTER%</a>"}%
<!-- //contact -->%TMPL:END%
%TMPL:DEF{"goback"}%<!-- goback -->
%MAKETEXT{"Please go <a href=\"javascript:history.back()\">back</a> in your browser and try again."}%

<form class="natOopsButtons" name="ButtonBox" action="%WIKILOGOURL%">
  <input type="button" class="natOkButton" value='%MAKETEXT{"OK"}%' onclick="history.back()" />&nbsp;
  <input type="button" class="natCancelButton"  value='%MAKETEXT{"Cancel"}%' onclick="window.location.href='%WIKILOGOURL%'"/>
</form> 
<!-- //goback -->%TMPL:END%
%TMPL:DEF{"content"}%<!-- content -->
<div class="natOops">
  <div class="natOopsMessage">
    %TMPL:P{"contenttitle"}%<!-- contenttitle// -->
%TMPL:P{"message"}%<!-- message// -->
    <div class="natContact"> 
      %TMPL:P{"contact"}% 
    </div>
  </div>
</div>
<!-- // content -->%TMPL:END%
