%TMPL:INCLUDE{"oopslogonbase"}%
<!-- template: oopswrongpassword.nat.tmpl -->
%TMPL:DEF{"onloadscript"}%document.LogonForm.username.focus();%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Incorrect Password"}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%MAKETEXT{"The password you entered in the *password* field is incorrect. Please try again."}%

%TMPL:P{"logon"}%

%MAKETEXT{"See also:"}% %MAINWEB%.TWikiGroups, %SYSTEMWEB%.TWikiAccessControl, %TWIKIREGISTRATION%
%TMPL:END%
