%TMPL:INCLUDE{"oops"}%
<!-- template: oopsregwiki.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Incorrect <nop>WikiName"}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%MAKETEXT{"The [_1] field must be your first and lastname in [_2], e.g. your capitalized first and lastname with spaces removed."
 args="%TWIKIWEB%.WikiName,%TWIKIWEB%.WikiNotation"}%

| *%MAKETEXT{"Good examples:"}%* | *%MAKETEXT{"Incorrect <nop>WikiName"}%:* |
| =JohnSmith= | =John M. Smith= |
| =RjMiller= | =RJ Miller= |
| =RickO= | =Rick O= (%MAKETEXT{"single character last name"}%) |
| =KellerF= | =FKeller= (%MAKETEXT{"single character first name"}%) |

%TMPL:P{"goback"}% %TMPL:END%
