%TMPL:INCLUDE{"oops"}%
<!-- template: oopshistory.nat.tmpl -->
%TMPL:DEF{"bodyclass"}%natOopsHistoryBody%TMPL:END%
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"History"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Compare Revisions of [_1]" args="<nop>%TOPIC%"}% (r%HISTORY_REV1% - r%HISTORY_REV2%)%TMPL:END%
%TMPL:DEF{"headingstyle"}%natNoteHeading%TMPL:END%
%TMPL:DEF{"diffbin"}%%TMPL:P{context="CompareRevisionsAddonPluginEnabled" then="compare" else="rdiff"}%%TMPL:END% 
%TMPL:DEF{"compare"}%compare%TMPL:END%
%TMPL:DEF{"rdiff"}%rdiff%TMPL:END%
%TMPL:DEF{"renderoptions"}%%TMPL:P{context="CompareRevisionsAddonPluginEnabled" then="renderoptions_crap_enabled" else="renderoptions_crap_disabled"}%%TMPL:END%
%TMPL:DEF{"renderoptions_crap_enabled"}%
  <option value="interweave">%MAKETEXT{"Interweave"}%</option>
  <option value="sidebyside">%MAKETEXT{"Side-by-side"}</option>
%TMPL:END%
%TMPL:DEF{"renderoptions_crap_disabled"}%
  <option value="sidebyside">%MAKETEXT{"Side-by-side"}%</option>
  <option value="sequential">%MAKETEXT{"Sequential"}%</option>
  <option value="debug">%MAKETEXT{"Debug"}%</option>
%TMPL:END%
%TMPL:DEF{"javascript"}%%TMPL:P{"defaultjavascript"}%%TMPL:P{"oopshistoryjavascript"}%%TMPL:END%
%TMPL:DEF{"oopshistoryjavascript"}%
<script type="text/javascript">
/* updates the radio buttons in a way to prevent illegal selections */
function updateRadio () {
  var vals = [];
  $(".natHistoryTable input[@checked]").each(function () {
    vals[$(this).attr('name')] = parseInt($(this).val(), 10);
  });
  $(".natHistoryTable input[@type='radio']").each(function() {
    $(this).attr('disabled', 'disabled');
    var rev = $(this).attr('name');
    var val = parseInt($(this).val(), 10);
    if (val > 0) {
      if ((rev == 'rev1' && val > vals['rev2']) ||
          (rev == 'rev2' && val < vals['rev1'])) {
        $(this).removeAttr('disabled');
      }
    }
  });
  $(this).focus();
}
$(function() {
  updateRadio();
  $(".natHistoryTable input[@name='rev1']:last").attr('disabled','disabled').attr('value', '0');
  $(".natHistoryTable input[@name='rev2']:first").attr('disabled','disabled').attr('value', '0');
  $(".natHistoryTable input").click(updateRadio);
});
</script>
%TMPL:END%
%TMPL:DEF{"rev_table"}%%TMPL:P{context="RevCommentPluginEnabled" then="table_rcp_enabled" else="table_rcp_disabled"}%%TMPL:END%
%TMPL:DEF{"table_rcp_disabled"}%<!-- table_rcp_disabled -->
<table class="natHistoryTable" border="0" cellpadding="5">
<tr>
  <th>%MAKETEXT{"Revision"}%</th>
  <th>%MAKETEXT{"Date"}%</th>
  <th>%MAKETEXT{"Author"}%</th>
</tr>
%~~ HISTORY{
~~~   format="
~~~     <tr>
~~~       <td align=\"right\">
~~~         <a href=\"%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=1.$rev\" title=\"View this revision\">$rev</a>
~~~         <input $checked1 type=\"radio\" name=\"rev1\" value=\"$rev\">
~~~         <input $checked2 type=\"radio\" name=\"rev2\" value=\"$rev\">
~~~       </td>
~~~       <td>$date</td>
~~~       <td>$percntIFEXISTS{\"$wikiusername\" then=\"[[$wikiusername][$wikiname]]\" else=\"<nop>$wikiname\"}$percnt</td>
~~~     </tr>" 
~~~   rev1="%URLPARAM{"rev1"}%" 
~~~   rev2="%URLPARAM{"rev2"}%" 
~~~   nrev="%URLPARAM{"nrev"}%" 
~~~  header=""
~~~  footer="
~~~    <tr>
~~~      <td colspan=\"3\" align=\"center\">
~~~        $percntIFDEFINEDTHEN{\"$next{'test'}\" as=\"test\" glue=\"off\"}$percnt
*~~        </a>
~~~        <a href=\"$next{'%SCRIPTURLPATH{oops}%/%WEB%/%TOPIC%?template=oopshistory&nrev=$nrev'}\">
*~~          <img src=\"%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/go_start.gif\" 
~~~               alt=\"%MAKETEXT{show last revisions}%\"
~~~               title=\"%MAKETEXT{show last revisions}%\" />
*~~        </a>
~~~        <a href=\"$next{'%SCRIPTURLPATH{oops}%/%WEB%/%TOPIC%?template=oopshistory&rev1=$rev1&nrev=$nrev'}\">
*~~          <img src=\"%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/go_back.gif\" 
~~~               alt=\"%MAKETEXT{show later revisions}%\"
~~~               title=\"%MAKETEXT{show later revisions}%\" />
*~~        </a>
~~~        $percntELSEDEFINED$percnt
~~~          <img src=\"%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/blank.gif\" 
~~~               alt=\"%MAKETEXT{blank}%\" />
~~~          <img src=\"%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/blank.gif\" 
~~~               alt=\"%MAKETEXT{blank}%\" />
~~~        $percntFIDEFINED$percnt
~~~        $percntIFDEFINEDTHEN{\"$previous{'test'}\" as=\"test\" glue=\"off\"}$percnt
~~~        <a href=\"$previous{'%SCRIPTURLPATH{oops}%/%WEB%/%TOPIC%?template=oopshistory&rev1=$rev1&nrev=$nrev'}\">
*~~          <img src=\"%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/go_forward.gif\" 
~~~               alt=\"%MAKETEXT{show earlier revisions}%\"
~~~               title=\"%MAKETEXT{show earlier revisions}%\" />
*~~        </a>
~~~        <a href=\"$previous{'%SCRIPTURLPATH{oops}%/%WEB%/%TOPIC%?template=oopshistory&rev1=1&nrev=$nrev'}\">
*~~          <img src=\"%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/go_end.gif\" 
~~~               alt=\"%MAKETEXT{show first revisions}%\"
~~~               title=\"%MAKETEXT{show first revisions}%\" />
~~~        $percntELSEDEFINED$percnt
~~~          <img src=\"%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/blank.gif\" 
~~~               alt=\"%MAKETEXT{blank}%\" />
~~~          <img src=\"%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/blank.gif\" 
~~~               alt=\"%MAKETEXT{blank}%\" />
~~~        $percntFIDEFINED$percnt
~~~      </td>
~~~    </tr>"
~~~ }%
<tr>
    <td colspan="3" align="center">
      <input type="submit" class="natOkButton" value="%MAKETEXT{Compare}%">
      <input type="button" class="natCancelButton" value="Cancel" onclick="window.location.href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%'">
    </td>
</tr>
</table>
<!-- //table_rcp_disabled -->%TMPL:END%
%TMPL:DEF{"table_rcp_enabled"}%<!-- table_rcp_enabled -->
<table class="natHistoryTable" border="0" cellpadding="5">
  <tr>
    <th>%MAKETEXT{"Revision"}%</th>
    <th>%MAKETEXT{"Date"}%</th>
    <th>%MAKETEXT{"Author"}%</th>
    <th>%MAKETEXT{"Comment"}%</th>
  </tr>
%~~ HISTORY{
~~~   format="
~~~     <tr>
~~~       <td align=\"right\">
~~~         <a href=\"%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=1.$rev\">$rev</a>
~~~         <input type=\"radio\" name=\"rev1\" value=\"$rev\">
~~~         <input type=\"radio\" name=\"rev2\" value=\"$rev\">
~~~       </td>
~~~       <td>$date</td>
~~~       <td>%IFEXISTS{"$wikiusername" then="[[$wikiusername][$wikiname]]" else="<nop>$wikiname"}%</td>
~~~       <td>%REVCOMMENT[$rev]%</td>
~~~     </tr>" 
~~~   rev1="%URLPARAM{"rev1"}%" 
~~~   rev2="%URLPARAM{"rev2"}%" 
~~~   nrev="%URLPARAM{"nrev"}%" 
~~~   header=""
~~~   footer="
~~~    <tr>
~~~      <td colspan=\"3\" align=\"center\">
~~~        $previous{'first' url='%SCRIPTURLPATH{oops}%/%WEB%/%TOPIC%?template=oopshistory&rev1=1&nrev=$nrev'}
~~~        $previous{'earlier' url='%SCRIPTURLPATH{oops}%/%WEB%/%TOPIC%?template=oopshistory&rev1=$rev1&nrev=$nrev'} 
~~~        $next{'later' url='%SCRIPTURLPATH{oops}%/%WEB%/%TOPIC%?template=oopshistory&rev1=$rev1&nrev=$nrev'} 
~~~        $next{'last' url='%SCRIPTURLPATH{oops}%/%WEB%/%TOPIC%?template=oopshistory&nrev=$nrev'}
~~~      </td>
~~~    </tr>"
~~~ }%
<tr>
    <td colspan="3" align="center">
      <input type="submit" class="natOkButton" value="%MAKETEXT{Compare}%">
      <input type="button" class="natCancelButton" value="Cancel" onclick="window.location.href='%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%'">
    </td>
</tr>
</table>
<!-- //table_rcp_enabled -->%TMPL:END%
%TMPL:DEF{"message"}% 
<form name="main" action="%SCRIPTURLPATH{"%TMPL:P{"diffbin"}%"}%/%WEB%/%TOPIC%">
<input type="hidden" name="render" value="sidebyside" />
<input type="hidden" name="type" value="history">
%TMPL:P{"rev_table"}%</form>
<form action="%SCRIPTURLPATH{oops}%/%WEB%/%TOPIC%">
<input type="hidden" name="template" value="oopshistory">
<table cellpadding="5">
  <tr>
    <td><input type="submit" class="natAltButton" value="Show"></td>
    <td>
      <select type="select" name="nrev" size="1">
        <option %IFDEFINED{"$percntHISTORY_NREV$percnt" as="5" then=" selected"}%>5</option>
        <option %IFDEFINED{"$percntHISTORY_NREV$percnt" as="10" then=" selected"}%>10</option>
        <option %IFDEFINED{"$percntHISTORY_NREV$percnt" as="20" then=" selected"}%>20</option>
        <option %IFDEFINED{"$percntHISTORY_NREV$percnt" as="50" then=" selected"}%>50</option>
      </select>
      revisions up to
      <input type="text" name="rev2" value="%HISTORY_REV2%" size="2">
    </td>
  </tr>
</table>
</form>
%TMPL:END%
