%TMPL:INCLUDE{"oops"}%
<!-- template: oopsupload.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Uploaded file \"[_1]\" does not exist or is empty" args="<nop>%PARAM1%"}%%TMPL:END%
%TMPL:DEF{"message"}%
%TMPL:P{"goback"}%
%TMPL:END%
