%TMPL:INCLUDE{"oops"}%<!-- template: oopsgeneric.nat.tmpl -->
%TMPL:DEF{"title"}%%PARAM1% - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"heading"}% %PARAM1% %TMPL:END%
%TMPL:DEF{"message"}%<!-- message -->
%MAKETEXT{ "[_1]" args="%PARAM2%" }%

%MAKETEXT{ "[_1]" args="%PARAM3%" }%

%MAKETEXT{ "[_1]" args="%PARAM4%" }%
<!-- //message -->%TMPL:END%
