%TMPL:INCLUDE{"oops"}%<!-- template: oopsmore.nat.tmpl -->
%TMPL:DEF{"bodyclass"}%natOopsMoreBody%TMPL:END%
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"tools"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"Tools"}%%TMPL:END%
%TMPL:DEF{"headingstyle"}%natNoteHeading%TMPL:END%
%TMPL:DEF{"message"}% %WEBCOMPONENT{"WebMoreTopicActions"}%
%TMPL:END%
