%TMPL:INCLUDE{"page"}%<!-- template: oops.nat.tmpl -->
%TMPL:INCLUDE{"oopsbody"}%<!-- -->
%TMPL:INCLUDE{"oopstopicactions"}%<!-- -->
%TMPL:INCLUDE{"oopssidebar"}%<!-- -->
%TMPL:INCLUDE{"oopsjavascript"}%<!-- -->
%TMPL:INCLUDE{"oopsstyles"}%<!-- -->
%TMPL:DEF{"bodyclass"}%natOopsBody%TMPL:END%
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"oops"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"headingstyle"}%natOopsHeading%TMPL:END%
%TMPL:DEF{"contact"}% <hr />
%MAKETEXT{"Contact [_1] if you have any questions." args="<a href=\"mailto:%WIKIWEBMASTER%?subject=%ENCODE{\"%WIKITOOLNAME%: Request for support\"}%&&body=%ENCODE{\"Hello, I have got a question ...\"}%\">%WIKIWEBMASTER%</a>"}%
%TMPL:END%
%TMPL:DEF{"goback"}%%MAKETEXT{"Please go <a href=\"javascript:history.back()\">back</a> in your browser and try again."}%

<form class="natOopsButtons" name="ButtonBox" action="%WIKILOGOURL%">
  <input type="button" class="natOkButton" value='%MAKETEXT{"OK"}%' onclick="history.back()" />&nbsp;
  <input type="button" class="natCancelButton"  value='%MAKETEXT{"Cancel"}%' onclick="window.location.href='%WIKILOGOURL%'"/>
</form> %TMPL:END%
%TMPL:DEF{"content"}%<div class="natOops">
<div class="natOopsMessage">
<h1 class="%TMPL:P{"headingstyle"}%">%TMPL:P{"heading"}%</h1>
%TMPL:P{"message"}% <div class="natContact"> 
  %TMPL:P{"contact"}% 
</div>
</div>
</div> %TMPL:END%
