%TMPL:INCLUDE{"oops"}%
<!-- template: oopsrenamenotwikiword.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"New topic name is not a <nop>WikiWord"}% %TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%MAKETEXT{"Please chose a topic name that is a [_1] or check the _Allow non-Wiki Word_ &nbsp;box." args="%TWIKIWEB%.WikiWord"}%

%TMPL:P{"goback"}% %TMPL:END%
