%TMPL:INCLUDE{"oopslogonbase"}%
<!-- template: oopsaccessview.nat.tmpl -->
%TMPL:DEF{"action"}%view%TMPL:END%
%TMPL:DEF{"heading"}%%MAKETEXT{"View Access Denied"}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%MAKETEXT{"[_1] has no permission to view topic [[[_2]]]." args="%USERNAME%,%WEB%.%TOPIC%"}%

%TMPL:P{"logon"}%

%MAKETEXT{"See also:"}% %MAINWEB%.WikiGroups, %SYSTEMWEB%.AccessControl, %TWIKIREGISTRATION%
%TMPL:END%
