%TMPL:INCLUDE{"oops"}%
<!-- template: oopsregemail.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Invalid e-mail address"}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%MAKETEXT{"The email address entered is not valid."}%

%TMPL:P{"goback"}% %TMPL:END%

