%TMPL:INCLUDE{"oops"}%
<!-- template: oopsregpasswd.nat.tmpl -->
%TMPL:DEF{"heading"}%%MAKETEXT{"Passwords do not match"}%%TMPL:END%
%TMPL:DEF{"message"}%<!-- -->
%MAKETEXT{"The two passwords you entered do not match."}%

%TMPL:P{"goback"}% %TMPL:END%
