<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="%LANG%" lang="%LANG%">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<title>%TMPL:P{"title"}%</title>
<meta name="generator" content="NextWiki/NatSkin" /> %TMPL:P{"meta"}%
%IFDEFINEDTHEN{"%FAVICON%"}%
<link rel="icon" href="%FAVICON%" type="image/x-icon" />
<link rel="shortcut icon" href="%FAVICON%" type="image/x-icon" />
%FIDEFINED%
%GETSKINSTYLE%
%TMPL:P{"styles"}%
%TMPL:P{"javascript"}%
%WEBCOMPONENT{"WebHtmlHead"}%
</head>
<body class="%TMPL:P{"defaultbodyclass"}% %TMPL:P{"bodyclass"}% %IFSKINSTATE{sidebar="left" then="natBodyLeft" else="natBodyRight"}% %IFSKINSTATE{border="thin" then="natBodyThin"}% %IFSKINSTATE{border="on" then="natBodyBorder"}%">%TMPL:P{"body"}%</body>
</html>
<!-- template: page.nat.tmpl -->
%TMPL:INCLUDE{"strings"}%
%TMPL:INCLUDE{"body"}%
%TMPL:INCLUDE{"sidebar"}%
%TMPL:INCLUDE{"topbar"}%
%TMPL:INCLUDE{"styles"}%
%TMPL:INCLUDE{"javascript"}%
