<!-- template: previewstyles.nat.tmpl -->
%TMPL:DEF{"previewstyles"}%
<style type="text/css">
  @import url("%PUBURLPATH%/%TWIKIWEB%/NatEditContrib/styles.css");
  @import url("%PUBURLPATH%/%TWIKIWEB%/NatEditContrib/%IF{"defined NATEDIT_THEME" then="%NATEDIT_THEME%" else="default"}%/styles.css");
</style>
<style type="text/css">
.natMainContents {
  background-image:url('%PUBURLPATH%/%TWIKIWEB%/NatSkin/previewbg.png');
}
</style>
%TMPL:END%
%TMPL:DEF{"styles"}%
%TMPL:P{"defaultstyles"}%
%TMPL:P{"previewstyles"}%
%TMPL:END%
