%TMPL:INCLUDE{"javascript"}%<!-- template: printjavascript.nat.tmpl -->
%TMPL:DEF{"javascript"}%<!-- javascript -->
%TMPL:P{"defaultjavascript"}%
%TMPL:P{"printjavascript"}%
<!-- //javascript -->%TMPL:END%
