%TMPL:INCLUDE{"page"}% 
<!-- template: rdiff.nat.tmpl -->
%TMPL:INCLUDE{"rdiffsidebar"}%<!-- -->
%TMPL:INCLUDE{"rdifftopicactions"}%<!-- -->
%TMPL:INCLUDE{"rdiffbody"}%<!-- -->
%TMPL:INCLUDE{"rdiffjavascript"}%<!-- -->
%TMPL:INCLUDE{"rdiffstyles"}%<!-- -->
%TMPL:DEF{"bodyclass"}%natRdiffBody%TMPL:END%
%TMPL:DEF{"title"}%%TOPICTITLE% (%REVTITLE2% vs. %REVTITLE1%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"content"}%%REPEAT%<table class="twikiTable twikiDiffTable" cellspacing="0" cellpadding="0">
<th>
<a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%?rev=%REVTITLE1%">%TOPIC% %REVTITLE1% - %REVINFO1%</a>
</th>
<tr><td style="padding-left:0px; padding-right:0px; border:0px">
%TEXT%
</td></tr>
</table>
<br clear="all" />%REPEAT%
<div class="natRevision">
<table class="twikiTable">
%TAIL%
</table>
</div>
%TMPL:END%
%REPEAT%<tr><td>%MAKETEXT{"Revision"}% %REVTITLE%</td><td>%REVINFO%</td></tr>
