<!-- template: rdiffstyles.nat.tmpl -->
%TMPL:DEF{"rdiffstyles"}%
<style type="text/css">
.natTopRightContents { 
  white-space:normal; 
}
</style>
%TMPL:END%
%TMPL:DEF{"styles"}%%TMPL:P{"defaultstyles"}%%TMPL:P{"rdiffstyles"}%%TMPL:END%
