<!-- template: renamewebsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%<!-- -->
<nop><h2><a name="Help">%MAKETEXT{"Help"}%</a></h2>
	* <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/ManagingWebs" target="_blank">%MAKETEXT{"Managing Webs"}%</a> 
	* <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/WikiWord" target="_blank">%MAKETEXT{"WikiWord"}%</a> 
<nop><h2><a name="Notes">%MAKETEXT{"Notes"}%</a></h2>
<div class="natNotes">
%TMPL:P{"notes"}% </div>
%TMPL:END%

