<!-- template: renamewebsidebar.nat.tmpl -->
%TMPL:DEF{"sidebar"}%<!-- sidebar -->
<h2 ><a name="Help">%MAKETEXT{"Help"}%</a></h2>
	* <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/ManagingWebs" target="_blank">%MAKETEXT{"Managing Webs"}%</a> 
	* <a href="%SCRIPTURLPATH{"view"}%/%TWIKIWEB%/WikiWord" target="_blank">%MAKETEXT{"WikiWord"}%</a> 
<h2 ><a name="Notes">%MAKETEXT{"Notes"}%</a></h2>
<div class="natSideBarSection natNotes">
%TMPL:P{"notes"}%<!-- notes// -->
</div>
<!-- //sidebar -->%TMPL:END%

