<!-- template: renamestyles.nat.tmpl-->
%TMPL:DEF{"renamestyles"}%
<style type="text/css">
.twikiTable {
  width:auto;
}
</style>
%TMPL:END%
%TMPL:DEF{"styles"}%
%TMPL:P{"defaultstyles"}%
%TMPL:P{"renamestyles"}%
%TMPL:END%
