%TMPL:INCLUDE{"rename"}%<!-- template: renamedelete.nat.tmpl -->
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"delete"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"webaction"}%%MAKETEXT{"Delete"}%%TMPL:END%
%TMPL:DEF{"newweb"}%<input type="hidden" name="newweb" value="%TRASHWEB%" /> <span class="foswikiAlert">%TRASHWEB%</span> %TMPL:END%
