%TMPL:INCLUDE{"renamewebbase"}%
<!-- template: renamewebdelete.nat.tmpl-->
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"rename web"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"webaction"}%%MAKETEXT{"Delete"}%%TMPL:END%
%TMPL:DEF{"newsubweb"}%<input type="text" name="newsubweb" value="%NEW_SUBWEB%" size="36" />%TMPL:END%
%TMPL:DEF{"newparentweb"}%<select name="newparentweb">
%FLEXWEBLIST{webs="%TRASHWEB%,public" exclude="%WEB%" format="<option $marker value=\"$web\">$web</option>" selection="%NEW_PARENTWEB%" marker="selected=\"selected\""}%
</select>
%TMPL:END%
