%TMPL:INCLUDE{"page"}%<!-- -->
<!-- template: renamebase.nat.tmpl-->
%TMPL:INCLUDE{"renamebody"}%<!-- -->
%TMPL:INCLUDE{"renamesidebar"}%<!-- -->
%TMPL:INCLUDE{"renametopicactions"}%<!-- -->
%TMPL:INCLUDE{"renamejavascript"}%<!-- -->
%TMPL:INCLUDE{"renamestyles"}%<!-- -->
%TMPL:DEF{"bodyclass"}%natRenameBody%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"rename"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"onloadscript"}%document.rename.newtopic.focus();%TMPL:END%
%TMPL:DEF{"content"}%<!-- -->
<form method="POST" name="rename" action="%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%">
<!--input type="hidden" name="confirm" value="on"-->
---+ %TMPL:P{"webaction"}% %WEB%.%TOPIC%
<div class="twikiPageForm">
<table cellpadding="5px">
<tr>
  <th>%MAKETEXT{"From"}%:</th>
  <td><span class="twikiAlert"><nop>%WEB%.%TOPIC%</span></td>
</tr>
<tr>
  <th>%MAKETEXT{"To"}%:</th>
  <td>%TMPL:P{"newweb"}%&nbsp;%TMPL:P{"newtopic"}%</td>
</tr>
<tr>
  <th>&nbsp;</th>
  <td><table style="width:auto" border="0">
    <tr>
      %IFDEFINEDTHEN{"%URLPARAM{"newweb"}%" as="Trash"}%%ELSEDEFINED%
      <td align="right"><input type="checkbox" class="twikiCheckbox" name="totrash" id="totrash" onclick="document.rename.newweb.value = (this.checked)?'Trash':'%WEB%';"></td>
      <td><label for="totrash">%MAKETEXT{"Move to Trash"}%</label></td>
      %FIDEFINED%
    </tr>
    <tr>
      <td align="right"><input type="checkbox" class="twikiCheckbox" name="nonwikiword" id="nonwikiword" %NONWIKIWORDFLAG% /></td>
      <td><label for="nonwikiword">%MAKETEXT{"Allow non <nop>WikiWord for the new topic name"}%</label></td>
    </tr>
    </table>
  </td>
</tr>
<tr>
  <th>&nbsp;</th>
  <td>%TMPL:P{"buttons"}%</td>
</tr>
<tr><th>&nbsp;</th><td>&nbsp;</td></tr>
<tr>
  <th>&nbsp;</th>
  <td>
---++ %MAKETEXT{"Change backlinks"}%
---+++ %MAKETEXT{"... in the '[_2]' web" args="<nop>%TOPIC%,<nop>%WEB%"}%
    <div class="natSearchRenameContents">%LOCAL_SEARCH%</div>
  </td>
</tr>
<tr>
  <th>&nbsp;</th>
  <td>
%IFDEFINEDTHEN{"%URLPARAM{"currentwebonly"}%" as="on"}%
%ELSEDEFINED%
---+++ %MAKETEXT{"... in any web"}%
<div class="natSearchRenameContents">%GLOBAL_SEARCH%</div>
%FIDEFINED%
  </td>
</tr>
<tr>
  <th>&nbsp;</th>
  <td>
    <input type="button" class="natAltButton" value='%MAKETEXT{"Clear all"}%' onClick="checkAll('rename', false);" title="%MAKETEXT{"Clear selection"}%"/>
    <input type="button" class="natAltButton" value='%MAKETEXT{"Set all"}%' onClick="checkAll('rename', true);" title="%MAKETEXT{"Select all topics"}%"/>
%IFDEFINEDTHEN{"%URLPARAM{"currentwebonly"}%" as="on"}%
    <input type="button" class="natCancelButton" value="%MAKETEXT{"Search all"}%" onclick="window.location.href='%SCRIPTURLPATH{"rename"}%/%WEB%/%TOPIC%'" title="Search for backlinks in all webs" />
%FIDEFINED%
  </td>
</tr>
</table>
</div>
</form>
%TMPL:END%
