<!-- template: searchbox.pluc.tmpl -->
%TMPL:DEF{"searchbox"}%<!-- search box -->
<form name="searchbox" class="natSideBarSearch" action="%SCRIPTURLPATH{"plucsearch"}%/%BASEWEB%/%BASETOPIC%" method="post">
<table cellspacing="0" cellpadding="0" border="0"><tr>
<td valign="middle">
<input type="text" name="search" value="%URLPARAM{"search" default="Search"}%" accesskey="f" onblur="if(this.value==''){this.value = 'Search'}" onfocus="if(this.value=='Search'){this.value = ''}" /> 
<input type="hidden" name="web" value="%IF{"$ 'PLUCENE_SEARCHALL' = 'on'" then="all" else="%BASEWEB%"}%" />
<input type="hidden" name="limit" value="100" />
</td>
<td valign="middle">
<a href="javascript:document.searchbox.submit()"><span>Go</span></a>
</td>
</tr></table>
</form> %TMPL:END%

