%TMPL:INCLUDE{"page"}%<!-- template: searchbase.nat.tmpl -->
%TMPL:INCLUDE{"searchbody"}%<!-- -->
%TMPL:INCLUDE{"searchsidebar"}%<!-- -->
%TMPL:INCLUDE{"searchtopicactions"}%<!-- -->
%TMPL:INCLUDE{"searchjavascript"}%<!-- -->
%TMPL:INCLUDE{"searchstyles"}%<!-- -->
%TMPL:INCLUDE{"searchbox"}%<!-- -->
%TMPL:DEF{"bodyclass"}%natSearchBody%TMPL:END%
%TMPL:DEF{"title"}%%TOPICTITLE% (%MAKETEXT{"search"}%) - %WIKITOOLNAME%%TMPL:END%
%TMPL:DEF{"meta"}% <meta name="robots" content="noindex, nofollow" /> %TMPL:END%
%TMPL:DEF{"onloadscript"}%focusSearchBox();%TMPL:END%
