<!-- template: strings.nat.tmpl -->
%TMPL:DEF{"LOG_IN"}%%MAKETEXT{"Login"}%%TMPL:END%
%TMPL:DEF{"LOG_IN_HELP"}%%MAKETEXT{"Login to [_1]" args="<nop>%WIKITOOLNAME%"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT"}%%MAKETEXT{"Logout"}%%TMPL:END%
%TMPL:DEF{"LOG_OUT_HELP"}%%MAKETEXT{"Logout [_1]" args="<nop>%WIKINAME%"}%%TMPL:END%
%TMPL:DEF{"VIEW"}%%MAKETEXT{"View"}%%TMPL:END%
%TMPL:DEF{"VIEW_HELP"}%%MAKETEXT{"View formatted topic"}%%TMPL:END%
%TMPL:DEF{"RAW"}%%MAKETEXT{"Raw"}%%TMPL:END%
%TMPL:DEF{"RAW_HELP"}%%MAKETEXT{"View raw topic"}%%TMPL:END%
%TMPL:DEF{"EDIT"}%%MAKETEXT{"Edit"}%%TMPL:END%
%TMPL:DEF{"EDIT_HELP"}%%MAKETEXT{"Edit this topic"}%%TMPL:END%
%TMPL:DEF{"ATTACH"}%%MAKETEXT{"Attach"}%%TMPL:END%
%TMPL:DEF{"ATTACH_HELP"}%%MAKETEXT{"Attach image or document to this topic"}%%TMPL:END%
%TMPL:DEF{"MOVE"}%%MAKETEXT{"Move"}%%TMPL:END%
%TMPL:DEF{"MOVE_HELP"}%%MAKETEXT{"Move or rename this topic"}%%TMPL:END%
%TMPL:DEF{"DIFF"}%%MAKETEXT{"Diffs"}%%TMPL:END%
%TMPL:DEF{"DIFF_HELP"}%%MAKETEXT{"View topic history"}%%TMPL:END%
%TMPL:DEF{"MORE"}%%MAKETEXT{"More"}%%TMPL:END%
%TMPL:DEF{"MORE_HELP"}%%MAKETEXT{"More topic actions"}%%TMPL:END%
%TMPL:DEF{"ADD_FORM"}%%MAKETEXT{"Add form"}%%TMPL:END%
%TMPL:DEF{"ADD_FORM_HELP"}%%MAKETEXT{"Add a new form to <nop>[_1]" args="%WEB%.%TOPIC%"}%%TMPL:END%
%TMPL:DEF{"CHANGE_FORM"}%%MAKETEXT{"Change form"}%%TMPL:END%
%TMPL:DEF{"CHANGE_FORM_HELP"}%%MAKETEXT{"Change the current form of <nop>[_1]" args="%WEB%.%TOPIC%"}%%TMPL:END%
%TMPL:DEF{"NEW"}%%MAKETEXT{"New"}%%TMPL:END%
%TMPL:DEF{"PRINT"}%%MAKETEXT{"Print"}%%TMPL:END%
%TMPL:DEF{"PRINT_HELP"}%%MAKETEXT{"Print this topic"}%%TMPL:END%
%TMPL:DEF{"REGISTER"}%%MAKETEXT{"Register"}%%TMPL:END%
%TMPL:DEF{"REGISTER_HELP"}%%MAKETEXT{"Register on [_1]" args="<nop>%WIKITOOLNAME%"}%%TMPL:END%
%TMPL:DEF{"NOTHING_FOUND"}%%MAKETEXT{"Nothing found. Try again!"}%%TMPL:END%
%TMPL:DEF{"GO_HOME"}%%MAKETEXT{"Go to your hometopic"}%"%TMPL:END%
%TMPL:DEF{"HELP"}%%MAKETEXT{"Help"}%%TMPL:END%
%TMPL:DEF{"HELP_HELP"}%%MAKETEXT{"What is this all about?"}%"%TMPL:END%
%TMPL:DEF{"PDF"}%%MAKETEXT{"Print"}%%TMPL:END%
%TMPL:DEF{"PDF_HELP"}%%MAKETEXT{"Export this topic as PDF"}%%TMPL:END%
