<!-- template: topbar.nat.tmpl -->
%TMPL:DEF{"defaulttopbar"}%<!-- defaulttopbar -->
<tr>
  <td class="natTopBar natTopLeft %IFSKINSTATE{action="oops" then="natTopRight"}%" valign="top">
    <div class="natTopLeftContents">
      <div class="natWebTitle"><a href="%SCRIPTURLPATH{"view"}%/%MAINWEB%/%HOMETOPIC%" title="%WEBLOGOALT%" accesskey="h"><span>%NATWEBLOGO%</span></a></div>
      <div class="natWebSlogan">%SITEMAPWHAT%</div>
    </div>
  </td>
  <td class="natTopBar natTopRight" valign="top" style="%IFSKINSTATE{action="oops" then="display:none"}%" width="250px">
    <div class="natTopRightContents">
%TMPL:P{"topicactions_top"}%<!-- topicactions_top// -->
%TMPL:P{context="natskin_searchbox_top" then="searchbox_top"}%<!-- searchbox_top// -->
  </td>
</tr>
<!-- //defaulttopbar -->%TMPL:END%
%TMPL:DEF{"topbar"}%%TMPL:P{"defaulttopbar"}%%TMPL:END%
