<!-- template: viewjavascript.nat.tmpl -->
%TMPL:DEF{"viewjavascript"}%<!-- viewjavascript -->
<script type="text/javascript">
$(function() {
  /* add overflow div for tables */
  if (true) { 
    $(".natMainContents .twikiTable")
      .not($(".twikiTable .twikiTable", this))
      .wrap("<div class='overflow'></div>");
  }
  /* tooltips */
  if (true) { 
    $(".natTopicAction, .natUserAction, .natSideBar a, .natWebButtons a").tooltip({
      delay:350,
      track:true,
      showURL:false,
      extraClass:'twiki',
      //extraClass:'bubble',
      //showBody:': '
    });
  }
  /* move revinfo */
  if (true) {
    var target = $(".natMain h1:first");
    if (target.length) { 
      $(".natRevision").remove().insertAfter(target);
    }
  }
});
</script>
<!-- //viewjavascript -->%TMPL:END%
%TMPL:DEF{"javascript"}%<!-- javascript (view) -->
%TMPL:P{"defaultjavascript"}%
%TMPL:P{"templatejavascript"}%
%TMPL:P{"viewjavascript"}%
<!-- //javascript -->%TMPL:END%
