<!-- template: viewtopicaction.nat.tmpl -->
%TMPL:DEF{"topicactions_top"}%<!-- topicactions_top -->
%USERACTIONS{
  guest="<div class='natGreeter natGuestGreeter'>$login$sep$register</div>"
  format="<div class='natGreeter natUserGreeter'>$user$sep$logout</div>"
}%
<!-- //topicactions_top -->%TMPL:END%
%TMPL:DEF{"topicactions_toggle"}%<div class="natTopicActionsToggle">%TWISTYBUTTON{
  id="topicactions" 
  showlink="%MAKETEXT{"Show toolbar"}% " 
  hidelink="%MAKETEXT{"Hide toolbar"}% "
  remember="on"
  start="show"
  showimg="%ICONURLPATH{toggleopenleft}%"
  hideimg="%ICONURLPATH{toggleclose}%"
}%</div>%TMPL:END%
%TMPL:DEF{"topicactions"}%%TWISTYTOGGLE{id="topicactions"}%%WEBCOMPONENT{"WebTopicActions"}%%ENDTWISTY%%TMPL:END%
