<!-- template: viewtopicaction.nat.tmpl -->
%TMPL:DEF{"usersurl"}%<a class='natUserAction' href='%SCRIPTURLPATH{"view"}%/%MAINWEB%/TWikiUsers' title='%MAKETEXT{"List of registered users"}%'>%MAKETEXT{"Users"}%</a>
%TMPL:DEF{"topicactions_top"}%<!-- topicactions_top -->
%USERACTIONS{
  guest="<div class='natGreeter natGuestGreeter'>$login$sep%TMPL:P{"usersurl"}%$sep$register</div>"
  format="<div class='natGreeter natUserGreeter'>$user$sep%TMPL:P{"usersurl"}%$sep$logout</div>"
}%
<!-- //topicactions_top -->%TMPL:END%
%TMPL:DEF{"topicactions"}%%WEBCOMPONENT{"WebTopicActions"}%%TMPL:END%
