<!-- template: viewjavascript.nat.tmpl -->
%TMPL:DEF{"viewjavascript"}%<!-- viewjavascript -->
<script type="text/javascript">
$(function() {
  if (true) { // add overflow div for tables
    $(".natMainContents .twikiTable")
      .not($(".twikiTable .twikiTable", this))
      .wrap("<div class='overflow'></div>");
  }
  if (true) { // install tooltips
    $(".natSideBar a, .natWebButtons a, .natTopicAction, .natUserAction").tooltip({
      delay:350,
      track:true,
      showURL:false,
      extraClass:'twiki',
      showBody:': '
    });
  }
});
</script>
<!-- //viewjavascript -->%TMPL:END%
%TMPL:DEF{"javascript"}%<!-- javascript (view) -->
%TMPL:P{"defaultjavascript"}%
%TMPL:P{"templatejavascript"}%
%TMPL:P{"viewjavascript"}%
<!-- //javascript -->%TMPL:END%
