.star-rating,
.star-rating a:hover,
.star-rating a:focus,
.star-rating a:active,
.star-rating .current-rating{
	background: url(star.gif) left -1000px repeat-x;
	_background: url(ie_star.gif) left -1000px repeat-x;
}
.my-rating{
	background: url(pick_star.gif) left -1000px repeat-x;
	_background: url(ie_pick_star.gif) left -1000px repeat-x;
}
.star-rating{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating a, 
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating .my-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: 2px;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus {
	background-position: left bottom;
}

.star-rating .current-rating{
	z-index:1;
	background-position: left center;
}	
.star-rating .my-rating{
	z-index:2;
	background-position: left center;
}	
.star-info {
  font-size:80%;
}

/* smaller star */
.small-star{
	width:10px;
	height:10px;
}
.small-star,
.small-star a:hover,
.small-star a:focus,
.small-star a:active,
.small-star .current-rating{
	background-image: url(star_small.gif);
	_background-image: url(ie_star_small.gif);
	line-height: 10px;
	height: 10px;
}
.small-star .my-rating{
	background-image: url(pick_star_small.gif);
	_background-image: url(ie_pick_star_small.gif);
	line-height: 10px;
	height: 10px;
}
