%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops) %TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Either you need to register or the authentication failed%TMPL:END%
%TMPL:DEF{"message"}%
To edit topics on this %WIKITOOLNAME% collaborative web, you must have a certificate and be registered as a user.

To register as a new user:

   * Simply fill out the *[[%SYSTEMWEB%.TWikiRegistration][TWikiRegistration]]* form. It only takes a minute. %TMPL:END%
%TMPL:DEF{"topicaction"}%
  [[%WEB%.%TOPIC%][OK]] %TMPL:P{"sep"}%
  [[%SYSTEMWEB%.TWikiRegistration][Register]] %TMPL:END%
%TMPL:P{"oops"}%
