
<script language="JavaScript" type="text/javascript" src="%PLUGINPUBURL%/json.js"></script>
<script language="JavaScript" type="text/javascript" src="%PUBURL%/TWiki/YahooUserInterfaceContrib/build/yahoo/yahoo-min.js"></script>
<script language="JavaScript" type="text/javascript" src="%PUBURL%/TWiki/YahooUserInterfaceContrib/build/event/event-min.js"></script>
<script language="JavaScript" type="text/javascript" src="%PUBURL%/TWiki/YahooUserInterfaceContrib/build/connection/connection-min.js"></script>
<script language="JavaScript" type="text/javascript" src="%PUBURL%/TWiki/YahooUserInterfaceContrib/build/dom/dom-min.js"></script>


<script language="JavaScript" type="text/javascript" src="%PUBURL%/TWiki/YahooUserInterfaceContrib/build/animation/animation.js"></script>
<script language="JavaScript" type="text/javascript" src="%PUBURL%/TWiki/YahooUserInterfaceContrib/build/dragdrop/dragdrop.js"></script>
<script language="JavaScript" type="text/javascript" src="%PUBURL%/TWiki/YahooUserInterfaceContrib/build/container/container.js"></script>

<link rel="stylesheet" type="text/css" href="%PUBURL%/TWiki/YahooUserInterfaceContrib/build/container/assets/container.css" /> 


<script language="JavaScript" type="text/javascript" src="%PLUGINPUBURL%/JSPopupPlugin.js"></script>
<script type="text/javascript">
YAHOO.util.Event.onDOMReady(InitJSPopups); 
</script>
