%TMPL:INCLUDE{"twiki"}%
%{ popup skin - no headers or footers, just content }%
%TMPL:DEF{"htmldoctype"}%%TMPL:END%
%TMPL:DEF{"head"}%%TMPL:END%
%TMPL:DEF{"bodystart"}%%TMPL:END%
%TMPL:DEF{"main"}%<div style="text-align:left;">
%TMPL:P{"content"}%</div>%TMPL:END%
%TMPL:DEF{"bodyend"}%%TMPL:END%
