%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"pagemenu"}% %TMPL:P{"default_pagemenu"}% %TMPL:END%
%TMPL:P{"html_start"}%
%TMPL:P{"standardheader"}%
%TMPL:P{"text_start"}%
%TEXT%
%META{"attachments"}%
%META{"form"}%
%TMPL:DEF{"footer"}% %TMPL:P{"default_footer"}% %TMPL:END%
%TMPL:P{"text_end"}%
%TMPL:P{"sidebar"}%
%TMPL:P{"html_end"}%
