%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title>%WIKITOOLNAME% . %WEB% (search result)</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
</head>
<body bgcolor="#ffffff">
#PageTop
<form name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%">
%TMPL:DEF{"titleaction"}%(search result)%TMPL:END%
%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%
%TMPL:P{"standardheader"}%
</form>
%SPLIT%Search: <b> %SEARCHSTRING% </b>
<p />
%SPLIT%Topics found:
<p />
%REPEAT%<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="2%" rowspan="2" valign="top">
    <b>%SCORE%</b>
  </td>
  <td width="48%">
    %ICON% <b>%MATCH%</b></a>
    <b><font color="red">%LOCKED%</font><b>
  </td><td width="30%">
    %TIME% - %REVISION%
  </td><td width="20%">
    %AUTHOR%
  </td>
</tr>
<tr>
  <td colspan="2" width="78%">
    <font size="-1">
    %TEXTHEAD% </font>
  </td><td width="20%">
    &nbsp;
  </td>
</tr></table>
%REPEAT%<br clear="all" />
<p />%SPLIT%Number of topics: <b>%NTOPICS%</b>
<p />%SPLIT%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"standardfooter"}%
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
  <td valign="top">
   &nbsp;
  </td>
  <td width="50%" valign="top">
   %WEBCOPYRIGHT%
  </td>
 </tr>
</table>
#PageBottom
</body>
</html>
