From: %WIKIWEBMASTERNAME% <%WIKIWEBMASTER%>
To: %EMAILTO%
Subject: %WIKITOOLNAME% - Automated notification of topic changes
MIME-Version: 1.0
Content-Type: multipart/mixed; boundary="------------2D594AE113AD25493C2C7246"

This is a multi-part message in MIME format.
--------------2D594AE113AD25493C2C7246
Content-Type: text/plain; charset=%CHARSET%
Content-Transfer-Encoding: 8bit

This is an automated email from %WIKITOOLNAME%.

New or changed topics since %LASTDATE%:

%TOPICLIST%  

--------------2D594AE113AD25493C2C7246
Content-Type: text/html; charset=%CHARSET%; name="%WEB%Changes.html"
Content-Transfer-Encoding: 8bit
Content-Disposition: inline; filename="%WEB%Changes.html"

%EMAILBODY%

--------------2D594AE113AD25493C2C7246--
