/* fonts for modern browsers */

html body, td, th, div, span, p, ol, ul, dl, dt, dd, li, blockquote, 
	h1, h2, h3,h4, h5, h6, select, input {
	font-family: arial,geneva,helvetica,sans-serif; 
}
html body table tr td.contents {
	font-family: verdana,arial,geneva,helvetica,sans-serif;
}
html body {font-size: 80%;}
html body p {line-height: 1.2}
html code, html kbd, html tt, html samp, html pre {font: 100% monospace}
html big, html large {font-size: 115%}
html small, html sub, html sup {font-size: 85%}
html body table {font-size: 100%}
html h1 {font: bold 175% sans-serif; margin-bottom: 0.5em;color: #334d55;}
html h2 {font: bold 144% sans-serif; margin-bottom: 0.2em;color: #334d55;}
html h3 {font: bold 120% sans-serif; margin-bottom: 0.1em;color: #334d55;}
html h4 {font: bold 100% sans-serif; margin-bottom: 0em;color: #334d55;}
html h5 {font: bold 90% sans-serif; margin-bottom: 0em;color: #334d55;}
html h6 {font: bold 80% sans-serif; margin-bottom: 0em;color: #334d55;}

html .footer{font-size: 85%}
html .small{font-size: 85%}
html .xsmall{font-size: 75%}
html .buttonBar{font-size: 85%; font-weight: bold;}
html .title {font-size: 115%; font-weight: bold;}
html .headline {font-size:201%;font-weight:bold;}
html .topicTitleBig {font-size: 115%;font-family:arial,geneva,helvetica,sans-serif;}
html .topicTitleSmall {font-size: 085%;font-family:arial,geneva,helvetica,sans-serif;}
html .topicItem {font-size: 085%;font-family:arial,geneva,helvetica,sans-serif;}
