%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"contentheader"}%<div class="patternHomePath tagmeTagCloud"><span><a title='Browse all tags' class="twikiLink" href='%SCRIPTURL{view}%/%SYSTEMWEB%/TagMeViewAllTags' rel='nofollow'>Tags</a>:&nbsp;%TAGME{ tpaction="showalltags" web="%WEB%" topic="%TOPIC%" format="<a href='%SCRIPTURL{view}%/%SYSTEMWEB%/TagMeSearch?tag=$tag' rel='nofollow'>$tag</a>"}%%TAGME{ tpaction="%URLPARAM{tpaction}%" tag="%URLPARAM{tag}%" web="%WEB%"  style="blog" label="(edit)"}%</span></div>%TMPL:END%
