%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops) %TMPL:END%
%TMPL:DEF{"webaction"}% *%PARAM1%* %TMPL:END%
%TMPL:DEF{"heading"}%%TMPL:END%
%TMPL:DEF{"message"}%
%PARAM2%
%PARAM3%
%TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%TOPIC%][OK]] %TMPL:END%
%TMPL:P{"oops"}%
