%TMPL:INCLUDE{"attach"}%

%TMPL:DEF{"editactions"}%
<input type="hidden" name="action" id="" value=""/>
<a href="%TOPIC%">Cancel</a>&nbsp;%TMPL:P{"sep"}%&nbsp;<a href="javascript:uploadFile();">Upload</a>%TMPL:END%

%TMPL:DEF{"attachHeading"}%
---++ Add new File%TMPL:END%

%TMPL:P{"attach"}%
