%TMPL:INCLUDE{"twiki.simpleblue"}%

%TMPL:DEF{"head"}%
<head>
  <title>%WIKITOOLNAME% %WEB% %TOPIC%</title>
  <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" /> <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
  <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
 %TMPL:P{"script"}%
	<link href="%PUBURL%/TWiki/SimpleBlueSkin/style.css" rel="stylesheet" type="text/css"/>
	<link href="%PUBURL%/TWiki/SimpleBlueSkin/color.css" rel="stylesheet" type="text/css"/>
	<link href="%PUBURL%/TWiki/SimpleBlueSkin/font.css" rel="stylesheet" type="text/css"/>
	<link href="%PUBURL%/TWiki/SimpleBlueSkin/printlayout.css" rel="stylesheet" type="text/css"/>
</head>%TMPL:END%


%TMPL:DEF{"simpleBlueContentPane"}%
%TEXT%
%META{"attachments"}%
%META{"form"}%
%TMPL:END%


%TMPL:P{"simpleBluePrintPage"}%
