%TMPL:INCLUDE{"foswiki"}%
%TMPL:DEF{"script"}%
function initForm() {
  document.main.text.focus();
}
function checkAll( theButton, theButtonOffset, theNum, theCheck )
{
  // find button element index
  var j = 0;
  for( var i = 0; i <= document.main.length; i++ ) {
    if( theButton == document.main.elements[i] ) {
      j = i;
      break;
    }
  }
  // set/clear all checkboxes
  var last = j+theButtonOffset+theNum;
  for( i = last-theNum; i < last; i++ ) {
    document.main.elements[i].checked = theCheck;
  }
}
function launchWindow( theWeb, theTopic ) {
  win = open( "%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain",
              theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
  if( win ) {
    win.focus();
  }
  return false;
}
%TMPL:END%
%TMPL:DEF{"style"}%
div#main {
  position: relative;
  width:90%;
  background:#FFF;
  margin-right: 0px;
  border: 0px;
  padding-bottom:20px;
  padding-right:20px;
} %TMPL:END%
%TMPL:P{"html_start"}%
%TMPL:P{"standardheader"}%
%TMPL:P{"text_start"}%
<form name="main" action="%SCRIPTURLPATH%/savemulti%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<textarea name="text" wrap="virtual" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style="%EDITBOXSTYLE%">%TEXT%</textarea>
%FORMFIELDS%
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="redirectto" value="%REDIRECTTO%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="templatetopic" value="%URLPARAM{"templatetopic"}%" />
<input type="hidden" name="topicparent" value="%TOPICPARENT%" />
<input type="hidden" name="forcenewrevision" value="%URLPARAM{"forcenewrevision"}%" />
<input type="hidden" name="rev" value="%URLPARAM{"rev"}%" />
<input type="hidden" name="newtopic" value="%NEWTOPIC%" />
<input type="hidden" name="cmd" value="%CMD%" />     
<br />
Don't forget - if you change something, do it in 
<a target="GoodStyle" onClick="return launchWindow('%SYSTEMWEB%','GoodStyle')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%SYSTEMWEB%/GoodStyle">GoodStyle</a>
and follow the
<a target="TextFormattingRules" onClick="return launchWindow('%SYSTEMWEB%','TextFormattingRules')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%SYSTEMWEB%/TextFormattingRules">TextFormattingRules</a>.
<br /> <b>-- <nop>%WIKIUSERNAME% - %DATE%</b> &nbsp;&nbsp;<code>&lt;==</code> 
This is your signature for easy copy & paste operation <p /><br />
<input type="submit" name=action value="QuietSave" />
<input type="submit" name=action value="Save and Continue" />
<input type="submit" name=action value="Preview" />
<input type="submit" name=action value="Cancel" />
<input type="submit" name=action value="Save & Next" />
</form>
%TMPL:DEF{"footer"}% %TMPL:P{"simple_footer"}% %TMPL:END%
%TMPL:P{"text_end"}%
%TMPL:P{"html_end"}%


