%TMPL:DEF{"sep"}% | %TMPL:END%
%TMPL:DEF{"html_start"}%
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title> %WEB% . %TOPIC% . %WIKITOOLNAME% </title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="Author" content="J. van Dongen" />
  <style type="text/css" media="all">
	 @import "%PUBURL%/skins/seneca/seneca2.css";
	 %TMPL:P{"style"}%
  </style>
  <script type="text/javascript" language="JavaScript">
<!--HIDE
   %TMPL:P{"script"}%
//STOP HIDING-->
  </script>
</head>
<body onLoad="initPage()" bgcolor="#336699" alink="lightblue" hlink="lightblue" vlink="lightblue">%TMPL:END%
%TMPL:DEF{"html_end"}% </html></body> %TMPL:END%
%TMPL:DEF{"standardheader"}%
<div id="pageheader">
<img style="float: left; border: 0px" src="http://www.seneca.nl/pics/system/logo/logo.jpg" />
<img style="float: right; border: 0px;" src="http://www.seneca.nl/pics/system/logo/kop.jpg" />
<br />
<h1>%WEBFANCYNAME%</h1>
</div>
<div class="NN4">%INCLUDE{"%SYSTEMWEB%.OldBrowserMessage"}%
</div>%TMPL:END%
%TMPL:DEF{"default_pagemenu"}% <div id="bbar"> 
  <a href="%SCRIPTURLPATH%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%?t=%GMTIME{"$yea$mo$day$hou$min$sec"}%">Edit</a>	
  <a href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Attach</a> 
  <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?skin=print%REVARG%">Printable</a>
  <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&param1=%MAXREV%&param2=%CURRREV%">More</a>
</div> %TMPL:END%
%TMPL:DEF{"default_footer"}% %REVINFO% %META{"parent" prefix="- Terug naar: "}% <p> <a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Diffs</a> %REVISIONS% </p> <p> %WEBCOPYRIGHT% </p> %TMPL:END%
%TMPL:DEF{"simple_footer"}% <p> %WEBCOPYRIGHT% </p> %TMPL:END%
%TMPL:DEF{"text_start"}%
<div id="main">
<h1>%TOPIC% %TMPL:P{"titleaction"}% </h1> %TMPL:P{"pagemenu"}% %TMPL:END%
%TMPL:DEF{"text_end"}% <hr /> %TMPL:P{"footer"}%  </div>%TMPL:END%
%TMPL:DEF{"sidebar"}% %INCLUDE{"%WEB%.SideBar"}% %TMPL:END%