From: %EMAILFROM%
To: %EMAILTO%
Cc: %EMAILCC%
Subject: %SUBJECT%
MIME-Version: 1.0
Content-Type: text/plain; charset="%CHARSET%"

This is an automated notification from %WIKITOOLNAME%.

The Approval State on %WEB%.%TOPIC% has been changed from %PREVSTATE% to %NEXTSTATE%.

The following are allowed to approve the next state:
   %NEXTSTATEAPPROVERS%

The message for this state is:
   '%NEXTSTATEMESSAGE%'

The topic can be found at:
   %TOPICLINK%
