%TMPL:INCLUDE{'javascript'}%
    <style type="text/css">
        @import "%PUBURL%/%SYSTEMWEB%/DojoToolkitContrib/dijit/themes/tundra/tundra.css";
        @import "%PUBURL%/%SYSTEMWEB%/DojoToolkitContrib/dojo/dojo.css"
    </style>
    <script type="text/javascript" src="%PUBURL%/%SYSTEMWEB%/DojoToolkitContrib/dojo/dojo.js"  djConfig="parseOnLoad: true"></script>
