/* BlueNote Style */
@import url("BaseStyle.css");

/* html elements */
html {
  line-height:140%;
  color:#444444;
  font-size:13px;
  font-family:arial,Helvetica,sans-serif;
  background-color:white;
  background-image:url(GrayBlend.gif);
  background-repeat:repeat-x;
}
body {
  line-height:140%;
  margin:0;
  padding:0;
}
.twikiEmulatedLink,
a:active, a {
  color:#0055b5;
  text-decoration:none;
  font-weight:normal;
}
a:hover {
  color:#ffffff;
  background:#b22222;
  background:#0055b5;
  text-decoration:none;
}

hr {
  border-bottom:1px solid #ddd;
}

p {
  margin:1em 0em 0em;
}
pre {
  background:#f6f6f6;
  padding:0.5em;
  border:1px solid #ddd;
  font-size:98%;
}

h1 { font-size:160%; margin-top:1em;margin-bottom:0.2em;padding-bottom:0.1em; }
h2 { font-size:140%; margin-top:1em;margin-bottom:0.5em;}
h3 { font-size:130%; margin-top:1em;margin-bottom:0.0em;}
h4 { font-size:130%; margin-top:1em;margin-bottom:0.0em;}
h5 { font-size:130%; margin-top:1em;margin-bottom:0.0em;}
h6 { font-size:130%; margin-top:1em;margin-bottom:0.0em;}
h1, h2, h3, h4, h5, h6 {
  line-height:normal;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover {
  font-weight:normal;
  background:none;
  color:#0055b5;
}

h1 {
  color:#0055b5;
}
.natViewBody h1 {
  border-bottom:1px #ddd solid;
}
h2 {
  padding-bottom:1px;
  /*border-bottom:2px solid green;*/
  color:#9C3063;
}
ul, ol {
  margin:0.5em 0em;
  padding:0em 0em 0em 1em;
}
ol ol,
ul ol,
ol ul,
ul ul {
  margin-top:0em;
  margin-bottom:0em;
}
li {
  padding:0em;
  margin:0em 0em 0em 1.7em;
}
li li {
  margin:0em 0em 0em 0.7em;
}

blockquote {
  padding:0.3em 0em 0em 0.7em;
  margin:1.0em 3em 1.0em 2.6em;
  border-top:1px solid #ddd;
  border-left:4px solid #ddd;
}

dl {
  padding:0em 0em 0em 1.5em;
}
dl dt {
  padding:0em;
}
dl dd {
  margin:0em 0em 0.5em 1.5em;
  padding:0em;
}

/* layout */
.natTopBar {
  padding:0px;
  vertical-align:middle;
}
.natTopRight {
  padding:2.0em 1.5em 2.0em 1em;
}
.natMain {
  padding:2em;
  background-image:url(button-bg.png);
  background-repeat:repeat-x;
  background-position:0% 100%;
}
.natTopicActions {
  float:right;
}
.natTopicAction:hover,
.natTopicAction {
  float:left;
  display:block;
  width:16px;
  height:16px;
  padding:2px;
  margin-left:5px;
}
.natTopicActions span {
  display:none;
}
.natMainHeaderContents {
  padding:0em 0em 1.5em;
}
.natEditBody .natMain {
  padding:1.0em;
}
.natTopRight,
.natSideBarHeader,
.natSideBar {
  width:15em;
}

/* login */
.natLoginBody .natLoginMessage {
  padding:20px;
}


/* twiki styles */
.twikiBroadcastMessage {
  margin:0em 0em 1em;
}

.twikiTable {
  border:1px #dedede solid;
  line-height:140%;
  border-spacing:0px;
  margin:5px 0px;
}
.twikiTable th a,
.twikiTable th a:hover,
.twikiTable th {
  background:#9CBAEF;
}
.twikiTable td {
  background:#f9f9f9;
}
.twikiTable th,
.twikiTable td {
  padding:0.3em 0.7em;
  border:1px #dedede solid;
}
.twikiPageForm .twikiTable td,
.twikiFormSteps .twikiTable td,
.twikiPageForm .twikiTable th,
.twikiFormSteps .twikiTable th {
  border:0px;
}
.twikiTable th a {
  text-decoration:none;
  font-weight:bold;
}
.twikiPageForm .twikiTable,
.twikiFormSteps .twikiTable {
  border:1px solid #F2D9A3;
}
.twikiPageForm .twikiTable td,
.twikiFormSteps .twikiTable td {
  border-bottom:1px solid #F2D9A3;
  vertical-align:middle;
}
.twikiFormSteps .twikiTable td,
.twikiPageForm .twikiTable td {
  background:transparent;
}
.twikiFormSteps .twikiTable th,
.twikiFormSteps .twikiTable th a,
.twikiPageForm .twikiTable th,
.twikiPageForm .twikiTable th a {
  background:#FEEFCD;
  color:#444;
}
.twikiFormSteps .twikiTable th,
.twikiPageForm .twikiTable th {
  border-bottom:0px;
  vertical-align:top;
}
.twikiTable th,
.twikiTable th h2,
.twikiTable th h3,
.twikiTable th h4,
.twikiTable th a,
.twikiTable th span,
.twikiTable th font {
  color:#444444;
  font-weight:bold;
}
.twikiTable th h4 {
  margin:0px;
}

th.twikiSortedDescendingCol,
th.twikiSortedAscendingCol {
  background:#8DA8D8;
}
.twikiTable td.twikiSortedDescendingCol,
.twikiTable td.twikiSortedAscendingCol {
  background:#f4f4f4;
}

/* twikiDiff */
.twikiDiffTable {
  border:1px solid #ddd;
  background:#f6f6f6;
}
.twikiDiffTable td,
.twikiDiffTable th {
  border:0px;
}
.twikiDiffTable th {
  border-bottom:1px solid #ddd;
}

.twikiDiffChangedHeader { }
.twikiDiffChangedMarker { }
.twikiDiffChangedText { }

.twikiDiffDeletedHeader { }
.twikiDiffDeletedMarker { }
.twikiDiffDeletedText {
 background:#FFD7D7;
}

.twikiDiffAddedHeader { }
.twikiDiffAddedMarker { }
.twikiDiffAddedText { }

.twikiDiffUnchangedText { }


/* twiki page form */
.twikiPageForm {
  margin:1em 0px;
  padding:1em;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  background:#FEF8EB;
}
.natSideBar .twikiPageForm {
  margin:-1px -1em 0em;
  border:0px;
  border-top:1px solid #9C3063;
  border-bottom:1px solid #9C3063;
  /*background:#CECFCE;*/
}
.twikiPageForm table {
  margin:0px;
}

.twikiPageForm th {
  color:#444444;
}
.twikiPageForm th a {
  color:#444444;
  text-decoration:none;
  font-weight:bold;
}
.natEditTextArea {
  background:#eee;
}

fieldset {
  padding:0px 0px 0px 1px; /* firefox fix to allign legend and content */
  border:0px;
  background:#FEF8EB;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
legend {
  color:#0055b5;
  font-size:110%;
}

fieldset .twikiFormSteps {
  border:0px;
}

.twikiFormSteps {
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  background:#FEF8EB;
  padding:1.0em;
}
.twikiFormStep {
  margin:1.0em 0em;
}
.twikiFormStep hr {
  margin:1.5em -1.5em;
}
.twikiFormSteps h2,
.twikiFormSteps h3,
.twikiFormSteps h4,
.twikiFormSteps h2 a,
.twikiFormSteps h3 a,
.twikiFormSteps h4 a {
  margin-top:0em;
  font-weight:bold;
  color:inherit;
}
.twikiFormSteps h2 { font-size:130%; }
.twikiFormSteps h3 { font-size:100%; }
.twikiFormSteps h4,
.twikiFormSteps h5,
.twikiFormSteps h6 { font-size:100%; }

.twikiFormSteps h2 {
  border-bottom:0px;
  color:#9C3063;
}
.twikiFormSteps h3 {
  margin:1.0em 0em 0.2em;
}
.twikiFormOptions .twikiCheckbox {
  margin:0em 0.2em 0em;
}

.twikiFormSteps .jqTabContents,
.twikiFormSteps ul.jqTabGroup li.current {
  background:#FEF1D6;
}
.twikiFormSteps .jqTabContents {
  padding:0.5em 1.0em;
}
.twikiFormDescription {
  margin:0.2em 0em;
  color:#828282;
}

/* helpers */
.natErrorMsg {
  background:#eee;
}

/* top */
.natTopLeft,
.natTopRight,
.natTopLeft a,
.natTopRight a  {
  color:white;
}
.natTopRight {
  background:url(nextwiki-header-tile.png) repeat-x;
}
.natTopLeft.natTopRight {
  padding:0px;
  background:inherit;
}
.natTopLeftContents {
  background:url(nextwiki-header-tile.png) repeat-x;
  height:100px;
  margin:0px 0px 0px 50px;
  padding:0em;
}
.natWebTitle {
  background:url(nextwiki-header.png) no-repeat;
  padding:0em;
  margin:0px 0px 0px -50px;
  height:100px;
}
.natWebTitle span {
  display:none;
}
.natWebTitle a {
  float:left;
  width:287px;
  height:74px;
  margin:13px;
}
.natWebTitle a,
.natWebTitle a:hover {
  background-color:inherit;
  background-image:url(nextwiki-logo.png);
  background-repeat:no-repeat;
}
.natEditBody .natMainContents h1 {
  margin:0em 0em .5em;
}
.natWebSlogan {
  font-style:italic;
  display:inline;
  display:none;
}

/* topic actions */
.natGreeter {
  text-align:right;
  padding:0em 1.2em 0.3em 0em;
}
.natGreeter a {
  color:#444444;
}
.natGreeter a:hover {
  color:#ffffff;
}

.natUserAction:hover,
.natUserAction:active,
.natUserAction {
  font-weight:normal;
}
.natTopicActions {
}
.natDisabledUserAction span,
.natDisabledTopicAction span {
  color:#cfcfcf;
}
.natTopicActions a:hover,
.natTopicAction,
.natTopicAction:hover {
  color:black;
}
.natTopicAction:hover,
.natTopicActions a:hover {
  background-color:#efefef;
}

/* sidebar */
.natSideBar {
  background:#E9E9EB;
  background-image:url(button-bg.png);
  background-repeat:repeat-x;
  background-position:0% 100%;
}
.natSideBarContents  {
  margin:0em;
  padding:0em 1em;
}
.natSideBar .hover,
.natSideBar a:hover {
  /*
  background:#9CBAEF;
  color:#0055b5;*/
  background:#fff;
}
.natSideBar h2 {
  font-size:120%;
}
.natSideBar h2,
.natSideBar h2 a {
  background-color:#62B000;
  background-image:url(button-bg.png);
  background-repeat:repeat-x;
  background-position:left bottom;
  color:white;
}
.natSideBar h2 a {
  display:block;
  margin:0em -1em;
  padding:0em 1em;
}
.natSideBar h2 a:hover {
  background:#5AA301;
}

.natSideBar h2 {
  font-weight:normal;
  letter-spacing:0.1em;
  display:block;
  margin:0em -1em 0em;
  padding:0px 1em;
  line-height:1.5em;
  border-top:1px solid #BDEB86;
}
.natSideBar h3 {
  margin:0.5em 0em 0.5em 0em;
  font-size:100%;
  font-weight:bold;
  display:inline;
}
.natSideBar h2 a,
.natSideBar h3 a,
.natSideBar h4 a {
  color:inherit;
  font-weight:inherit;
}

.natSideBar p,
.natSideBarSection {
  /*background:#CECFCE;*/
  margin:0em -1em;
  padding:0em 1em;
}
.natSideBar p {
  border-bottom:1px solid white;
}

.natSideBar p {
  padding:1em;
}

.natSideBar ol,
.natSideBar ul {
  margin:0em -1em -1px;
  /*background:#cecfce;*/
  border-bottom:1px solid #c2c4c4;
}

.natSideBar .treeview a {
  display:inline;
  padding:0px;
  margin:0px;
}
.natSideBar .jqTreeview {
  padding:1em 0em;
}
.natSideBar .treeview li {
  border-bottom:0px;
}
.natSideBar li {
  line-height:2.0em;
  margin:0px;
  padding:1px 1em;
  border-top:1px solid #c2c4c4;
}
.natSideBar ul li a {
  font-weight:normal;
  display:block;
  color:#434343;
  margin:0px -1em;
  padding:0px 1em;
}
.natSideBar .twikiCurrentTopicLink {
  color:#9C3063;
  background:#fff;
}

.natSideBar ol {
  padding:1em 0em 1em 2.5em;
}
.natSideBar ol li {
  background-image:none;
  border-bottom:0px;
  line-height:normal;
}
.natSideBar ol li a {
  color:#9C3063;
}
.natSideBar ul ul {
  margin-left:0px;
  padding-left:0px;
  list-style-type:none;
}
.natSideBar ul ol li,
.natSideBar ul ul li {
  background-image:none;
  padding-left:0px;
}

.natSearchBox table {
  width:100%;
}
.natSearchBox input {
  color:#0055b5;
  font-weight:bold;
  margin:0px;
  border:thin inset;
  padding:1px;
}
.natSearchBoxPos1 a span {
  display:none;
}
.natSearchBoxPos1 a {
  margin:1px 5px;
  padding:0px;
  background-image:url(magnifier.png);
  background-repeat:no-repeat;
  display:block;
  height:16px;
  width:16px;
}
.natSearchBoxPos1 a:hover {
  background-color:inherit;
  background-image:url(magnifier.png);
  background-repeat:no-repeat;
}
.natSearchBoxPos2,
.natSearchBoxPos3 {
  padding:1em 0px;
}


/* main area */
.natBreadCrumbs .natSep,
.natBreadCrumbs a {
  color:#73AA31;
}
.natBreadCrumbs a:hover {
  color:white;
}

.natMainContents .twikiNewLink {
  background-color:#eee;
  color:#9C3063;
}

/* bottom */
.natMainFooterContents {
  margin:0em;
}
.natRevision a,
.natRevision {
  font-size:13px;
  color:#808080;
}
.natRevision a:hover {
  color:white;
}
.natMainContents .natRevision {
  margin-bottom:1.5em;
}
.natMainFooterContents .natRevision {
  margin-top:2em;
}
.natSyndicate {
  display:inline;
}
.natBottomBar {
  padding:20px;
  background:white;
}
.natBottomBarContents {
  width:100%;
  text-align:left;
}
.natBottomBarContents,
.natBottomBarContents a {
  color:#999;
}
.natCopyRight {
  display:inline;
}

/* forms */
.natTopicForm {
  margin:2.0em 0em 0em;
  /*background:#f6f6f6;*/
}
.natTopicAttachments .natTopicAction:hover,
.natTopicForm .natTopicAction:hover {
  background-color:#FEE7B5;
}
.natTopicForm  .twikiFormStep {
  margin:0.3em 0em;
  padding:0em;
}
.natTopicForm td,
.natTopicForm th {
  vertical-align:top;
}
.natTopicForm th {
  width:20%;
}

.twikiEditForm {
  margin:-8px;
  padding:1em 1.5em;
  background:transparent;
  border:0px;
}
.twikiEditForm .twikiFormStep {
  background:#FEF8EB;
  /*background:#f6f6f6;*/
  border-top:1px solid #ddd;
  margin:0em;
  padding:1em 1.5em;
}

/* attachments */
.natTopicAttachments {
  margin:2.0em 0em 0em;
}
.natTopicAttachments .natDisabledTopicAction:hover,
.natTopicAttachments .natViewTopicAction:hover,
.natTopicAttachments .natNewTopicAction:hover,
.natTopicAttachments .natEditTopicInfo:hover,
.natTopicAttachments .natAttachTopicAction:hover,
.natTopicAttachments .natPrintTopicAction:hover,
.natTopicAttachments .natPdfTopicAction:hover,
.natTopicAttachments .natDiffTopicAction:hover,
.natTopicAttachments .natRawTopicAction:hover,
.natTopicAttachments .natDeleteTopicAction:hover,
.natTopicAttachments .natMoveTopicAction:hover,
.natTopicAttachments .natMoreTopicAction:hover,
.natTopicAttachments .natHelpTopicAction:hover,
.natTopicAttachments .natTopicActions a:hover {
  background-color:#FEE8B8;
}

/* search tables */
.natSearchRevision,
.natSearchRevision a {
  color:#aaa;
}
.natSearchForm {
  border-bottom:1px #ddd solid;
  padding-bottom:2px;
}

/* TOC */
.twikiToc {
  margin:1em 0em 0em 0.2em;
  padding:0em;
}
.twikiTocTitle {
  margin:0em 0em 0.5em 0em;
  padding:0em;
  font-size:130%;
  color:#0055b5;
  color:#9C3063;
  display:block;
}
.twikiToc ul {
  list-style:none;
  padding:0.5em 0em;
  margin:0;
  border-top:1px solid #eee;
  border-left:4px solid #eee;
}
.twikiToc ul ul {
  padding:0em 0em 0em .5em;
  margin-top:0px;
  border:0px;
}
.twikiToc li {
  margin-left:1em;
  padding-left:1em;
  background-image:url(bullet-toc.gif);
  background-position:0 0.4em;
  background-repeat:no-repeat;
  background-repeat:no-repeat;
}
.twikiToc a {
  background-image:none;
}

/* supported plugins and applications */

/* Blogging */
.alt {
  margin:0.5em 0em;
  padding:1.0em 1.5em;
  background:#f8f8f8;
  border-top:1px #ddd solid;
  border-bottom:1px #ddd solid;
}
.alt h1,
.alt h2,
.alt h3,
.alt h4,
.alt h5 {
  margin-top:0.1em;
}
.border {
  border:1px #ddd solid;
}

/* blogging */
.blogAbout {
  font-size:95%;
  line-height:1.3em;
}
.blogSideBarLatest h2,
.blogSideBarComments h2 {
  border-bottom:0px;
  margin-bottom:0px;
}
.blogSideBarHeader,
.blogSideBarHeader h2,
.blogSideBarHeader a {
  font-size:14px;
  color:#444444;
  font-weight:normal !important;
}
.blogSideBarHeader {
  line-height:1.4em;
  border-bottom:1px solid #dedede;
  margin:0em 0em 1em 0em;
}
.blogSideBar {
  line-height:1.4em;
}
.blogSideBarSection {
  margin-bottom:1em;
}
.blogSideBarSection ol {
  margin-top:0px;
}
.blogSideBarSection ul {
  margin-top:0px;
  margin-left:0px;
}
.blogText {
  margin-top:5px;
  padding:1px; /* fix for konqueror */
}
.blogComment {
  margin:5px 0px;
  padding:1em;
  border:1px #ddd solid;
}
.blogCommentOdd {
  background:#f6f6f6;
  border:1px #ddd solid;
}
.blogComment .blogDate {
  font-size:0.8em;
  color:#777;
  font-weight:normal;
}
.blogCommentNr {
  color:#444444;
  margin-right:1em;
}
.blogCommentCount {
  color:#777;
  text-align:right;
}
.blogHeadline .blogCommentCount {
  font-size:20px;
}
.blogSubComment {
  padding-left:5px;
  border-left:5px solid #ddd;
}
.blogCommentOdd .blogSubComment {
  border-color:#ddd;
}
.blogCommentEven .blogSubComment {
  border-color:#ddd;
}
.blogAddComment {
  margin:1em 0em;
}
.blogAddComment textarea,
.blogAddComment input {
  font-family: Arial, Sans-Serif;
}
.blogArchiveDescription {
  margin-bottom:20px;
  font-size:0.9em;
}
.blogAdminButtons,
.blogAuthorButtons {
  background:#f6f6f6;
  border:1px #ddd solid;
}
.blogSideBarSection ol {
  padding-left:2em;
}

/* EmployeePortalApp */
.empSkillSelector {
  border-top:1px #bbb solid;
  border-bottom:1px #bbb solid;
  margin:-2px -5px;
}

/* ClassificationPlugin */
.clsBrowser a,
.clsTagCloud a {
  text-decoration:none;
  display:inline;
}
.fltMakeIndexWrapper a:hover,
.natMainContents .fltMakeIndexWrapper a {
  line-height:100%;
}
.fltMakeIndexWrapper h3 {
  font-size:100%;
  font-weight:bold;
}
.natMainContents .fltMakeIndexWrapper ul {
  list-style-type:none;
  margin:0px 7px 7px 0px;
  padding:0px;
}
.natMainContents .fltMakeIndexWrapper li {
  padding:7px 0px;
}
.clsTopicInfo h1 {
  border-bottom:0px;
}
.clsTopicInfo .natRevision {
  margin-bottom:0em;
}
.clsTopicInfoSep {
  border-bottom:1px #ddd solid;
}

/* HistoryPlugin */
.natOopsHistoryBody form {
  margin:0em 1em 1em 0em;
  padding:0.5em 1em;
  border:1px #ddd solid;
  background-image:url(GrayBlend.png);
  background-repeat:repeat-x;
  background-position:0px 0px;
}
