/* border variation for clean */
@import url('BaseBorder.css');

.natBody {
  margin:1em 2em;
}
.twikiBroadcastMessage {
  margin:-1em -2em 1em;
}
.natEditBody {
  margin:0px;
}

.natBodyLeft .natSideBarHeader,
.natBodyRight .natWebButtons {
  border-left:1px #aaaaaa solid;
}
.natBodyLeft .natWebButtons,
.natBodyRight .natSideBarHeader,
.natTopRight {
  border-right:1px #aaaaaa solid;
}
.natMiddleLeft {
  border-left:1px #aaaaaa solid;
}
.natMiddleRight {
  border-right:1px #aaaaaa solid;
}
.natMiddle,
.natSideBar {
  border-bottom:1px #aaaaaa solid;
}
.natBottomBarContents {
  margin-top:1px; /* konqueror fix */
}
.natEditBody .natTopBar,
.natEditBody .natWebButtons,
.natEditBody .natMiddle,
.natEditBody .natBottomBar {
  border:0px
}
