/* thin variant for clean */
@import url("BaseThin.css");


.natBodyContents {
  padding-top:2em;
}
.natSideBarHeaderRight,
.natWebButtonsRight,
.natSideBarRight,
.natMiddleRight,
.natTopRight {
  border-right:1px #aaaaaa solid;
}
.natSideBarHeaderLeft,
.natWebButtonsLeft,
.natSideBarLeft,
.natMiddleLeft
{
  border-left:1px #aaaaaa solid;
}
.natMain,
.natSideBar {
  border-bottom:1px #aaaaaa solid;
}
.natBottomBar {
  background:#e5e5e5;
}
.natEditBody .natMiddle {
  border-top:1px #aaaaaa solid;
}
