/* fire variation for natskin */

.natTopBar,
.natWebTitle,
.natWebSlogan,
.natSearchBox,
.natTopBar a {
  color:white;
}

.natHeaderArt {
  background-image:url(Fire.jpg); 
  background-repeat:no-repeat;
  background-position:top left;
}
.natSearchBoxTop input {
  background:white;
  color:black;
  background:#732408;
  color:white;
  border:1px solid #FF7D08;
}
.natWebTitle a,
.natWebTitle {
  color:white;
  font-size:40px;
}

.natTopicActions a {
  padding:0px 3px;
  margin:0px -3px;
  border:0px;
}
.natTopicActions a:hover {
  background:#732408;
  color:#FF7D08;
  text-decoration:none;
  border:0px;
}
.natWebButtons ul a {
  color:white;
  border:0px;
}
.natWebButtons ul a.current,
.natWebButtons ul a:hover {
  background:#732408;
  color:#FF7D08;
  text-decoration:none;
  border:0px;
}
.natWebButtons ul a.current:hover {
  background:#732408;
  color:#FFF652;
  border:0px;
}
