/* variation to switch on the web buttons for gettysburg */
@import url('BaseButtons.css');

.natTopBar {
  border-bottom:0px;
}
.natWebButtons {
  padding-left:20px;
  padding-right:25px;
  border-bottom:1px solid #ffffff;
}
.natWebButtonsContents {
  padding:0px 5px 10px;
  font-family:georgia,serif;
}
.natWebButtons ul a {
  font-weight:normal;
  color:white;
  border-bottom:5px solid #003366;
}
.natWebButtons ul a.current:hover,
.natWebButtons ul a:hover {
  text-decoration: none;
  border-bottom:5px solid #ffcc66;
}

.natWebButtons ul a.current {
  text-decoration: none;
  border-bottom:5px solid #99cc66;
}
