/* independence style */
@import url("BaseStyle.css");

/* html */
.twikiEmulatedLink,
a, a:link, a:active {
  color: #555; 
}
a:hover { 
  color: #B22222; 
}

hr {
  border-bottom:1px solid #B22222; 
}
button {
  font-size:12px;
}

/* layout */
html {
  background-color: #0F314E;
}
.natBody {
  margin:0;
  padding:0;
  background-color: #0F314E;
}
.natBodyContents {
  padding: 0px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  text-align:left;
}
.natMiddleLeft {
  padding:20px 10px 20px 20px;
}
.natMiddleRight {
  padding:20px 20px 20px 10px;
}

.natTopLeftContents {
  margin:15px 0px 15px 20px;
}
.natTopRightContents {
  margin:15px 20px 15px 15px;
}

.natMainHeaderContents,
.natMainFooterContents {
  margin-bottom:10px;
  margin-top:0px;
}

/* top */
.natHeaderArt {
  background: #B22222;
}
.natTopBar {
  font-family:Georgia, 'Times New Roman', serif;
  color:white;
  border-bottom: 1px solid #FFFFFF;
}

.natTopLeft,
.natTopRight,
.natTopBar a:hover,
.natTopBar a {
  color:white;
}

.natWebTitle a {
  font-family: Georgia, 'Times New Roman', serif;
  color:white;
}
.natWebTitle {
  padding-top:10px;
  padding-bottom:10px;
  font-size:30px;
}

.natTopRightContents {
  font-size:12px;
  font-family:'Trebuchet MS', arial, sans-serif;
}
.natWebSlogan {
  font-family:'Trebuchet MS', arial, sans-serif;
}
.natTopicActions {
  font-size:12px;
  line-height:120%;
}
.natTopicActions a,
.natTopicActions .natDisabledTopicAction {
  padding:3px 5px;
}
.natTopicActions .natDisabledTopicAction {
  color:#D8AEAE;
  padding:3px 5px;
}
.natTopicActions .natSep {
  display:none;
}

.natSearchBox input {
  font-size:12px;
  margin-top:5px;
  width:170px;
  background:#B22222;
  color:white;
  border:1px dotted white;
  _border:1px solid white; /* IE only */
}
.natSearchBoxPos1 input,
.natSearchBoxPos2 input,
.natSearchBoxPos3 input {
  background:white;
  color: #666666;
  font-weight:bold;
  border:1px dotted #B22222;
  _border:1px solid #B22222; /* IE only */
  width:99%;
}

.natAction {
  font-weight:bold;
  color:white;
}

/* sidebar */
.natTopRight,
.natSideBarRight {
  width:260px;
}
.natSideBarContents {
  font-family: 'Trebuchet MS', arial, sans-serif;
}

.natSideBar h2 {
  margin:20px 0px 10px 0px;
  padding-left:0px;
}
.natSideBar a {
  font-weight:normal;
}
.natSideBar a:hover h3,
.natSideBar a:hover {
  text-decoration:underline;
}
.natSideBar h3,
.natSideBar h3 a,
.natSideBar h2,
.natSideBar h2 a {
  font-size:15px;
  color: #666666;
  font-weight:bold;
}
.natSideBar h2 a,
.natSideBar h2 {
  color: #B22222;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration:none;
  letter-spacing: .3em;
  padding:3px 0px;
}

.natSideBar ul {
  margin:5px 0px 10px 10px;
}
.natSideBar ul ul {
  margin-left:0px;
  padding-left:0px;
  list-style-type:none;
}

.natNotes {
  padding-left:5px;
}

/* main area */
.natMiddle {
  color: #666666;
  font-family: 'Trebuchet MS', arial, sans-serif;
  background:#FFFFFF;
}

.natMain .twikiEmulatedLink,
.natMain a {
  font-weight:normal;
  color:#0F314E;
  text-decoration:underline;
}
.natMain a:hover {
  color:#B22222;
}

.natMain pre {
  border-left:5px solid #eeeeee;
  padding-left:5px;
}

.natMain h1 .twikiEmulatedLink,
.natMain h2 .twikiEmulatedLink,
.natMain h3 .twikiEmulatedLink,
.natMain h4 .twikiEmulatedLink,
.natMain h5 .twikiEmulatedLink,
.natMain h6 .twikiEmulatedLink,
.natMain h1, .natMain h2, .natMain h3, .natMain h4, .natMain h5, .natMain h6,
.natMain h1 a, .natMain h2 a, .natMain h3 a, .natMain h4 a,
.natMain h5 a, .natMain h6 a,
.natMain h1 a:hover, .natMain h2 a:hover, .natMain h3 a:hover,
.natMain h4 a:hover, .natMain h5 a:hover, .natMain h6 a:hover {
  color:#B22222;
}
.natMain h1 {font-size:24px;}
.natMain h2 {font-size:18px;}
.natMain h3 {font-size:16px;}
.natMain h4 {font-size:14px;}
.natMain h5 {font-size:14px;}
.natMain h6 {font-size:14px; margin-top:5px}

.natMain h2 {
  margin-top:10px;
  border-bottom:1px solid #B22222;
}

.natMain table,
.natMain blockquote,
.natMain li {
  line-height: 150%;
}
.natMain .natOopsHeading {
  color:#B22222;
  font-weight:bold;
}
.natMainHeaderContents a {
  text-decoration:none;
}

.natMiddle select,
.natMiddle input,
.natMiddle textarea {
  font-size:12px;
}
.natMiddle input:hover {
  color: #B22222; 
}

/* bottom */
.natBottomBarContents {
  letter-spacing:.3em;
  font-size:10px;
  font-family: 'Trebuchet MS', sans-serif;
  line-height:140%;
  color: #666666;
  margin:20px;
}
.natCopyRight {
  display:inline;
}

/* twiki tables */
.twikiTable {
  border:1px #B22222 solid;
  background:white;
  font-size:12px;
}
.twikiTable th {
  background:#B22222;
  font-family: 'Trebuchet MS', sans-serif;
  letter-spacing: .3em;
}
.twikiTable th,
.twikiTable th span,
.twikiTable th font,
.twikiTable th a {
  color:white;
  font-weight:bold;
}
.twikiTable th a {
  text-decoration:none;
}

.twikiTable th a:hover {
  color:#0F314E;
  text-decoration:none;
}

.twikiTable th {
  border:1px dotted white;
  _border:1px solid white; /* IE only */
}
.twikiTable td {
  border:1px ridge #999;
  background:white;
}
.twikiTableEven td {
  background:#f0f0f0;
}
.natTopicEditForm table td {
  border:0px;
}
.twikiDiffTable td {
  border:0px;
}
/* topic form */
.natTopicForm .natTopicFormFirstCol a,
.natTopicForm .natTopicFormFirstCol,
.natTopicForm .twikiFirstCol,
.natTopicForm th {
  letter-spacing: .3em;
  background:#B22222;
  color:white;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight:bold;
  font-size:x-small;
}
.natTopicForm .natTopicFormFirstCol a,
.natTopicForm th,
.natTopicForm th a {
  color:white;
  background:#B22222;
  font-weight:bold;
}
.natTopicForm .natTopicFormFirstCol a,
.natTopicForm th a {
  text-decoration:none;
}

.natTopicForm .natTopicFormFirstCol a:hover,
.natTopicForm th a:hover {
  color:#0F314E;
  text-decoration:none;
}

.natTopicForm table {
  border:1px #B22222 solid;
}
.natTopicForm th {
  border:1px dotted white;
  _border:1px solid white; /* IE only */
}
.natTopicForm td {
  border:1px ridge #999;
}

/* twiki page form */
.twikiPageForm {
  background: #f8f8f8;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding:10px;
}
.twikiPageForm table {
  border:1px #B22222 solid;
  margin:0px;
}
.twikiPageForm table th,
.twikiPageForm table td {
  padding:2px 5px;
}
.twikiPageForm .twikiFirstCol,
.twikiPageForm th {
  vertical-align:middle;
  border:1px dotted white;
  _border:1px solid white; /* IE only */
}
.twikiPageForm .twikiFirstCol,
.twikiPageForm th,
.twikiPageForm th a {
  letter-spacing: .3em;
  font-family: 'Trebuchet MS', sans-serif;
  background:#B22222;
  text-decoration:none;
  color:white;
  background:#B22222;
  font-weight:bold;
}

.twikiPageForm td a:hover,
.twikiPageForm th a:hover {
  color:white;
  text-decoration:underline;
}


/* search table */
.natSearchTable {
  border:1px #B22222 solid;
  margin-top:1em;
}
.natSearchTable:first-child {
  margin-top:0em;
}
.natSearchTableTitle th {
  color:white;
  background:#B22222;
  font-family: 'Trebuchet MS', sans-serif;
  letter-spacing: .3em;
  vertical-align:middle;
}
.natSearchHit {
  border:1px #B22222 solid;
  line-height:140%;
}
.natSearchHit th {
  padding:0.5em 0.5em 0 0.5em;
}
.natSearchHit td {
  padding:0 0.5em 0.5em 0.5em;
}

.natSearchHitEven {
  background:#f0f0f0;
}

/* misc twiki */
.twikiNew {
  color:#B22222; 
}

.twikiNewLink {
  color:#B22222;
}

/* supported plugins and applications */

/* RedDotPlugin */
.natSideBar .redDot a {
  color:#0F314E;
}

/* HeadlinesPlugin */
.headlinesTitle a {
  text-decoration:none;
}

/* blogging */
.blogAbout {
  line-height:1.3em;
}
.blogSideBarHeader {
  color: #B22222 !important;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration:none;
  letter-spacing: .3em;
  padding:3px 0px;
}
.blogSideBarHeader h2 {
  color: #B22222 !important;
  font-size: 15px;
  letter-spacing: .3em;
  padding:0px;
  margin:0px;
}
.blogSideBarSection {
  line-height:1.4em;
}
.blogSideBarSection ul {
  padding-left:1.3em;
}
.blogSideBarSection ol {
  padding-left:2em;
}
.blogHeadline h2,
.blogHeadline a {
  text-decoration:none;
  border:0px;
}
.blogHeadline {
  border-bottom:1px solid #B22222;
  margin-bottom:5px;
}
.blogHeadline .blogCommentCount {
  font-size:1.5em;
}
.blogEntry {
  margin-bottom:1em;
}
.blogInfo {
  font-size:0.9em;
}
.blogCommentOdd {
  background:#eee;
}
.natSideBar .blogAuthorButtons,
.natSideBar .blogAdminButtons {
  background:white;
  border:0px;
}
.blogNavigation {
  font-size:0.9em;
}
.blogNavigation a {
  text-decoration:none;
}
.blogCommentNr {
  color:#B22222;
}
.blogSubmitButton:hover {
  color: #B22222; 
}
