/* variation to switch on the web buttons for independence */
@import url('BaseButtons.css');

.natTopBar {
  border-bottom:0px;
}
.natWebButtons {
  border-bottom:1px solid #ffffff;
}
.natWebButtonsContents {
  font-size:12px;
  font-family:'Trebuchet MS', arial, sans-serif;
  margin:0px 10px 7px 25px;
}
.natWebButtons ul a {
  font-weight:normal;
  padding-bottom:10px;
  color:white;
}
.natWebButtons ul a.current:hover,
.natWebButtons ul a:hover {
  text-decoration: none;
  border-bottom:5px solid white;
  padding-bottom:5px;
}

.natWebButtons ul a.current {
  text-decoration: none;
  border-bottom:5px solid #0F314E;
  padding-bottom:5px;
}
