/* jotspot buttons */

/* variation to switch on the web buttons  */
@import url('../../TWiki/NatSkin/BaseButtons.css');

.natWebButtons {
  padding:5px 15px;
  margin:0px;
  background:#9C9DCD;
  text-align:left;
}
.natWebButtonsContents {
  padding:0px;
  color:#414483;
  font-weight:bold;
  font-family: Verdana, Arial, sans-serif;
}
.natWebButtons ul a.current {
  border-bottom:0px;
  color: #FFCE00;
  background:#7B7DBD;
}
.natWebButtons a {
  padding:3px 5px;
  color:white;
  color:#414483;
}
.natWebButtons ul a:hover {
  color:#FFCE00;
}
.natWebButtons ul a.current:hover {
  color:white;
}
