/* kubrick style */
@import url("BaseStyle.css");

/* based on the famous Kubrick WordPress style */

/* html */
a:hover {
  color: #147;
  text-decoration: underline;
}
.twikiEmulatedLink,
.natMain a,
.natMainFooter a,
.natTopBar a,
.natSideBar a,
a, h2 a:hover, h3 a:hover {
  color: #06c;
  font-weight:normal;
}
hr {
  border-bottom: 1px solid #999;
}

/* local basics */
html {
  background:#d5d6d7;
}
.natBody {
  margin:0;
  padding:0;
  background:#eee;
  background:#d5d6d7;
  text-align: center;
  font-size:11px;
  line-height:150%;
}
button {
  font-size:11px;
}
.natBodyContents {
  background:white;
  text-align:left;
  /*border: 1px solid #959596;*/
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
}
.natSideBarRight,
.natTopRight {
  width:230px;
}

.natMiddle {
  padding:15px;
}

/* top bar */
.natTopLeft, .natTopRight {
  padding:0px;
  vertical-align:bottom;
}
.natTopLeft {
  padding:40px 0px 40px 15px;
}
.natTopRight {
  padding:40px 5px 40px 15px;
}
.natTopBarSizer {
  height:auto;
}
.natSearchBox input {
  width:150px;
  border:0px;
  font-family:arial,sans-serif;
}
.natSearchBoxTop {
  margin-bottom:3px;
}

.natHeaderArt,
.natSearchBox input {
  background:#3388CC;
}
.natHeaderArt {
  border:1px solid white; /* IE fix */
}
.natTopBar,
.natTopBar a {
  color:white;
  border:0px;
}
.natWebSlogan {
  font-size:1.1em;
  margin-left:2px;
}
.natTopRight form {
  font-weight:normal;
  margin:0px;
}
.natTopicActions {
  font-size:1.0em;
}
.natTopicActions a,
.natTopicActions .natDisabledTopicAction {
  padding:3px 5px;
}
.natTopicActions .natSep {
  display:none;
}

.natWebTitle {
  font-size: 3em;
  text-transform:none;
}
.natWebTitle a {
  color:white;
  /*text-shadow:1px 1px 1px black;*/

}
.natAction {
  color:darkblue;
  text-transform:capitalize;
  font-weight:bold;
}

/* sidebar */
.natMiddleRight {
  background-color: white;
  /*border-left:1px solid #ddd;*/
}
.natSideBarContents {
  font-family:Verdana, Arial, Sans-Serif;
  color: #666;
  font-size:1em;
}
.natSideBar h2,
.natSideBar h3 {
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
  font-size: 1.5em;
  padding:0px;
  text-decoration: none;
  color:#444444;
  line-height:150%;
}
.natSideBar h2 {
  margin:1em 0em .5em 0em;
}
.natSideBar h3 {
  font-size:1.0em;
}

.natSideBar h2,
.natSideBar h2 a,
.natSideBar h3,
.natSideBar h3 a {
  font-weight:normal;
  color:#575757;
  color:#444444;
}
.natSideBar a:hover {
  text-decoration:underline;
}
.natSideBar ul {
  margin:0px;
  padding-left:2ex;
  list-style-type: none;
  text-indent:-2ex;
}
.natSideBar ul ul {
  margin-left:0px;
  padding-left:0px;
  text-indent:0px;
}

.natSideBar ol {
  margin-top:0px;
  margin-bottom:0px;
  padding-left:4ex;
  margin-left:0px;
  _margin-left:1ex; /* IE hack */
}
html>body .natSideBar ol { /* hide from IE */
  text-indent:-1ex;
}
.natSideBar ul > li:before { /* does not compute on IE */
  content: "\00BB \0020";
  color:#777;
}
.natSideBar ul ul > li:before { 
  content: "";
}
.natSideBarSearch {
  margin-top:1em;
  margin-bottom:1em;
}
.natSideBar a.natFeedIcon {
  color:#959596;
}
.natSideBar .natSearchBox input {
  background:white;
  color: #444;
  padding: 2px 0 2px 2px;
  margin: 0;
  border: 1px solid #ccc;
  width:100%;
  font-family:arial,sans-serif;
  font-size:1.2em;
}
*:first-child+html .natSearchBox input { /* IE7 fix */
  width:150px;
}

/* main */
.natMainHeaderContents {
  color:#0066cc;
}
.natMiddle {
  background-color: white;
  font-weight:normal;
  color:#444;
}
.natMainContents {
  /*color:#777;*/
  font-family:Verdana, Arial, Sans-Serif;
  font-size: 1.2em;
  line-height:1.5em:
}
.natMainFooterContents {
  text-align:left;
}
.natMain h1 .twikiEmulatedLink,
.natMain h2 .twikiEmulatedLink,
.natMain h3 .twikiEmulatedLink,
.natMain h4 .twikiEmulatedLink,
.natMain h5 .twikiEmulatedLink,
.natMain h6 .twikiEmulatedLink,
.natMain h1 a, .natMain h2 a, .natMain h3 a, .natMain h4 a,
.natMain h5 a, .natMain h6 a,
.natMain h1 a:hover, .natMain h2 a:hover, .natMain h3 a:hover, .natMain h4 a:hover,
.natMain h5 a:hover, .natMain h6 a:hover,
.natMain h1, .natMain h2, .natMain h3, .natMain h4, .natMain h5, .natMain h6
{
  color:#444444;
  font-weight:normal;
}
.natMain h1 {font-size:2.0em;}
.natMain h2 {font-size:1.7em;}
.natMain h3 {font-size:1.5em;}
.natMain h4 {font-size:1.3em;}
.natMain h5 {font-size:1.2em;}
.natMain h6 {font-size:1.2em;}

.natMain h1 {
  /* text-shadow:2px 2px 2px #ccc; */ /* only konqueror implements this by now */
}

.natMain h1,
.natMain h2,
.natMain h3,
.natMain h4,
.natMain h5,
.natMain h6 {
  font-family: 'Trebuchet MS', Verdana, sans-serif;
  letter-spacing:-1px;
  margin-bottom:2px;
}

.natMainContents pre {
  border-left:5px solid #ddd;
  margin-left:0px;
  padding-left:5px;
  font-size:0.9em;
  line-height:1.3em;
}

.natMain textarea {
  background:white;
  border:0px;
  color:#444;
  padding:2px;
}

.natMain .natNoteHeading {
  color: #0055aa;
}

/* bottom bar */
.natBottomBarContents {
  padding:0px 15px;
  font-size:1em;
}
.natBottomBarContents,
.natBottomBarContents a {
  color:#959596;
}
.natCopyRight {
  display:inline;
}
.natRevision {
  margin-top:10px;
}

/* tables */
.twikiTable {
  border:1px solid #d9d6e7;
  font-size:11px;
}

.twikiTable th {
  background:#fff6bf;
  border-top:1px solid #ffd324;
  border-bottom:1px solid #ffd324;
  text-align:left;
}
.twikiTable th,
.twikiTable th span,
.twikiTable th font,
.twikiTable th a {
  color:#0055aa;
  font-weight:bold;
}
.twikiTable td {
  background:white;
}
.twikiTableEven td {
  background:#f4f4f4;
}

/* twiki forms */
.natTopicForm table {
  border:0px;
}
.twikiPageForm,
.natTopicForm {
  background:#fff6bf;
  border-top:2px solid #ffd324;
  border-bottom:2px solid #ffd324;
  border-left:0px;
  border-right:0px;
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
  padding:5px;
}
.twikiPageForm table table {
  margin-top:2px;
  margin-bottom:2px;
  border:0px;
}
.twikiPageForm input,
.natTopicForm input {
  color:#444;
}
.twikiPageForm table td,
.twikiPageForm table th,
.natTopicForm table td,
.natTopicForm table th {
  border:0px;
}

.twikiPageForm th,
.natTopicForm td {
  border:1px solid #fff6bf;
  background:#fff6bf;
}
.natTopicForm th {
  background:#fff6bf;
  border-top:1px solid #ffd324;
  border-bottom:1px solid #ffd324;
}

.twikiPageForm table th,
.twikiPageForm table th a,
.twikiPageForm table th,
.natTopicForm table th a {
  background:#fff6bf;
}
.natTopicForm th,
.twikiPageForm th {
  text-align:right;
}
.natTopicForm select[multiple="on"] {
  width:99%;
}
.natTopicEditForm select,
.natTopicEditForm input,
.natTopicEditForm textarea,
.natTopicForm select,
.twikiPageForm table textarea,
.twikiPageForm table input,
.natTopicForm table textarea,
.natTopicForm table input {
  margin:2px;
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
  color:#444;
  padding:2px;
}
.natTopicEditForm textarea {
  border:1px inset #d9d6e7;
}
.natTopicFormFirstCol a,
.natTopicFormFirstCol {
  color:#06c;
  font-weight:bold;
}
/* attachments */
.natTopicAttachments table th,
.natTopicAttachments table td {
  padding:2px;
}
.natTopicAttachments table th {
  white-space:pre;
}

/* search tables */
.natSearchTable {
  font-size:1em;
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
  margin-top:1em;
}
.natSearchTable:first-child {
  margin-top:0em;
}
.natSearchTableTitle th {
  color:#444444;
  background:#fff6bf;
  border-top:1px solid #ddd;
}

.natSearchHit {
  font-size:0.9em;
  border-bottom:1px solid #ddd;
}
.natSearchHit th {
  border-top:1px solid #ddd;
  padding:0.5em 0.5em 0em 0.5em;
}
.natSearchHit td {
  padding:0 0.5em 0.5em 0.5em;
}
.natSearchHitEven {
  background:#f0f0f0;
}

/* table of contents */
.twikiToc {
  padding-top:5px;
  padding-bottom:5px;
  background:#fff6bf;
  border-top:2px solid #ffd324;
  border-bottom:2px solid #ffd324;
}

.twikiToc ul {
  margin-top:0px;
  margin-bottom:0px;
}
.twikiToc li ul {
  padding-left:20px;
}

.twikiToc li a {
  display:block;
  width:100%;
}
.twikiToc a + a {
  display:inline;
}
.twikiToc li a:hover {
  background-color:#ffd324;
  text-decoration:none;
}
.twikiTocTitle {
  background:ffd324;
  display:block;
  margin-top:-5px;
  padding:2px 25px;
  font-size:1.2em;
  font-weight:bold;
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
  line-height:1.5em;
  margin-bottom:5px;
}

/* CSS2 stuff to render proper section numbering
 * works with konqueror, safari
 * fails gecko
 */

/*
.twikiToc > ul {
  padding:0px;
}

.twikiToc ul {
  list-style-type:none;
  list-style-position:outside;
}
.twikiToc > ul > li:before {
  content: counter(s1) ". ";
  counter-increment: s1;
}
.twikiToc > ul > li > ul > li:before {
  content: counter(s1) "." counter(s2) ". ";
  counter-increment:s2;
}
.twikiToc > ul > li > ul > li > ul > li:before {
  content: counter(s1) "." counter(s2) "." counter(s3) ". ";
  counter-increment: s3;
}
.twikiToc > ul > li > ul > li > ul > li > ul > li:before {
  content: counter(s1) "." counter(s2) "." counter(s3) "." counter(s4) ". ";
  counter-increment: s4;
}
.twikiToc > ul > li > ul > li > ul > li > ul > li > ul > li:before {
  content: counter(s1) "." counter(s2) "." counter(s3) "." counter(s4) "." counter(s5);
  counter-increment:s5;
}
.twikiToc > ul > li {counter-reset: s2 s3 s4 s5;}
.twikiToc > ul > li > ul > li {counter-reset:s3 s4 s5;}
.twikiToc > ul > li > ul > li > ul > li {counter-reset:s4 s5;}
.twikiToc > ul > li > ul > li > ul > li > ul > li {counter-reset:s5;}
*/

/* misc twiki */
.twikiNewLink {
  /*color:#B22222;*/
  color:#b85b5a;
}


/* custom styles */
.alt {
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.border {
  border:1px solid #b8b8b8;
  padding:3px;
}

/* supported plugins */

/* blogging */
.blogHeadline {
  border-bottom:1px solid #ddd;
  margin-bottom:5px;
  margin-top:5px;
  font-size:95%;
}
.blogInfo {
  font-size:0.8em;
}
.blogText {
  margin-top:5px;
  padding:1px; /* fix for konqueror */
}
.blogMore {
  font-size:0.9em;
}
.blogCommentOdd {
  background:#f0f0f0;
}
.blogComments h4 {
  margin-top:10px;
}
.blogComment {
  margin-bottom:20px;
}
.blogComment h3 {
  margin-top:0px;
}
.blogComment h3 a:hover,
.blogComment h3 a {
  color:#06c;
}
.blogComment .blogDate,
.blogRef .blogDate {
  font-size:0.9em;
  color:#777;
  font-weight:normal;
}
.blogSubComment .blogDate {
  font-size:1em;
  color: #06c;
}
.blogCommentNr {
  color:#959596;
}
.blogCommentCount a:visited,
.blogCommentCount a:link,
.blogCommentCount a {
  color:#959596;
}
.blogCommentCount a:hover {
  color: #147;
  text-decoration:none;
}
.blogCommentCount {
  text-align:right;
}
.blogComments .blogCommentCount {
  color:#444444;
}
.blogHeadline .blogCommentCount {
  font-size:1.6em;
}
.blogSubComments {
  padding:5px;
}
.blogSubComment {
  border-left:5px solid #aaa;
}
.blogSubComment .blogCommentText {
  line-height:1.5em;
  text-align:justify; 
}
.blogNavigation {
  padding-top:7px;
}
.blogEntryFeed a,
.blogScroll,
.blogScroll a,
.blogNavigation,
.blogNavigation a {
  color:#959596;
}
.blogAddComment textarea,
.blogAddComment input {
  border:1px solid #aaa;
  color:#444;
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
  font-size:1.1em;
  padding:2px;
}
.blogAddComment .blogSubmitButton {
  margin-top:5px;
}
.blogAddComment .blogSubmitButton,
.twikiPageForm .blogSubmitButton {
  color:black;
}
.blogArchiveDescription {
  margin-bottom:20px;
  font-size:0.9em;
}
.blogSideBarSection {
  margin-bottom:20px;
  margin-top:20px;
}
.blogAuthorButtons {
  margin-top:20px;
  margin-bottom:20px;
}
.blogSideBarSection ul ol {
  padding-left:2.5em;
}
.blogEntryCount {
  font-size:0.9em;
  color:#959596;
}
.blogEntryCount,
.blogSideBarSection .blogCommentCount {
  text-align:right;
}
.blogSideBarSection ul > li,
.blogSideBarCategories ul > li {
  padding-right:0px;
}

.blogSideBarComments .blogEntryCount,
.blogSideBarComments .blogCommentCount {
  margin-left:2em;
}
/*
.blogRelated1 a {
  color:#0066cc;
}
.blogRelated2 a {
  color:#508ECC;
  color:#A4B8CC;
}
.blogRelated3 a {
  color:#A4B8CC;
}
*/
.blogText cite {
  display:block;
  margin: 10px 0;
  padding: 0 25px 0 50px;
  background: url("quote.gif") 10px top no-repeat; /* IE */
  border: none;
  font-style:normal;
}
.blogText > cite {
  background: url("quote.png") 10px top no-repeat; /* non-IE */
}
.blogArchiveModes a.current,
.blogArchiveYear a.current,
.blogArchiveMonth a.current,
.blogArchiveLexMins a.current,
.blogArchiveTagCloud a.current {
  border-bottom:2px solid #0066cc;
  text-decoration:none;
  color:#0066cc!important;
}
.blogArchiveTagCloud a:hover {
  color:#0a3993!important;
  text-decoration:none;
}

/* BlackListPlugin */
.blackList {
  border-top:2px solid #ffd324;
  border-bottom:2px solid #ffd324;
  background:#fff6bf;
}
.blackListComments {
  border-top:2px solid #ffd324;
  padding-top:5px;
}
.blackListTitle {
  border-bottom:1px dashed #999;
}

/* RedDotPlugin */
.redDot {
  font-family: 'Trebuchet MS', Verdana, Arial, Sans-Serif;
}

/* HeadlinesPlugin */
.headlinesTeaser img {
  border:1px solid #b8b8b8;
  padding:3px;
}

