/* pink panther variation for natskin */

.natHeaderArt {
  background-image:url(PinkPantherBar.jpg); 
  background-repeat:no-repeat;
  background-position:top center;
}
.natSearchBoxTop,
.natTopicActions a {
  color:white;
}

.natWebSlogan {
  display:none;
}
.natSearchBoxTop input {
  background:#FC7ABA;
  color:black;
  border:1px solid white;
}

.natTopBar {
  border-top:0px;
}

.natAction {
  color:white;
  font-weight:bold;
}

.natTopBar a:hover {
  background:#FC7ABA;
  color:black;
  text-decoration:none;
}
.natWebButtons {
  background:inherit;
}
.natWebButtons ul a {
  padding:5px 10px 5px;
  border:0px;
}
.natWebButtons ul a.current {
  background:white;
  color:black;
  border:0px;
}
.natWebButtons ul a:hover {
  background:#FC7ABA;
  color:black;
  border:0px;
}
.natWebButtons ul a.current:hover {
  background:white;
  color:#FC7ABA;
  border:0px;
}
.natMain, .natSideBar {
  border-top:0px;
}

/* twiki table variation */

/*
.natTopicForm table,
.twikiPageForm th,
.natTopicForm td {
  border-top:2px solid #06c;
  border-bottom:2px solid #06c;
  background:#ddd;
}
.natTopicForm table th a,
.natTopicForm th {
  background:#ddd;
}
.natTopicForm select,
.twikiPageForm select,
.twikiPageForm table textarea,
.twikiPageForm table input,
.natTopicForm table textarea,
.natTopicForm table input {
  border:0px;
  border:1px solid #666666;
}
*/

/* twiki toc variation */

.twikiToc {
  background:transparent;
  border:0px;
}
.twikiToc li a:hover {
  background:#FEA700;
  background:#06c;
  color:white;
}
