/* variation to switch on the web buttons for plain jane */
@import url('BaseButtons.css');

.natWebButtons {
  padding:0px;
}
.natTopBar {
  border-bottom:0px;
}
.natWebButtonsContents {
  margin-left:20px;
  margin-right:20px;
  padding:5px 0px 7px;
  font-family:arial,sans-serif;
}
.natWebButtons ul li {
  margin:0px;
  padding:0px;
}
.natWebButtons ul a {
  font-weight:bold;
  padding:2px 5px;
  border-bottom:1px solid white;
}
.natWebButtons ul a.current,
.natWebButtons ul a.current:hover,
.natWebButtons ul a:hover {
  text-decoration: none;
  background:#3f59bb;
  color:white;
}
