/* thin variant for plain jane */
@import url("BaseThin.css");

.natBody {
  padding-top:40px;
}
/*
.natMiddleLeft {
  border-left:1px solid #aaaaaa;
}
.natMiddleRight {
  border-right:1px solid #aaaaaa;
}
.natTopBar,
.natBottomBar {
  border-top:1px solid #aaaaaa;
}
html {
  background:#efefef;
}
.natBody {
  margin-bottom:40px;
  background:#efefef;
}
*/
