/* plain jane style */
@import url("BaseStyle.css");

/* html */
.twikiEmulatedLink,
a, a:link, a:active {
  color:#666666;
}
a:hover {
  color:#3f59bb;
}

h1 {font-size:16px;}
h2 {font-size:14px;}
h3 {font-size:14px;}
h4 {font-size:14px;}
h5 {font-size:14px;}
h6 {font-size:14px;}

hr {
  background:#aaaaaa;
  height:1px;
  border:none;
  margin:1em 0;
}
/* layout */
.natBody {
  margin:0;
  padding:0;
  font-size:12px;
  font-family:arial,sans-serif;
  background:white;
}
button {
  font-size:12px;
}

.natTopBar {
  line-height:160%;
  vertical-align:bottom;
}
.natTopLeftContents {
  margin:20px 0px 20px 20px;
}
.natTopRightContents {
  margin:20px;
  font-size:11px;
}
.natTopicActions {
  color:#666;
  color:#C1BDC1;
}
.natTopicActions .natSep {
  display:none;
}
.natTopicActions a,
.natTopicActions .natDisabledTopicAction {
  padding:3px 5px;
}
.natTopicActions a {
  color:#3f59bb;
}

.natMain {
  padding:0px;
  margin:0px;
}
.natMiddle {
  padding:20px;
}
.natMainHeaderContents a {
  text-decoration:none;
}

/* login */
.natLoginBody .natTopBar {
  display:none;
}
.natLoginBody .natMainContents {
  margin-top:30px;
}

/* misc twiki */
.twikiNewLink {
  color:#3f59bb;
  background:#eeeeee;
}

/* twik table */
.twikiTable {
  font-size:95%;
}
.twikiTable td,
.twikiTable {
  background:white;
}
.twikiTable th,
.twikiTable td,
.twikiTable {
  border:1px #aaaaaa solid;
}
.twikiTable th {
  background:#eeeeee;
}
.twikiTable th,
.twikiTable th span,
.twikiTable th font,
.twikiTable th a {
  color:#3f59bb;
}
.twikiTable th a:hover,
.twikiTable th a {
  text-decoration:none;
  background:#eeeeee;
}
.twikiTable th a:hover {
  color:#3f59bb;
}

/* topic form */
.natTopicForm th,
.natTopicForm td,
.natTopicForm table {
  border:1px #aaaaaa solid;
}
.natTopicForm .natTopicFormFirstCol,
.natTopicForm .twikiFirstCol,
.natTopicForm th {
  color:#666666;
  background:#eeeeee;
}
.natTopicForm th a:hover,
.natTopicForm th a {
  text-decoration:none;
  background:#eeeeee;
  color:#666666;
}
.natTopicForm th a:hover {
  color:#3f59bb;
}

/* twik page form */
.twikiPageForm {
  padding:5px;
  border:1px solid #3f59bb;
}
.twikiPageForm table {
  border-collapse:collapse;
}
.twikiPageForm table table {
  border:0px;
}
.twikiPageForm th,
.twikiPageForm td {
  border:0px;
}
.twikiPageForm th {
  color:#666666;
  background:#eeeeee;
}
.twikiPageForm th a:hover,
.twikiPageForm th a {
  text-decoration:none;
  background:#eeeeee;
  color:#666666;
}
.twikiPageForm th a:hover {
  color:#3f59bb;
}

.natTopicEditForm td {
  border:0px;
}

/* twiki diff */
.twikiDiffTable td {
  border:0px;
}

/* TOC */
.twikiToc {
  margin:5px 0px;
  padding-top:5px;
  padding-bottom:5px;
}
.twikiTocTitle {
  display:block;
  font-size:16px;
  font-weight:bold;
  margin-top:0px;
  margin-bottom:0px;
}
.twikiToc a,
.twikiToc a:link {
  border:0px;
  text-decoration:none;
}
.twikiToc ul {
  padding-left:0px;
  margin-top:5px;
  margin-bottom:5px;
}
.twikiToc ul ul {
  margin-top:0px;
  margin-bottom:0px;
}
.twikiToc li ul {
  padding-left:20px;
}

/* search table */
.natSearchTable {
  border:1px #aaaaaa solid;
  font-size:0.9em;
  margin-top:30px;
}
.natSearchTable:first-child {
  margin-top:0em;
}
.natSearchTableTitle th {
  color:#666666;
  background:#eeeeee;
  border-bottom:1px #aaaaaa solid;
}
.natSearchHit {
  font-size:0.9em;
  border:1px #aaaaaa solid;
}
.natSearchHit th {
  padding:0.5em 0.5em 0em 0.5em;
}
.natSearchHit td {
  padding:0em 0.5em 0.5em 0.5em;
  border-bottom:1px #aaaaaa solid;
}


/* top */
.natTopBar a:hover {
  text-decoration:none;
  background:#3f59bb;
  color:#ffffff;
}
.natWebTitle,
.natWebTitle a:hover,
.natWebTitle a {
  color:#3f59bb;
  background:transparent;
  font-weight:bold;
  margin:0px;
  font-size:30px;
}

.natSearchBox input, 
.natSearchBox {
  color:#666666;
}
.natSearchBox input {
  border:1px solid #aaa;
  font-weight:bold;
  padding:2px;
}
.natSearchBox input:focus {
  border:1px solid #3f59bb;
}

.natWebSlogan {
  display:none;
}

/* sidebar */
.natTopRight,
.natSideBarRight {
  width:230px;
}
.natSideBarContents {
  color:#666666;
}
.natSideBar h2 {
  font-size:16px;
  margin:20px 0px 10px 0px;
  padding:0px;
  color:#3f59bb;
  font-weight:bold;
}
.natSideBar h2 a {
  color:#3f59bb;
}
.natSideBar ul {
  margin-left:0px;
  padding-left:0px;
  list-style-type:none;
}
.natSideBar li {
  _border:1px solid white; /* IE fix */
}

.natSideBar li {
  margin:0px;
}
.natSideBar ol li {
  margin-left:5px;
}
.natSideBar h3 {
  display:inline;
  font-size:12px;
}
.natSideBar a:hover h2 ,
.natSideBar a:hover h3 ,
.natSideBar h2 a:hover,
.natSideBar h3 a:hover,
.natSideBar a:hover {
  background:#3f59bb;
  color:white;
  text-decoration:none;
}

/* main */
.natMiddle {
  background:white;
}
.natMainFooter,
.natMain {
  color:#666666;
  line-height:140%;
}

.natMain a:hover {
  color:#ffffff;
  background:#3f59bb;
  text-decoration:none;
}

.natMainContents a {
  color:#3f59bb;
  text-decoration:underline;
}

.natMain .twikiEmulatedLink,
.natMain h1, .natMain h2, .natMain h3, .natMain h4, .natMain h5, .natMain h6,
.natMain h1 a, .natMain h2 a, .natMain h3 a, .natMain h4 a,
.natMain h5 a, .natMain h6 a,
.natMain h1 a:link, .natMain h2 a:link, .natMain h3 a:link,
.natMain h4 a:link, .natMain h5 a:link, .natMain h6 a:link {
  color:#666666;
  margin-bottom:0px;
}
.natMain h1 {
  margin-bottom:1.0em;
}
.natMain h1 a:hover, .natMain h2 a:hover, .natMain h3 a:hover,
.natMain h4 a:hover, .natMain h5 a:hover, .natMain h6 a:hover {
  color:white;
}
.natMain h2 {
  padding-bottom:0.2em;
  margin-bottom:0px;
}

/* bottom */
.natBottomBarContents {
  font-weight:bold;
  line-height:140%;
  margin:20px;
  color:#cccccc;
}
.natBottomBarContents a {
  color:#cccccc;
}

/* supported plugins */

/* BibtexPlugin */
.bibtex dt a,
.bibtex dt {
  color:#3f59bb;
  font-weight:normal;
}

.bibsearch th {
  color:#3f59bb;
  padding-top:2px;
}

.bibsearch td {
  padding-top:2px;
}

/* blogging */
.blogAbout {
  font-size:0.9em;
  line-height:1.3em;
}
.blogSideBarHeader {
  color:#3f59bb;
  font-weight:bold;
  padding-left:2px;
  font-size:18px !important;
}
.blogSideBarSection {
  margin-bottom:1.3em;
  font-size:1.0em;
}
.blogSideBarSection li a {
  display:inline;
  margin:0px;
  padding:0px;
}
.blogSideBarSection ul {
  list-style-type:disc;
}
.blogSideBarSection ul li {
  margin-left:25px;
}
.blogSideBarSection ol {
  padding-left:5px;
}
.blogSideBarSection ol li {
  margin-left:25px;
}
.blogCommentCount {
  width:2em;
  text-align:right;
  font-size:0.9em;
}
.blogText {
  margin-top:5px;
  padding:1px; /* fix for konqueror */
}
.blogComment h3 {
  font-size:1.2em;
}
.blogCommentOdd {
  background:#efefef;
}
.blogCommentNr {
  color:#3f59bb;
  margin-right:10px;
}
.blogDate {
  font-size:0.9em;
}
.blogAddComment textarea,
.blogAddComment input {
  font-family: Arial, Sans-Serif;
}
.blogArchiveDescription {
  margin-bottom:20px;
  font-size:0.9em;
}
.blogHeadline h1,
.blogHeadline h2,
.blogHeadline a {
  text-decoration:none;
  border:0px;
}
.blogHeadline {
  border-bottom:2px solid #3f59bb;
  margin-bottom:7px;
}
.blogEntry {
  margin-bottom:1em;
}
.blogNavigation a {
  text-decoration:none;
}

/* HeadlinePlugin */
.headlinesTitle a {
  text-decoration:none;
}
