/* header art variation */
.natHeaderArt {
  background:white;
  background-image:url(PlasticLoveBar.jpg);
  background-repeat:no-repeat;
  background-position:top left;
}
.natSearchBoxTop input {
  background:white;
  color:black;
  border:1px solid black;
}
.natTopRightContents a:hover {
  color:white;
  background:#FE1C70;
  text-decoration:none;
}
.natTopRightContents {
  color:white;
}
.natSearchBox,
.natAction,
.natTopBar,
.natTopBar a {
  color:black;
}
.natWebTitle,
.natWebTitle a {
  color:white;
  color:#2BAFFA;
  color:#FE1C70;
}
.natWebSlogan {
  display:none;
}

/* web buttons */
.natWebButtons {
  padding-left:10px;
  background:inherit;
}
.natWebButtonsContents {
  padding:5px 10px 5px;
}
.natWebButtons ul a {
  border:0px;
  margin:0px;
  padding:2px 5px;
}
.natWebButtons ul a.current:hover {
  background:white;
  color:#FE1C70;
  border:0px;
}
.natWebButtons ul a.current {
  background:white;
  color:black;
  border:0px;
}
.natWebButtons ul a:hover {
  background:#FE1C70;
  color:black;
  border:0px;
}

/* forms 'n tables */
.twikiToc,
.natTopicForm,
.natTopicEditForm,
.twikiPageForm th,
.natTopicForm td {
  border-top:2px solid #FE1C70;
  border-bottom:2px solid #FE1C70;
}
.twikiPageForm table th,
.natTopicEditForm table th a,
.natTopicEditForm th,
.natTopicEditForm td,
.natTopicForm table th a,
.natTopicForm td {
  background:transparent;
  border:0px;
}

.natTopicForm table,
.natTopicForm table th,
.twikiTable th {
  background:transparent;
  border:1px solid #d9d6e7;
}
.twikiToc,
.twikiTable,
.natTopicEditForm,
.natTopicEditForm .twikiTable,
.natTopicForm,
.natTopicForm .twikiTable {
  background:#f4f4f4;
}
.natTopicForm,
.natTopicEditForm {
  padding:5px;
}

.natTopicForm select,
.twikiPageForm select,
.twikiPageForm table textarea,
.twikiPageForm table input,
.natTopicForm table textarea,
.natTopicForm table input {
  border:0px;
  border:1px solid #666666;
}

.twikiPageForm {
  background:#f4f4f4;
  padding:5px;
  border:1px solid #d9d6e7;
  margin-bottom:1em;
}
.twikiPageForm table {
  background:transparent;
  margin:0px;
  border:0px;
}
.twikiPageForm form {
  padding:0px;
  margin:0px;
}

.twikiToc li a:hover {
  background:#d9d6e7;
}

.natMain, .natSideBar {
  border-top:0px;
}

/* blogging */
.blogAuthorButtons {
  border:0px;
  background:white;
}
