/* variation to switch on the web buttons for sea green */
@import url('BaseButtons.css');

.natTopBar {
  border-bottom:0px;
}
.natWebButtons {
  border-bottom: 2px solid #6699CC;
  padding:0px 0px 0px 20px;
}
.natWebButtonsContents {
  font-size:12px;
  font-family:'Trebuchet MS', arial, sans-serif;
}
.natWebButtons ul li {
  margin-right:4px;
}
.natWebButtons ul a {
  padding:5px 10px;
  color:white;
  font-weight:bold;
}
.natWebButtons ul a:hover {
  text-decoration: none;
  background:#669966;
  color:white;
}

.natWebButtons ul a.current:hover {
  background:#447744;
}
.natWebButtons ul a.current {
  text-decoration: none;
  background:#669966;
  color:white;
  border:0px;
}
