/* header art variation */
.natHeaderArt {
  background-image:url(SepiaFieldBar.jpg); 
  background-repeat:no-repeat;
  background-position:top left;
}
/*
.natTopBar {
  border-top:10px solid white;
}
.natWebButtons,
.natMiddleLeft,
.natTopLeft {
  border-left:10px solid white;
}
.natMiddleRight,
.natWebButtons,
.natTopRight {
  border-right:10px solid white;
}
*/
.natSearchBoxTop input {
  background:black;
  color:white;
  border:1px solid #AF9258;
}
.natWebButtons {
  background:inherit;
}
.natWebButtons ul a {
  border:0px;
}
.natWebSlogan {
  display:none;
}
.natWebButtons ul a ,
.natWebButtons ul a.current,
.natWebButtons ul a.current:hover,
.natWebButtons ul a:hover {
  border:0px;
}
.natWebButtons ul a {
  padding:3px 5px;
  border:0px;
  color:white;
}
.natWebButtons ul a.current {
  background:white;
  color:black;
  border:0px;
}
.natWebButtons ul a:hover {
  background:#D5CAA4;
  color:black;
  padding:3px 5px;
  border:0px;
}
.natWebSlogan {
  display:none;
}
.natMain, .natSideBar {
  border-top:0px;
}
.natTopicActions a {
  color:white;
  font-weight:bold;
}
.natTopicActions a:hover {
  background:#D5CAA4;
  color:black;
}
.natWebTitle a {
  color:#425BCA;
}
