/* squash style */
@import url("BaseStyle.css");

/* html */
.twikiEmulatedLink,
a, a:link, a:active { color: #CC6600; }
a:hover { 
  /* color: #FFCC33; */
  color: #B22222;
  text-decoration:underline;
}
hr { border-bottom: 1px solid #999999; }

/* twiki */
.twikiNewLink {
  color:#666666;
}

/* twiki table */
.twikiTable {
  border:1px solid #CC6600;
  background:white;
  font-size:95%;
}
.twikiTable th {
  margin-top:6px;
  background:#E7AA5C;
  color:white;
}
.twikiTable td {
  border:1px ridge #999;
  background:white;
}
.twikiTableEven td {
  background:#f0f0f0;
}

.twikiTable th {
  font-family:'Trebuchet MS', arial, sans-serif;
  vertical-align:middle;
}
.twikiTable th span,
.twikiTable th font,
.twikiTable th a,
.twikiTable th {
  letter-spacing: .1em;
  color:white;
  font-weight:bold;
}
.twikiDiffTable td {
  border:0px;
}

/* topic form */
.natTopicForm table {
  border:1px solid #CC6600;
}

.natTopicForm table td {
  border:1px ridge #999;
}

.natTopicForm .natTopicFormFirstCol,
.natTopicForm .twikiFirstCol,
.natTopicForm th {
  margin-top:6px;
  background:#E7AA5C;
  color:white;
  font-family:'Trebuchet MS', arial, sans-serif;
  font-weight:bold;
  letter-spacing: .1em;
  vertical-align:middle;
}

.natTopicForm th a {
  color:white;
  background:#E7AA5C;
  font-weight:bold;
}

.natTopicEditForm td {
  border:0px;
}

/* twiki page form */
.twikiPageForm {
  padding:5px;
  border:1px solid #CC6600;
}
.twikiPageForm table {
  border-collapse:collapse;
  border:0px;
}
.twikiPageForm th {
  margin-top:6px;
  background:#E7AA5C;
  color:white;
  padding:2px 5px;
  border:0px;
}
.twikiPageForm td {
  padding:2px 5px;
  border:0px;
}

.twikiPageForm th a,
.twikiPageForm th {
  color:white;
  font-weight:bold;
  font-family: 'Trebuchet MS', arial, sans-serif;
  letter-spacing: .1em;
  vertical-align:middle;
}

/* search table */
.natSearchTable {
  border:1px solid #CC6600;
  margin-top:20px;
}
.natSearchTable:first-child {
  margin-top:0em;
}
.natSearchTableTitle th {
  background:#E7AA5C;
  color:white;
  color:white;
  font-weight:bold;
  font-family: 'Trebuchet MS', arial, sans-serif;
  letter-spacing: .1em;
  vertical-align:middle;
}
.natSearchHit {
  border:1px solid #CC6600;
}
.natSearchHit th {
  padding:0.5em 0.5em 0em 0.5em;
}
.natSearchHit td {
  padding:0em 0.5em 0.5em 0.5em;
}
.natSearchHitEven {
  background:#f0f0f0;
}
/*
.natSearchHitEven {
  background:#f0f0f0;
  border-top:1px #f0f0f0 solid;
}
.natSearchHitOdd {
  border-top:1px #f0f0f0 solid;
  background:transparent;
}
*/

/* layout */
html {
  background:#dbdad6;
}
.natBody {
  background:#dbdad6;
  margin:0;
  padding:0;
  font-size:12px;
}
button {
  font-size:12px;
}
.natBodyContents {
  text-align:left;
  padding:0px;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.natMiddle {
  padding:15px;
}
.natTopLeftContents {
  margin:20px 0px 20px 15px;
}
.natTopRightContents {
  margin:20px 15px 20px 20px;
  font-family:Arial, Sans-serif;
}

/* top */
.natHeaderArt {
  background: #E7AA5C;
}
.natTopBar {
  font-family: 'Trebuchet MS', arial, sans-serif;
  color:white;
  border-bottom: 1px solid #FFFFFF;
  line-height:160%;
  vertical-align:middle;
  height:120px;
  padding:0px;
}
.natWebTitle {
  font-family: 'Trebuchet MS', arial, sans-serif;
  text-transform:none;
}

.natTopLeft,
.natTopRight,
.natTopBar a {
  color:white;
  text-decoration: none;
}
.natTopBar a:hover {
  color:#CC6600;
}
.natWebSlogan {
  display:none;
}

.natSearchBox input {
  font-size:12px;
  padding:2px;
  font-weight:bold;
}
.natSearchBoxTop input {
  background:#E7AA5C;
  border:1px dotted #CC6600;
  _border:1px solid #CC6600; /* IE only */
  color:white;
  width:150px;
}
.natSearchBoxPos1 input,
.natSearchBoxPos2 input,
.natSearchBoxPos3 input {
  border:1px dotted #CC6600;
  _border:1px solid #CC6600; /* IE only */
  color:#666666;
  width:99%;
}
.natSearchBoxPos1 {
  margin-bottom:10px;
}
.natSearchBoxPos2,
.natSearchBoxPos3 {
  margin:15px 0px;
}

.natTopicActions {
  font-size:12px;
}
.natTopicActions .natSep {
  display:none;
}
.natTopicActions .natDisabledTopicAction,
.natTopicActions a {
  margin:0px -1px;
  padding:3px 5px;
}
.natTopicActions a:hover {
  text-decoration: none;
  background:#CC6600;
  color:white;
}

.natTopicActions .natDisabledTopicAction {
  color:#F5CD98;
}

/* sidebar */
.natTopRight,
.natSideBarRight {
  width:255px;
}

.natSideBar a:hover h2,
.natSideBar a:hover h3,
.natSideBar h2 a:hover,
.natSideBar h3 a:hover,
.natSideBar a:hover {
  color: #B22222;
  text-decoration:underline;
}

.natSideBar h2 {
  margin:15px 0px 10px 0px;
}
.natSideBar h3 {
  margin:5px 0px;
}
.natSideBar h2 a,
.natSideBar h2 {
  font-weight: bold;
  color: #666666;
}
.natSideBar .redDot a {
  letter-spacing:0px;
}


.natSideBar ul {
  margin-left:10px;
  padding-left:10px;
  list-style-type: none;
}

.natSideBar li {
  color:#666666;
}

.natAction {
  color:#B22222;
}

.natNotes {
  padding-right:10px;
}

/* main area */
.natMiddle {
  background-color: #FFFFFF;
  color: #666666;
  font-family: 'Trebuchet MS', arial, sans-serif;
  line-height:140%;
}

.natMainContents {
  line-height: 140%;
  font-family: 'Trebuchet MS', arial,sans-serif;
}

.natMain pre {
  border-left:5px solid #eeeeee;
  padding-left:5px;
}

.natMain .twikiEmulatedLink { 
  color: #CC6600; 
}
.natMain h1 .twikiEmulatedLink,
.natMain h2 .twikiEmulatedLink,
.natMain h3 .twikiEmulatedLink,
.natMain h4 .twikiEmulatedLink,
.natMain h5 .twikiEmulatedLink,
.natMain h6 .twikiEmulatedLink,
.natMain h1, .natMain h2, .natMain h3, .natMain h4, .natMain h5, .natMain h6,
.natMain h1 a, .natMain h2 a, .natMain h3 a, .natMain h4 a,
.natMain h5 a, .natMain h6 a,
.natMain h1 a:hover, .natMain h2 a:hover, .natMain h3 a:hover,
.natMain h4 a:hover, .natMain h5 a:hover, .natMain h6 a:hover {
  color:#666666;
  font-family: 'Trebuchet MS', arial, sans-serif;
  font-weight:bold;
  line-height:140%;
}

.natMain h2 {
  border-bottom:1px solid #CC6600;
}
.natMainHeaderContents {
  margin:0px 0px 15px 0px;
}

/* bottom */
.natBottomBar {
  margin-bottom:20px;
}
.natBottomBarContents {
  letter-spacing:.3em;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size:90%;
  float:right;
  color: #666666;
  width:100%;
  padding:30px 5px 10px 5px;
}

.natMain input,
.natMain select,
.natMain textarea {
  font-size:12px;
}

/* TOC */
.twikiToc {
  margin-bottom:10px;
}
.twikiToc ul {
  margin:0px;
  padding:0px;
}
.twikiToc ul ul {
  padding-left:20px;
}
.twikiTocTitle {
  display:block;
  border-bottom:1px solid #CC6600;
  font-size:20px;
  padding-bottom:5px;
  margin-bottom:10px;
  font-family: 'Trebuchet MS', sans-serif;
}

/* supported plugins and applications */


/* RedDotPlugin */
.natBody .redDot a {
  color:#B22222;
}

/* Blogging */
.alt {
  color:#CC6600;
}
.blogAbout {
  font-size:0.9em;
  line-height:1.3em;
}

.blogSideBar {
  line-height:100%;
}
.blogSideBarSection {
  margin-bottom:1em;
}
.blogSideBarSection ul {
  padding-left:0px;
  list-style-type:none;
}
.blogSideBarSection ul li {
  padding-bottom:2px;
}
.blogHeadline h1,
.blogHeadline h2,
.blogHeadline a {
  text-decoration:none;
  border:0px;
}
.blogHeadline {
  border-bottom:1px solid #CC6600;
}
.blogHeadline .blogCommentCount {
  padding-top:2px;
  font-size:1.5em;
}
.blogSideBar .blogCommentCount {
  padding-top:0.4em;
  font-size:0.9em;
}

.blogEntry {
  margin-bottom:1em;
}
.blogInfo {
  font-size:0.9em;
}
.blogSideBarSection ol {
  padding-left:2em;
}
.blogCommentOdd {
  background:#f0f0f0;
}
.blogSubComment {
  border-top:1px solid #ddd;
  padding-left:0px;
}
.blogCommentNr {
  font-weight:bold;
  margin-right:0.5em;
}
.blogSideBarHeader {
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  font-size:14px;
}
.blogSideBarRecent ul li,
.blogSideBarLatest ul li {
  border-bottom:1px solid #eee;
  padding-bottom:5px;
  margin-bottom:5px;
}
