/* variation to switch on the web buttons for squash */
@import url('BaseButtons.css');

.natTopBar {
  border-bottom:0px;
}
.natWebButtons {
  border-bottom: 1px solid #FFFFFF;
  font-family:arial, sans-serif;
  padding:0px 15px;
}
.natWebButtonsContents {
}
.natWebButtons ul li {
  margin:0px;
  padding:0px;
}
.natWebButtons ul a {
  margin:0px;
  padding:5px;
  color:white;
  font-weight:bold;
  letter-spacing: .1em;
}
.natWebButtons ul a:hover {
  text-decoration: none;
  background:#CC6600;
  color:white;
}

.natWebButtons ul a.current:hover {
  background:#aa4400;
}
.natWebButtons ul a.current {
  text-decoration: none;
  background:#CC6600;
  color:white;
  border:0px;
}
