%TMPL:INCLUDE{"foswiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title>(changes) %WEB% &lt; %WIKITOOLNAME%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
 %TMPL:P{"dragoncss"}%
</head>
%TMPL:DEF{"titleaction"}%(changes) %TMPL:END%
%TMPL:DEF{"webaction"}% Changes for <b> %WEB% </b> %TMPL:END%
<body>%TMPL:P{"simpleheader"}%
#PageTop
<div class="ds-nmcontent">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
  <td width="50%">
  <div class="ds-searchresultsheading" style="border-top: 3px solid %WEBBGCOLOR%; border-bottom: 3px solid %WEBBGCOLOR%;">
    <b>Topic:</b>
  </div>
  </td><td width="30%">
  <div class="ds-searchresultsheading" style="border-top: 3px solid %WEBBGCOLOR%; border-bottom: 3px solid %WEBBGCOLOR%;">
    <b>Changed:</b> <span "style="font-size:smaller;">(now %DISPLAYTIME{"$hour:$min"}%)</span>
    </div>
  </td><td width="20%">
  <div class="ds-searchresultsheading" style="border-top: 3px solid %WEBBGCOLOR%; border-bottom: 3px solid %WEBBGCOLOR%;">
    <b>Changed by:</b>
   </div> 
  </td>
</tr>
</table>
<br />
%REPEAT%<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="50%">
    <a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a>
    <b><font color="red">%LOCKED%</font></b>
  </td><td width="30%">
    <a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TIME%</a> - %REVISION%
  </td><td width="20%">
    %AUTHOR%
  </td>
</tr>
<tr>
  <td colspan="2" width="80%">
    <font size="-1">
    %TEXTHEAD% </font>
  </td><td width="20%">
    &nbsp;
  </td>
</tr></table>
%REPEAT%<p />
</div>
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"standardfooter"}%
#PageBottom
</div>
</body>
</html>
