          <div class="ds-vnav">
            <div class="ds-vnavlogoarea">
            <noautolink>
<a href="%WIKILOGOURL%"><img src="%WIKILOGOIMG%" class="ds-logo" alt="%WIKILOGOALT%" title="%WIKILOGOALT%" /></a>
</noautolink>
            </div>
            <h2>Find topic</h2>
            <div class="ds-logosearch">
              <form action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
          <input type="text" name="topic" /><br />
              <div class="ds-logosearchlabel">
              [[WebSearch][Search text]]
              </div>                
              </form>
              </div>
            <h2>General webs</h2>
            <ul>
              <li>[[Main.WebHome][Main (Wiki home)]]</li>
              <li>[[Know.WebHome][Knowledge base]]</li>              
            </ul>
            <div class="ds-quicklinks">
            <h2>%DS_QUICKLINKSHEADING%</h2>
            %DS_QUICKLINKS%
            </div>
            <h2>Web tools</h2>
            <ul>
              <li>[[WebChanges][Recent changes]]</li>
              <li>[[WebTopicList][Topic list]]</li>
              <li>[[WebIndex][Verbose topic list]]</li>
              <li>[[WebStatistics][Access statistics]]</li>
              <li>[[WebNotify][Notify me of changes]]</li>
              <li>[[WebPreferences][Web preferences]]</li>
            </ul>
            <h2>Help</h2>
            <ul>
               <li>[[%SYSTEMWEB%.TextFormattingRules][Text formatting rules]]</li>
              <li>[[%SYSTEMWEB%.WebHome][Documentation]]</li>
              <li>[[Sandbox.WebHome][Sandbox (test) web]]</li>
            </ul>
          </div>
