#ds-layout {
border-top: 5px solid %WEBBGCOLOR%;
border-bottom: 5px solid %WEBBGCOLOR%;
}
.ds-nmwrapper {
border-top: 5px solid %WEBBGCOLOR%;
border-bottom: 5px solid %WEBBGCOLOR%;
}
.ds-quicklinks {
display: %DS_QUICKLINKSDISPLAY%
}
body {
font-size: %DS_BODYFONTSIZE%
}
body {
font-family: %DS_FONTFAMILY%
}
.ds-vnav {
font-size: %DS_LEFTMENUFONTSIZE%
}
.ds-topeditbar ul li a {
font-size: %DS_EDITBARFONTSIZE%
}

.ds-draft {
background-image: url(%PUBURLPATH%/%SYSTEMWEB%/DragonSkin/draft.gif);
background-repeat: repeat;
}
