%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title> %TMPL:P{"titleaction"}%%TOPIC% &lt; %WEB% &lt; %WIKITOOLNAME%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_EDIT%
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
 %TMPL:P{"dragoncss"}%
<script language="JavaScript">
<!--HIDE
ns4 = (document.layers)? true:false;
ie4 = (document.all)? true:false;
dom = (document.getElementById)?true:false;

toShow=new Array();
toHide=new Array();

function initForm() {
  document.main.text.focus();
  for (i = 0; i < toShow.length; i++) {
     if(dom) {
        document.getElementById(toShow[i]).style.display="inline";
     } else if( ie4 ) {
        document.all[toShow[i]].style.display="inline";
     } else if( ns4 ) {
        document.layers[toShow[i]].style.display="inline";
     }
  }
  for ( i = 0; i < toHide.length; i++) {
    if(dom) {
        document.getElementById(toHide[i]).style.display="none";
    } else if( ie4 ) {
        document.all[toHide[i]].style.display="none";
    } else if( ns4 ) {
        document.layers[toHide[i]].style.display="none";
    }
  }
}
function checkAll( theButton, theButtonOffset, theNum, theCheck )
{
  // find button element index
  var j = 0;
  for( var i = 0; i <= document.main.length; i++ ) {
    if( theButton == document.main.elements[i] ) {
      j = i;
      break;
    }
  }
  // set/clear all checkboxes
  var last = j+theButtonOffset+theNum;
  for( i = last-theNum; i < last; i++ ) {
    document.main.elements[i].checked = theCheck;
  }
}
function launchWindow( theWeb, theTopic, theAnchor ) {
  if( ! theAnchor ) {
    theAnchor = "";
  }
  win = open( "%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain" + theAnchor,
              theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
  if( win ) {
    win.focus();
  }
  return false;
}
//STOP HIDING-->
</script>
</head>
%TMPL:DEF{"previewheaderlogo"}%
<noautolink>
<img src="%WIKILOGOIMG%" class="ds-logo" alt="Logo" title="This logo is not a link on edit and preview pages." />
</noautolink>
%TMPL:END%
%TMPL:DEF{"titleaction"}%(edit) %TMPL:END%
%TMPL:DEF{"titlehelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}%Change topic%TMPL:END%
<body  onLoad="initForm()">
<div class="ds-nmwrapper">
<div class="ds-nmheaderwrapper">
<div class="ds-nmlogowrapper">
%TMPL:P{"previewheaderlogo"}%</div><div class="ds-nmheaderhelp">%TMPL:P{"headerhelp"}%</div></div>
<div class="ds-nmtitlemessage">
<noautolink>
<b>%WEB%.%TOPIC%</b>&nbsp;<span class="ds-largerbold">%TMPL:P{"titleaction"}%</span>
</noautolink>
</div>
<form name="main" action="%SCRIPTURLPATH%/preview%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post" style="margin: 0">
<div class="ds-previewsave">
<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?unlock=on">Cancel edit </a> 
&nbsp;%TMPL:P{"sep"}%&nbsp;<input type="submit" value=" &nbsp; Preview Changes &nbsp; " />
</div>
<div style="padding: 1em;">
#PageTop
<textarea name="text" wrap="virtual" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style="%EDITBOXSTYLE%">%TEXT%</textarea><br />
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="redirectto" value="%REDIRECTTO%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="templatetopic" value="%URLPARAM{"templatetopic"}%" />
<input type="hidden" name="topicparent" value="%TOPICPARENT%" />
<input type="hidden" name="forcenewrevision" value="%URLPARAM{"forcenewrevision"}%" />
<input type="hidden" name="rev" value="%URLPARAM{"rev"}%" />
<input type="hidden" name="newtopic" value="%NEWTOPIC%" />
<input type="hidden" name="cmd" value="%CMD%" />     
See below for help in editing this page.
<table border="0" cellpadding="2" cellspacing="0">
 <tr>
  <td><b>-- <nop>%WIKIUSERNAME% - %DATE%</b></td>
  <td> &nbsp;&nbsp; <code>&lt;==</code> Your signature for easy copy and paste (triple click to select)
    (<a target="GoodStyle" onClick="return launchWindow('%TWIKIWEB%','GoodStyle','#SignAndDate')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/GoodStyle#SignAndDate">help</a>)</td>
 </tr>
</table>
<div class="ds-editformfieldscontainer">
%FORMFIELDS%
</div>
<div class="ds-previewsave">
<a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?unlock=on"> Cancel edit </a>
&nbsp;%TMPL:P{"sep"}%&nbsp;<input type="submit" value=" &nbsp; Preview Changes &nbsp; " />
</div></form>
<div class="ds-editformattinghelp">
%INCLUDE{"%TWIKIWEB%.WikiSyntaxSummary"}%
</div>
</div>
#PageBottom
</div>
</body>
</html>
