%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
<title> %TMPL:P{"titleaction"}%%TOPIC% &lt; %WEB% &lt; %WIKITOOLNAME%</title>
<meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
<base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
%TMPL:P{"dragoncss"}%
</head>
%TMPL:DEF{"titleaction"}%(move attachment) %TMPL:END%
%TMPL:DEF{"webaction"}% *Move file attachment* %TMPL:END%
<body>%TMPL:P{"simpleheader"}%
#PageTop
<form name="rename" action="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
<div class="ds-nmcontent">
---+ Move or Delete File <code>%FILENAME%</code>

| |  *Web:* | *&nbsp;Topic:* |
|  *From:* |    <nop>%WEB%. | &nbsp;%TOPIC% |
|  *To:* |  <select name="newweb"> %WEBLIST{"<option $marker value=$qname>$name</option>" webs="Trash,public" selection="%WEB%" separator=" "}% </select>. | &nbsp;<input name="newtopic" value="%TOPIC%" /> |
<input type="hidden" name="attachment" value="%FILENAME%" />
<input type="hidden" name="changeRefs" value="0" />

__Note:__

   * To delete an attachment move it to web *Trash*, topic *TrashAttachment*.
   * The attachment and any history will be moved to the new topic.
   * An error page will be shown if either of the topics are locked by another user.
   * The new topic chosen must already exist.
   * Note that any URLs that refer to the attachment will be broken after this move.

%TMPL:DEF{"topicaction"}%
 <input type="submit" value=" Move " />
 %TMPL:P{"sep"}% [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
 </div>
%TMPL:P{"standardfooter"}%
</form>
#PageBottom
</div>
</body>
</html>
