%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"rename"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title>%TMPL:P{"titleaction"}%%TOPIC% &lt; %WEB% &lt; %WIKITOOLNAME%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
%TMPL:P{"dragoncss"}%
 <script language="JavaScript">
<!--HIDE
  function launchWindow( theWeb, theTopic ) {
    win = open("%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain", theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
    if( win ) {
      win.focus();
    }
    return false;
 }
 function checkAll( theCheck )
 {
   // find button element index
   var j = 0;
   for( var i = 0; i < document.rename.length; i++ ) {
     if( document.rename.elements[i].name.match( "RENAME" ) ) {
       document.rename.elements[i].checked = theCheck;
     }
   }
 }
//STOP HIDING-->
</script>
</head>
<body>%TMPL:P{"simpleheader"}%
#PageTop
<form method="POST" name="rename" action="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
<div class="ds-nmcontent">
---+ %TMPL:P{"webaction"}% <code>%TOPIC%</code>

| |  *Web:* | *&nbsp;Topic:* |
|  *From:* |    <nop>%WEB%. | &nbsp;%TOPIC% |
|  *To:* |  %TMPL:P{"newweb"}%. | %TMPL:P{"newtopic"}% |
%TMPL:P{"notes"}%

---++ Change links in topics that refer to <nop>%TOPIC% in the <nop>%WEB% Web:

%RESEARCH{ "%TOPIC%" web="%WEB%" noempty="on" showlock="on" nototal="on" regex="on" nosearch="on" order="modified" reverse="on" nosummary="on" showlock="on" renameview="local"}%

---++ Change links in topics that refer to <nop>%WEB%.<nop>%TOPIC% in any Web:

%RESEARCH{ "%WEB%\.%TOPIC%" web="all" noempty="on" showlock="on" nototal="on" regex="on" nosearch="on" order="modified" reverse="on" nosummary="on" showlock="on" renameview="global"}%

<input type="button" value="Set" onClick="checkAll(true);" />
<input type="button" value="Clear" onClick="checkAll(false);" /> checkboxes of all referenced topics

__Note:__
   * Get help on
     <a target="ManagingTopics" onClick="return launchWindow('%SYSTEMWEB%','ManagingTopics')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%SYSTEMWEB%/ManagingTopics">Renaming and moving topics</a>.
   * Select the Trash Web to delete the topic.
   * The checkmarked topics will be updated (another form will appear which will _eventually_ allow you to rename any topics that were locked)

%TMPL:P{"hidden"}%
</div>
%TMPL:P{"standardfooter"}%
#PageBottom
</form>
</div>
</body>
</html>%TMPL:END%
