%TMPL:INCLUDE{"foswiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title>(book view) %WEB% &lt; %WIKITOOLNAME%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
 %TMPL:P{"dragoncss"}%
</head>
%TMPL:DEF{"titleaction"}%(book view) %TMPL:END%
%TMPL:DEF{"webaction"}%<b>Search: %SEARCHSTRING%</b>%TMPL:END%
<body>%SPLIT%%TMPL:P{"simpleheader"}%
<div class="ds-nmcontent">
#PageTop
%SPLIT%#PageTop<table width="100%" border="0" cellpadding="0" cellspacing="4">
<tr>
  <td width="60%">
    <b>Topics in <nop>%WEB% web:</b>
  </td><td width="20%">
    <b>Changed:</b> 
  </td><td width="20%">
    <b>Changed by:</b>
  </td>
</tr>
</table>
<hr />
%REPEAT%<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="60%">
    <span class="ds-searchbookviewtitle"><a href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TOPICNAME%</a>
    %LOCKED%&nbsp;</span>
  </td><td width="20%">
    <a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TIME%</a> - %REVISION% &nbsp;
  </td><td width="20%">
    %AUTHOR%
  </td>
</tr></table>
<div class="ds-searchbookcontainer">
%TEXTHEAD%
</div>
%REPEAT%<br clear="all" />
<p />%SPLIT%Number of topics: <b>%NTOPICS%</b>
<p />%SPLIT%
</table>
#PageBottom
</div>
</body>
</html>
