%TMPL:INCLUDE{"foswiki"}%
%TMPL:P{"htmldoctype"}%<head>
 <title>%TMPL:P{"titleaction"}%%TOPIC% &lt; %WEB% &lt; %WIKITOOLNAME%</title>
  <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%" />
<meta  name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
  <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
%TMPL:P{"dragoncss"}%
<style type="text/css" media="screen">
<!--/*--><![CDATA[<!--*/
%DS_TOPICCSS%
/*]]>*/-->
</style>
</head>%TMPL:DEF{"titleaction"}% %REVTITLE% %TMPL:END%
<body>
<div class="ds-hide"><a href="#ds-contentcell">Skip to content.</a></div>
<table id="ds-layout" width="100%" cellpadding="0" cellspacing="0" summary="">
<tr><td  width="200" style="width: 200px" valign="top" align="left" id="ds-vnavcell">
%TMPL:INCLUDE{"dragonmenu"}%</td>
<td width="100%" valign="top" align="left" style="width: 100%" id="ds-contentcell">
<div class="ds-contentcontainer">%BROADCASTMESSAGE%%TMPL:P{"breadcrumb"}%%TMPL:P{"topeditbar"}%<div class="ds-innercontentcontainer">
#PageTop
%TEXT%
<div class="ds-topicform">
%META{"form"}%
</div>
%META{"attachments"}%
#PageBottom
</div> <!-- end of inner content -->
</div> <!-- end of content -->
</td></tr>
<tr>
<td width="100%"colspan="2" align="left" valign="top" id="ds-footercell" >
%TMPL:P{"fullfooter"}%
</td></tr>
</table>
</body>
</html>
