%TMPL:INCLUDE{"oopsmore.pattern"}%
%TMPL:INCLUDE{"oopsmoretopicacls"}%

%TMPL:DEF{"message"}%
%TMPL:P{"oopsmoretopicacls"}%
%TMPL:P{"oopsmoresettings"}%
%TMPL:P{"oopsmorerename"}%
%TMPL:P{"oopsmoredelete"}%
%TMPL:P{"oopsmoresetparent"}%
%TMPL:P{"oopsmorechildtopics"}%
%TMPL:P{"oopsmorerevision"}%
%TMPL:P{"oopsmorecompare"}%
%TMPL:P{"oopsmorebacklinks"}%
%TMPL:END%
