
<script language="JavaScript" type="text/javascript" src="%PLUGINPUBURL%/WebPermissionsPlugin.js"></script>
<script language="JavaScript" type="text/javascript">
TWiki.UsersWikiName = '%USERINFO{format="$wikiname"}%';
</script>
