/*********** see typography.css for fonts and content margins **************/

body {
background-color: white;
color: black;
padding: 0px;
margin: 0;
}


#ds-vnavcell {
background-color: #ececec;
border-right: 1px solid black;
}

/********* top edit bar *************/

.ds-topeditbar {
margin-top: .5em;
padding: 0;
width: 100%;
float: left;
white-space : nowrap;
background-color: #ececec;
}

.ds-topeditbar ul {
margin: 0;
padding: 0;
list-style-type: none;
}

.ds-topeditbar ul li {
display: inline;
}

.ds-topeditbar ul li a {
font-weight: bold;
padding: .3em 1em .3em 1em;
float: right;   
text-decoration: none;
border-left-style: solid;
border-left-width: 1px;
width: auto;
background-color: #ececec;
border-left-color: white;
color: black;
}

.ds-topeditbar ul li a:link { 
color: black;
}

.ds-topeditbar ul li a:visited {
color: black;
}

.ds-topeditbar ul li a:hover {
background-color: #cecece;
color: black;
}



/********* end of topeditbar attributes  *************/



/********* left menu (vnav) and logo attributes  *************/

.ds-quicklinks {
margin: 0;
padding: 0;
}



.ds-vnav {
padding: 0;
margin: 0;
width: 200px;
}

.ds-vnav h2 {
padding: 0 0 0 .5em;
margin: 0;
font-size: 100%;
font-weight: bold;
}

.ds-vnav p {
padding: .5em 1em .5em 1em;
margin: 0;
}


.ds-vnavlogoarea {
width: 200px;
padding-bottom: .5em;
padding-top: .5em;
margin-bottom: 1em;
background-color: white;
border-bottom: 1px solid #ccc;
}

.ds-vnavlogoarea .ds-logo {
display: block;
margin-left: auto;
margin-right: auto;
}

.ds-logosearch {
text-align: center;
padding: .3em .5em .5em .7em;
}

.ds-logosearch form {
margin: 0;
padding: 0;
}

.ds-logosearch input {
margin:0;
padding: 0;
width: 160px;


}


.ds-logosearchlabel {
text-align: center;
font-size: x-small;
margin-bottom: 1.3em;
}

.ds-vnav ul {
margin-top: .7em;
margin-bottom: 1.2em;
margin-left: 0;
margin-right: 0;
padding: 0;
list-style-type: none;
}

.ds-vnav li {
display: block;
margin-top: 2px;
margin-left: 1em;
}

.ds-vnav li a:link  {
text-decoration: none;
padding-left: .5em;
padding-right: 1em;
border-left: .5em solid #ccc;
color: black;
}

.ds-vnav li a:visited  {
text-decoration: none;
padding-left: .5em;
padding-right: 1em;
border-left: .5em solid #ccc;
color: black;
}

.ds-vnav li a:hover  {
text-decoration: none;
border-left: .5em solid #990000;
color: black;
}

 
/********* end of left menu (vnav) and logo attributes  *************/

/******************** footer attributes ********************/

.ds-footer {
margin: 0;
position: relative;
padding: .5em;
border-top: 1px solid black;
background-color: white;
}

.ds-footereditbar {
float: right;
text-align: right;
padding: 0;
width: auto;
position: relative;   /* to make IE happy */
}

.ds-footerleft {
  padding-left: .5em;
}

.ds-footerrevisions {
margin-top: .5em;
padding-top: .5em;
padding-bottom: .6em;
margin-bottom: .5em;
padding-left: .5em;
background-color: #ececec;
}

.ds-footerlogininfo {
text-align: right;
font-size: x-small;

}

/******************** end of footer ********************/


/******* misc  **********/

.ds-logo {
border: 0;
}

.ds-clearer {
clear: both;
height: 0;
line-height: 0;
}

.ds-clear {
clear: both;
}

.ds-hide {
display: none;
}

.ds-larger {
font-size: larger;
}

.ds-bold {
font-weight: bold;
}

.ds-largerbold {
font-size: larger;
font-weight: bold;
}


/* the stuff below is specific to various templates */

/******************** no-menu presentation ********************
 * 
 * these definitions are used for no-menu templates (oops, etc)
 * they are prefixed with a "nm"
 *
 */


.ds-nmwrapper {
margin: 0;
padding: 0;
}

.ds-nmlogowrapper {
margin: 0;
padding: 0;
float: left;
width: auto;
}


.ds-nmheaderhelp {
margin: 0;
padding: 0;
float: right;
width: auto;
}

.ds-nmheaderwrapper {
margin: 0;
padding: 1em 2em 0 2em;
height: 100%;   /*  it's either this or use a Holly hack */

}

.ds-nmtitlemessage {
clear: both; 
text-align: center;
padding: .2em 0 .2em 0;
margin: 0;
font-size: larger;
}

.ds-nmwebaction {
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
text-align: center;
padding-top: .5em;
padding-bottom: .5em;
margin: 0;
}

.ds-nmcontent {
padding: 0 2em 1em 2em;
}

.ds-nmtopicaction {
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
padding: .5em 2em .5em 2em;
}

/*************************************************/

/*****  search book view *****/

.ds-searchbookcontainer {
padding-top: 1em;
padding-bottom: 1em;
margin-top: .5em;
margin-bottom: 1em;
border-bottom: 5px solid black;
border-top: 1px solid black;
}

.ds-searchbookviewtitle {
font-weight: bold;
font-size: large;
}

/***** preview *****/


.ds-previewsave {
margin: 0;
padding: 2px 1em 2px 1em;
font-size: x-small;
clear: both;
text-align: right;
background-color: #ececec;
}

.ds-previewsave form {
margin: 0;
}

/***** edit *****/

.ds-editformattinghelp {
margin-top: .5em;
padding: 0 2em 1em 2em;
font-size: x-small;
border: 1px solid gray;
background-color: #ececec;
}


/* Edit.pm hard-codes a table for presentation of the
 * "add form" button. 
 */

.ds-editformfieldscontainer {
margin-bottom: 5px;
border: 0;
padding-right: 1em;
}


/* search results
 * color uses %WEBBGCOLOR% and is embedded in the template
 *
 */

.ds-searchresultsheading {
font-size: larger;
padding: .1em; 
margin-bottom: 2px;
}
