a{color:#003366;text-decoration:underline}
a:link{color:#003366;text-decoration:underline}
a:visited{color:#003366;text-decoration:underline}
a:hover{color:#999999}
a:active{color:#999999}
body{background:#ffffff;margin:0px 0px 20px 0px}
h1,h2,h3{margin:0px;padding:0px}
.blog{background:#ffffff;padding:15px}
.blogbody{background:#ffffff;color:#333333;font:normal small/200% palatino,georgia,verdana,arial,sans-serif}
.blogbody a,
.blogbody a:link,
.blogbody a:visited,
.blogbody a:active,
.blogbody a:hover{font-weight:normal;text-decoration:underline}
.calendar{background:#ffffff;color:#666666;font:normal x-small/140% verdana,arial,sans-serif;padding:2px;text-align:left}
.calendarhead{background:#ffffff;color:#666600;font:normal small palatino,georgia,times new roman,serif;letter-spacing:.3em;padding:2px;text-align:left;text-transform:uppercase}
.comments-body{background:#ffffff;border-bottom:1px dotted #999999;color:#666666;font:normal small/140% palatino,georgia,verdana,arial,sans-serif;padding-bottom:10px;padding-top:10px}
.comments-head{background:#ffffff;border-bottom:1px solid #999999;color:#666666;font:bold small palatino,georgia,verdana,arial,sans-serif;margin-top:20px}
.comments-post{background:#ffffff;color:#666666;font:normal x-small verdana,arial,sans-serif}
.date{border-bottom:1px solid #999999;color:#333333;font:bold large palatino,georgia,times new roman,serif;margin-bottom:10px}
.description{color:#333333;font:small palatino,georgia,times new roman,serif;text-transform:none}
.posted{color:#000000;font:x-small verdana,arial,sans-serif;margin-bottom:25px}
.powered{background:#ffffff;color:#666666;font:x-small/140% palatino,georgia,times new roman,serif;letter-spacing:.2em;margin-top:50px;padding:2px;text-transform:uppercase}
.side{background:#ffffff;color:#333333;font:normal x-small/140% verdana,arial,sans-serif;padding:2px}
.sidetitle{background:#ffffff;color:#666600;font:normal small palatino,georgia,times new roman,serif;letter-spacing:.3em;margin-top:30px;padding:2px;text-transform:uppercase}
.syndicate{background:#ffffff;font:xx-small/140% verdana,arial,sans-serif;margin-top:15px;padding:2px}
.title{color:#666666;font:medium palatino,georgia,times new roman,serif}
.trackback-body{background:#ffffff;border-bottom:1px dotted #999999;color:#666666;font:normal small/140% palatino,georgia,verdana,arial,sans-serif;padding-bottom:10px;padding-top:10px}
.trackback-post{background:#ffffff;color:#666666;font:normal x-small verdana,arial,sans-serif}
.trackback-url{background:#ffffff;border:1px dotted #999999;color:#666666;font:normal small/140% palatino,georgia,verdana,arial,sans-serif;padding:5px}
#banner{border-top:4px double #666666;color:#333333;font:normal x-large palatino,georgia,verdana,arial,sans-serif;padding:15px}
#banner a,
#banner a:link,
#banner a:visited,
#banner a:active,
#banner a:hover{color:#333333;font:xx-large palatino,georgia,verdana,arial,sans-serif;text-decoration:none}
#banner-commentspop{background:#003366;border-left:1px solid #ffffff;border-right:1px solid #ffffff;border-top:1px solid #ffffff;color:#ffffff;font:bold large palatino,georgia,verdana,arial,sans-serif;padding:5px 15px}
#container{background:#ffffff;border:1px solid #ffffff}
#content{background:#ffffff;border:1px solid #ffffff;margin-bottom:20px;margin-left:225px;margin-right:20px;position:absolute}
#links{border:1px solid #ffffff;padding:15px;width:200px}
#menu{background:#ffffff;margin-bottom:15px;text-align:center}
