a {color:#336666;text-decoration:none}
a:link{color:#336666;text-decoration:none}
a:visited{color:#336666;text-decoration:none}
a:hover{color:#669999}
a:active{color:#669999}
body{background:#ffffff;margin:20px 20px 20px 20px}
h1,h2,h3{margin:0px;padding:0px}
.blog{padding-left:15px;padding-right:15px;padding-top:15px}
.blogbody{background:#ffffff;border-bottom:1px dotted #666666;border-left:1px dotted #666666;border-right:1px dotted #666666;color:#666666;font:normal small/140% verdana,arial,sans-serif;padding:10px}
.blogbody a,
.blogbody a:link,
.blogbody a:visited,
.blogbody a:active,
.blogbody a:hover{font-weight:normal;text-decoration:underline}
.calendar{color:#666666;font:normal x-small verdana,arial,sans-serif;padding:5px}
.calendarhead{background:#ffffff;color:#cc9933;font:bold x-small/140% verdana,arial,sans-serif}
.comments-body{background:#ffffff;color:#666666;font:normal small/140% verdana,arial,sans-serif;padding-bottom:10px}
.comments-head{border-bottom:1px dotted #666666;color:#999999;font:bold small verdana,arial,sans-serif;margin-top:10px;text-transform:uppercase}
.comments-post{background:#ffffff;color:#999999;font:normal x-small verdana,arial,sans-serif;margin-top:0px}
.date{border-bottom:1px dotted #666666;color:#999999;font:bold normal verdana,arial,sans-serif;margin-top:10px;text-transform:uppercase}
.description{background:#ffffff;color:#cccccc;font:bold x-small verdana,arial,sans-serif;letter-spacing:none;text-transform:none}
.posted{color:#999999;font:x-small verdana,arial,sans-serif}
.powered{border-bottom:1px dotted #666666;border-top:1px dotted #666666;color:#cccccc;font:bold xx-small/140% verdana,arial,sans-serif;letter-spacing:.2em background:#FFF;margin-top:10px;padding:2px;text-align:center;text-transform:uppercase}
.side{background:#ffffff;color:#cccccc;font:normal x-small/140% verdana,arial,sans-serif}
.sidetitle{background:#ffffff;border-bottom:1px dotted #666666;color:#999999;font:bold x-small/140% verdana,arial,sans-serif;letter-spacing:.2em;margin-top:10px;padding:2px;text-transform:uppercase}
.syndicate{background:#ffffff;font:bold xx-small/140% verdana,arial,sans-serif;margin-top:10px;padding:2px;text-align:center}
.title{color:#cccccc;font:bold small verdana,arial;text-transform:uppercase}
.trackback-body{background:#ffffff;color:#333333;font:normal small/140% verdana,arial,sans-serif;padding-top:15px}
.trackback-post{background:#ffffff;color:#999999;font:normal x-small verdana,arial,sans-serif;margin-bottom:20px}
.trackback-url{background:#ffffff;border:1px dashed #666666;color:#666666;font:normal small/140% verdana,arial,sans-serif;padding:5px}
#banner{background:#ffffff;color:#cc9933;font:bold x-large verdana,arial,sans-serif;padding-left:15px}
#banner a,
#banner a:link,
#banner a:visited,
#banner a:active,
#banner a:hover{color:#cc9933;font:x-large verdana,arial,sans-serif;text-decoration:none}
#banner-commentspop{background:#ffffff;color:#cc9933;font:bold large verdana,arial,sans-serif;padding-left:15px}
#content{background:#ffffff;float:left;margin-bottom:20px;margin-right:15px;width:65%}
#links{background:#ffffff;color:#cccccc;margin-top:35px}
#menu{background:#ffffff;font-size:small;font-weight:bold;margin-bottom:10px}
