%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title> %WIKITOOLNAME% . %WEB% . %TOPIC% %TMPL:P{"titleaction"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
 <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_PREVIEW%
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
<script language="JavaScript">
<!--HIDE
function launchWindow( theWeb, theTopic ) {
  win = open("%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain", theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
  if( win ) {
    win.focus();
  }
  return false;
}
//STOP HIDING-->
</script>
</head>
<body bgcolor="#ffffff" background="%PREVIEWBGIMAGE%">
%TMPL:DEF{"titleaction"}%(preview)%TMPL:END%
%TMPL:DEF{"headerhelp"}% <font size="-2">
  <ul>
  <li> To <B>save</B> changes: Press the [Save Changes] button.
  <li> To make <B>more changes</B>: Go back in your browser.
  <li> To <B>cancel</B>: Go back twice.
  </ul>
  </font> %TMPL:END%
%TMPL:DEF{"webaction"}%
  <b><font color="#FF0000">Note:</font></b>
  This is a preview. <b><font color="#FF0000">Do not forget</font></b> to save your changes. %TMPL:END%
%TMPL:DEF{"BACKGROUNDIMAGE"}% background="%PREVIEWBGIMAGE%" %TMPL:END%
%TMPL:P{"simpleheader"}%
<br />
Parent: %META{"parent"}%
%TEXT%
%META{"form"}%
%META{"attachments"}%
<br clear=all>
<form name="main" action="%SCRIPTURLPATH%/save%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="text" value="%HIDDENTEXT%" />
<input type="hidden" name="cmd" value="%CMD%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="parent" value="%TOPICPARENT%" />
%TMPL:DEF{"topicaction"}% <input type="submit" value=" Save Changes " />
&nbsp; &nbsp;<input type="checkbox" name="unlock" %RELEASEEDITLOCKCHECKBOX% /> Release edit lock
<font size="-1">(<a target="UnlockTopic" onClick="return launchWindow('%TWIKIWEB%','UnlockTopic')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/UnlockTopic">help</a>)</font>
&nbsp; &nbsp;<input type="checkbox" name="dontnotify" %DONTNOTIFYCHECKBOX% /> Minor changes, don't notify
<font size="-1">(<a target=DontNotify" onClick="return launchWindow('%TWIKIWEB%','DontNotify')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/DontNotify">help</a>)</font>
%FORMFIELDS% %TMPL:END%
%TMPL:P{"standardfooter"}%
%WEBCOPYRIGHT%
</form>
</body>
</html>
