%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"titleaction"}%(search results) %TMPL:END%



%TMPL:DEF{"webaction"}% %WEBTOPICLIST% %TMPL:END%



%TMPL:DEF{"topicaction"}% %TMPL:END%



%TMPL:DEF{"bodystart"}%<body class="twikiSearchResultsPage" onload="initPage()"><a name="PageTop"></a>%TMPL:END%



%TMPL:DEF{"repeatedsearchblock"}%%REPEAT%<div class="twikiSearchResults">
<div class="foswikiTopRow"><div class="twikiLeft">%ICON% %MATCH% <span class="foswikiAlert">%LOCKED%</span></div>
<div class="twikiRight" style="width:15%; text-align:left;">
%AUTHOR%
</div>
<div class="twikiRight" style="width:30%; text-align:left;"><a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TIME%</a> - %REVISION%</div><br class="twikiClear" /></div>
<div class="foswikiSummary foswikiGrayText twikiBottomRow"><div style="width:80%;">%TEXTHEAD%</div></div></div>%REPEAT%%TMPL:END%



%TMPL:DEF{"searchbody"}%%SPLIT%%TMPL:P{"repeatedsearchblock"}%%SPLIT%
<div class="twikiSearchResultCount">Number of topics: <b>%NTOPICS%</b></div>%TMPL:END%



%TMPL:DEF{"content"}%
%SPLIT%<div class="twikiSearchString">Searched: <b><nop>%SEARCHSTRING%</b></div><div class="twikiSearchResultsBegin"></div>
%TMPL:P{"searchbody"}%%SPLIT%%TMPL:P{"standardfooter"}%%TMPL:END%



%TMPL:DEF{"standardfooter"}%
<div class="twikiTopicFooter"></div>
#PageBottom %TMPL:END%



%TMPL:DEF{"main"}%%TMPL:P{"topbar"}%<div class="twikiMiddleContainer">%TMPL:P{"sidebar"}%<div class="twikiMain">
%TMPL:P{"content"}%
</div></div>%TMPL:P{"bottombar"}%%TMPL:END%
