/* pattern skin specific settings */

/* page layout */
html body {
  margin:0;
  padding:0;
  background-color:#F0F6FA;
}
#patternScreen {
  margin:0 auto 8px auto;
  padding:0 0 .25em 0;
  width:85%;
  min-width:840px;
}
#patternBottomBar {
  border:none;
}
#patternMain pre {
  font-size:90%;
}
#patternOuter {
  margin-left:270px; 
}
#patternSideBar {
  width:270px; 
  margin-left:-270px; 
  font-size:95%;
}
#patternPage {
  border:1px solid #E2DCC8;
}

/* side bar */
.blogAbout {
  font-size:100%;
}
.patternSideBarContents {
  width:auto;
}
.blogSideBar {
  width:auto;
  margin-right:15px;
  line-height:120%;
}
.blogSideBar ul li {
  margin-bottom:5px;
  line-height:120%;
}
.blogSideBar ol li {
  margin-bottom:2px;
}
.blogSideBar .patternFormHolder {
  padding:10px 10px 10px 20px;
  border:1px solid #E2DCC8;
  background:#f4f4f4;
  margin-bottom:10px !important;
  text-align:center;
  width:auto;
}
.blogSideBar .patternFormHolder table {
  width:100%;
}
.blogSideBar .patternFormField {
  width:100%;
}
#patternSideBarContents .blogSideBarSection h1 a {
  color:#a00; /*T5*/
}

/* comments */
blogSubComments {
  padding:5px;
}
.blogSubComment {
  border-left:5px solid #E2DCC8;
}

.blogHeadline a {
  text-decoration:none;
}
.blogComments h3 a {
  text-decoration:none;
}
.blogComments h3 {
  border:0px;
}
.blogCommentOdd,
.blogCommentEven {
  margin-top:20px;
  padding:10px;
}
.blogCommentEven {
  background-color:#FEFBF3; /*BG9*/
  border:1px solid #E2DCC8; /*BO4*/
}

/* entry */
.blogHeadline {
  border-bottom:1px solid #E2DCC8; /*BO4*/
  padding-bottom:2px;
  margin-bottom:4px;
}
.blogInfo {
  font-size:90%;
  margin-bottom:4px;
}
.blogHeadline .blogCommentCount {
  font-size:110%;
  line-height:100%;
  margin:0px;
}
.blogText {
  text-align:justify;
  width:100%;
}
.blogEntry {
  margin-top:20px;
  margin-bottom:20px;
}
.blogEntryFeed .blogFeedIcon {
  margin-right:10px;
  text-decoration:none;
  color:#8E9195; /*T8*/
}

/* navigations */
.blogScroll a,
.blogNavigation a {
  color:#8E9195; /*T8*/
  text-decoration:none;
}

/* blog archive */
#patternMainContents a {
  text-decoration:none;
}
.blogArchiveDateSelect a.current,
.blogArchiveMode a.current {
  text-decoration:underline;
}
