/* blogging */

/* debug 
.blogEntryButton, .blogCategoryButton, .blogPageButton, .blogTopicButton,
.blogAbout, .blogSideBar, .blogSideBarCommenter, .blogSideBarSection,
.blogEntry, .blogHeadline, .blogInfo, .blogDate, .blogText, .blogMore,
.blogComments, .blogComment, .blogCommentOdd, .blogCommentEven,
.blogAddComment, .blogCommentCount, .blogCommentNr, .blogCommentDate,
.blogSubComments, .blogSubComment, .blogRef, .blogNavigation, .blogRelated1,
.blogRelated2, .blogRelated3, .blogNext, .blogPrev, .blogCommentText,
.blogSubmitButton, .blogFeedCategory, .blogSideBarHeader {
{
   border:1px solid red;
}
*/
.blogAbout {
  /*text-align:justify; */
  font-size:95%; 
  margin-bottom:1.5em;
}
.blogEntry {
  padding-bottom:20px;
}

.blogHeadline h1,
.blogHeadline h2 {
  margin:0px;
  padding:0px;
  margin-bottom:0px;
}

.blogInfo {
  padding-bottom:5px;
}

.blogText {
  text-align:justify;
  width:100%;
}
.blogText cite {
  text-align:left;
}
.blogTeaser {
  margin-bottom:1em;
}
.blogMore {
  display:inline;
  margin:0px;
  padding:0px;
}

.blogNavigation {
  font-size:0.8em;
  margin-bottom:10px;
  padding:0px;
}
.blogNavigation table {
  width:100%;
  line-height:110%;
}
.blogScroll {
  font-family:arial,helvetica;
  font-size:1em;
  line-height:100%;
  margin-top:0;
  margin-top:1em;
  margin-bottom:1em;
  font-weight:bold;
}
.blogScroll a,
.blogScroll a:hover {
  text-decoration:none !important;
}
.blogScroll a:hover {
  color:red;
}
.blogPrev {
  text-align:left;
  padding-left:2px;
  padding-right:5px;
  width:50%;
}
.blogNext {
  text-align:right;
  padding-left:5px;
  padding-right:2px;
  width:50%;
}
.blogCommentNr {
  margin-right:1em;
}

.blogCommentOdd,
.blogCommentEven {
  margin-top:20px;
}
.blogCommentCount {
  margin-left:10px;
}
.blogHeadline .blogCommentCount {
  font-size:2em;
  text-align:right;
}
.blogEntryCount {
  text-align:right;
}
.blogSideBarHeader {
  margin-bottom:2px;
}
.blogSideBar .blogEntryCount,
.blogSideBar .blogCommentCount {
}
.blogComment {
  padding:5px;
}
.blogComments {
  margin-top:20px;
}
.blogRef {
  padding-left:5px;
}
.blogRef h2 a:hover,
.blogComment h3 a:hover,
.blogComment h4 a:hover {
  text-decoration:underline;
}

.blogComment h4 {
  margin-top:5px;
  margin-bottom:5px;
  padding:0px;
}
.blogComment .natExternalLink:after {
  content:"";
  margin-left:0px;
}
.blogSubComments {
  margin-top:10px;
}
.blogSubComment {
  padding-left:5px;
  line-height:2em;
}
.blogSubComment .blogCommentText {
  line-height:1.5em;
  padding-bottom:1.5em;
}

.blogSideBarCommenter {
  font-size:0.9em;
}

.blogSideBar form {
  margin:0px;
}

.blogSideBar .blogSubmitButton {
  width:100%;
  margin:0px;
  padding:0px;
}
.blogSideBar .twikiPageForm input,
.blogSideBar .twikiPageForm {
  width:90%;
  margin:auto;
  font-size:12px;
}
.blogFeedCategory { 
  margin-top:5px;
  margin-bottom:5px;
}
.blogSideBarSection {
  margin-top:10px;
  margin-bottom:10px;
}
.blogSideBarSection ul,
.blogSideBarSection ol {
  margin-top:0px;
  margin-bottom:0px;
}
.blogSideBar dd {
  margin-left:2em;
}
.blogSideBar dt {
  font-weight:bold;
}

.blogSideBarAdmin li {
  white-space:nowrap;
}

.blogAdminButtons,
.blogAuthorButtons {
  margin-bottom:10px !important;
  padding:10px;
  border:1px solid #E2DCC8;
  background:#f4f4f4;
  text-align:center;
}
.blogAdminButtons input[type="text"],
.blogAuthorButtons input[type="text"] {
  border:1px solid #E2DCC8;
}


.blogArchiveModes {
  font-size:1.2em;
}
.blogArchiveMode {
  text-transform:uppercase;
  margin:0 0.5em;
  font-size:1.2em;
}
.blogArchiveModes a:hover {
  text-decoration:none;
}
.blogArchiveLexMins,
.blogArchiveModes,
.blogArchiveYears,
.blogArchiveMonths {
  text-align:center;
  margin:1em 0;
}
.blogArchiveYear,
.blogArchiveMonth {
  margin:10px;
  font-size:1em;
}
.blogArchiveHitList .blogNavigation {
  margin:5px 0;
}
.blogArchiveHitList table td,
.blogArchiveHitList table th {
  vertical-align:top;
  padding-left:1em;
}
.blogArchiveHitList .foswikiFirstCol {
  width:2em;
}
.blogArchiveTagCloud {
  text-align:center; 
  padding:20px 20px 15px 20px;
  line-height:200%;
}
.blogArchiveLexMin a {
  margin:10px 0;
  font-size:1em;
  padding:0 5px;
}
.blogSideBarLastFM h1 a:after {
  display:none;
}
.blogGoogleAds {
  margin:5px auto;
}
