/*
#F9FCFE - light blue
#FDFAF1 - orange
*/


/**** Table ****/
table.skillsTable {
        border-color:#ccc;
        background-color:#fff;

	margin:5px 0;
	border-collapse:separate;
	border-spacing:0 2px; /* only way I could find to put gaps between rows */
	padding:0px;
	empty-cells:show;
	border-style:solid;
	border-width:1px;
}

table.skillsTable th {
	padding:6px 0px;
	height:1.4em;
	text-align:left;
	vertical-align:top;
	/*background-color:#FDFAF1;*/
	background-color:#F9FCFE;
}

table.skillsTable th.skillsHeading a:visited,
table.skillsTable th.skillsHeading a:link {
	color:#06c;
	text-decoration:none;
}
table.skillsTable th.skillsHeading a:hover {
	border-color:#06c;
	background-color:transparent;
}
table.skillsTable th.skillsHeading {
	padding:3px 6px;
	height:2.5em;
	vertical-align:middle;
	text-align:center;
	/*background-color:#F9FCFE;*/
	background-color:#FDFAF1;
}

table.skillsTable td {
	padding:2px 15px;
	margin:0px;
	border-collapse:collapse;
	height:1.4em;
	text-align:left;
}

table.skillsTable td.head2{
	/*background-color:#F9FCFE;*/
	background-color:#FDFAF1;
}

table.skillsTable td.userRow{
	padding:0px 29px;
}

table.skillsTable td.skillsRatingHeader {
	text-align:center;
	font-weight:bold;
}

table.skillsTable td.skillsRating {
	text-align:center;
}

table.skillsTable td.skillsFooter {
	/*background-color:#F9FCFE;*/
	vertical-align:bottom;
	padding:0px 5px;
	background-color:#FDFAF1;
	font-size:75%;
}

/* aligns the skills with the user form on home page */
/* at least on firefox, not quite on ie. */
div.skills_UserHomePage table.skillsTable {
	margin:5px 0;
}

/**** Form ****/
table.skillsForm {
	border-color:#ccc;
	background-color:#fff;

	margin:5px 0;
	border-collapse:collapse;
	padding:0px;
	border-spacing:0px;
	empty-cells:show;
	border-style:solid;
	border-width:1px;
}
table.skillsForm th a:visited,
table.skillsForm th a:link {
	color:#06c;
	text-decoration:none;
}
table.skillsForm th a:hover {
	border-color:#06c;
	background-color:transparent;
}
table.skillsForm th {
	padding:3px 6px;
	/* stolen from TagMePlugin */
	height:2.5em;
	vertical-align:middle;
	text-align:center;
	background-color:#FDFAF1;
}

table.skillsForm td {
	padding:5px 15px;
	margin:0px;
	height:1.4em;
	text-align:left;
	vertical-align:middle;
}
table.skillsForm td.skillsFormRating {
	text-align:center;
}

/**** UI ****/
/* stolen from TagMePlugin */
.skillNavigation a {
	text-decoration:none;
}
.skillNavigation a:link,
.skillNavigation a:visited {
	color:#666;
}
.skillNavigation a:hover {
	background-color:transparent;
	border-bottom:1px solid #666;
}

.skillNotification {
	background-color:#ffc;
	color:#000;
	padding:0 .25em;
	white-space:nowrap;
}
div.skillNotification {
	padding:.5em 20px; /* side padding same as twikiFormStep (assuming PatternSkin) */
	margin:1em 0;
}
