%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title> %WEB% . %TOPIC% %TMPL:P{"titleaction"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%">
 <meta name="robots" content="noindex"> 
 %HTTP_EQUIV_ON_EDIT%
 <base href='%SCRIPTURL%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
<script language="JavaScript">
<!--HIDE
function initForm() {
  document.main.text.focus();
}
function checkAll( theButton, theButtonOffset, theNum, theCheck )
{
  // find button element index
  var j = 0;
  for( var i = 0; i <= document.main.length; i++ ) {
    if( theButton == document.main.elements[i] ) {
      j = i;
      break;
    }
  }
  // set/clear all checkboxes
  var last = j+theButtonOffset+theNum;
  for( i = last-theNum; i < last; i++ ) {
    document.main.elements[i].checked = theCheck;
  }
}
function launchWindow( theWeb, theTopic ) {
  win = open( "%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain",
              theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
  if( win ) {
    win.focus();
  }
  return false;
}
//STOP HIDING-->
</script>
 <link href='%PUBURL%/_ks/%WEBCSS%' rel="stylesheet" type="text/css" title="koalaskin" >%SITECSS%%CSS%
</head>
<body onLoad="initForm()">
#PageTop
<form action='%SCRIPTURLPATH%/save%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%' method="post" name=main>
%TMPL:DEF{"heading"}%Edit Topic%TMPL:END%
%TMPL:DEF{"titleaction"}%(edit)%TMPL:END%
%TMPL:DEF{"titlehelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}%Change topic%TMPL:END%
%TMPL:P{"simpleheader"}%%FORMEDIT_T%
<textarea name="text" wrap="virtual" rows="%EDITBOXHEIGHT%" cols="%EDITBOXWIDTH%" style="%EDITBOXSTYLE%">%TEXT%</textarea>
<input type="hidden" name="originalrev" value="%ORIGINALREV%" />
<input type="hidden" name="skin" value="%URLPARAM{"skin"}%" />
<input type="hidden" name="cover" value="%URLPARAM{"cover"}%" />
<input type="hidden" name="redirectto" value="%REDIRECTTO%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="templatetopic" value="%TEMPLATETOPIC%" />
<input type="hidden" name="settingstopic" value="%SETTINGSTOPIC%" />
<input type="hidden" name="topicparent" value="%TOPICPARENT%" />
<input type="hidden" name="newtopic" value="%NEWTOPIC%" />
<input type="hidden" name="forcenewrevision" value="%URLPARAM{"forcenewrevision"}%" />
<input type="hidden" name="rev" value="%URLPARAM{"rev"}%" />
<input type="hidden" name="cmd" value="%CMD%" />    
<br />
Don't forget - if you change something, do it in 
<a target="GoodStyle" onClick="return launchWindow('%SYSTEMWEB%','GoodStyle')" href="%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/%SYSTEMWEB%/GoodStyle">GoodStyle</a>
and follow the
<a target="TextFormattingRules" onClick="return launchWindow('%SYSTEMWEB%','TextFormattingRules')" href="%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/%SYSTEMWEB%/TextFormattingRules">TextFormattingRules</a>.
<br /><br /> %FORMEDIT_B%
%TMPL:DEF{"topicaction"}% <input type=submit name=action value=Save id=save accesskey=s title='[Alt-S] Save topic and return to normal view' />
<input type=submit name=action value=QuietSave accesskey=q id=quietsave title='[Alt-Q] Save but will not trigger email notification to people monitoring the page'  />
<input type=submit name=action value=Checkpoint accesskey=c id=checkpoint title='[Alt-C] Save, and re-edit immediately' />
<input type=submit name=action value=Preview accesskey=p id=preview title='[Alt-P] Do not save yet, but show what the topic would look if saved' />
<input type=submit name=action value=Cancel accesskey=z id=cancel title='[Alt-Z] Discard changes and return to view mode, release lock' />%TMPL:END%
%TMPL:DEF{"headerhelp"}%<ul>
<li><b>Save</b> Save topic and return to normal view
<li><b>QuietSave</b> Save but will not trigger email notification to people
monitoring the page (checks the "Minor changes" checkbox) 
<li><b>Checkpoint</b> Save, and re-edit immediately
<li><b>Preview</b> Do not save yet, but show what the topic would look if saved
<li><b>Cancel</b> Discard changes and return to view mode, release lock
<li><b>Do not use BACK in your browser to cancel</b> instead, or the topic will
stay locked, preventing other people to edit it for one hour</ul>%TMPL:END%
%TMPL:P{"editfooter"}%
</form>
#PageBottom
</body>
</html>
