<!--  Header  -->
<table border=0 cellspacing=2 cellpadding=0 width="100%">
  <tr>
  <td valign="top" align="left" width="%WIKIICONWIDTH%" rowspan=2>
    <!--  Header.Title  -->
    <a class=ks_icon href="%WIKILOGOURL%" title='Home page of this whole "%WIKITOOLNAME%" site'>%KSICON%</a><span class=headline>%KSTITLE%</span>
  <td valign="top" align="right">
    <!--  Header.buttonstop  -->
    <span class="buttonBar">%TMPL:INCLUDE{"ks_topbuttons"}%</span>
    <tr valign=bottom><td align=right class=buttonBar>%KSBUTTONS%
</table>
