%TMPL:INCLUDE{"ks_homebutton"}% | <a href='%SCRIPTURLPATH%/edit%SCRIPTSUFFIX%/%WEB%/%TOPIC%?time=%GMTIME{"$hours$minutes$seconds"}%' accesskey=e title='[Alt-e] Edit (modify) this page (topic)'><img src="%PUBURLPATH%/_ks/edit.gif" width=16 height=16 border=0 alt="Edit"><b>Edit</b></a> | 
      <a href="%SCRIPTURLPATH%/attach%SCRIPTSUFFIX%/%WEB%/%TOPIC%" accesskey=a title='[Alt-a] Upload and attach any file to this page (topic)'><img src="%PUBURLPATH%/_ks/attach.gif" width=16 height=16 border=0 alt="Attach"> Attach</a> |
      <a href='%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopscreate&param2=none' accesskey=n title='[Alt-n] Create a new page (topic) in this web (folder)'><img src="%PUBURLPATH%/_ks/new.gif" width=16 height=16 border=0 alt="New"> New</a> | 
      <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%?template=sitemap" accesskey=s title='[Alt-s] See all the webs (folders) available on this site at'><img src="%PUBURLPATH%/_ks/sitemap.gif" width=16 height=16 border=0 alt="Site Map"> Site Map</a> |
      <a href="%KSHELP%" title='Help on using this Wiki web collaborative system'><img src="%PUBURLPATH%/_ks/help.gif" width=16 height=16 border=0 alt="Help"> Help</a>
