%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title>%WIKITOOLNAME% . %WEB% (search result)</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%">
 <meta name="robots" content="noindex"> 
 %HTTP_EQUIV_ON_VIEW%
 <base href='%SCRIPTURL%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
 <link href='%PUBURL%/_ks/%WEBCSS%' rel="stylesheet" type="text/css" title="koalaskin" >%SITECSS%%CSS%
</head>
<body>
#PageTop
<form action='%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/"}%' name=main>
%TMPL:DEF{"titleaction"}% [[%WEB%.%HOMETOPIC%][%WEB%]] %TMPL:END%
%TMPL:DEF{"heading"}%Search in: %TMPL:END%
%TMPL:DEF{"webaction"}% Go To %TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%HOMETOPIC%][%WEB% Home]] %TMPL:END%
%TMPL:P{"standardheader"}%
</form>
%SPLIT%Search: <strong> %SEARCHSTRING% </strong>
<p />
<form>
%SPLIT%<table width="100%" border="0" cellpadding="0" cellspacing="4">
<tr class="bg1-%<WEB>%">
  <td width="10%">
    <strong>Update ref:</strong>
  </td><td width="45%">
    <strong>Topics in %<WEB>% web:</strong>
  </td><td width="25%">
    <strong>Changed:</strong> now %GMTIME{"$hour:$min"}% GMT
  </td><td width="20%">
    <strong>Changed by:</strong>
  </td>
</tr>
</table>
%REPEAT%<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td width="10%">
    %SELECTION%<input type="checkbox" name="RENAME%LABEL%%TOPIC_NUMBER%" checked="checked" />
    <input type="hidden" name="TOPIC%LABEL%%TOPIC_NUMBER%" value="%WEB%.%TOPICNAME%" />%SELECTION%
  </td><td width="45%">
    <a href="%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%"><strong>%TOPICNAME%</strong></a> %LOCKED%
  </td><td width="25%">
    <a href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPICNAME%">%TIME%</a> - %REVISION% &nbsp;
  </td><td width="20%">
    %AUTHOR%
  </td>
</tr>
<tr>
  <td colspan="2" width="80%">
    <font size="-1">
    %TEXTHEAD% </font>
  </td><td width="20%">
    &nbsp;
  </td>
</tr></table>
%REPEAT%<br clear="all" />
<p />%SPLIT%Number of topics: <strong>%NTOPICS%</strong>
<p />%SPLIT%

</form>

%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"standardfooter"}%
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
  <td valign="top">
   &nbsp;
  </td>
  <td width="50%" valign="top">
   %WEBCOPYRIGHT%
  </td>
 </tr>
</table>
#PageBottom
</body>
</html>
