/* koala CSS - warning: not processed by TWiki templating engine for %-vars */
/* see: http://www.richinstyle.com/masterclass/fonts.html */
@import url(fonts.css);
/* Buggy browsers: avoid em */
body {font-size: 16px;font-family:verdana,arial,geneva,helvetica,sans-serif;}
code, kbd, tt, samp, pre {font: 16px /* 16*.9 */ monospace}
big, large {font-size: 18px}
small, sup, sub {font-size: 14px}
h1 {font: 32px sans-serif}
h2 {font: 28px sans-serif}
h3 {font: 24px sans-serif}
h4 {font: 21px sans-serif}
h5 {font: 18px sans-serif}
h6 {font: 16px sans-serif}

.footer{font-size: 14px}
.small{font-size: 14px}
.xsmall{font-size: 12px}
.buttonBar{font-size: 14px; font-weight: bold;}
.title {font-size: 18px; font-weight: bold;}
.headline {font-size:32px;font-weight:bold;}
.topicTitleBig {font-size: 18px;font-family:arial,geneva,helvetica,sans-serif;}
.topicTitleSmall {font-size: 14px;font-family:arial,geneva,helvetica,sans-serif;}
.topicItem {font-size: 14px;font-family:arial,geneva,helvetica,sans-serif;}

.groupsbar {font-family:arial,geneva,helvetica,sans-serif;}
.websbar {font-family:arial,geneva,helvetica,sans-serif;}

/* tables */
table.topic {border-collapse:collapse;border: 1px solid %KSCOLORWEB%;border-spacing: 0px}
table.topic tr th {text-align:left;font-weight: bold; padding: 2px; color: %KSCOLORWEBFILL%; background: %KSCOLORWEB%}
table.topic tr td {padding: 2px; background: %KSCOLORWEBFILL%}
table.topic tr td ul {padding-left:0em; margin-left:1.5em;}

/* general */
body {background : %KSCOLORBG%; color: black;}
td.contents {margin-left:10}
span.text * i {color: %KSCOLORWEBFG%}
span.text * b {color: %KSCOLORWEBFG%}
span.text * strong em {color: %KSCOLORWEBFG%}
.none {display:none}
.invisibleInNormal {display:none}
.headline:link, .headline:visited, .headline:active {text-decoration:none;}
#leftbar{float:left;width: %KSLMARGIN%;margin-top: 10px;}
#text {margin-left: %KSLMARGIN%px; padding-left:10px;}
#footer {clear: left;}

/* class definition for groups */
.group:link, .group:visited, .group:active {
 font-weight: bold; text-align: center;	text-decoration:none; color: black;}
.groupCell {background: %KSCOLORUNSEL%;}
.selectedGroup:link, .selectedGroup:visited, .selectedGroup:active {
 font-weight: bold; color: %KSCOLORSEL%; text-align: center;
 text-decoration:none;}
.selectedGroupCell {background: %KSCOLORWEB%;}
.unselectedGroup:link, .unselectedGroup:visited, .unselectedGroup:active {
 font-weight: bold; text-align: center; text-decoration:none; color: white;}
.unselectedGroupCell {background: %KSCOLORWEBUNSEL%;}

/* class definition for webs */
.web:link, .web:visited, .web:active {
 font-weight: bold; text-align: center; text-decoration:none; color: white;}
.webCell {background: %KSCOLORWEBUNSEL%;}
.selectedWeb:link, .selectedWeb:visited, .selectedWeb:active {
 font-weight: bold; text-align: center; color: %KSCOLORSEL%; \
 text-decoration:none;}
.selectedWebCell {background: %KSCOLORWEB%;}

/* class definition for topics */
.topicTableOutline {background: %KSCOLORWEB%;}
.topicTitle {
 font-weight: bold; margin-left:5; margin-right:5; margin-top:2;
 margin-bottom:2; color: %KSCOLORWEBFILL%; background: %KSCOLORWEB%;}
span.topicTitle b {color: %KSCOLORWEBFILL%}
.topicTitle a:link, .topicTitleBig a:visited, .topicTitleBig a:active {
 text-decoration:none; color: white;}
.topicTitleBig {
 font-weight: bold; margin-left:5; margin-right:5;
 margin-top:2; margin-bottom:2; color: %KSCOLORWEBFILL%;}
.topicTitleBig a:link, .topicTitleBig a:visited, .topicTitleBig a:active {
 text-decoration:none;color: white;}
.topicTitleSmall {
 font-weight: normal; margin-left:5; margin-right:5;
 margin-top:2; margin-bottom:2; color: %KSCOLORWEBFILL%;}
.topicTitleSmall a:link, .topicTitleSmall a:visited, .topicTitleSmall a:active
{ text-decoration:none;	color: white;}
.topicTitleCell {background: %KSCOLORWEB%;}
.topicItem {margin-left:10; margin-right:10; margin-top:5;
 margin-bottom:5;}
.topicItemCell {background: %KSCOLORWEBFILL%;}
.topicItemCell2 {background: %KSCOLORWEBFILL2%;}
.inv:link, .inv:visited, .inv:active {color: %KSCOLORWEBFILL2%;}

/* contents */
.color {color: %KSCOLORWEBFG%}
blockquote {background:%KSCOLORWEBFILL2%; border: thin solid %KSCOLORWEBFG%; 
 padding: 1%; margin: 2%;} 
q {color: %KSCOLORWEBFG%}
dt { font-weight: bold;float: left;display:inline;margin-right: 1em}
dd { display:block; margin-left: 2em}
dl.block dt {float: none;display:block;margin-right: 0em}
dl.signature dd {margin-left: 30em}

/* diffs */
/*.WCdiffsbody .twikiDiffTable .twikiDiffUnchangedText {display:none;} */
.twikiDiffAddedHeader {background-color: #ccffcc !important}
.twikiDiffAddedMarker {background-color: #ccffcc !important}
.twikiDiffDeletedHeader {background-color: #ffcccc !important}
.twikiDiffDeletedMarker {background-color: #ffcccc !important}
.twikiDiffChangedHeader {background-color: #ffddaa !important}
.twikiDiffChangedText {background-color: #ffddaa !important}
.twikiDiffLineNumberHeader {display:none}
.twikiDiffRev {color: white;background-color: %KSCOLORWEB%}
.twikiDiffRev a { color: #eeeeff}
.twikiDiffRev a:hover { color: #ffffee}
.twikiDiffRev a:visited { color: #ffeeff}
