<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- * WARNING: NO NEWLINES IN START TAGS !!! * -->
<html>
<head>
 <title>%TMPL:INCLUDE{"ks_title"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%">
 %HTTP_EQUIV_ON_VIEW%
 %FAVICON%
 <base href='%SCRIPTURL%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
 <link href='%PUBURL%/_ks/%WEBCSS%' rel="stylesheet" type="text/css" title="koalaskin" >%SITECSS%%CSS%
</head>
<body>
%BROADCASTMESSAGE%%TMPL:INCLUDE{"ks_header"}%
<!--  websbar (generated)  -->
%TMPL:INCLUDE{"websbar"}%<!-- no p -->
<table border=0 cellspacing=0 cellpadding=1 width="100%">
<tr><td class="topicTableOutline">
<table border=0 cellspacing=0 cellpadding=0 width="100%">
<tr><td class="topicTableOutline"><!--  Title  -->
    <table border=0 cellspacing=0 cellpadding=2 width="100%">
    <tr><td valign=top class="topicItemCell">
    <a href="%WIKILOGOURL%" title='Home page of this whole "%WIKITOOLNAME%" site'>%WIKITOOLNAME%</a> &gt;
    <a href="%HOMETOPIC%" title='WebHome, the home page of this web'>%WEB%</a> %META{"parent" prefix=" > " separator=" > " nowebhome="on" }%<!-- no p -->
&gt; <span class="title">%TOPIC%</span>
</table></table></table>
<span class=text>%TMPL:INCLUDE{"ks_leftbar"}%%FORM_LM%<!-- no p --><!-- margin --><td valign=top width=10> </td><td valign="top" class=contents align=left><!--  Content -->%EMPTYGROUPHEADER%%FORM_TL%%FORM_TO%%FORM_TR%%TEXT%%FORM_BL%%FORM_BR%%TMPL:INCLUDE{"ks_leftbar_end"}%</span><!-- eoc -->
<!--  Footer  -->
<p id=footer>
<table border=0 cellspacing=0 cellpadding=0 width="100%">
<tr><td width=%KSLMARGIN%> <td align=left>%META{"attachments"}%
<tr><td colspan=2 class=topicTableOutline>
    <table border=0 cellspacing=1 cellpadding=1 width="100%">
    <tr><td class=topicTitleCell valign=bottom width=%KSLMARGIN%>
    <span class=topicTitle><b>Actions</b>:</span>
    <td class=topicItemCell align=right valign=top>
    <span class="buttonBar">%TMPL:INCLUDE{"ks_bottombuttons"}%</span>
</table>
</table>
<table width="100%" border=0 cellspacing=0 cellpadding=2>
<tr>
<td class="footer" align=left><b>%WEB%.%TOPIC%</b><br>%REVINFO%
<td class="footer" align=right>%WEBCOPYRIGHT%
</table>
</body>
</html>
