<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- * WARNING: NO NEWLINES IN START TAGS !!! * -->
<html>
<head>
 <title> %WEB%.%TOPIC% %TMPL:P{"titleaction"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%">
 %HTTP_EQUIV_ON_VIEW%
 %FAVICON%
 <base href='%SCRIPTURL%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
 <link href='%PUBURL%/_ks/%WEBCSS%' rel="stylesheet" type="text/css" title="koalaskin" >%SITECSS%%CSS%
</head>
<body>
<table border=0 cellspacing=0 cellpadding=1 width="100%">
	<tr><td class="topicTableOutline">
	<table border=0 cellspacing=0 cellpadding=0 width="100%">
		<tr><td class="topicTableOutline">
    		<table border=0 cellspacing=0 cellpadding=2 width="100%">
			<tr valign=middle><td class="topicItemCell"><a href="%HOMETOPIC%">%WEB%</a>%META{"parent" prefix=" > " separator=" > " nowebhome="on" }% > <span class="title">%TOPIC%
		<td class="topicItemCell" align=right>%WIKIWEBLIST%&nbsp;<img align=middle src="%WIKILOGOIMG%"></span>
		</table>
	</table>
	<table border=0 cellspacing=1 cellpadding=1 width="100%">
    		<tr><td class=topicItemCell align=right valign=top>
    		<span class="buttonBar">%TMPL:INCLUDE{"ks_bottombuttons"}%</span>
	</table>
</table>
<span class=text><td width=10><!--  --><br><td valign="top" class=contents align=left><!--  Content -->%EMPTYGROUPHEADER%%FORM_TL%%FORM_TO%%FORM_TR%%TEXT%%FORM_BL%%FORM_BR%%TMPL:INCLUDE{"ks_leftbar_end"}%</span><!-- eoc -->
<!--  Footer  -->
<p id=footer>
<form action="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%"}%/">
<table border=0 cellspacing=0 cellpadding=0 width="100%">
<tr><td width=%KSLMARGIN%><td align=left>%META{"attachments"}%
<tr><td colspan=2 class=topicTableOutline>
    <table border=0 cellspacing=1 cellpadding=1 width="100%">
    <tr><td class="topicItemCell">
    <table border=0 cellspacing=1 cellpadding=1 width="100%">
	    <tr valign=middle>
		<td><span class="buttonBar">[[%WEB%.WebChanges][Changes]]</span>
		<td align=right><span class="buttonBar">Search:<input type="text" name="search" size="22" /></span>
    </table>
    </table>
</table>
<table width="100%" border=0 cellspacing=0 cellpadding=2>
<tr>
<td align=left><font size=-3>(%REVINFO%)</font>
<td class="footer" align=right><!-- %WEBCOPYRIGHT% -->
</table>
</form>
</body>
</html>
