%TMPL:INCLUDE{"foswiki"}%

%TMPL:DEF{"script"}%
<script type="text/javascript">
<!--HIDE
function submitForm()
{
  document.forms[document.forms.length-1].submit();
}
//STOP HIDING-->
</script>%TMPL:END%

%TMPL:DEF{"actionstring"}%Change Form%TMPL:END%

%TMPL:DEF{"simpleBlueFormAction"}%
<form name="main" action="%EDITURL%" method="post">
%TMPl:END%

%TMPL:DEF{"notes"}%
*Notes*
   * <font color="red">Existing form data will be lost! (still available in old version)</font>
   * Any change you made to topic before coming to this page are preserved.
%TMPL:END%

%TMPL:DEF{"editactions"}%
<input type="hidden" name="text" value="%TEXT%" />
<input type="hidden" name="topicparent" value="%TOPICPARENT%" />
<a href="javascript:history.back()">Cancel</a>&nbsp;%TMPL:P{"sep"}%&nbsp;<a href="javascript:submitForm();">Change form</a>%TMPL:END%

%TMPL:DEF{"simpleBlueContentPane"}%
%TMPL:P{"contentheadingvariable"}%
   <h2>Choose a new form template</h2>
   %FORMLIST%
   <div id="simpleBlueSpacer10">&nbsp;</div>
   %TMPL:P{"actionbarbottomvariable"}%
   %TMPL:P{"contentnotes"}%
%TMPL:END%


%TMPL:P{"simpleBluePage"}%
