%TMPL:INCLUDE{"foswiki"}%
%TMPL:DEF{"titleaction"}%(more) %TMPL:END%
%TMPL:DEF{"webaction"}% *Topic actions* %TMPL:END%
%TMPL:DEF{"heading"}%More Actions on Topic [[%TOPIC%]]%TMPL:END%
%TMPL:DEF{"message"}%

<h4>Move to Trash</h4>
   * *<a href="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%?newweb=Trash&amp;nonwikiword=on">Delete topic...</a>*,
        looking for references in _all public webs_ &nbsp; *(recommended)*
   * <a href="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%?newweb=Trash&amp;nonwikiword=on&amp;currentwebonly=on">Delete topic...</a>,
        looking for references in _%WEB% web_ only

<h4>Rename or move topic</h4>
   * *<a href="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Rename/move topic...</a>*,
        looking for references in _all public webs_ &nbsp; *(recommended)*
   * <a href="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%?currentwebonly=on">Rename/move topic...</a>,
        looking for references in _%WEB% web_ only

<h4>Back-links (Ref-by)</h4>
   * *<a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?scope=text&amp;web=all;&amp;regex=on&amp;search=%SPACEDTOPIC%%5B%5EA-Za-z%5D">Find topics</a>*
        in _all public webs_ that link to <nop>%TOPIC%
   * <a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?scope=text&amp;regex=on&amp;search=%SPACEDTOPIC%%5B%5EA-Za-z%5D">Find topics</a>
        in _%WEB% web_ that link to <nop>%TOPIC%

<h4>Child topics in <nop>%WEB% web</h4>
   * %METASEARCH{type="parent" web="%WEB%" topic="%TOPIC%" default="No child topics"}%

<form name="main" action="%EDITURL%">
<h4>Set new topic parent</h4>
   * Step 1: Select topic parent: %BR%
        <select name="topicparent" size="10">
        <option value="none">none (remove topic parent)</option>
        %TOPICLIST{"<option value=$qname>$name</option>" separator=" "}%
        </select>
   * Step 2: Continue to <input type="submit" class="twikiSubmit" value="Edit" /> and save <nop>%TOPIC% to activate the new parent
        <input type="hidden" name="t" value="%SERVERTIME{$hour$min$sec}%" />
</form>

<form name="main" action="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
<h4>View previous topic revision</h4>
   * Revision: <input type="text" name="rev" size="6" value="%PARAM2%" />
        in <input type="checkbox" class="twikiCheckbox" id="raw" name="raw" /><label for="raw">raw text format</label>
        <input type="submit" class="twikiSubmit" value="View revision" />
   * Revisions: 1.1 ... %PARAM1%
</form>

<form name="main" action="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%">
<h4>Compare revisions</h4>
   * Older revision:&nbsp;&nbsp; <input type="text" name="rev2" size="6" value="1.1" />
   * Newer revision: <input type="text" name="rev1" size="6" value="%PARAM1%" />
        <input type="submit" class="twikiSubmit" value="View difference" />
</form> %TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%TOPIC%][Cancel]] %TMPL:END%
%TMPL:P{"oops"}%
