%TMPL:INCLUDE{"twiki"}%
%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"actionstring"}%Rename%TMPL:END%



%TMPL:DEF{"webaction"}%Confirm rename or move Topic: <code>%TOPIC%%TMPL:END%



%TMPL:DEF{"newtopic"}%<input type="hidden" name="newtopic" value="%NEW_TOPIC%" />%TMPL:END%

%TMPL:DEF{"notes"}%
*Note:*
   * You can move the topic to a different web.
   * It's usually best to choose a <a target="WikiWord" onclick="return launchWindow('%TWIKIWEB%','WikiWord')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%TWIKIWEB%/WikiWord">WikiWord</a> for the new topic name, otherwise automatic linking may not work. 
   * Characters not allowed in topic names, such as spaces will automatically be removed.
%TMPL:END%

%TMPL:DEF{"editactions"}%
[[%WEB%.%TOPIC%][Cancel]]&nbsp;%TMPL:P{"sep"}%&nbsp;<a href='javascript:submitForm("submit");'>Delete</a><input type="hidden" name="nonwikiword" value="%URLPARAM{"nonwikiword"}%" />
%TMPL:END%


%TMPL:P{"renamebase"}%