%TMPL:INCLUDE{"twiki"}%
%TMPL:INCLUDE{"renamebase"}%



%TMPL:DEF{"actionstring"}%Rename%TMPL:END%



%TMPL:DEF{"webaction"}%Rename Topic: <code>%TOPIC%%TMPL:END%



%TMPL:DEF{"newtopic"}%<input name="newtopic" value="%NEW_TOPIC%" class="width200" />%TMPL:END%



%TMPL:DEF{"notes"}%
*Note:*
   * You can move the topic to a different web.
   * It's usually best to choose a <a target="WikiWord" onclick="return launchWindow('%SYSTEMWEB%','WikiWord')" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%SYSTEMWEB%/WikiWord">WikiWord</a> for the new topic name, otherwise automatic linking may not work. 
   * Characters not allowed in topic names, such as spaces will automatically be removed.
%TMPL:END%

%TMPL:DEF{"editactions"}%
[[%WEB%.%TOPIC%][Cancel]]&nbsp;%TMPL:P{"sep"}%&nbsp;<a href='javascript:submitForm("submit");'>Rename/Move</a>&nbsp;%TMPL:P{"sep"}%&nbsp;
<a href='javascript:checkAll(true);'>Select all</a>&nbsp;%TMPL:P{"sep"}%&nbsp;<a href='javascript:checkAll(false);'>Clear all</a>
%TMPL:END%


%TMPL:P{"renamebase"}%