%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"topicpathseparator"}%<span class='twikiSeparator'>&nbsp;&#187;</span> %TMPL:END%
%TMPL:DEF{"breadcrumb"}%%BREADCRUMBS{separator="%TMPL:P{"topicpathseparator"}%"}%%TMPL:END%
