%TMPL:DEF{"htmldoctype"}%<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html> %TMPL:END%
%TMPL:DEF{"parent"}%%TMPL:END%
%TMPL:DEF{"standardheader"}%
%TMPL:INCLUDE{"ks_header"}%
<!--  websbar (generated)  -->
%TMPL:INCLUDE{"websbar"}%<!-- no p -->
<table border=0 cellspacing=0 cellpadding=1 width="100%">
<tr><td class="topicTableOutline">
<table border=0 cellspacing=0 cellpadding=0 width="100%">
<tr><td class="topicTableOutline"><!--  Title  -->
    <table border=0 cellspacing=0 cellpadding=2 width="100%">
    <tr><td valign=top align=right width=%KSLMARGIN% class="topicTitleCell">
        <span class="topicTitleBig">%TMPL:P{"heading"}%</span></td>
        <td class="topicItemCell"><span class="title">%TMPL:P{"titleaction"}%</span></td>
</table></table></table>
%TMPL:INCLUDE{"ks_leftbar"}%<!-- no p --><!-- margin --><td valign=top width=10> <td class=contents valign="top" align=left><!--  Content  -->
%TMPL:END%
%TMPL:DEF{"standardheaderend"}%</table><!-- eoc -->%TMPL:END%

%TMPL:DEF{"simpleheader"}%
<!--  SIMPLE  -->
<table border=0 cellspacing=2 cellpadding=0 width="100%">
  <tr>
  <td valign="top" align="left" width="%WIKIICONWIDTH%">
    <a class=ks_icon href="%WIKILOGOURL%">%KSICON%</a>
  <td valign="top" align="right">
    <span class="buttonBar"> %TMPL:P{"topicaction"}% </span>
</table>
<table border=0 cellspacing=0 cellpadding=1 width="100%">
<tr><td class="topicTableOutline">
<table border=0 cellspacing=0 cellpadding=0 width="100%">
<tr><td class="topicTableOutline"><!--  Title  -->
    <table border=0 cellspacing=0 cellpadding=2 width="100%">
    <tr><td valign=top align=right class="topicTitleCell">
        <td class="topicTitleCell">
	<span class="topicTitleBig">%TMPL:P{"heading"}%</span>
    <tr><td valign=top align=right class="topicItemCell">
        <td class="topicItemCell"><span class="title">
<nop>%WEB%.%TOPIC%  %TMPL:P{"titleaction"}%
    </span>
</table></table></table>%TMPL:END%

%TMPL:DEF{"standardfooter"}%
<!--  FOOTER  -->
<table border=0 cellspacing=0 cellpadding=0 width="100%">
<tr><td class=topicTableOutline>
    <table border=0 cellspacing=1 cellpadding=1 width="100%">
    <tr><td class=topicTitleCell valign=bottom width=%KSLMARGIN%>
    <span class=topicTitle><b>%TMPL:P{"webaction"}%</b>:</span></td>
    <td class=topicItemCell valign=top align=left>
    <span class="buttonBar"> %TMPL:P{"topicaction"}% </span>
</table>
</table><table width="100%" border=0 cellspacing=0 cellpadding=2>
<tr>
<td class="footer" align=left><b>%WEB%.%TOPIC%</b></table> 
%TMPL:END%

%TMPL:DEF{"editfooter"}%
<!--  EDIT FOOTER  -->
%TMPL:P{"standardfooter"}%<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
<td valign="top">
  <table border=0 cellspacing=0 cellpadding=0>
   <tr>
    <td class="topicTableOutline">
      <table border=0 cellspacing=1 cellpadding=1>
        <tr>
          <td class="topicTitleCell"><span class="topicTitle">Help</span></td>
        <tr valign=top>
          <td class="topicItemCell" width='50%'>
            <div class="headerHelp">
%TMPL:P{"headerhelp"}%
            </div>
      </table>
  </table>
  </td>
 </tr>
</table>   %WEBCOPYRIGHT%  %TMPL:END%

%TMPL:DEF{"oops"}%
%TMPL:P{"htmldoctype"}%
<!--  OOPS  -->
<head>
 <title> %WIKITOOLNAME%.%WEB%.%TOPIC% %TMPL:P{"titleaction"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%">
 %HTTP_EQUIV_ON_VIEW%
 <base href='%SCRIPTURL%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
 <link href='%PUBURL%/_ks/%WEBCSS%' rel="stylesheet" type="text/css" title="koalaskin" >%SITECSS%%CSS%
</head>
<body>
#PageTop
%TMPL:P{"simpleheader"}%
<p />
%TMPL:P{"message"}%
<p />
%TMPL:P{"standardfooter"}%
#PageBottom
</body>
</html> %TMPL:END%
