<!-- Leftbar -->
<div><div id=leftbar>%TMPL:INCLUDE{"ks_leftsearch"}%
<!-- NONEMPTY-S -->
<br>
<table border=0 cellspacing=0 cellpadding=0 width=%KSLMARGIN%>
 <tr>
  <td class="topicTableOutline">
    <table border=0 cellspacing=1 cellpadding=1 width=%KSLMARGIN%>
      <tr>
        <td class="topicTitleCell"><span class="topicTitle">Topics</span></td>
      <tr>
        <!-- ### Global Topics ###-->
        <td class="topicItemCell">
          <div class="topicItem">%KSLEFTTOPICS%</div>
          <hr noshade size=1 width="90%">
          <!-- ### Web Topics ###-->
          <div class="topicItem">
            %TOPICS%</div></table></table>%FORM_LM%</div>
<div id=text>
<!-- NONEMPTY-E -->
