<!-- Topbar -->
<table border=0 cellspacing=0 cellpadding=1 width="100%">
<tr><td class="topicTableOutline">
<table border=0 cellspacing=0 cellpadding=0 width="100%">
<tr><td class="topicTableOutline"><!--  Title  -->
<table border=0 cellspacing=0 cellpadding=2 width="100%">
<tr><td valign=top class="topicItemCell2">
<table width='99%'>
<tr><td>
<td>%KSNOLEFTTOPICS%<a href="WebSearch"  accesskey=f title="[Alt-F] Search page with many more options">Search</a><!-- <hr noshade size=1 width="90%"> -->%TOPICSTOP%
<td align=right>
<form style="margin: 0px" action='%SCRIPTURL%/searchmulti%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%"}%' method="post" name=main>
<input type=hidden name=web value="%WEB%"><input type=hidden name=group value="%WEBGROUP%"><input type=hidden name=groupleader value="%WEBGROUPLEADER%"><input type=hidden name=scope value=all><input size="12" type="text" name=search class=small><input type=submit name=Go value="Search" class=small><select name="type" class=small><option value=all>all webs</option>%KSWEBSEARCH%<option value=topicname>topic names</option></select></form></table></table></table></table>

