<table width='100%'><tr><td align=right><a href="%SCRIPTURL%/ks_lastchanges.sh" accesskey=c title='[Alt-C] Changes in this whole "%WIKITOOLNAME%" site'><img src="%PUBURLPATH%/%SYSTEMWEB%/DocumentGraphics/changes.gif" width=16 height=16 border=0 alt="Home"> Global Changes</a></table>
