%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"heading"}% Move / Rename attachment %TMPL:END%
%TMPL:P{"htmldoctype"}%
<head>
 <title> %WIKITOOLNAME% . %WEB% . %TOPIC% %TMPL:P{"titleaction"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%">
 <meta name="robots" content="noindex"> 
 %HTTP_EQUIV_ON_VIEW%
 <base href='%SCRIPTURL%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
 <link href='%PUBURL%/_ks/%WEBCSS%' rel="stylesheet" type="text/css" title="koalaskin" >%SITECSS%%CSS%
</head>
<body>
#PageTop
<form name="rename" action='%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%' name=main>
%TMPL:DEF{"titleaction"}%(move attachment)%TMPL:END%
%TMPL:DEF{"webaction"}% *Move file attachment* %TMPL:END%
%TMPL:P{"simpleheader"}%
---+ Move file <code>%FILENAME%</code>

| |  *Web:* | *&nbsp;Topic:* |
|  *From:* |    %WEB%. | &nbsp;%TOPIC% |
|  *To:* |  <select name="newweb"> %WEBLIST{"<option $marker value=$qname>$name</option>" webs="Trash,public" selection="%WEB%" separator=" "}% </select>. | &nbsp;<input name="newtopic" value="%TOPIC%" /> |
<input type="hidden" name="attachment" value="%FILENAME%" />
<input type="hidden" name="changeRefs" value="0" />
<input type="submit" value=" Move " />
</form>

__Note:__

   * The attachment and any history will be moved to the new topic.
   * An error page will be shown if either of the topics are locked by another user.
   * The new topic chosen must already exist.
   * Note that any URLs that refer to the attachment will be broken after this move.

<hr />
---+ Delete file <code>%FILENAME%</code>
<form name="rename" action='%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%' name=main>
<input type="hidden" name="attachment" value="%FILENAME%" />
<input type="hidden" name="changeRefs" value="0" />
<input type="submit" value=" Delete " />
<input type="hidden" name="newtopic" value="WebHome" />
<input type="hidden" name="newweb" value="Trash" />
</form>

__Note:__

   * The deleted file will actually be moved to <b>Trash.%HOMETOPIC%</b>

%TMPL:DEF{"topicaction"}%
<a title='[Alt-Z] Cancels' accesskey=z href='%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>Cancel</a> %TMPL:END%
%TMPL:P{"standardfooter"}%
#PageBottom
</body>
</html>
