%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(more)%TMPL:END%
%TMPL:DEF{"webaction"}% *Topic actions* %TMPL:END%
%TMPL:DEF{"heading"}%More Actions on Topic %TOPIC%%TMPL:END%
%TMPL:DEF{"message"}%

   * *Rename, move or delete <nop>%TOPIC%:*
      * <a href="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Rename/move topic</a>,
        looking for references in __%WEB% web__ only.
      * *<a title='[Alt-M] Rename or Move' accesskey=m href="%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%WEB%/%TOPIC%">Rename/move topic</a>*,
        looking for references in __all public webs__. *(recommended)*
      * <form name="rename" action='%SCRIPTURLPATH%/rename%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%' name=main>
	<input type="submit" value=" Delete " /> topic (it will actually be moved to Trash.WebHome)
	<input type="hidden" name="newtopic" value='%INTURLENCODE{"%TOPIC%"}%' />
	<input type="hidden" name='newweb' value='Trash' />
	<input type="hidden" name='nonwikiword' value='on' />
	<input type="hidden" name="changeRefs" value="0" />
	</form>
   * *Back-links (Ref-by):*
      * <a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?scope=text&amp;regex=on&amp;search=%SPACEDTOPIC%%5B%5EA-Za-z%5D">Find topics</a>
        in __%WEB% web__ that link to <nop>%TOPIC%.
      * <a href="%SCRIPTURLPATH%/search%SCRIPTSUFFIX%/%WEB%/SearchResult?scope=text&amp;web=all;&amp;regex=on&amp;search=%SPACEDTOPIC%%5B%5EA-Za-z%5D">Find topics</a>
        in __all public webs__ that link to <nop>%TOPIC%.

   * *Child topics in <nop>%WEB% web:*
      * %METASEARCH{type="parent" web="%WEB%" topic="%TOPIC%" default="No child topics"}%

<form action='%SCRIPTURLPATH%/edit%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
   * *Set new topic parent:*
      * Step 1: Select topic parent: %BR%
        <select name="topicparent" size="10">
        <option value="none">none (remove topic parent)</option>
        %TOPICLIST{"<option value=$qname>$name</option>" separator=" "}%
        </select>
      * Step 2: Continue to <input type="submit" class="twikiSubmit" value="Edit"  accesskey=e title='[alt-E] Edit topic'/> and save <nop>%TOPIC% to activate the new parent
        <input type="hidden" name="t" value="%SERVERTIME{$hour$min$sec}%" />
</form>

<form action="%SCRIPTURLPATH%/edit%SCRIPTSUFFIX%/%WEB%">
   * *Copy this <nop>%TOPIC% topic to a new page:*
      * Type a new name
        <input type=text name=topic value=%TOPIC%>
        <input type=hidden name=templatetopic value=%TOPIC%>
        then
        <input type=submit value="Create"> and edit the new page
</form>

<form  action='%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
   * *View previous topic revision:*
      * Revision: <input type="text" name="rev" size="6" value="%PARAM2%" />
        in <label><input type="checkbox" name="raw"> raw text format</label>,
	and <label><input type="checkbox" name="raw" value="debug"> show metadata</label>
        <input type="submit" value="View revision" />        
      * Revisions: 1.1 ... %PARAM1%
</form>

<form action='%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
<table>
<tr><td>
   * *Compare revisions:*
</td><tr><td>
      * Older revision: 
</td><td>
<input type="text" name="rev2" size="6" value="1.1" />
</td></tr><tr><td>
      * Newer revision: 
</td><td>
<input type="text" name="rev1" size="6" value="%PARAM1%" />
<input type="submit" value="View difference" />
</td></tr>
</table>
</form> 
%META{"moved"}%
%TMPL:END%
%TMPL:DEF{"topicaction"}% <a title='[Alt-Z] Cancel' accesskey=z href='%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>Cancel</a> %TMPL:END%
%TMPL:P{"oops"}%

