%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title> %WIKITOOLNAME% . %WEB% . %TOPIC% %TMPL:P{"titleaction"}%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%">
 <meta name="robots" content="noindex">
  %HTTP_EQUIV_ON_PREVIEW%
 <base href='%SCRIPTURL%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
<script language="JavaScript">
<!--HIDE
function launchWindow( theWeb, theTopic ) {
  win = open("%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/" + theWeb + "/" + theTopic + "?skin=plain", theTopic, "titlebar=0,width=500,height=480,resizable,scrollbars");
  if( win ) {
    win.focus();
  }
  return false;
}
//STOP HIDING-->
</script>
 <link href='%PUBURL%/_ks/%WEBCSS%' rel="stylesheet" type="text/css" title="koalaskin" >%SITECSS%%CSS%
</head>
<body style='background-image: url(%PREVIEWBGIMAGE%)'>
#PageTop
%TMPL:DEF{"titleaction"}%(preview)%TMPL:END%
%TMPL:DEF{"heading"}%Preview Topic%TMPL:END%
%TMPL:DEF{"titlehelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}%Preview. Go back or%TMPL:END%
%TMPL:P{"simpleheader"}%
<br />
<span class=text>%FORM_TL%%FORM_TO%%FORM_TR%%TEXT%%FORM_LM%%FORM_BL%%FORM_BR%</span>
%META{"attachments"}%
<br clear="all" />
%TMPL:DEF{"topicaction"}% <form action='%SCRIPTURLPATH%/save%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%' method="post" name=main>
<input type="hidden" name="originalrev" value="%URLPARAM{"originalrev"}%" />
<input type="hidden" name="redirectto" value="%REDIRECTTO%" />
<input type="hidden" name="text" value="%HIDDENTEXT%"/>
<input type="hidden" name="templatetopic" value="%URLPARAM{"templatetopic"}%" />
<input type="hidden" name="cmd" value="%CMD%" />
<input type="hidden" name="rev" value="%URLPARAM{"rev"}%" />
<input type="hidden" name="formtemplate" value="%FORMTEMPLATE%" />
<input type="hidden" name="topicparent" value="%TOPICPARENT%" />
<input type="hidden" name="unlock" value="on" />
<input type=submit name=action value=Save accesskey=s id=save title='[Alt-S] Save topic and return to normal view' />
<input type=submit name=action value=QuietSave accesskey=q id=quietsave title='[Alt-Q] Save but will not trigger email notification to people monitoring the page'  />
<input type=submit name=action value=Checkpoint accesskey=c id=checkpoint title='[Alt-C] Save, and re-edit immediately' />
<input type=button name=backbutton value="  Back  " accesskey=p id=preview onClick="history.go(-1)" title='[Alt-P] Exit preview and go back to edit mode' />
<input type=submit name=action value=Cancel accesskey=z id=cancel title='[Alt-Z] Discard changes and return to view mode, release lock' />%FORMFIELDS%</form>%TMPL:END%
%TMPL:DEF{"headerhelp"}%<ul>
<li><b>Save</b> Save topic and return to normal view
<li><b>QuietSave</b> Save but will not trigger email notification to people
monitoring the page (checks the "Minor changes" checkbox)
<li><b>Checkpoint</b> Save without notification, and re-edit immediately
<li><b>Back</b> Return to edit mode, keep your changes but do not save them
yet. Equivalent to your browser back button
<li><b>Cancel</b> Discard changes and return to view mode, release lock
<li><b>use BACK in your browser</b> to go back to edition mode</ul>%TMPL:END%
%TMPL:P{"editfooter"}%
#PageBottom
</body>
</html>

