%TMPL:INCLUDE{"twiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title>%WIKITOOLNAME% . %WEB% . %TOPIC% (%REVTITLE2% vs. %REVTITLE1%)</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%">
 <meta name="robots" content="noindex"> 
 %HTTP_EQUIV_ON_VIEW%
 <base href='%SCRIPTURL%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
 <link href='%PUBURL%/_ks/%WEBCSS%' rel="stylesheet" type="text/css" title="koalaskin" >%SITECSS%%CSS%
</head>
<body>
#PageTop
%TMPL:DEF{"titleaction"}% %WEB%.%TOPIC% (%REVTITLE2% vs. %REVTITLE1%)%TMPL:END%
%TMPL:DEF{"heading"}%Revision Diffs:%TMPL:END%
%TMPL:DEF{"webaction"}%Revisions%TMPL:END%
%TMPL:DEF{"topicaction"}% <a title='[Alt-Z] Cancels, returns to normal view' href='%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%' accesskey=z>Normal View</a> 
| <a title='See the history of changes made to this page' href="%SCRIPTURLPATH%/rdiff%SCRIPTSUFFIX%/%WEB%/%TOPIC%" accesskey=d>See diffs</a> %REVISIONS%
| <a href="%SCRIPTURLPATH%/oops%SCRIPTSUFFIX%/%WEB%/%TOPIC%?template=oopsmore&param1=%MAXREV%&param2=%CURRREV%" accessskey=m>More</a> %TMPL:END%
%TMPL:P{"standardheader"}%
%REPEAT%<table class='twikiDiff' width='100%'>
<tr class='twikiDiffRev'><th>%TOPIC%: Changes made in Revision <b><a	href='%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?%INTURLENCODE{"rev=%REVTITLE1%"}%'>%REVTITLE1%</a></b> - %REVINFO1%<tr class='twikiDiffBody'><td><span class=text>%TEXT%</span></table>%REPEAT%
</div></div><!-- eoc -->
%TMPL:P{"standardheaderend"}%
%TMPL:P{"standardfooter"}%
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
  <td valign="top">
    Revision %REVTITLE2% - %REVINFO2%<br />
    Revision %REVTITLE1% - %REVINFO1%
  </td>
  <td width="40%" valign="top">
   %WEBCOPYRIGHT%
  </td>
 </tr>
</table>
#PageBottom
</body>
</html>
