%TMPL:INCLUDE{"foswiki"}%
%TMPL:P{"htmldoctype"}%
<head>
 <title>%WIKITOOLNAME% . %WEB% (search result)</title>
 <meta http-equiv="Content-Type" content="text/html; charset=%CHARSET%">
 <meta name="robots" content="noindex"> 
 %HTTP_EQUIV_ON_VIEW%
 <base href='%SCRIPTURL%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/%TOPIC%"}%'>
 <link href='%PUBURL%/_ks/%WEBCSS%' rel="stylesheet" type="text/css" title="koalaskin" >%SITECSS%%CSS%
</head>
<body>
#PageTop
<form action='%SCRIPTURLPATH%/%VIEW%%SCRIPTSUFFIX%/%INTURLENCODE{"%WEB%/"}%' name=main>
%TMPL:DEF{"titleaction"}% [[%WEB%.%HOMETOPIC%][%WEB%]] %TMPL:END%
%TMPL:DEF{"heading"}%Search in: %TMPL:END%
%TMPL:DEF{"webaction"}% Go To %TMPL:END%
%TMPL:DEF{"topicaction"}% [[%WEB%.%HOMETOPIC%][%WEB% Home]] %TMPL:END%
%TMPL:P{"standardheader"}%
</form>
%SPLIT%Search: <strong> %SEARCHSTRING% </strong><p />
%SPLIT%%REPEAT%%REPEAT%%SPLIT%
Number of topics: <strong>%NTOPICS%</strong><p /> %SPLIT%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:P{"standardfooter"}%
<table width="100%" border="0" cellpadding="3" cellspacing="0">
 <tr>
  <td valign="top">
   &nbsp;
  </td>
  <td width="50%" valign="top">
   %WEBCOPYRIGHT%
  </td>
 </tr>
</table>
#PageBottom
</body>
</html>
