%TMPL:INCLUDE{"foswiki"}%
%TMPL:P{"htmldoctype"}%
<head>
<!-- WARNING: modify dist-view.koalaprint.tmpl, not view.koalaprint.tmpl -->
 <title> %WIKITOOLNAME% . %WEB% . %TOPIC%</title>
 <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" /> <meta name="robots" content="noindex" /> %HTTP_EQUIV_ON_VIEW%
 <base href="%SCRIPTURL%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%" />
 <style type="text/css">
@import url(%PUBURLPATH%/_ks/fonts.css);
/* tables */
table.topic {border-collapse:collapse;border: 1px solid black;border-spacing: 0px}
table.topic tr th {text-align:left;font-weight: bold; padding: 2px;}
table.topic tr td {padding: 2px;}
table.topic tr td ul {padding-left:0em; margin-left:1.5em;}

/* contents */
blockquote {border: thin solid black; padding: 1%; margin: 2%;} 
dt { font-weight: bold;float: left;display:inline;margin-right: 1em}
dd { display:block; margin-left: 2em}
dl.block dt {float: none;display:block;margin-right: 0em}
dl.signature dd {margin-left: 30em}

%PRINTCSS%
 </style>
</head>
<body bgcolor='#ffffff'>
<noautolink>
#PageTop
<table width="100%" border="2" cellpadding="3" cellspacing="0">
  <tr>
    <td>
      <b><font size='+1'>%WIKITOOLNAME% . <font>%WEB%</font> .</font> </b><font size="+2"><b>%TOPIC%</b></font>
    </td>
  </tr>
</table>
<p />
%FORM_TL%%FORM_TO%%FORM_TR%%TEXT%%FORM_BL%%FORM_BR%
%META{"attachments"}%
<p />
<hr>
<table width="100%" border="0" cellpadding="3" cellspacing="0">
  <tr>
    <td valign="top">
      =-----= Revision %REVINFO%
    </td>
  </tr>
</table>
%WEBCOPYRIGHT%
#PageBottom
</noautolink>
</body>
</html>
