%TMPL:INCLUDE{"twiki"}%

%TMPL:DEF{"windowtitle"}%<title><nop>%WIKITOOLNAME% User Authentication</title>%TMPL:END%
%TMPL:DEF{"webaction"}% TWiki User Authentication %TMPL:END%
%TMPL:DEF{"topicaction"}% %TMPL:END%
%TMPL:DEF{"LOG_IN_BANNER"}%Please enter your username and password%TMPL:END%
%TMPL:DEF{"LOGGED_IN_BANNER"}% %MAINWEB%.%WIKINAME% is currently logged in%TMPL:END%
%TMPL:DEF{"NEW_USER_NOTE"}%Enter a new username and password to change identity%TMPL:END%
%TMPL:DEF{"UNRECOGNISED_USER"}%Unrecognised user and/or password.%TMPL:END%

%TMPL:DEF{"content"}%
%TMPL:P{"simpleheader"}%
<div class=twikiTopic>
---+ %BANNER%
%NOTE%
%AUTHREALM%
<form action='%SCRIPTURLPATH{"login"}%/%WEB%/%TOPIC%' method='post'>
<table border='0'>
<tr><th>Username</th><td>
<input type='text' size='30' name='username' value='%URLPARAM{"username"}%' />
</td></tr><tr><th>Password</th><td>
<input type='password' size='30' name='password' value='' />
</td></tr></table>
<input type='hidden' name='origurl' value='%ORIGURL%' />
<input type='submit' value='Logon' />
</form>
<p />
</div>%TMPL:END%

%TMPL:P{"htmldoctype"}%
%TMPL:P{"head"}%
%TMPL:P{"bodystart"}%
%TMPL:P{"main"}%
%TMPL:P{"bodyend"}%
