%TMPL:INCLUDE{"view"}%

%TMPL:DEF{"titleaction"}%(search result) %TMPL:END%
%TMPL:DEF{"webaction"}%<noautolink>
%INCLUDE{"%IF{"defined QUICKMENUBAR and $ QUICKMENUBAR" then="%QUICKMENUBAR%" else="%TWIKIWEB%.QuickMenuBar"}%" raw="on" warn="off"}%
</noautolink>%TMPL:END%

%TMPL:DEF{"topicaction"}% %TMPL:END%

%TMPL:DEF{"footernote"}% %TMPL:END%

%TMPL:DEF{"searchbody"}%%SPLIT%%TMPL:P{"repeatedsearchblock"}%
</table>%SPLIT%Number of topics: <b>%NTOPICS%</b>%TMPL:END%

%TMPL:DEF{"repeatedsearchblock"}%
%TABLE%
<table class=SearchResults width=100% cellspacing=0 cellpadding=2>
<tr><th align=left>Results from <nop>%WEB% web<th colspan=2 align=right>%MAKETEXT{"retrieved at [_1]" args="%DISPLAYTIME{"$hour:$min ($tz)"}%"}%</tr>
%REPEAT%
<tr><td><a href="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPICNAME%"><b>%TOPICNAME%</b></a><td><a href="%SCRIPTURLPATH{"rdiff"}%/%WEB%/%TOPICNAME%" rel='nofollow'>%TIME%</a> <span class=twikiGrayText>- %REVISION%</span><td align=right> %AUTHOR%</tr>
<tr><td colspan=3 class=twikiSummary>%TEXTHEAD%</tr>%REPEAT%%TMPL:END%

%TMPL:DEF{"content"}%
<div class=twikiTopic>
%SPLIT%Search: <b> %SEARCHSTRING% </b>
<p />%TMPL:P{"searchbody"}%
<p />%SPLIT%
%TMPL:P{"topicinfo"}%</div>%TMPL:END%

%TMPL:DEF{"main"}%
<form name="main" action="%SCRIPTURLPATH{"view"}%/%WEB%/%TOPIC%">
%TMPL:P{"standardheader"}%
</form>
%TMPL:P{"content"}%%TMPL:END%
