%{## Template used for the comment popup by SkillsPlugin }%
%TMPL:INCLUDE{"oopsgeneric"}%

%TMPL:DEF{"titleaction"}% Skills Comment | %TMPL:END%

%TMPL:DEF{"webaction"}%%TMPL:END%

%TMPL:DEF{"topicaction"}% <a href="javascript:window.close();">Close</a> %TMPL:END%
