%TMPL:INCLUDE{"view"}%
%TMPL:DEF{"topicpathseparator"}%<span class='twikiSeparator'>&nbsp;&#187;</span> %TMPL:END%
%TMPL:DEF{"breadcrumb"}%<span class="patternHomePathTitle">%MAKETEXT{"You are here:"}%</span> %BREADCRUMBS{separator="%TMPL:P{"topicpathseparator"}%"}%%TMPL:END%
