<div id="componenteditplugindiv" style="display:none;">
<form name="componenteditpluginform"  method="post">
    COMPONENTEDITPLUGINCUSTOM
    <textarea id="componentedittextarea" name="componentedit" rows="10" cols="100" style='%EDITBOXSTYLE%'>COMPONENTEDITPLUGINTML</textarea>
    <input type="button" onclick="TWiki.ComponentEditPlugin.saveClick(event)" class="twikiSubmit" name="action_save" id="save" value='Save' />
    <input type="button" onclick="TWiki.ComponentEditPlugin.popupEdit(event, null);" class="twikiSubmit" name="action_cancel" id="cancel" value='Cancel' />
</form>
</div>
