<table width='100%' border='0' cellspacing='0' cellpadding='0'><tr bgcolor='%WEBBGCOLOR%'><td width='60%'><h3>$outnum  &nbsp; &nbsp; [[$topic][$spacetopic]]  &nbsp;</h3></td></tr><tr bgcolor='%WEBBGCOLOR%'><td>$date &nbsp;    $author</td></tr></table><p />$text<p />&nbsp;<p /><hr />
