%TMPL:INCLUDE{"twiki"}%
%TMPL:DEF{"titleaction"}%(oops) %TMPL:END%
%TMPL:DEF{"webaction"}% *Attention* %TMPL:END%
%TMPL:DEF{"heading"}%Error%TMPL:END%
%TMPL:DEF{"message"}%
%PARAM1%
%TMPL:END%
%TMPL:DEF{"topicaction"}%
  %PARAM2% %TMPL:END%
%TMPL:P{"oops"}%
