%TMPL:INCLUDE{view}%

%TMPL:DEF{"printable"}%<span>
<a href='%SCRIPTURLPATH{"genpdf"}%/%WEB%/%TOPIC%?skin=%TMPL:P{printskin}%;pdftoclevels=0%QUERYPARAMSTRING%%REVARG%' rel='nofollow' %MAKETEXT{"title='Generate PDF version of this topic' accesskey='p'>Generate &PDF"}%</a>
</span>%TMPL:END%
