%TMPL:INCLUDE{"body"}%<!-- template: body.alias.tmpl -->
%TMPL:DEF{"content_container"}%<div class="natMainContents" id="natMainContents">%STARTALIASAREA%%TMPL:P{"content"}%%STOPALIASAREA%</div>%TMPL:END%
