<TABLE width="100%" border="0" cellpadding="0" cellspacing="4">
<TR BGCOLOR="%PRTITLECOLOR%">
  <TD width="96%">
    <B>
    %PRREVIEWER% 
    reviewed %PRTOPICREV% on %PRDATETIME% GMT ...</B>
  </TD>
</TR>
</TABLE>
<TABLE width="100%" border="0" cellspacing="0" cellpadding="15">
<TR>
   <TD width="20%">
    <TABLE cellSpacing="0" cellPadding="0" border="0">
    <TR vAlign=baseline>
      <TD>&nbsp;</TD>
      <TD><FONT face=arial,helvetica color=#666666 size=-2>&nbsp;1&nbsp;</FONT></TD>
      <TD><FONT face=arial,helvetica color=#666666 size=-2>&nbsp;2&nbsp;</FONT></TD>
      <TD><FONT face=arial,helvetica color=#666666 size=-2>&nbsp;3&nbsp;</FONT></TD>
      <TD><FONT face=arial,helvetica color=#666666 size=-2>&nbsp;4&nbsp;</FONT></TD>
      <TD><FONT face=arial,helvetica color=#666666 size=-2>&nbsp;5&nbsp;</FONT></TD></TR>
    <TR>
      <TD align=right><FONT face=arial,helvetica,sans-serif size=-1><B>Quality</B></FONT>&nbsp;&nbsp;</TD>
      <TD colSpan=5><IMG src="%PEERPLUGIN_LISTICONPREFIX%%PRQUALITY%.gif" height="%PEERPLUGIN_LISTICONHEIGHT%" width="%PEERPLUGIN_LISTICONWIDTH%"></TD></TR>
    <TR>
      <TD align=right><FONT face=arial,helvetica,sans-serif size=-1><B>Relevance</B></FONT>&nbsp;&nbsp;</TD>
      <TD colSpan=5><IMG src="%PEERPLUGIN_LISTICONPREFIX%%PRRELEVANCE%.gif" height="%PEERPLUGIN_LISTICONHEIGHT%" width="%PEERPLUGIN_LISTICONWIDTH%"></TD></TR>
    <!-- add new rating category here
    <TR>
      <TD align=right><FONT face=arial,helvetica,sans-serif size=-1><B>Completeness</B></FONT>&nbsp;&nbsp;</TD>
      <TD colSpan=5><IMG src="%PEERPLUGIN_LISTICONPREFIX%%PRCOMPLETENESS%.gif" height="%PEERPLUGIN_LISTICONHEIGHT%" width="%PEERPLUGIN_LISTICONWIDTH%"></TD>
    -->
    </TR></TABLE></TD>
  <TD>
    <FONT color="%PRTEXTCOLOR%"><B>
    %PRCOMMENT%
    </B></FONT>
  </TD>
</TR>
</TABLE>
<BR clear=all>
<P>

