/* 
Basic layout derived from http://www.positioniseverything.net/articles/pie-maker/pagemaker_form.php.
I've changed many so things that I won't put a full copyright notice. However all hacks (and comments!) are far beyond my knowledge and this deserves full credits:

Original copyright notice:
Parts of these notes are
(c) Big John @ www.positioniseverything.net and (c) Paul O'Brien @ www.pmob.co.uk, all of whom contributed significantly to the design of
the css and html code.

Reworked for TWiki: (c) Arthur Clemens @ visiblearea.com
*/

REMOVEDhtml, REMOVEDbody {
	margin:0; /*** Do NOT set anything other than a left margin for the page
as this will break the design ***/
	padding:0;
	border:0;
/* \*/
	height:100%;
/* Last height declaration hidden from Mac IE 5.x */
}
REMOVEDbody {
	background:#fff;
	min-width:100%; /*** This is needed for moz. Otherwise, the header and patternBottomBar will
slide off the left side of the page if the screen width is narrower than the design.
Not seen by IE. Left Col + Right Col + Center Col + Both Inner Borders + Both Outer Borders ***/
	text-align:center; /*** IE/Win (not IE/MAC) alignment of page ***/
}
REMOVED.clear {
	clear:both;
	/*** these next attributes are designed to keep the div
	height to 0 pixels high, critical for Safari and Netscape 7 ***/
	height:0px;
	overflow:hidden;
	line-height:1%;
	font-size:0px;
}

#patternWrapper {
	height:100%; /*** moz uses this to make full height design. As this #patternWrapper is inside the #patternPage which is 100% height, moz will not inherit heights further into the design inside this container, which you should be able to do with use of the min-height style. Instead, Mozilla ignores the height:100% or min-height:100% from this point inwards to the center of the design - a nasty bug.
If you change this to height:100% moz won't expand the design if content grows.
Aaaghhh. I pulled my hair out over this for days. ***/
/* \*/
	height:100%;
/* Last height declaration hidden from Mac IE 5.x */
/*** Fixes height for non moz browsers, to full height ***/
}
#patternWrapp\65	r{ /*** for Opera and Moz (and some others will see it, but NOT Safari) ***/
	height:auto; /*** For moz to stop it fixing height to 100% ***/
}
/* \*/
* html #patternWrapper{
	height:100%;
}

#patternPage {
	margin-left:auto; /*** Mozilla/Opera/Mac IE 5.x alignment of page ***/
	margin-right:auto; /*** Mozilla/Opera/Mac IE 5.x alignment of page ***/
	text-align:left; /*** IE Win re-alignment of page if page is centered ***/
	position:relative;
	width:100%; /*** Needed for Moz/Opera to keep page from sliding to left side of
page when it calculates auto margins above. Can't use min-width. Note that putting
width in #patternPage shows it to IE and causes problems, so IE needs a hack
to remove this width. Left Col + Right Col + Center Col + Both Inner Border + Both Outer Borders ***/
/* \*/

/* Last height declaration hidden from Mac IE 5.x */
/*** Needed for Moz to give full height design if page content is
too small to fill the page ***/
}
/* Last style with height declaration hidden from Mac IE 5.x */
/*** Fixes height for IE, back to full height,
from esc tab hack moz min-height solution ***/
#patternOuter {
	z-index:1; /*** Critical value for Moz/Opera Background Column colors fudge to work ***/
	position:relative; /*** IE needs this or the contents won't show outside the parent container. ***/

	height:100%;
/* Last height declaration hidden from Mac IE 5.x */
/*** Needed for full height inner borders in Win IE ***/
}

#patternFloatWrap {
	width:100%;
	float:left;
	display:inline;
}

#patternLeftBar {
	/* Left bar width is defined in viewleftbar.pattern.tmpl */
	float:left;
	display:inline;
	overflow:hidden;
}
#patternLeftBarContents {
	position:relative;
	/* for margins and paddings use style.css */
}
#patternMain {
	width:100%;
	float:right;
	display:inline;
}
#patternTopBar {
	/* Top bar height is defined in viewtopbar.pattern.tmpl */
	z-index:1; /*** Critical value for Moz/Opera Background Column colors fudge to work ***/
	position:absolute;
	top:0px;
	width:100%;
}
#patternBottomBar {
	z-index:1; /* Critical value for Moz/Opera Background Column colors fudge to work */
	clear:both;
	width:100%;
}



/* PatternSkin colors */
/* Generated by AttachContentPlugin from TWiki.PatternSkin */

/* LAYOUT ELEMENTS */

#patternTopBar {
   border-color:#e2e2e2;
   background-color:#fefcf7;
}
#patternMain { /* don't set a background here; use patternOuter */ }
#patternOuter {
   background-color:#fff; /* Sets background of center col */
   border-color:#dadada;
}
#patternLeftBar,
#patternWrapper {
   background-color:#f6f6f6;
}
#patternBottomBar {
   border-color:#e2e2e2;
}
#patternBottomBarContents,
#patternBottomBarContents a:link,
#patternBottomBarContents a:visited {
   color:#777;
}
#patternBottomBarContents a:hover {
   color:#fff;
}

/* GENERAL HTML ELEMENTS */

html body {
   REMOVEDbackground-color:#fff;
   REMOVEDcolor:#000;
}
/* be kind to netscape 4 that doesn't understand inheritance */
body, p, li, ul, ol, dl, dt, dd, acronym, h1, h2, h3, h4, h5, h6 {
   background-color:transparent;
}
hr {
   color:#e2e2e2;
   background-color:#e2e2e2;
}
pre, code, tt {
   color:#7A4707;
}
blockquote {
   background-color:#fbfbfb;
   border-color:#fbfbfb #fbfbfb #fbfbfb #ddd;
}
blockquote h2 {
   background:none;
}
h1, h2, h3, h4, h5, h6 {
   REMOVEDcolor:#630000;
}
h2 {
   REMOVEDbackground-color:#f6f6f6;
   REMOVEDborder-color:#e2e2e2;
}
h3, h4, h5, h6 {
   REMOVEDborder-color:#e2e2e2;
}
/* to override old Render.pm coded font color style */
.twikiNewLink font {
   color:inherit;
}
.twikiNewLink a:link sup,
.twikiNewLink a:visited sup {
   color:#777;
   border-color:#ddd;
}
.twikiNewLink a:hover sup {
   background-color:#ce000f;
   color:#fff;
   border-color:#ce000f;
}
.twikiNewLink {
   border-color:#ddd;
}
:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
   color:#4571d0;
   background-color:transparent;
}
:link:hover,
:visited:hover {
   color:#fff;
   background-color:#ce000f;
   background-image:none;
}
:link:hover img,
:visited:hover img {
   background-color:transparent;
}
.patternTopic a:visited {
   color:#666;
}
.patternTopic a:hover {
   color:#fff;
}
#patternMainContents h1 a:link, #patternMainContents h1 a:visited,
#patternMainContents h2 a:link, #patternMainContents h2 a:visited,
#patternMainContents h3 a:link, #patternMainContents h3 a:visited,
#patternMainContents h4 a:link, #patternMainContents h4 a:visited,
#patternMainContents h5 a:link, #patternMainContents h5 a:visited,
#patternMainContents h6 a:link, #patternMainContents h6 a:visited {
   color:#630000;
}
#patternMainContents h1 a:hover,
#patternMainContents h2 a:hover,
#patternMainContents h3 a:hover,
#patternMainContents h4 a:hover,
#patternMainContents h5 a:hover,
#patternMainContents h6 a:hover {
   color:#fff;
}
.patternTopic .twikiUnvisited a:visited {
   color:#4571d0;
}
.patternTopic .twikiUnvisited a:hover {
   color:#fff;
}

/* Form elements */

textarea,
input,
select {
   border-color:#aaa;
   color:#000;
   background-color:#fff;
}
.twikiSubmit,
.twikiButton {
   border-color:#fff #888 #888 #fff;
}
.twikiSubmit {
   color:#fff;
   background-color:#06c;
}
.twikiButton {
   color:#000;
   background-color:#e2e3e3;
}
.twikiButtonCancel {
   color:#000;
   background-color:#f2d5d0;
}
.twikiSubmitDisabled,
.twikiSubmitDisabled:active {
   border-color:#fff #ccc #ccc #fff;
   color:#aaa;
   background-color:#fbfbfb;
}
.twikiTextarea,
.twikiInputField,
.twikiInputFieldDisabled,
.twikiInputFieldReadOnly,
.twikiSelect {
   border-color:#bbb #f2f2f2 #f2f2f2 #bbb;
}
.twikiTextarea,
.twikiInputField,
.twikiSelect {
   color:#000;
   background-color:#fff;
}
.twikiInputField:active,
.twikiInputField:focus,
.twikiInputFieldFocus {
   background-color:#ffffe0;
}

.twikiTextareaRawView {
   color:#000;
}
.twikiInputFieldDisabled {
   color:#aaa;
   background-color:#fafaf8;
}
.twikiInputFieldReadOnly {
   color:#777;
}
.twikiSelect {
   border-color:#bbb #f2f2f2 #f2f2f2 #bbb;
   color:#000;
   background-color:#fff;
}
.twikiInputFieldDisabled,
.twikiSelectDisabled {
   color:#aaa;
   border-color:#bbb #f2f2f2 #f2f2f2 #bbb;
   background-color:#fafaf8;
}
.twikiInputFieldBeforeFocus {
   color:#777;
}

/*   -----------------------------------------------------------
   Plugin elements
   -----------------------------------------------------------   */

/* TablePlugin */
.twikiTable,
.twikiTable td,
.twikiTable th {
   border-color:#e2e2e2;
}
.twikiTable th a:link,
.twikiTable th a:visited,
.twikiTable th a font {
   color:#fff;
}

/* TwistyContrib */
.twistyPlaceholder {
   color:#777;
}
a:hover.twistyTrigger {
   color:#fff;
}

/* TipsContrib */
.tipsOfTheDay {
}

/* RevCommentPlugin */
.revComment .patternTopicAction {
   background-color:#f6f6f6;
}

/*   -----------------------------------------------------------
   TWiki styles
   -----------------------------------------------------------   */

.twikiGrayText {
   color:#777;
}
.twikiGrayText a:link,
.twikiGrayText a:visited {
   color:#777;
}
.twikiGrayText a:hover {
   color:#fff;
}

table.twikiFormTable th.twikiFormTableHRow,
table.twikiFormTable td.twikiFormTableRow {
   color:#777;
}
.twikiEditForm {
   color:#000;
}
.twikiEditForm .twikiFormTable,
.twikiEditForm .twikiFormTable th,
.twikiEditForm .twikiFormTable td {
   border-color:#e2e2e2;
}
/* use a different table background color mix: no odd/even rows, no white background */
.twikiEditForm .twikiFormTable td  {
   background-color:#f7fafc;
}
.twikiEditForm .twikiFormTable th {
   background-color:#f0f6fb;
}
.patternContent .twikiAttachments,
.patternContent .twikiForm {
   background-color:#f6f6f6;
   border-color:#e2e2e2;
}
.twikiAttachments table,
table.twikiFormTable {
   border-color:#e2e2e2;
   background-color:#fff;
}
.twikiAttachments table {
   background-color:#fff;
}
.twikiAttachments td, 
.twikiAttachments th {
   border-color:#e2e2e2;
}
.twikiAttachments .twikiTable th font,
table.twikiFormTable th.twikiFormTableHRow font {
   color:#4571d0;
}

.twikiFormSteps {
   background-color:#fbfbfb;
   border-color:#e2e2e2;
}
.twikiFormStep {
   border-color:#e2e2e2;
}
.twikiFormStep h3,
.twikiFormStep h4 {
   color:#036;
}
.twikiFormStep h3,
.twikiFormStep h4 {
   background-color:transparent;
}
.twikiActionFormStepSign {
   color:#036;
}
.twikiToc .twikiTocTitle {
   color:#777;
}
.twikiBroadcastMessage {
   background-color:#ffe67b;
}
.twikiNotification {
   background-color:#ffe67b;
}
#twikiLogin .patternLoginNotification {
   background-color:#fff;
   border-color:#f00;
}
.twikiHelp {
   background-color:#ffe67b;
}
.twikiHelp {
   background-color:#f6f6f6;
   border-color:#e2e2e2;
}
.twikiBroadcastMessage b,
.twikiBroadcastMessage strong {
   color:#f00;
}
.twikiAlert,
.twikiAlert code {
   color:#f00;
}
.twikiEmulatedLink {
   color:#4571d0;
}
.twikiPageForm table {
   border-color:#e2e2e2;
   background:#fff;
}
.twikiPageForm hr {
   border-color:#dadada;
   background-color:#dadada;
   color:#dadada;
}
.twikiAccessKey {
   color:inherit;
   border-color:#777;
}
a:link .twikiAccessKey,
a:visited .twikiAccessKey {
   color:inherit;
}
a:hover .twikiAccessKey {
   color:inherit;
}
.twikiImage img {
   border-color:#eee;
   background-color:#fff;
}
#patternTopBar .twikiImage img {
   background-color:transparent;
}
.twikiImage a:hover img {
   border-color:#ce000f;
}

/*   -----------------------------------------------------------
   Pattern skin specific elements
   -----------------------------------------------------------   */
#patternPage {
   background-color:#fff;
}
.patternHomePath a:link,
.patternHomePath a:visited {
   border-color:#ddd;
   color:#666;
}
.patternTop a:hover {
   border:none;
   color:#fff;
}
.patternHomePath .patternRevInfo,
.patternHomePath .patternRevInfo a:link,
.patternHomePath .patternRevInfo a:visited {
   color:#777;
}
.patternHomePath .patternRevInfo a:hover {
   color:#fff;
}

/* Left bar */
#patternLeftBarContents {
   color:#000;
}
#patternLeftBarContents hr {
   color:#e2e2e2;
   background-color:#e2e2e2;
}
#patternLeftBarContents a:link,
#patternLeftBarContents a:visited {
   color:#444;
}
#patternLeftBarContents a:hover {
   color:#fff;
}
#patternLeftBarContents .patternLeftBarPersonal,
#patternLeftBarContents .patternWebIndicator {
	border-color:#dadada;
}
#patternLeftBarContents b,
#patternLeftBarContents strong {
	color:#630000;
}

.patternTopicActions {
   border-color:#e2e2e2;
   background-color:#f6f6f6;
   color:#777;
}
.patternTopicAction {
   border-color:#e2e2e2;
}
.patternTopicAction s,
.patternTopicAction strike {
   color:#aaa;
}
.patternTopicAction .twikiSeparator {
   color:#e2e2e2;
}
.patternActionButtons a:link,
.patternActionButtons a:visited {
   color:#be000a;
}
.patternActionButtons a:hover {
   color:#fff;
}
.patternTopicAction .twikiAccessKey {
   color:#be000a;
   border-color:#be000a;
}
.patternTopicAction a:hover .twikiAccessKey {
   color:#fff;
}
.patternTopicAction label {
   color:#000;
}
.patternHelpCol {
   color:#777;
}
.patternSigLine {
   color:#777;
}

.patternToolBar a:link .twikiAccessKey,
.patternToolBar a:visited .twikiAccessKey {
   color:inherit;
   border-color:#666;
}
.patternToolBar a:hover .twikiAccessKey {
   background-color:transparent;
   color:inherit;
   border-color:#666;
}
.patternSaveHelp {
   background-color:#fff;
}

/* WebSearch, WebSearchAdvanced */
table#twikiSearchTable {
   border-color:#e2e2e2;
}
table#twikiSearchTable th,
table#twikiSearchTable td {
   background-color:#fff;
   border-color:#e2e2e2;
}
table#twikiSearchTable hr {
   border-color:#e2e2e2;
   background-color:#e2e2e2;
}
table#twikiSearchTable th {
   color:#000;
}

/*   -----------------------------------------------------------
   Search results
   styles and overridden styles used in search.pattern.tmpl
   -----------------------------------------------------------   */

h3.patternSearchResultsHeader,
h4.patternSearchResultsHeader {
   background-color:#f6f6f6;
   border-color:#e2e2e2;
}
h4.patternSearchResultsHeader {
   color:#000;
}
.patternNoViewPage h4.patternSearchResultsHeader {
   color:#630000;
}
.patternSearchResult .twikiBottomRow {
   border-color:#e2e2e2;
}
.patternSearchResult .twikiAlert {
   color:#f00;
}
.patternSearchResult .twikiSummary .twikiAlert {
   color:#900;
}
.patternSearchResult .twikiNew {
   background-color:#ECFADC;
   border-color:#049804;
   color:#049804;
}
.patternViewPage .patternSearchResultsBegin {
   border-color:#e2e2e2;
}

/* Search results in book view format */

.patternBookView .twikiTopRow {
   background-color:transparent; /* set to WEBBGCOLOR in css.pattern.tmpl */
   color:#777;
}
.patternBookView .twikiBottomRow {
   border-color:#e2e2e2;
}
.patternBookView .patternSearchResultCount {
   color:#777;
}

/* edit.pattern.tmpl */

/* preview.pattern.tmpl */

.twikiPreviewArea {
   border-color:#f00;
   background-color:#fff;
}

/* rdiff.pattern.tmpl */

.patternDiff {
   border-color:#6b7f93;
}
#patternMainContents .patternDiff h4.patternSearchResultsHeader {
   background-color:#6b7f93;
   color:#fff;
}
#patternMainContents .patternDiff h4.patternSearchResultsHeader a:link,
#patternMainContents .patternDiff h4.patternSearchResultsHeader a:visited {
   color:#fff;
}
tr.twikiDiffDebug td {
   border-color:#e2e2e2;
}
.patternDiffPage .twikiDiffTable th {
   background-color:#ccc;
}
/* Changed */
.twikiDiffChangedHeader,
tr.twikiDiffDebug .twikiDiffChangedText,
tr.twikiDiffDebug .twikiDiffChangedText {
   background:#9f9; /* green - do not change */
}
/* Deleted */
.twikiDiffDeletedHeader,
tr.twikiDiffDebug .twikiDiffDeletedMarker,
tr.twikiDiffDebug .twikiDiffDeletedText {
   background-color:#f99; /* red - do not change */
}
/* Added */
.twikiDiffAddedHeader,
tr.twikiDiffDebug .twikiDiffAddedMarker,
tr.twikiDiffDebug .twikiDiffAddedText {
   background-color:#ccf; /* violet - do not change */
}
/* Unchanged */
tr.twikiDiffDebug .twikiDiffUnchangedText {
   color:#777;
}
.twikiDiffUnchangedTextContents { }
.twikiDiffLineNumberHeader {
   background-color:#ccc;
}


/* IMAGES */
/* image positions are set here as well as these are dependent on the image */

h2,
.patternTopicAction {
   background-image:url(bg_action_gradient.gif);
   background-repeat:repeat-x;
}
.twikiToc li {
   background-image:url(bullet-toc.gif);
   background-repeat:no-repeat;
   background-position:0 .4em;
}
#patternOuter,
#patternTopBar {
   /* gradient yellow of left bar and main */
   background-image:url(bg_outer_gradient.gif);
   background-repeat:repeat-x;
}
.patternPrintPage #patternOuter {
   background:#fff; /* white - do not change */
}
.twikiPageForm table,
table#twikiSearchTable td.twikiFirstRow {
   background-image:url(form_gradient.gif);
   background-repeat:repeat-x;
   background-color:#f5f5f5;
}
.twikiSubmit,
.twikiSubmitDisabled {
   background-image:url(bg_submit_gradient.gif);
   background-repeat:repeat-x;
}
.twikiSubmit,
a.twikiSubmit:link,
a.twikiSubmit:visited {
   background-position:0px 0px;
   background-color:#06c;
   border-color:#abcdf0 #0048b8 #0048b8 #abcdf0;
   color:#fff;
}
.twikiSubmit:hover,
a.twikiSubmit:hover {
   background-position:0px -80px;
   background-color:#0047b7;
   border-color:#98bce9 #0031a4 #0031a4 #98bce9;
   color:#fff;
}
.twikiSubmit:active,
a.twikiSubmit:active {
   background-position:0px -160px;
   background-color:#73ace6;
   border-color:#0031a4 #98bce9 #98bce9 #0031a4;
   color:#fff;
}
.twikiSubmitDisabled,
.twikiSubmitDisabled:hover,
.twikiSubmitDisabled:active {
   background-position:0px -240px;
   background-color:#d9e8f7;
   border-color:#f5f9fd #ccc #ccc #f5f9fd;
   color:#ccc;
}
.twikiButton,
a.twikiButton:link,
a.twikiButton:visited {
   background-image:url(bg_button_gradient.gif);
   background-repeat:repeat-x;
   background-position:0px 0px;
   border-color:#f8f6ec #b8b6ad #b8b6ad #f8f6ec;
   background-color:#dbd9cf;
   color:#333;
}
.twikiChangeFormButtonHolder .twikiButton {
   background-color:#fff;
   background-image:none;
   color:#06c;
}
.twikiChangeFormButtonHolder .twikiButton:hover,
.twikiChangeFormButtonHolder .twikiButton:active {
   background-image:url(bg_button_gradient.gif);
   background-repeat:repeat-x;
}
.twikiButton:hover,
.twikiChangeFormButtonHolder .twikiButton:hover,
a.twikiButton:hover {
   background-position:0px -80px;
   border-color:#f4f2eb #a3a092 #a3a092 #f4f2eb;
   background-color:#c2bfae;
   color:#222;
}
.twikiButton:active,
.twikiChangeFormButtonHolder .twikiButton:active,
a.twikiButton:active {
   background-position:0px -160px;
   border-color:#a3a092 #f4f2eb #f4f2eb #a3a092;
   background-color:#e8e5d7;
   color:#222;
}
.twikiButtonDisabled,
.twikiButtonDisabled:hover,
.twikiButtonDisabled:active {
   background-image:url(bg_button_gradient.gif);
   background-repeat:repeat-x;
   background-position:0px -240px;
   border-color:#fcfbf9 #e3e2dd #e3e2dd #fcfbf9;
   background-color:#edece6;
   color:#bbb;
}
.twikiButtonCancel {
   background-image:url(bg_buttoncancel_gradient.gif);
   background-repeat:repeat-x;
   background-position:0px 0px;
   border-color:#f3ddd7 #b5706a #b5706a #f3ddd7;
   background-color:#cc867f;
   color:#333;
}
.twikiButtonCancel:hover {
   background-position:0px -80px;
   border-color:#eacac1 #9f564f #9f564f #eacac1;
   background-color:#b26259;
   color:#222;
}
.twikiButtonCancel:active {
   background-position:0px -160px;
   border-color:#9f564f #eacac1 #eacac1 #9f564f;
   background-color:#e5bdb1;
   color:#222;
}
.patternToolBar span a:link,
.patternToolBar span a:visited,
.patternToolBar span s,
.patternToolBar span strike {
   background-image:url(bg_button_small_gradient.gif);
   background-repeat:repeat-x;
}
.patternToolBar span a:link,
.patternToolBar span a:visited {
   background-position:0px 0px;
   border-color:#f8f6ec #b8b6ad #b8b6ad #f8f6ec;
   background-color:#dbd9cf;
   color:#333;
}
.patternToolBar span a:hover {
   background-position:0px -80px;
   border-color:#f4f2eb #a3a092 #a3a092 #f4f2eb;
   background-color:#c2bfae;
   color:#222;
}
.patternToolBar span a:active {
   background-position:0px -160px;
   border-color:#a3a092 #f4f2eb #f4f2eb #a3a092;
   background-color:#e8e5d7;
   color:#222;
}
.patternToolBar span s,
.patternToolBar span strike {
   background-position:0px -240px;
   border-color:#fcfbf9 #e3e2dd #e3e2dd #fcfbf9;
   background-color:#edece6;
   color:#bbb;
}
.patternTextareaButton {
   border-color:#fffefd #b8b6ad #b8b6ad #fffefd;
   overflow:hidden;
}
.patternButtonFontSelector {
   background-image:url(button_font_selector.gif);
   width:33px;
   height:16px;
}
.patternButtonFontSelectorProportional {
   background-position:0 0;
}
.patternButtonFontSelectorMonospace {
   background-position:0 -16px;
}
.patternButtonEnlarge,
.patternButtonShrink {
   background-image:url(button_arrow.gif);
   width:16px;
   height:16px;
}
.patternButtonEnlarge {
   background-position:0 0;
}
.patternButtonEnlarge:hover {
   background-position:0 -42px;
}
.patternButtonEnlarge:active {
   background-position:0 -84px;
}
.patternButtonShrink {
   background-position:16px 0;
}
.patternButtonShrink:hover {
   background-position:16px -42px;
}
.patternButtonShrink:active {
   background-position:16px -84px;
}
.twikiBroadcastMessage,
.twikiNotification {
   background-image:url(background_alert.gif);
   background-repeat:repeat-x;
}

/* common settings */
.patternLeftBarPersonal li,
li.patternLogOut,
li.patternLogIn {
   padding-left:13px;
   background-position:0 .4em;
   background-repeat:no-repeat;
}
.patternLeftBarPersonal li {
   background-image:url(bullet-personal_sidebar.gif);
}
.patternLeftBarPersonal li.patternLogOut {
   background-image:url(bullet-lock.gif);
}
.patternLeftBarPersonal li.patternLogIn {
   background-image:url(bullet-lock.gif);
}


/*	-----------------------------------------------------------
	STYLE
	Appearance: margins, padding, fonts, borders
	-----------------------------------------------------------	*/
	

/*	----------------------------------------------------------------------------
	CONSTANTS
	
	Sizes
	----------------------------------------
	S1 line-height											1.5em
	S2 somewhat smaller font size							94%
	S3 small font size, twikiSmall							font-size:86%; line-height:110%;
	S4 horizontal bar padding (h2, patternTop)				5px
	S5 form and attachment padding							20px
	S6 left margin left bar									1em

	------------------------------------------------------------------------- */

/* GENERAL HTML ELEMENTS */

html body {
	font-size:104%; /* to change the site's font size, change #patternPage below */
	voice-family:"\"}\""; 
	voice-family:inherit;
	font-size:small;
}
html>body { /* Mozilla */
	font-size:small;	
}
p {
	margin:1em 0 0 0;
}
table {
}
th {
	line-height:1.15em;
}
label {
	padding:.15em .3em .15em 0; /* same vertical padding as twikiInputField */
}
strong, b {
	font-weight:bold;
}
hr {
	height:1px;
	border:none;
}
/* put overflow pre in a scroll area */
pre {
    width:100%;
    margin:1em 0; /* Win IE tries to make this bigger otherwise */
}
/* IE behavior for pre is defined in css.pattern.tmpl in conditional comment */
html>body pre { /* hide from IE */
	/*\*/ overflow:auto !important; /* */ overflow:scroll; width:auto; /* for Mac Safari */
}
ol, ul {
	margin-top:0;
}
ol li, ul li {}
blockquote {
	padding:.5em 1.25em;
	border-style:solid;
	border-width:1px 0 1px 3px;
}

/* Text */
h1 {
	padding:0.25em 0 0 0;
	margin:0 0 .5em 0;
}
h2, h3, h4, h5, h6 {
	padding:0;
	margin:1em 0 .1em 0;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	line-height:1em;
}
h1 { font-size:215%; }
h2 { font-size:153%; }
h3 { font-size:133%; font-weight:bold; }
h4 { font-size:122%; font-weight:bold; }
h5 { font-size:110%; font-weight:bold; }
h6 { font-size:95%; font-weight:bold; }
h2, h3, h4, h5, h6 {
	display:block;
	/* give header a background color for easy scanning:*/
	padding:.25em 10px;
	margin:1.25em -10px .35em -10px;
	REMOVEDborder-width:0 0 1px 0;
	REMOVEDborder-style:solid;
	height:auto;	
}

h1.patternTemplateTitle {
	font-size:180%;
	text-align:center;
}
h2.patternTemplateTitle {
	text-align:center;
	margin-top:.5em;
	background:none;
	border:none;
}
/* Links */
/* somehow the twikiNewLink style have to be before the general link styles */
.twikiNewLink {
	border-width:0 0 1px 0;
	border-style:solid;
}
.twikiNewLink a {
	text-decoration:none;
	margin-left:1px;
}
.twikiNewLink a sup {
	text-align:center;
	padding:0 2px;
	vertical-align:baseline;
	font-size:100%;
	text-decoration:none;
}
.twikiNewLink a:link sup,
.twikiNewLink a:visited sup {
	border-width:1px;
	border-style:solid;
	text-decoration:none;
}
.twikiNewLink a:hover sup {
	text-decoration:none;
}

:link:focus,
:visited:focus,
:link,
:visited,
:link:active,
:visited:active {
	text-decoration:underline;
}
:link:hover,
:visited:hover {
	text-decoration:none;
}
img {
	vertical-align:text-bottom;
	border:0;
}

/* Form elements */
form { 
	display:inline;
	margin:0;
	padding:0;
}
textarea,
input,
select {
	vertical-align:middle;
	font-family:arial, verdana, sans-serif;
	font-size:100%;
}
.twikiTextarea {
	padding:1px;
}
.twikiSubmit,
.twikiSubmitDisabled,
.twikiButton,
.twikiButtonDisabled,
.twikiButtonCancel,
a.twikiButton,
a.twikiSubmit,
.twikiCheckbox {
	border-width:1px;
	border-style:solid;
	padding:.1em .2em;
	font-weight:bold;
	vertical-align:middle;
	text-align:center;
}
.twikiSubmit,
.twikiSubmitDisabled,
.twikiButton,
.twikiButtonDisabled,
.twikiButtonCancel,
.twikiSubmit:hover,
.twikiSubmitDisabled:hover,
.twikiButton:hover,
.twikiSubmit:active,
.twikiSubmitDisabled:active,
.twikiButton:active {
	cursor:default;
	outline:none;
}
a.twikiButton,
a.twikiButton:hover,
a.twikiButton:link:active,
a.twikiButton:visited:active,
a.twikiSubmit,
a.twikiSubmit:hover,
a.twikiSubmit:link:active,
a.twikiSubmit:visited:active {
	text-decoration:none;
}

.twikiCheckbox,
.twikiRadioButton {
	margin:1px .25em 1px .1em;
	padding:0 0 0 .5em;
	border:0;
}
.twikiTextarea,
.twikiInputField,
.twikiInputFieldDisabled,
.twikiInputFieldReadOnly,
.twikiSelect {
	border-width:2px;
	border-style:solid;
}
.twikiTextarea,
.twikiInputField,
.twikiInputFieldDisabled,
.twikiInputFieldReadOnly {
	font-size:100%;
}
.twikiInputField,
.twikiInputFieldDisabled,
.twikiInputFieldReadOnly {
	padding:.1em .2em;
}

/*	-----------------------------------------------------------
	Plugin elements
	-----------------------------------------------------------	*/

/* TagMePlugin */
.tagMePlugin select {
	margin:0 .25em 0 0;
}
.tagMePlugin input { 
	border:0px;
}

/* RevCommentPlugin */
.patternEditPage .revComment {
	padding:1em 0 2em 0;
}

/* EditTablePlugin */
.editTable .twikiTable {
	margin:0 0 2px 0;
}
.editTableEditImageButton {
	border:none;
}

/* TablePlugin */
.twikiTable,
.twikiTable td,
.twikiTable th {
	border-width:1px;
}
.twikiTable {
	border-style:solid;
	margin:2px 0;
	border-collapse:collapse;
}
.twikiTable td {
	padding:3px 6px;
	border-top-style:solid;
	border-bottom-style:solid;	
}
.twikiTable th {
	border-left-style:solid;
	border-right-style:solid;
	padding:4px 6px;
}
.twikiTable .tableSortIcon {
	margin:0 0 0 5px;
}

/*
.twikiTable th.twikiFirstCol {
	border-left-style:none;
}
*/
.twikiTable a:link,
.twikiTable a:visited {
	text-decoration:underline;
}
.twikiTable a:hover {
	text-decoration:underline;
}

.twikiEditForm {
	margin:0 0 .5em 0;
}

/* TwistyContrib */
.twistyTrigger a:link,
.twistyTrigger a:visited {
	text-decoration:none;
}
.twistyTrigger a:link .twikiLinkLabel,
.twistyTrigger a:visited .twikiLinkLabel {
	text-decoration:none;
}

/*tipsOfTheDay*/
.tipsOfTheDay {
	padding:10px;
}

/*	-----------------------------------------------------------
	TWiki styles
	-----------------------------------------------------------	*/

#twikiLogin {
	width:44em;
	margin:0 auto;
	text-align:center;
}
#twikiLogin .twikiFormSteps {
	border-width:5px;
}
#twikiLogin .patternLoginNotification {
	padding-left:.5em;
	padding-right:.5em;
	border-style:solid;
	border-width:2px;
}
.twikiAttachments,
.twikiForm {
	margin:1em 0;
	padding:1px; /* fixes disappearing borders because of overflow:auto; in twikiForm */
}
.twikiTable h2, .twikiFormTable h2,
.twikiTable h3, .twikiFormTable h3,
.twikiTable h4, .twikiFormTable h4,
.twikiTable h5, .twikiFormTable h5,
.twikiTable h6, .twikiFormTable h6 {
	border:0;
	margin:0;
	padding-left:0;
	padding-right:0;
}
.twikiFormTable th {
	font-weight:normal;
}
.twikiFormTable .twikiTable th {
	font-weight:bold;
}
.patternEditPage .twikiFormTable td,
.patternEditPage .twikiFormTable th {
	padding:.3em .4em;
	border-style:solid;
	border-width:0 0 1px 0;
	vertical-align:middle;
}

.patternContent .twikiAttachments,
.patternContent .twikiForm {
	/* form or attachment table inside topic area */
	font-size:94%; /*S2*/
	padding:1em 20px; /*S5*/ /* top:use less padding for the toggle link; bottom:use less space in case the table is folded in  */
	border-width:1px 0 0 0;
	border-style:solid;
	margin:0;
}
.twikiAttachments .twikiTable,
table.twikiFormTable {
	margin:5px 0;
	border-collapse:collapse;
	padding:0px;
	border-spacing:0px;
	empty-cells:show;
	border-style:solid;
	border-width:1px;
}
.twikiAttachments table {
	line-height:1.5em; /*S1*/
	width:auto;
	voice-family:"\"}\""; /* hide the following for Explorer 5.x */
	voice-family:inherit;
	width:100%;
}
.twikiAttachments .twikiTable th {
	border-style:none none solid solid;
	border-width:1px;
}
.twikiAttachments .twikiTable th,
table.twikiFormTable th.twikiFormTableHRow {
	padding:3px 6px;
	height:2.5em;
	vertical-align:middle;
}
table.twikiFormTable th.twikiFormTableHRow {
	text-align:center;
}
.twikiFormTableFooter {}
.twikiAttachments .twikiTable td,
table.twikiFormTable td {
	padding:3px 2em 3px 1em;
	height:1.5em; /*S1*/
	text-align:left;
	vertical-align:top;
}
.twikiAttachments .twikiTable th.twikiFirstCol,
.twikiAttachments .twikiTable td.twikiFirstCol {
	/* make more width for the icon column */
	width:26px;
	text-align:center;
}
.twikiAttachments .twikiTable caption {
	display:none;
}
table.twikiFormTable th.twikiFormTableHRow a:link,
table.twikiFormTable th.twikiFormTableHRow a:visited {
	text-decoration:none;
}
.twikiAttachments .twistyTrigger .twikiLinkLabel {
	font-size:122%; /* h4 size */
	font-weight:bold;
}
.patternAttachmentCount {
	font-weight:normal;
}
.twikiFormSteps {
	text-align:left;
	border-width:1px 0 0 0;
	border-style:solid;
}
.twikiFormStep {
	line-height:140%;
	padding:1em 40px;
	border-width:0 0 1px 0;
	border-style:solid;
}
.twikiFormStep h2,
.twikiFormStep h3,
.twikiFormStep h4 {
	border:none;
	margin:0 0 .1em 0;
	padding:0;
	background:none;
}
.twikiFormStep h2 {
	font-size:130%;
	font-weight:bold;
}
.twikiFormStep h3 {
	font-size:115%;
	font-weight:bold;
}
.twikiFormStep h4 {
	font-size:104%;
	font-weight:bold;
}
.twikiFormStep p {
	margin:.35em 0;
}
.twikiFormStep blockquote {
	margin-left:1em;
	padding-top:.25em;
	padding-bottom:.25em;
}
.twikiActionFormStepSign {
	position:absolute;
	font-size:104%;
	margin-left:-20px; /* half of S5 */
	margin-top:-.15em;
}
.twikiToc {
	margin:1em 0;
	padding:.3em 0 .6em 0;
}
.twikiToc ul {
	list-style:none;
	padding:0 0 0 .5em;
	margin:0;
}
.twikiToc li {
	margin-left:1em;
	padding-left:1em;
	background-repeat:no-repeat;
	background-position:0 .5em;
}
.twikiToc .twikiTocTitle {
	margin:0;
	padding:0;
	font-weight:bold;
}

.twikiSmall {
	font-size:86%; /*S3*/
	line-height:1.5em; /*S1*/
}
.twikiSmallish {
	font-size:94%; /*S2*/
	line-height:1.5em; /*S1*/
}
.twikiNew {}
.twikiSummary {
	font-size:86%; /*S3*/
}
.twikiEmulatedLink {
	text-decoration:underline;
}
.twikiPageForm table {
	border-width:1px;
	border-style:solid;
}
.twikiPageForm table {
	width:100%;
}
.twikiPageForm th,
.twikiPageForm td {
	border:0;
	padding:.5em 1em;
}
.twikiPageForm td {}
.twikiPageForm td.first {
	padding-top:1em;
}
.twikiBroadcastMessage,
.twikiNotification {
	padding:.5em 20px; /*S5*/
}
.twikiNotification {
	margin:1em 0;
}
.twikiBroadcastMessage {
	margin:0 0 1.25em 0;
}
.twikiHelp {
	height:1%; /* for IE */
	padding:1em;
	margin:0;
	border-style:solid;
	border-width:4px;
}
.twikiHelp ul {
	margin:0;
	padding-left:20px;
}
.twikiAccessKey {
	text-decoration:none;
	border-width:0 0 1px 0;
	border-style:solid;
}
.twikiWebIndent {
	margin:0 0 0 1em;
}
a.twikiLinkInHeaderRight {
	float:right;
	display:block;
	margin:0 0 0 5px;
}
.twikiLinkLabel {}
.twikiImage img {
	padding:3px;
	border-width:1px;
	border-style:solid;
}
.twikiImage a:link,
.twikiImage a:visited {
	background:none;
}
#twikiLogo img {
	margin:0;
	padding:0;
}
.twikiNoBreak {
	white-space:nowrap;
}
.twikiSearchResultCount {
	font-weight:bold;
}

/*	-----------------------------------------------------------
	Pattern skin specific elements
	-----------------------------------------------------------	*/

/* LAYOUT ELEMENTS */
/* for specific layout sub-elements see further down */

#patternPage {
	font-family:arial, verdana, sans-serif;
	line-height:1.5em; /*S1*/
	/* change font size here */
	font-size:105%;
}
#patternTopBar {
	border-width:1px;
	border-style:none none solid none;
}
#patternBottomBar {
	border-width:1px 0 0 0;
	border-style:solid;
}
#patternBottomBarContents {}
#patternWebBottomBar {
	font-size:94%; /*S2*/
	line-height:125%;
	text-align:left;
}
#patternLeftBarContents {
	margin:0 0 1em 0;
	padding-right:.5em;
	padding-left:1em;
}

/* top paddings */
#patternMainContents,
#patternBottomBarContents,
#patternLeftBarContents {
	padding-top:1em;
}
.patternNoViewPage #patternMainContents {
	padding-top:1.5em;
}

/* right paddings */
#patternMainContents,
#patternTopBarContents,
#patternBottomBarContents {
	padding-right:2.5em;
}


/* left paddings */
#patternTopBarContents {
	padding-left:1em; /*S6*/
}
#patternMainContents {
	padding-left:2.5em;
}
#patternBottomBarContents {
	padding-left:2.5em;
}

/* bottom paddings */
#patternMainContents,
#patternBottomBarContents {
	padding-bottom:2em;
}

.patternTopic {
	margin:.5em 0 2em 0;
}
.patternViewPage #patternBottomBarContents {
	padding-left:1em; /*S6*/
}
.patternNoViewPage #patternMainContents,
.patternNoViewPage #patternBottomBarContents {
	margin-left:4%;
	margin-right:4%;
}
.patternEditPage #patternMainContents,
.patternEditPage #patternBottomBarContents {
	margin-left:2%;
	margin-right:2%;
}

#patternLeftBarContents {}
#patternLeftBarContents img {
	margin:0 3px 0 0;
	vertical-align:text-bottom;
}
#patternLeftBarContents a:link,
#patternLeftBarContents a:visited {
	text-decoration:none;
}
#patternLeftBarContents .patternLeftBarPersonal a:link,
#patternLeftBarContents .patternLeftBarPersonal a:visited {
	text-decoration:underline;
}
#patternLeftBarContents .patternLeftBarPersonal ul a:link,
#patternLeftBarContents .patternLeftBarPersonal ul a:visited {
	text-decoration:none;
}
#patternLeftBarContents .patternLeftBarPersonal ul a:hover {
	text-decoration:underline;
}
#patternLeftBarContents ul {
	padding:0;
	margin:0;
	list-style:none;
}
#patternLeftBarContents,
#patternLeftBarContents ul,
#patternLeftBarContents li {
	line-height:1.35em;
}
#patternLeftBarContents h2 {
	border:none;
	background-color:transparent;
}
#patternLeftBarContents .patternLeftBarPersonal,
#patternLeftBarContents .patternWebIndicator {
	height:1%; /* for IE */
	width:100%; /* for IE */
	padding:0 1em .75em 1em;
	margin:0 -1em .75em -1em; /*S6*/
	border-style:none none solid none;
	border-width:1px;
}
.patternWebIndicator a {
	font-size:1.1em;
	font-weight:bold;
}
.patternLeftBarPersonalContent {
	padding:1em 0 0 0;
}
#patternLeftBarContents li {
	overflow:hidden;
}
html>body #patternLeftBarContents li { /* Mozilla */
	overflow:visible;
}

/* form options in top bar */
.patternMetaMenu input,
.patternMetaMenu select,
.patternMetaMenu select option {
	margin:0;
}
.patternMetaMenu select option {
	padding:1px 0 0 0;
}
.patternMetaMenu ul {
    padding:0;
    margin:0;
   	list-style:none;
}
.patternMetaMenu ul li {
    padding:0;
	display:inline;
}
.patternMetaMenu ul li .twikiInputField,
.patternMetaMenu ul li .twikiSelect {
	margin:0 0 0 .5em;
}
.patternHomePath .twikiSeparator {
	padding:0 .5em;
}
.patternHomePath a:link,
.patternHomePath a:visited {
	text-decoration:none;
	border-style:none none solid none;
	border-width:1px;
}

.patternToolBar {
}
.patternToolBar span {
	float:left;
}
.patternToolBar span s,
.patternToolBar span strike,
.patternToolBar span a:link,
.patternToolBar span a:visited {
	display:block;
	border-width:1px;
	border-style:solid;
	padding:.1em .35em;
	margin:0 0 .2em .25em;
	font-weight:bold;
}
.patternToolBar span a:link,
.patternToolBar span a:visited {
	text-decoration:none;
	outline:none;
}
.patternToolBar span a:hover,
.patternToolBar span a:hover {
	border-width:1px;
	border-style:solid;
}
.patternToolBar span a:active {
	outline:none;
}
.patternToolBar span.twikiAccessKey {
	padding:0;
	margin:0;
	float:none;
}
.patternToolBar a:hover .twikiAccessKey {
	border-width:0 0 1px 0;
	border-style:solid;
}
.patternToolBar span s,
.patternToolBar span strike {
	text-decoration:none;
}

.patternTopicActions {
	border-width:0 0 1px 0;
	border-style:solid;
}
.patternTopicAction {
	line-height:1.5em;
	padding:.4em 20px; /*S5*/
	border-width:1px 0 0 0;
	border-style:solid;
	height:1%; /* for IE */
}
.patternOopsPage .patternTopicActions,
.patternEditPage .patternTopicActions {
	margin:1em 0 0 0;
}
.patternAttachPage .patternTopicAction,
.patternRenamePage .patternTopicAction {
	padding-left:40px;
}
.patternActionButtons a:link,
.patternActionButtons a:visited {
	padding:1px 1px 2px 1px;
}
.patternTopicAction .patternActionButtons a:link,
.patternTopicAction .patternActionButtons a:visited {
	text-decoration:none;
}
.patternTopicAction .patternActionButtons span s,
.patternTopicAction .patternActionButtons span strike {
	text-decoration:none;
}
.patternTopicAction .patternSaveOptions {
	margin-top:.5em;
}
.patternTopicAction .patternSaveOptions .patternSaveOptionsContents {
	padding:.2em 0;
}
.patternNoViewPage .patternTopicAction {
	margin-top:-1px;
}
.patternInfo {
	margin:1.5em 0 0 0;
}
.patternHomePath .patternRevInfo {
	font-size:94%;
	white-space:nowrap;
}
.patternMoved {
	margin:1em 0;
}
.patternMoved i,
.patternMoved em {
	font-style:normal;
}
.patternTopicFooter {
	margin:1em 0 0 0;
}

/* WebSearch, WebSearchAdvanced */
#twikiSearchTable {
	background:none;
	border-bottom:0;
} 
#twikiSearchTable th,
#twikiSearchTable td {
	padding:1em;
	border-width:0 0 1px 0;
	border-style:solid;
} 
#twikiSearchTable th {
	width:20%;
	text-align:right;
}
#twikiSearchTable td {
	width:80%;
}

/*	-----------------------------------------------------------
	Search results
	styles and overridden styles used in search.pattern.tmpl
	-----------------------------------------------------------	*/

.patternSearchResults {
	/* no longer used in search.pattern.tmpl, but remains in rename templates */
	margin:0 0 1em 0;
}
.patternSearchResults blockquote {
	margin:1em 0 1em 5em;
}
h3.patternSearchResultsHeader,
h4.patternSearchResultsHeader {
	display:block;
	border-width:0 0 1px 0;
	border-style:solid;
	height:1%; /* or WIN/IE wont draw the backgound */
	font-weight:bold;
}
.patternSearchResults h3 {
	font-size:115%; /* same as twikiFormStep */
	margin:0;
	padding:.5em 40px; /*S5*/
	font-weight:bold;
}
h4.patternSearchResultsHeader {
	font-size:100%;
	padding-top:.3em;
	padding-bottom:.3em;
	font-weight:normal;
}
.patternSearchResult .twikiTopRow {
	padding-top:.2em;
	margin-top:.1em;
}
.patternSearchResult .twikiBottomRow {
	margin-bottom:.1em;
	padding-bottom:.25em;
	border-width:0 0 1px 0;
	border-style:solid;
}
.patternSearchResult .twikiAlert {
	font-weight:bold;
}
.patternSearchResult .twikiSummary .twikiAlert {
	font-weight:normal;
}
.patternSearchResult .twikiNew {
	border-width:1px;
	border-style:solid;
	font-size:86%; /*S3*/
	padding:0 1px;
	font-weight:bold;
}
.patternSearchResults .twikiHelp {
	display:block;
	width:auto;
	padding:.1em 5px;
	margin:1em -5px .35em -5px;
}
.patternSearchResult .twikiSRAuthor {
	width:15%;
	text-align:left;
}
.patternSearchResult .twikiSRRev {
	width:30%;
	text-align:left;
}
.patternSearchResultCount {
	margin:1em 0 3em 0;
}
.patternSearched {
	display:block;
}
.patternSaveHelp {
	line-height:1.5em;
	padding:.5em 20px; /*S5*/
}

/* Search results in book view format */

.patternBookView {
	border-width:0 0 2px 2px;
	border-style:solid;
	/* border color in cssdynamic.pattern.tmpl */
	margin:.5em 0 1.5em -5px;
	padding:0 0 0 5px;
}
.patternBookView .twikiTopRow {
	padding:.25em 5px .15em 5px; /*S4*/
	margin:1em -5px .15em -5px; /*S4*/
}
.patternBookView .twikiBottomRow {
	font-size:100%;
	padding:1em 0 1em 0;
	width:auto;
	border:none;
}

/* pages that are not view */

/* edit.pattern.tmpl */

.patternEditPage .twikiForm {
	margin:1em 0 0 0;
}
.patternEditPage .twikiForm h1,
.patternEditPage .twikiForm h2,
.patternEditPage .twikiForm h3 {
	/* same as twikiFormStep */
	font-size:120%;
	font-weight:bold;
}	
.twikiEditboxStyleMono {
	font-family:"Courier New", courier, monaco, monospace;
}
.twikiEditboxStyleProportional {
	font-family:arial, verdana, sans-serif;
}
.twikiChangeFormButtonHolder {
	float:right;
	margin:.5em 0 -.5em 0;
}
.twikiFormHolder { /* constrains the textarea */
	width:100%;
}
.patternSigLine {
	padding:.25em 0;
	border-style:none;
	height:1%; /* for IE */
}
.patternOopsPage .patternTopicActions,
.patternEditPage .patternTopicActions {
	margin:1em 0 0 0;
}
.patternTextareaButton {
	margin:0 0 0 1px;
	display:block;
	cursor:pointer;
	border-style:solid;
	border-width:1px;
}
.patternButtonFontSelector {
	margin:0 8px 0 0;
}

/* preview.pattern.tmpl */

.twikiPreviewArea {
	border-width:1px;
	border-style:solid;
	margin:0 0 2em 0;
	padding:1em;
	height:1%; /* for IE */
}

/* attach.pattern.tmpl */

.patternAttachPage .twikiAttachments .twikiTable {
	width:auto;
}
.patternAttachPage .twikiAttachments {
	margin-top:0;
}
.patternMoveAttachment {
	margin:.5em 0 0 0;
	text-align:right;
}

/* rdiff.pattern.tmpl */

.patternDiff {
	/* same as patternBookView */
	border-width:0 0 2px 2px;
	border-style:solid;
	margin:.5em 0 1.5em 0;
	padding:0 0 0 10px;
}
.patternDiff h4.patternSearchResultsHeader {
	padding:.5em 10px;
}
.patternDiffPage .patternRevInfo ul {
	padding:0;
	margin:2em 0 0 0;
	list-style:none;
}
.patternDiffPage .twikiDiffTable {
	margin:2em 0;
}
tr.twikiDiffDebug td {
	border-width:1px;
	border-style:solid;
}
.patternDiffPage td.twikiDiffDebugLeft {
	border-bottom:none;
}
.patternDiffPage .twikiDiffTable th {
	padding:.25em .5em;
}
.patternDiffPage .twikiDiffTable td {
	padding:.25em;
}
.twikiDiffLineNumberHeader {
	padding:.3em 0;
}
.twikiPageForm th,
.twikiPageForm td {
	border:0;
	padding:.5em 1em;
}
.twikiPageForm td {}
.twikiPageForm td.first {
	padding-top:1em;
}
.twikiBroadcastMessage {
	padding:.25em .5em;
	margin:0 0 1em 0;
}
.twikiHelp {
	padding:1em;
	margin:0 0 -1px 0;
	border-width:1px 0;
	border-style:solid;
}
.twikiHelp ul,
.twikiHelp li {
	margin:0;
}
.twikiHelp ul {
	padding-left:2em;
}
.twikiAccessKey {
	text-decoration:none;
	border-width:0 0 1px 0;
	border-style:solid;
}
a:hover .twikiAccessKey {
	text-decoration:none;
	border:none;
}
.twikiWebIndent {
	margin:0 0 0 1em;
}
a.twikiLinkInHeaderRight {
	float:right;
	display:block;
	margin:0 0 0 5px;
}
.twikiLinkLabel {}
.twikiImage img {
	padding:3px;
	border-width:1px;
	border-style:solid;
}

.twikiHierarchicalNavigation ul {
	padding:0;
	margin:0;
	list-style:none;
}
.twikiHierarchicalNavigation .twikiCurrentTopic li {
	font-weight:bold;
}
.twikiHierarchicalNavigation .twikiParentTopic li {}
.twikiHierarchicalNavigation .twikiChildTopics li {}


/* WebSearch, WebSearchAdvanced */
#twikiSearchTable {
	background:none;
	border-bottom:0;
} 
#twikiSearchTable th,
#twikiSearchTable td {
	padding:1em;
	border-width:0 0 1px 0;
	border-style:solid;
} 
#twikiSearchTable th {
	width:20%;
	text-align:right;
}
#twikiSearchTable td {
	width:80%;
}

/*	-----------------------------------------------------------
	Search results
	styles and overridden styles used in search.pattern.tmpl
	-----------------------------------------------------------	*/

.patternSearchResults {
	/* no longer used in search.pattern.tmpl, but remains in rename templates */
	margin:0 0 1em 0;
}
.patternSearchResults blockquote {
	margin:1em 0 1em 5em;
}
h3.patternSearchResultsHeader,
h4.patternSearchResultsHeader {
	display:block;
	border-width:0 0 1px 0;
	border-style:solid;
	height:1%; /* or WIN/IE wont draw the backgound */
	font-weight:bold;
}
.patternSearchResults h3 {
	font-size:115%; /* same as twikiFormStep */
	margin:0;
	padding:.5em 20px;
	font-weight:bold;
}
h4.patternSearchResultsHeader {
	font-size:100%;
	padding-top:.3em;
	padding-bottom:.3em;
	font-weight:normal;
}
.patternSearchResult .twikiTopRow {
	padding-top:.2em;
	margin-top:.1em;
}
.patternSearchResult .twikiBottomRow {
	margin-bottom:.1em;
	padding-bottom:.25em;
	border-width:0 0 1px 0;
	border-style:solid;
}
.patternSearchResult .twikiAlert {
	font-weight:bold;
}
.patternSearchResult .twikiSummary .twikiAlert {
	font-weight:normal;
}
.patternSearchResult .twikiNew {
	border-width:1px;
	border-style:solid;
	font-size:85%; /*S3*/
	padding:0 1px;
	font-weight:bold;
}
.patternSearchResults .twikiHelp {
	display:block;
	width:auto;
	padding:.1em 5px;
	margin:1em -5px .35em -5px;
}
.patternSearchResult .twikiSRAuthor {
	width:15%;
	text-align:left;
}
.patternSearchResult .twikiSRRev {
	width:30%;
	text-align:left;
}
.patternSearchResultCount {
	margin:1em 0 3em 0;
}
.patternSearched {
}
.patternSaveHelp {
	line-height:1.5em;
	padding:.5em 20px; /*S5*/
}

/* Search results in book view format */

.patternBookView {
	border-width:0 0 2px 2px;
	border-style:solid;
	/* border color in cssdynamic.pattern.tmpl */
	margin:.5em 0 1.5em -5px;
	padding:0 0 0 5px;
}
.patternBookView .twikiTopRow {
	padding:.25em 5px .15em 5px; /*S4*/
	margin:1em -5px .15em -5px; /*S4*/
}
.patternBookView .twikiBottomRow {
	font-size:100%;
	padding:1em 0 1em 0;
	width:auto;
	border:none;
}

/* pages that are not view */

.patternNoViewPage #patternMainContents {
	padding-top:1.5em;
}


/* oopsmore.pattern.tmpl */

table.patternDiffOptions {
	margin:.5em 0;
	border:none;
}
table.patternDiffOptions td {
	border:none;
	text-align:center;
}
table.patternDiffOptions img {
	padding:0 10px;
	border-width:1px;
	border-style:solid;
}
table.patternDiffOptions input {
	border:0;
}

/* edit.pattern.tmpl */

.patternEditPage .twikiForm h1,
.patternEditPage .twikiForm h2,
.patternEditPage .twikiForm h3 {
	/* same as twikiFormStep */
	font-size:120%;
	font-weight:bold;
}	
.twikiEditboxStyleMono {
	font-family:"Courier New", courier, monaco, monospace;
}
.twikiEditboxStyleProportional {
	font-family:"Lucida Grande", verdana, arial, sans-serif;
}
.twikiChangeFormButtonHolder {
	margin:.5em 0;
	float:right;
}
.twikiChangeFormButton .twikiButton,
.twikiChangeFormButtonHolder .twikiButton {
	padding:0;
	margin:0;
	border:none;
	text-decoration:underline;
	font-weight:normal;
}
.patternFormHolder { /* constrains the textarea */
	width:100%;
}
.patternSigLine {
	margin:.25em 0 .5em 0;
	padding:0 .5em 0 0;
}
.patternEditPage .patternTopicActions {
	margin:1.5em 0 0 0;
}

/* preview.pattern.tmpl */

.patternPreviewArea {
	border-width:1px;
	border-style:solid;
	margin:0 -0.5em 2em -0.5em;
	padding:.5em;
}

/* rename.pattern.tmpl */

.patternRenamePage .patternTopicAction {
	margin-top:-1px;
}

/* attach.pattern.tmpl */

.patternAttachPage .twikiAttachments table {
	width:auto;
}
.patternAttachPage .patternTopicAction {
	margin-top:-1px;
}
.patternAttachPage .twikiAttachments {
	margin-top:0;
}
.patternAttachForm {
	margin:0 0 3.5em 0;
}
.patternMoveAttachment {
	margin:.5em 0 0 0;
	text-align:right;
}

/* rdiff.pattern.tmpl */

.patternDiff {
	/* same as patternBookView */
	border-width:0 0 2px 2px;
	border-style:solid;
	margin:.5em 0 1.5em -5px;
	padding:0 0 0 5px;
}
.patternDiff h4.patternSearchResultsHeader {
	padding:.5em;
}
.patternDiffPage .patternRevInfo ul {
	padding:0;
	margin:2em 0 0 0;
	list-style:none;
}
.patternDiffPage .twikiDiffTable {
	margin:2em 0;
}
tr.twikiDiffDebug td {
	border-width:1px;
	border-style:solid;
}
.patternDiffPage td.twikiDiffDebugLeft {
	border-bottom:none;
}
.patternDiffPage .twikiDiffTable th {
	padding:.25em .5em;
}
.patternDiffPage .twikiDiffTable td {
	padding:.25em;
}
.twikiDiffLineNumberHeader {
	padding:.3em 0;
}
a {
        font-weight:normal;
}

