%TMPL:INCLUDE{"page"}%
%TMPL:INCLUDE{"logo"}%

%TMPL:DEF{"titleaction"}%(add)%TMPL:END%

%TMPL:DEF{"headerhelp"}% %TMPL:END%
%TMPL:DEF{"webaction"}% Add Table Element to <nop>%TABLENAME% for topic : <b>%TOPIC%</b> %TMPL:END%

%TMPL:DEF{"simpleheader"}% %BR%
---++ %HEADERTEXT%
%TMPL:END%

%TMPL:DEF{"toolbar"}% %TMPL:END%


%TMPL:DEF{"content"}%
%TMPL:P{"simpleheader"}%
<div class="twikiFormHolder">
<form name="main" enctype="multipart/form-data" action="%SCRIPTURLPATH%/uploadTable%SCRIPTSUFFIX%/%WEB%/%TOPIC%" method="post">
<input type="hidden" name="template" value="%TEMPLATE%">
<input type="hidden" name="tablename" value="%TABLENAME%">
<input type="hidden" name="name" value="%ENTRY%">
%TABLEFIELDS%
%HELPTEXT%
<br class="twikiClear" />
#TopicEnd
<span class="twikiRight twikiPageNav foswikiGrayText"><a href="#PageTop">to&nbsp;top</a></span><br class="twikiClear" />
%TMPL:P{"topicaction"}%
%SHOWTABLE%
%TMPL:P{"topicinfo"}%
</form></div>%TMPL:END%


%TMPL:DEF{"topicaction"}%
   <a id="cancel" href="%SCRIPTURLPATH%/view%SCRIPTSUFFIX%/%WEB%/%TOPIC%?unlock=on">Cancel</a>%TMPL:P{"sep"}% %ACTIONBUTTONS%  %TMPL:END%

%TMPL:DEF{"topicinfo"}%<div class="twikiTopicInfo twikiRevInfo foswikiGrayText twikiMoved">%META{"moved"}%</div>%TMPL:END%
